Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

fix(cxx_indexer): don't validate pchs
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
Due: copyright, clang-format

chore: rename io_bazel repository to avoid conflicts (#5572)
  external.bzl
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/BUILD
  kythe/web/site/site_docs.bzl
Due: buildifier

fix(presubmit): omit manual targets from both input and output sets
  tools/git/test-affected-targets.sh
Due: none

fix(presubmit): omit manual targets from both input and output sets (#5574)
  tools/git/test-affected-targets.sh
Due: none

chore: complete adding defines/implicit to the schema
  kythe/java/com/google/devtools/kythe/analyzers/base/EdgeKind.java
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
Due: copyright, google-java-format, clang-format, gofmt

chore: update indexdata.go
  kythe/go/util/schema/indexdata.go
Due: copyright, gofmt, golint

chore: silence false-positive warning
  .pre-commit-config.yaml
Due: none

fix(cxx_extractor): don't validate pchs (#5571)
  kythe/cxx/extractor/cxx_extractor.cc
Due: copyright, clang-format

fix(cxx_indexer): don't validate pchs (#5573)
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
Due: copyright, clang-format

chore: complete adding defines/implicit to the schema (#5575)
  .pre-commit-config.yaml
  kythe/go/util/schema/indexdata.go
  kythe/java/com/google/devtools/kythe/analyzers/base/EdgeKind.java
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
Due: copyright, google-java-format, clang-format, gofmt, golint

chore: inline RootRelativePath calls into VNameForPath
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/cxx_extractor.h
Due: copyright, clang-format

chore: fix unintentional line-width changes
  kythe/cxx/extractor/cxx_extractor.cc
Due: copyright, clang-format

chore: rename RelativizePath to make its semantics more clear
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/cxx_extractor.h
Due: copyright, clang-format

chore: update log message for root relative path failure
  kythe/cxx/extractor/cxx_extractor.cc
Due: copyright, clang-format

chore: distinguish root-paths from fs-paths
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/cxx_extractor.h
Due: copyright, clang-format

chore: remove unnecessary FileSystemOptions
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/cxx_extractor.h
  kythe/cxx/extractor/cxx_extractor_test.cc
Due: copyright, clang-format

serving: add fields for missing text facts
  kythe/proto/serving.proto
Due: copyright, clang-format

chore: refactor AddFile
  kythe/cxx/extractor/cxx_extractor.cc
Due: copyright, clang-format

use optional
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: copyright, clang-format, gofmt

chore: typo cleanups
  kythe/cxx/extractor/cxx_extractor.cc
Due: copyright, clang-format

serving: add fields for missing text facts (#5576)
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: copyright, clang-format, gofmt

chore(cxx_extractor): clarify differently rooted paths and clean up relative path names
  kythe/cxx/common/path_utils_test.cc
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/testdata/alternate_platform_test.cc
  kythe/cxx/extractor/testdata/build_config_test.cc
  kythe/cxx/extractor/testdata/claim_pragma_test.cc
  kythe/cxx/extractor/testdata/extract_transcript_test.cc
  kythe/cxx/extractor/testdata/has_include_test.cc
  kythe/cxx/extractor/testdata/header_only_module_test.cc
  kythe/cxx/extractor/testdata/indirect_has_include_test.cc
  kythe/cxx/extractor/testdata/installed_dir.UNIT
  kythe/cxx/extractor/testdata/installed_dir_test.cc
  kythe/cxx/extractor/testdata/main_source_file_env_dep_test.cc
  kythe/cxx/extractor/testdata/main_source_file_no_env_dep_test.cc
  kythe/cxx/extractor/testdata/metadata_test.cc
  kythe/cxx/extractor/testdata/modules_test.cc
Due: copyright, clang-format

feat(typescript): emit marked sources for functions, classes and enums
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/marked_source/class.ts
  kythe/typescript/testdata/marked_source/enum.ts
  kythe/typescript/testdata/marked_source/function.ts
Due: copyright

chore(typescript): cleanup alias following flag
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
Due: copyright

chore(typescript): cleanup alias following flag (#5579)
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
Due: copyright

feat(api): guard returning file entries with missing text
  kythe/go/services/cli/command_ls.go
  kythe/go/serving/filetree/filetree.go
  kythe/proto/filetree.proto
Due: copyright, clang-format, gofmt, golint

update proto
  kythe/proto/filetree_go_proto/filetree.pb.go
Due: gofmt

feat(api): guard returning file entries with missing text (#5580)
  kythe/go/services/cli/command_ls.go
  kythe/go/serving/filetree/filetree.go
  kythe/proto/filetree.proto
  kythe/proto/filetree_go_proto/filetree.pb.go
Due: copyright, clang-format, gofmt, golint

chore: relativize more paths
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/testdata/installed_dir_test.cc
Due: copyright, clang-format

chore: address comments
  kythe/cxx/extractor/cxx_extractor.cc
Due: copyright, clang-format

chore(cxx_extractor): clarify differently rooted paths and clean up relative path names (#5577)
  kythe/cxx/common/path_utils_test.cc
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/cxx_extractor.h
  kythe/cxx/extractor/cxx_extractor_test.cc
  kythe/cxx/extractor/testdata/alternate_platform_test.cc
  kythe/cxx/extractor/testdata/build_config_test.cc
  kythe/cxx/extractor/testdata/claim_pragma_test.cc
  kythe/cxx/extractor/testdata/extract_transcript_test.cc
  kythe/cxx/extractor/testdata/has_include_test.cc
  kythe/cxx/extractor/testdata/header_only_module_test.cc
  kythe/cxx/extractor/testdata/indirect_has_include_test.cc
  kythe/cxx/extractor/testdata/installed_dir.UNIT
  kythe/cxx/extractor/testdata/installed_dir_test.cc
  kythe/cxx/extractor/testdata/main_source_file_env_dep_test.cc
  kythe/cxx/extractor/testdata/main_source_file_no_env_dep_test.cc
  kythe/cxx/extractor/testdata/metadata_test.cc
  kythe/cxx/extractor/testdata/modules_test.cc
Due: copyright, clang-format

feat(typescript): emit marked sources for functions, classes and enums (#5578)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/marked_source/class.ts
  kythe/typescript/testdata/marked_source/enum.ts
  kythe/typescript/testdata/marked_source/function.ts
Due: copyright

feat(schema): add ref/writes
  kythe/docs/schema/schema.txt
Due: copyright

feat(api): also filter directories containing only textless entries
  kythe/go/serving/filetree/filetree.go
  kythe/proto/filetree.proto
Due: copyright, clang-format, gofmt, golint

feat(api): also filter directories containing only textless entries (#5582)
  kythe/go/serving/filetree/filetree.go
  kythe/proto/filetree.proto
Due: copyright, clang-format, gofmt, golint

feat(java_indexer): add java20 shim for java indexer
  buildenv/java/BUILD
  external.bzl
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/JCTreeScanner.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk15CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk20CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/JdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/ReflectiveJdkCompatibilityShims.java
  setup.bzl
Due: buildifier, copyright, google-java-format

feat(java_indexer): add java20 shim for java indexer (#5583)
  buildenv/java/BUILD
  external.bzl
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/JCTreeScanner.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk15CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk20CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/JdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/ReflectiveJdkCompatibilityShims.java
  setup.bzl
Due: buildifier, copyright, google-java-format

chore: add java20 as compatible
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
Due: buildifier

chore: add java20 as compatible (#5584)
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
Due: buildifier

chore: prevent NPE
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format
