Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

feat(go_indexer): add constraints to generic signatures (#5835)
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/rendered.go
  kythe/go/indexer/testdata/generics/genericfunc.go
Due: copyright, gofmt, golint

feat(go_indexer): add type args to return types
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/rendered.go
Due: copyright, gofmt, golint

feat(go_indexer): add type args to return types (#5836)
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/rendered.go
Due: copyright, gofmt, golint

feat(proto_indexer): add types to field MarkedSource
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/testdata/basic/message-fields.proto
  kythe/cxx/indexer/proto/testdata/basic/oneof.proto
  kythe/cxx/indexer/proto/testdata/basic/signatures.proto
Due: copyright, clang-format

feat(proto_indexer): add types to field MarkedSource (#5837)
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/testdata/basic/message-fields.proto
  kythe/cxx/indexer/proto/testdata/basic/oneof.proto
  kythe/cxx/indexer/proto/testdata/basic/signatures.proto
Due: copyright, clang-format

feat(proto_indexer): add labels to field MarkedSource
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/testdata/basic/message-fields.proto
  kythe/cxx/indexer/proto/testdata/basic/signatures.proto
Due: copyright, clang-format

feat(proto_indexer): add labels to field MarkedSource (#5838)
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/testdata/basic/message-fields.proto
  kythe/cxx/indexer/proto/testdata/basic/signatures.proto
Due: copyright, clang-format

fix(proto_indexer): handle map types in signatures
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/testdata/basic/signatures.proto
Due: copyright, clang-format

fix(proto_indexer): handle map types in signatures (#5839)
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/testdata/basic/signatures.proto
Due: copyright, clang-format

feat(go_indexer): add anchor scope to func literals
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/scopes.go
Due: copyright, gofmt, golint

feat(go_indexer): add anchor scope to func literals (#5840)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/scopes.go
Due: copyright, gofmt, golint

test(typescript_indexer): add MarkedSource rendering tests
  kythe/go/util/markedsource/BUILD
  kythe/go/util/markedsource/resolve.go
  kythe/go/util/tools/markedsource/markedsource.go
  kythe/typescript/BUILD
  kythe/typescript/test.ts
  kythe/typescript/testdata/marked_source/rendered/class.ts
Due: buildifier, copyright, gofmt, golint

test(typescript_indexer): add MarkedSource rendering tests (#5841)
  kythe/go/util/markedsource/BUILD
  kythe/go/util/markedsource/resolve.go
  kythe/go/util/tools/markedsource/markedsource.go
  kythe/typescript/BUILD
  kythe/typescript/test.ts
  kythe/typescript/testdata/marked_source/rendered/class.ts
Due: buildifier, copyright, gofmt, golint

fix(typescript_indexer): add ... to vararg parameters
  kythe/typescript/indexer.ts
  kythe/typescript/kythe.ts
  kythe/typescript/testdata/marked_source/rendered/function.ts
Due: copyright

fix(typescript_indexer): add ... to vararg parameters (#5842)
  kythe/typescript/indexer.ts
  kythe/typescript/kythe.ts
  kythe/typescript/testdata/marked_source/rendered/function.ts
Due: copyright

fix(cxx_extractor): fix cc proto_lang_toolchain
  kythe/extractors/BUILD
  kythe/release/release.BUILD
  setup.bzl
  third_party/protobuf-nowkt.patch
Due: buildifier

fix(go_indexer): use simple type name for constraints
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/rendered.go
Due: copyright, gofmt, golint

fix(go_indexer): use simple type name for constraints (#5844)
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/rendered.go
Due: copyright, gofmt, golint

fix(go_indexer): mark variadics in all contexts
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/code/rendered.go
Due: copyright, gofmt, golint

fix(serving): understand markdown escapes for spacing
  kythe/go/util/markedsource/markedsource.go
Due: copyright, gofmt, golint

fix(serving): understand markdown escapes for spacing (#5846)
  kythe/go/util/markedsource/markedsource.go
Due: copyright, gofmt, golint

fix(go_indexer): mark variadics in all contexts (#5845)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/code/rendered.go
Due: copyright, gofmt, golint

fix(cxx_extractor): fix cc proto_lang_toolchain (#5843)
  kythe/extractors/BUILD
  kythe/release/release.BUILD
  setup.bzl
  third_party/protobuf-nowkt.patch
Due: buildifier

feat(proto_indexer): link proto field names in signatures
  kythe/cxx/indexer/proto/BUILD
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/marked_source.h
  kythe/cxx/indexer/proto/testdata/basic/message-fields.proto
Due: buildifier, copyright, clang-format

feat(proto_indexer): link proto field names in signatures (#5847)
  kythe/cxx/indexer/proto/BUILD
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/marked_source.h
  kythe/cxx/indexer/proto/testdata/basic/message-fields.proto
Due: buildifier, copyright, clang-format

style: add includes
  kythe/cxx/indexer/proto/marked_source.cc
Due: copyright, clang-format

style: add includes (#5850)
  kythe/cxx/indexer/proto/marked_source.cc
Due: copyright, clang-format

chore: clang-tidy
  kythe/cxx/indexer/proto/marked_source.cc
Due: copyright, clang-format

feat(cxx_indexer): support decayed types
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/decayed_type.cc
Due: copyright, clang-format

chore: clang-tidy (#5851)
  kythe/cxx/indexer/proto/marked_source.cc
Due: copyright, clang-format

fix(cxx_extractor): fix cc proto_lang_toolchain in release.BUILD
  kythe/release/release.BUILD
Due: none

fix(cxx_extractor): fix cc proto_lang_toolchain in release.BUILD (#5853)
  kythe/release/release.BUILD
Due: none

chore: remove no-longer-necessary workaround
  .bazelrc
Due: none

chore: remove no-longer-necessary workaround (#5854)
  .bazelrc
Due: none

feat(cxx_indexer): support decayed types (#5852)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/decayed_type.cc
Due: copyright, clang-format

fix(proto_indexer): handle proto3 presence in signatures
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/proto/testdata/basic/signatures3.proto
Due: copyright, clang-format

fix(proto_indexer): handle proto3 presence in signatures (#5855)
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/proto/testdata/basic/signatures3.proto
Due: copyright, clang-format

fix(proto_indexer): use modern presence check
  kythe/cxx/indexer/proto/marked_source.cc
Due: copyright, clang-format

fix(proto_indexer): use modern presence check (#5856)
  kythe/cxx/indexer/proto/marked_source.cc
Due: copyright, clang-format

feat(schema): add /thunk edges and clean up ref/writes
  kythe/docs/schema/schema.txt
Due: copyright
