Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

fix(bazel_extractor): update clang and openjdk packages in docker image (#5703)
  kythe/extractors/bazel/Dockerfile
Due: copyright

test(proto): add another example message to testdata.proto
  kythe/testdata/indexers/proto/testdata.proto
Due: none

?
  kythe/testdata/indexers/proto/testdata.proto
Due: none

test(proto): add another example message to testdata.proto (#5704)
  kythe/testdata/indexers/proto/testdata.proto
Due: none

cleanup(cxx_indexer): remove --experimental_index_lite
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
Due: copyright, clang-format

cleanup(cxx_indexer): remove --experimental_index_lite (#5706)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
Due: copyright, clang-format

fix(cxx_indexer): ensure the working directory is absolute
  kythe/cxx/indexer/cxx/KytheVFS.cc
Due: copyright, clang-format

chore: address comments
  kythe/cxx/indexer/cxx/KytheVFS.cc
Due: copyright, clang-format

fix(cxx_indexer): ensure the working directory is absolute (#5708)
  kythe/cxx/indexer/cxx/KytheVFS.cc
Due: copyright, clang-format

fix(cxx_indexer): ensure the working directory is absolute (#5709)
  kythe/cxx/indexer/cxx/KytheVFS.cc
Due: copyright, clang-format

feat(cxx_indexer): optionally use the unit corpus for USRs
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/usr_macro.cc
  kythe/cxx/indexer/cxx/testdata/basic/usr_var.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

fix: address comments
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

fix: new files
  kythe/cxx/indexer/cxx/testdata/basic/usr_macro_default.cc
  kythe/cxx/indexer/cxx/testdata/basic/usr_var_default.cc
Due: none

fix: clang-format disagreement (?)
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
Due: copyright, clang-format

feat(cxx_indexer): optionally use the compilation unit corpus for USRs (#5710)
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/usr_macro_default.cc
  kythe/cxx/indexer/cxx/testdata/basic/usr_var_default.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

chore(cxx_indexer): remove unused function from indexer
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format

chore(cxx_indexer): remove unused function from indexer (#5711)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format

chore(cxx_indexer): namespace-scope static constants are not ODR safe
  kythe/cxx/indexer/cxx/GraphObserver.h
Due: copyright, clang-format

chore(cxx_indexer): constify a logically const GraphObserver method
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

chore(cxx_indexer): constify a logically const GraphObserver method (#5713)
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

chore(cxx_indexer): namespace-scope static constants are not ODR safe (#5712)
  kythe/cxx/indexer/cxx/GraphObserver.h
Due: copyright, clang-format

chore(java_indexer): prepare for JDK21 incompatibilities
  .bazelrc
  buildenv/java/BUILD
  external.bzl
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/15/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/21/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/ReflectiveJdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/15/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/21/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/9/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/JdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/ReflectiveJdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/util/OrderedCompatibilityService.java
  setup.bzl
Due: buildifier, copyright, google-java-format

fix(bazel_extractor): run apt-get upgrade in docker image
  kythe/extractors/bazel/Dockerfile
Due: copyright

chore(java_indexer): prepare for JDK21 incompatibilities (#5714)
  .bazelrc
  buildenv/java/BUILD
  external.bzl
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/15/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/21/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/ReflectiveJdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/15/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/21/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/9/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/JdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/ReflectiveJdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/util/OrderedCompatibilityService.java
  setup.bzl
Due: buildifier, copyright, google-java-format

fix(bazel_extractor): run apt-get upgrade in docker image (#5715)
  kythe/extractors/bazel/Dockerfile
Due: copyright

chore(java_indexer): for loop variable field got renamed back to what it was
  kythe/java/com/google/devtools/kythe/platform/java/helpers/21/JdkCompatibilityShimsImpl.java
Due: copyright, google-java-format

chore(java_indexer): for loop variable field got renamed back to what it was (#5716)
  kythe/java/com/google/devtools/kythe/platform/java/helpers/21/JdkCompatibilityShimsImpl.java
Due: copyright, google-java-format

test: cloudbuild filing test
  kythe/release/cloudbuild/presubmit.yaml
Due: none

test: cloudbuild failing test
  package.json
Due: none

test: failing build test
  BUILD
Due: buildifier

fix(cxx_indexer): don't create a temporary and use its address for usrs
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

fix(cxx_indexer): don't create a temporary and use its address for usrs (#5720)
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

chore: get rid of some old visibilities
  kythe/proto/BUILD
Due: buildifier

chore: get rid of some old visibilities (#5721)
  kythe/proto/BUILD
Due: buildifier

chore(cxx_indexer): clean up TraverseDecl slightly
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format

chore(cxx_indexer): clean up TraverseDecl slightly (#5722)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format

chore(typescript_indexer): stop re-exporting symbols from index.ts
  kythe/typescript/indexer.ts
Due: copyright

chore(typescript_indexer): stop re-exporting symbols from index.ts (#5723)
  kythe/typescript/indexer.ts
Due: copyright

chore(typescript_indexer): cleanup emitZeroWidthSpansForModuleNodes flag
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/imports_group/module.ts
  kythe/typescript/testdata/schema.ts
Due: copyright

chore(typescript_indexer): cleanup emitZeroWidthSpansForModuleNodes flag (#5724)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/imports_group/module.ts
  kythe/typescript/testdata/schema.ts
Due: copyright
