Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

fix: split filter func into two stages
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

feat(serving): offer a callback to rewrite edge labels
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

fix: filter -> rewrite
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

fix: change type of RewriteEdgeLabel
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

fix: suppress unicode warnings in Java sources
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Files.java
Due: none

fix: suppress unicode warnings in Java sources (#5131)
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Files.java
Due: none

feat(serving): offer a callback to rewrite edge labels (#5130)
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

build: update rules_go to v0.29.0
  external.bzl
  setup.bzl
Due: buildifier

update Bazel minimum version
  .bazelminversion
  version.bzl
Due: buildifier

build: update rules_go to v0.29.0 (#5132)
  .bazelminversion
  external.bzl
  setup.bzl
  version.bzl
Due: buildifier

fix: the mac build
  external.bzl
  setup.bzl
Due: buildifier

fix: the mac build (#5134)
  external.bzl
  setup.bzl
Due: buildifier

feat(cxx_indexer): add a flag to the C++ indexer to control abs nodes
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

chore(cxx_indexer): split out an options struct
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/KytheIndexerUnitTest.cc
Due: copyright, clang-format

fix(cxx_indexer): rename flag
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
Due: copyright, clang-format

fix(cxx_indexer): finish renaming flag + annotate options lifetime
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

feat(cxx_indexer): add a flag to the C++ indexer to control abs nodes (#5135)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/KytheIndexerUnitTest.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

feat(typescript): emit tvar and tparam.N
  kythe/typescript/indexer.ts
  kythe/typescript/kythe.ts
  kythe/typescript/testdata/generic_tvar.ts
Due: copyright

feat(typescript): emit tvar and tparam.N (#5136)
  kythe/typescript/indexer.ts
  kythe/typescript/kythe.ts
  kythe/typescript/testdata/generic_tvar.ts
Due: copyright

feat: add completedby edge kind enum
  kythe/go/util/schema/indexdata.go
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
Due: copyright, clang-format, gofmt, golint

feat: add completedby edge kind enum (#5137)
  kythe/go/util/schema/indexdata.go
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
Due: copyright, clang-format, gofmt, golint

Update BUILD
  kythe/extractors/BUILD
Due: buildifier

Update BUILD since $(PLUGIN_OUT) is removed and $(OUT) placeholder replaced. (#5140)
  kythe/extractors/BUILD
Due: buildifier

chore(cxx_indexer): fork (most) template/generic tests into abs/tvar
  kythe/cxx/indexer/cxx/testdata/BUILD
Due: none

feat(cxx_indexer): emit tvar/tparam edges
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_bound.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_contravariant_decl.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_contravariant_restricted_super_class.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_covariant_decl.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_covariant_restricted_super_class.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_inherited.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_instantiation.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_invariant.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_method_call.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_method_type.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_nested.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_restricted_protocol.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_two_args.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_unbound.m
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_alias.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_arg_multiple_typename.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_arg_typename.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_defn.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_ps_twovar_decl.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_ty_typename.cc
Due: copyright, clang-format

fix(cxx_indexer): constrain a test a bit more
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_alias.cc
Due: none

chore: update LLVM
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/recursive_type_visitor.h
  setup.bzl
Due: buildifier, copyright, clang-format

feat(cxx_indexer): emit tvar/tparam edges (#5143)
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_bound.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_contravariant_decl.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_contravariant_restricted_super_class.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_covariant_decl.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_covariant_restricted_super_class.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_inherited.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_instantiation.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_invariant.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_method_call.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_method_type.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_nested.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_restricted_protocol.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_two_args.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_unbound.m
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_alias.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_arg_multiple_typename.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_arg_typename.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_defn.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_ps_twovar_decl.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_ty_typename.cc
Due: copyright, clang-format

chore: update LLVM (#5144)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/recursive_type_visitor.h
  setup.bzl
Due: buildifier, copyright, clang-format

feat(cxx_indexer): implement new template model for objc
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_bound.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_contravariant_decl.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_contravariant_restricted_super_class.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_covariant_decl.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_covariant_restricted_super_class.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_inherited.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_instantiation.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_invariant.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_method_call.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_method_type.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_nested.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_restricted_protocol.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_two_args.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_unbound.m
Due: copyright, clang-format

feat(cxx_indexer): implement new template model for objc (#5145)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_bound.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_contravariant_decl.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_contravariant_restricted_super_class.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_covariant_decl.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_covariant_restricted_super_class.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_inherited.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_instantiation.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_invariant.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_method_call.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_method_type.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_nested.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_restricted_protocol.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_two_args.m
  kythe/cxx/indexer/cxx/testdata/objc/tvar_generics/generic_unbound.m
Due: copyright, clang-format

fix: bug in proto_metadata_plugin
  kythe/cxx/tools/proto_metadata_plugin.cc
Due: copyright, clang-format

Start a new indexer that extracts command line from bazel in place
  kythe/java/com/google/devtools/kythe/analyzers/java/BUILD
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexer.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Javac9CompilationUnitFromArgs.java
  version.bzl
Due: buildifier, copyright, google-java-format

chore: update Flogger and use Maven version
  external.bzl
  kythe/java/com/google/devtools/kythe/analyzers/java/BUILD
  kythe/java/com/google/devtools/kythe/common/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/shared/BUILD
Due: buildifier

chore: update //third_party:licenses
  third_party/BUILD
Due: none

chore: update Flogger and use Maven version (#5147)
  external.bzl
  kythe/java/com/google/devtools/kythe/analyzers/java/BUILD
  kythe/java/com/google/devtools/kythe/common/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/shared/BUILD
  third_party/BUILD
Due: buildifier
