Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

chore(verifier): enable markedsource tests for new solver (#5682)
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

chore: update build_event_stream handling
  external.bzl
  kythe/cxx/extractor/bazel_artifact_selector.cc
  tools/build_rules/build_event_stream/repo.bzl
Due: buildifier, copyright, clang-format

chore: update build_event_stream handling (#5683)
  external.bzl
  kythe/cxx/extractor/bazel_artifact_selector.cc
  tools/build_rules/build_event_stream/repo.bzl
Due: buildifier, copyright, clang-format

chore(typescript_indexer): extract plugin API to a separate file
  kythe/typescript/BUILD
  kythe/typescript/README.md
  kythe/typescript/indexer.ts
  kythe/typescript/plugin_api.ts
  kythe/typescript/test.ts
Due: buildifier, copyright

chore(typescript_indexer): fix comment
  kythe/typescript/indexer.ts
Due: copyright

chore(typescript_indexer): extract plugin API to a separate file (#5684)
  kythe/typescript/BUILD
  kythe/typescript/README.md
  kythe/typescript/indexer.ts
  kythe/typescript/plugin_api.ts
  kythe/typescript/test.ts
Due: buildifier, copyright

chore(typescript_indexer): temporarily re-export plugin API from indexer.ts
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
Due: copyright

chore(typescript_indexer): temporarily re-export plugin API from indexer.ts (#5685)
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
Due: copyright

chore: fix #5660
  setup.bzl
Due: buildifier

chore: fix #5660 (#5687)
  setup.bzl
Due: buildifier

chore: say where the release artifacts are
  kythe/release/package_release.sh
  kythe/release/setup_release.sh
Due: copyright

chore: say where the release artifacts are (#5688)
  kythe/release/package_release.sh
  kythe/release/setup_release.sh
Due: copyright

feat(cxx_common): optionally dispose of unselected filesets
  kythe/cxx/extractor/bazel_artifact_selector.cc
  kythe/cxx/extractor/bazel_artifact_selector.h
  kythe/cxx/extractor/bazel_artifact_selector_test.cc
Due: copyright, clang-format

fix(cxx_common): properly handle out-of-order unselected files
  kythe/cxx/extractor/bazel_artifact_selector.cc
  kythe/cxx/extractor/bazel_artifact_selector_test.cc
Due: copyright, clang-format

feat(cxx_common): optionally dispose of unselected filesets (#5689)
  kythe/cxx/extractor/bazel_artifact_selector.cc
  kythe/cxx/extractor/bazel_artifact_selector.h
  kythe/cxx/extractor/bazel_artifact_selector_test.cc
Due: copyright, clang-format

release: v0.0.62
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

release: v0.0.62 (#5690)
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

feat(go_indexer): add --emit_ref_call_over_identifier flag
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/funcallid.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: buildifier, copyright, gofmt, golint

feat(go_indexer): add --emit_ref_call_over_identifier flag (#5692)
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/funcallid.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: buildifier, copyright, gofmt, golint

feat(java_indexer): add --emit_ref_call_over_identifier flag
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/CallgraphIdent.java
Due: copyright, google-java-format

feat(java_indexer): add --emit_ref_call_over_identifier flag (#5693)
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/CallgraphIdent.java
Due: copyright, google-java-format

chore: use return value of emitNameUsage
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/CallgraphIdent.java
Due: copyright, google-java-format

chore: use return value of emitNameUsage (#5694)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/CallgraphIdent.java
Due: copyright, google-java-format

fix(typescript_indexer): limit ref/call spans to identifiers
  kythe/typescript/indexer.ts
  kythe/typescript/plugin_api.ts
  kythe/typescript/test.ts
  kythe/typescript/testdata/refcall_id.ts
Due: copyright

fix(typescript_indexer): limit ref/call spans to identifiers (#5695)
  kythe/typescript/indexer.ts
  kythe/typescript/plugin_api.ts
  kythe/typescript/test.ts
  kythe/typescript/testdata/refcall_id.ts
Due: copyright

test: add cc_proto_library for testdata proto
  kythe/testdata/indexers/proto/BUILD
Due: none

stuff
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

feat(proto_verifier_test): add cc_deps and cc_indexer parameters
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore: move new ref/call span to the same as the ref
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/CallgraphIdent.java
Due: copyright, google-java-format

chore: move new ref/call span to the same as the ref (#5698)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/CallgraphIdent.java
Due: copyright, google-java-format

feat(cc_proto_verifier_test): optionally enable proto static reflection
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

pass a list to _generate_files
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

feat(cc_proto_verifier_test): optionally enable proto static reflection (#5700)
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

test(proto): use .proto.h includes rather than .pb.h
  kythe/cxx/indexer/cxx/testdata/proto/proto2.cc
  kythe/cxx/indexer/cxx/testdata/proto/proto3.cc
  kythe/cxx/indexer/cxx/testdata/proto/proto4.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

test(proto): use .proto.h includes rather than .pb.h (#5701)
  kythe/cxx/indexer/cxx/testdata/proto/proto2.cc
  kythe/cxx/indexer/cxx/testdata/proto/proto3.cc
  kythe/cxx/indexer/cxx/testdata/proto/proto4.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

fix(proto_verifier_test): remove proto static reflection option
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
Due: none

fix(proto_verifier_test): remove proto static reflection option (#5702)
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
Due: none

fix(bazel_extractor): update clang and openjdk packages in docker image
  kythe/extractors/bazel/Dockerfile
Due: copyright
