Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

chore: separate node building from caching (#5785)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

fix(go_indexer): restore parens to recv MarkedSource
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/interface.go
  kythe/go/indexer/testdata/code/methdecl.go
  kythe/go/indexer/testdata/generics/genericmethod.go
Due: copyright, gofmt, golint

fix(go_indexer): restore parens to recv MarkedSource (#5786)
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/interface.go
  kythe/go/indexer/testdata/code/methdecl.go
  kythe/go/indexer/testdata/generics/genericmethod.go
Due: copyright, gofmt, golint

chore: excise vestiges of abs nodes from API
  kythe/cxx/indexer/cxx/GoogleFlagsLibrarySupport.cc
  kythe/cxx/indexer/cxx/GoogleFlagsLibrarySupport.h
  kythe/cxx/indexer/cxx/ImputedConstructorSupport.cc
  kythe/cxx/indexer/cxx/ImputedConstructorSupport.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerLibrarySupport.h
  kythe/cxx/indexer/cxx/ProtoLibrarySupport.cc
  kythe/cxx/indexer/cxx/ProtoLibrarySupport.h
Due: copyright, clang-format

chore: excise vestiges of abs nodes from API (#5787)
  kythe/cxx/indexer/cxx/GoogleFlagsLibrarySupport.cc
  kythe/cxx/indexer/cxx/GoogleFlagsLibrarySupport.h
  kythe/cxx/indexer/cxx/ImputedConstructorSupport.cc
  kythe/cxx/indexer/cxx/ImputedConstructorSupport.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerLibrarySupport.h
  kythe/cxx/indexer/cxx/ProtoLibrarySupport.cc
  kythe/cxx/indexer/cxx/ProtoLibrarySupport.h
Due: copyright, clang-format

fix(verifier): flush stdout before printing verifier results
  kythe/cxx/verifier/testdata/singleton_inspect_expected_error.txt
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

fix(verifier): flush stdout before printing verifier results (#5788)
  kythe/cxx/verifier/testdata/singleton_inspect_expected_error.txt
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

fix: ensure lookup kinds are correct for resolved MarkedSource
  kythe/go/util/markedsource/resolve.go
  kythe/go/util/markedsource/resolve_test.go
Due: copyright, gofmt, golint

fix: ensure lookup kinds are correct for resolved MarkedSource (#5789)
  kythe/go/util/markedsource/resolve.go
  kythe/go/util/markedsource/resolve_test.go
Due: copyright, gofmt, golint

feat: add option to resolve code facts for verifier
  kythe/go/util/log/log.go
  kythe/go/util/markedsource/resolve.go
  kythe/go/util/tools/markedsource/BUILD
  kythe/go/util/tools/markedsource/markedsource.go
  tools/build_rules/verifier_test/verifier_test.bzl
  tools/build_rules/verifier_test/verifier_test.sh.in
Due: buildifier, copyright, gofmt, golint

feat: add option to resolve code facts for verifier (#5790)
  kythe/go/util/log/log.go
  kythe/go/util/markedsource/resolve.go
  kythe/go/util/tools/markedsource/BUILD
  kythe/go/util/tools/markedsource/markedsource.go
  tools/build_rules/verifier_test/verifier_test.bzl
  tools/build_rules/verifier_test/verifier_test.sh.in
Due: buildifier, copyright, gofmt, golint

chore: match Go MS renderer closer to C++
  external.bzl
  go.mod
  go.sum
  kythe/go/util/markedsource/BUILD
  kythe/go/util/markedsource/markedsource.go
  kythe/go/util/markedsource/markedsource_test.go
  kythe/go/util/md/BUILD
  kythe/go/util/md/md.go
Due: buildifier, copyright, gofmt, golint

fix usages
  kythe/go/services/cli/commands_xrefs.go
  kythe/go/test/services/xrefs/xrefs.go
Due: copyright, gofmt, golint

go.sum
  go.sum
Due: none

chore: match Go MS renderer closer to C++ (#5791)
  external.bzl
  go.mod
  go.sum
  kythe/go/services/cli/commands_xrefs.go
  kythe/go/test/services/xrefs/xrefs.go
  kythe/go/util/markedsource/BUILD
  kythe/go/util/markedsource/markedsource.go
  kythe/go/util/markedsource/markedsource_test.go
  kythe/go/util/md/BUILD
  kythe/go/util/md/md.go
Due: buildifier, copyright, gofmt, golint

test(go_indexer): test rendered MarkedSource
  kythe/go/indexer/BUILD
  kythe/go/indexer/testdata/code/rendered.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
  kythe/go/util/tools/markedsource/markedsource.go
  tools/build_rules/verifier_test/verifier_test.sh.in
Due: buildifier, copyright, gofmt, golint

test(go_indexer): test rendered MarkedSource (#5792)
  kythe/go/indexer/BUILD
  kythe/go/indexer/testdata/code/rendered.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
  kythe/go/util/tools/markedsource/markedsource.go
  tools/build_rules/verifier_test/verifier_test.sh.in
Due: buildifier, copyright, gofmt, golint

style: use append
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier

style: use append (#5793)
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier

feat(typescript_indexer): add simple test
  kythe/typescript/testdata/function.ts
Due: none

feat(typescript_indexer): add simple test
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/function.ts
  kythe/typescript/testdata/refcall.ts
Due: copyright

feat(typescript_indexer): add simple test
  kythe/typescript/indexer.ts
Due: copyright

fix(typescript_indexer): improve handling of anonymous functions (#5795)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/function.ts
  kythe/typescript/testdata/refcall.ts
Due: copyright

feat(api): support sending CU digest along with AnalysisRequest
  kythe/proto/analysis.proto
  kythe/proto/analysis_go_proto/analysis.pb.go
  kythe/proto/analysis_rust_proto/analysis.rs
Due: copyright, clang-format, gofmt

feat(api): support sending CU digest along with AnalysisRequest (#5796)
  kythe/proto/analysis.proto
  kythe/proto/analysis_go_proto/analysis.pb.go
  kythe/proto/analysis_rust_proto/analysis.rs
Due: copyright, clang-format, gofmt

fix(verifier): support inspections using the new solver
  kythe/cxx/verifier/assertion_ast.h
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/assertions_to_souffle_test.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/souffle_interpreter.h
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix: address comments
  kythe/cxx/verifier/assertion_ast.h
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/souffle_interpreter_test.cc
Due: copyright, clang-format

fix: address comments
  kythe/cxx/verifier/assertion_ast.h
  kythe/cxx/verifier/souffle_interpreter.h
Due: copyright, clang-format

fix(verifier): support inspections using the new solver (#5794)
  kythe/cxx/verifier/assertion_ast.h
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/assertions_to_souffle_test.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/souffle_interpreter.h
  kythe/cxx/verifier/souffle_interpreter_test.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

chore: only provide const access to GraphObserver::LangOptions
  kythe/cxx/indexer/cxx/GraphObserver.h
Due: copyright, clang-format

chore: move the NullGraphObserver token inline and use non-pointer opaque type
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerUnitTest.cc
Due: copyright, clang-format

chore: only provide const access to GraphObserver::LangOptions (#5797)
  kythe/cxx/indexer/cxx/GraphObserver.h
Due: copyright, clang-format

fix(verifier): clang-tidy include findings
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle_test.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/souffle_interpreter_test.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: buildifier, copyright, clang-format

build: specify some toolchains
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/aspect.bzl
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier

build: specify some toolchains (#5800)
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/aspect.bzl
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier

fix(verifier): clang-tidy include findings (#5799)
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle_test.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/souffle_interpreter_test.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: buildifier, copyright, clang-format
