Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

refactor(cxx_indexer): move lazy parent map to a distinct type
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/indexed_parent_map.h
Due: buildifier, copyright, clang-format

refactor(cxx_indexer): move lazy parent map to a distinct type (#5384)
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/indexed_parent_map.h
Due: buildifier, copyright, clang-format

chore: only download selected Bazel files
  external.bzl
  third_party/bazel/bazel_repository_files.bzl
  third_party/bazel/javac_options.BUILD
Due: buildifier

chore: only download selected Bazel files (#5385)
  external.bzl
  third_party/bazel/bazel_repository_files.bzl
  third_party/bazel/javac_options.BUILD
Due: buildifier

chore: remove obsolete web/ui and leiningen
  README.langserver.md
  external.bzl
  kythe/docs/example-linux.txt
  kythe/docs/exploring-kythe-sample-web-ui.txt
  kythe/docs/schema/writing-an-indexer.txt
  kythe/release/README.md
  kythe/release/appengine/xrefs/.gitignore
  kythe/release/appengine/xrefs/BUILD
  kythe/release/appengine/xrefs/Dockerfile
  kythe/release/appengine/xrefs/app.yaml
  kythe/release/appengine/xrefs/build_serving_tables.sh
  kythe/release/appengine/xrefs/deploy.sh
  kythe/release/appengine/xrefs/run_indexers.sh
  kythe/release/appengine/xrefs/run_server.sh
  kythe/release/appengine/xrefs/server.go
  kythe/typescript/browse
  kythe/web/site/examples.md
  kythe/web/site/getting-started-macos.md
  kythe/web/site/getting-started.md
  kythe/web/ui/.gitignore
  kythe/web/ui/BUILD
  kythe/web/ui/dev/css
  kythe/web/ui/dev/index.html
  kythe/web/ui/project.clj
  kythe/web/ui/resources/public/css/style.css
  kythe/web/ui/resources/public/index.html
  kythe/web/ui/src-cljs/ui/core.cljs
  kythe/web/ui/src-cljs/ui/filetree.cljs
  kythe/web/ui/src-cljs/ui/schema.cljs
  kythe/web/ui/src-cljs/ui/service.cljs
  kythe/web/ui/src-cljs/ui/src.cljs
  kythe/web/ui/src-cljs/ui/util.cljs
  kythe/web/ui/src-cljs/ui/xrefs.cljs
  third_party/BUILD
  third_party/leiningen/BUILD
  third_party/leiningen/COPYING
  third_party/leiningen/README.google
  third_party/leiningen/lein
  third_party/leiningen/lein_repo.bzl
Due: buildifier, copyright, gofmt, golint

chore: remove reference to delete document
  kythe/docs/BUILD
Due: buildifier

chore: filter some spammy error logging
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

chore: filter some spammy error logging (#5387)
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

chore: remove obsolete web/ui and leiningen (#5386)
  README.langserver.md
  external.bzl
  kythe/docs/BUILD
  kythe/docs/example-linux.txt
  kythe/docs/exploring-kythe-sample-web-ui.txt
  kythe/docs/schema/writing-an-indexer.txt
  kythe/release/README.md
  kythe/release/appengine/xrefs/.gitignore
  kythe/release/appengine/xrefs/BUILD
  kythe/release/appengine/xrefs/Dockerfile
  kythe/release/appengine/xrefs/app.yaml
  kythe/release/appengine/xrefs/build_serving_tables.sh
  kythe/release/appengine/xrefs/deploy.sh
  kythe/release/appengine/xrefs/run_indexers.sh
  kythe/release/appengine/xrefs/run_server.sh
  kythe/release/appengine/xrefs/server.go
  kythe/typescript/browse
  kythe/web/site/examples.md
  kythe/web/site/getting-started-macos.md
  kythe/web/site/getting-started.md
  kythe/web/ui/.gitignore
  kythe/web/ui/BUILD
  kythe/web/ui/dev/css
  kythe/web/ui/dev/index.html
  kythe/web/ui/project.clj
  kythe/web/ui/resources/public/css/style.css
  kythe/web/ui/resources/public/index.html
  kythe/web/ui/src-cljs/ui/core.cljs
  kythe/web/ui/src-cljs/ui/filetree.cljs
  kythe/web/ui/src-cljs/ui/schema.cljs
  kythe/web/ui/src-cljs/ui/service.cljs
  kythe/web/ui/src-cljs/ui/src.cljs
  kythe/web/ui/src-cljs/ui/util.cljs
  kythe/web/ui/src-cljs/ui/xrefs.cljs
  third_party/BUILD
  third_party/leiningen/BUILD
  third_party/leiningen/COPYING
  third_party/leiningen/README.google
  third_party/leiningen/lein
  third_party/leiningen/lein_repo.bzl
Due: buildifier, copyright, gofmt, golint

chore: remove stray reference to ui docs
  kythe/web/site/BUILD
Due: buildifier

chore: remove stray reference to ui docs (#5388)
  kythe/web/site/BUILD
Due: buildifier

chore: update LLVM
  kythe/cxx/indexer/cxx/recursive_type_visitor.h
  kythe/cxx/tools/fyi/fyi.cc
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

chore: update LLVM (#5389)
  kythe/cxx/indexer/cxx/recursive_type_visitor.h
  kythe/cxx/tools/fyi/fyi.cc
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

build: add --add-exports= configuration
  kythe/javatests/com/google/devtools/kythe/platform/java/BUILD
Due: buildifier

build: add --add-exports= configuration (#5390)
  kythe/javatests/com/google/devtools/kythe/platform/java/BUILD
Due: buildifier

build: update Bazel rules_go to use 1.19
  .bazelminversion
  external.bzl
  kythe/go/serving/pipeline/pipeline.go
  kythe/proto/graph_serving_go_proto/graph_serving.pb.go
  kythe/proto/internal_go_proto/internal.pb.go
  kythe/proto/pipeline_go_proto/pipeline.pb.go
  kythe/proto/schema_go_proto/schema.pb.go
  kythe/proto/xref_serving_go_proto/xref_serving.pb.go
  kythe/release/cloudbuild/go-builder/Dockerfile
  kythe/testdata/serving_table.xrefPages.json.gz
  setup.bzl
  third_party/bazel/build_event_stream_go_proto/build_event_stream.pb.go
  third_party/bazel/command_line_go_proto/command_line.pb.go
  third_party/bazel/extra_actions_base_go_proto/extra_actions_base.pb.go
  third_party/bazel/invocation_policy_go_proto/invocation_policy.pb.go
  third_party/bazel/option_filters_go_proto/option_filters.pb.go
  third_party/bazel/test_status_go_proto/test_status.pb.go
  version.bzl
Due: buildifier, copyright, gofmt, golint

build: update Bazel rules_go to use 1.19 (#5391)
  .bazelminversion
  external.bzl
  kythe/go/serving/pipeline/pipeline.go
  kythe/proto/graph_serving_go_proto/graph_serving.pb.go
  kythe/proto/internal_go_proto/internal.pb.go
  kythe/proto/pipeline_go_proto/pipeline.pb.go
  kythe/proto/schema_go_proto/schema.pb.go
  kythe/proto/xref_serving_go_proto/xref_serving.pb.go
  kythe/release/cloudbuild/go-builder/Dockerfile
  kythe/testdata/serving_table.xrefPages.json.gz
  setup.bzl
  third_party/bazel/build_event_stream_go_proto/build_event_stream.pb.go
  third_party/bazel/command_line_go_proto/command_line.pb.go
  third_party/bazel/extra_actions_base_go_proto/extra_actions_base.pb.go
  third_party/bazel/invocation_policy_go_proto/invocation_policy.pb.go
  third_party/bazel/option_filters_go_proto/option_filters.pb.go
  third_party/bazel/test_status_go_proto/test_status.pb.go
  version.bzl
Due: buildifier, copyright, gofmt, golint

fix(cxx_indexer): properly expand runtime locations in cc_indexer_test
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

feat(cxx_common): allow filtering static claim files by path
  kythe/cxx/tools/BUILD
  kythe/cxx/tools/static_claim_main.cc
Due: buildifier, copyright, clang-format

feat(cxx_indexer): speed up cxx_proto_verifier_test with minimal claiming
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore(cxx_indexer): add a test for protobuf enum generated code
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/enum.cc
  kythe/testdata/indexers/proto/BUILD
  kythe/testdata/indexers/proto/enum.proto
Due: none

chore(cxx_indexer): add a test for protobuf enum generated code (#5392)
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  kythe/cxx/indexer/cxx/testdata/proto/enum.cc
  kythe/cxx/tools/BUILD
  kythe/cxx/tools/static_claim_main.cc
  kythe/testdata/indexers/proto/BUILD
  kythe/testdata/indexers/proto/enum.proto
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

fix: log patcher errors; continue
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

fix: log patcher errors; continue (#5394)
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

fix: guard against nil patcher from errors
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

add tests
  kythe/go/serving/xrefs/xrefs_test.go
Due: copyright, gofmt, golint

fix: guard against nil patcher from errors (#5395)
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
Due: copyright, gofmt, golint

chore: remove last //third_party/javac dependency
  kythe/java/com/google/devtools/kythe/extractors/java/artifacts/BUILD
Due: buildifier

chore: remove last //third_party/javac dependency (#5396)
  kythe/java/com/google/devtools/kythe/extractors/java/artifacts/BUILD
Due: buildifier

chore: migrate to std::make_unique
  kythe/cxx/common/BUILD
  kythe/cxx/common/kythe_metadata_file.h
  kythe/cxx/common/net_client_test.cc
  kythe/cxx/common/path_utils.cc
  kythe/cxx/doc/BUILD
  kythe/cxx/doc/doc.cc
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/cxx_extractor_test.cc
  kythe/cxx/extractor/testdata/BUILD
  kythe/cxx/extractor/testdata/claim_pragma_test.cc
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/KytheIndexerUnitTest.cc
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/cxx/frontend.cc
  kythe/cxx/indexer/cxx/indexer_worklist.cc
  kythe/cxx/tools/fyi/BUILD
  kythe/cxx/tools/fyi/fyi.cc
  kythe/cxx/tools/fyi/fyi_main.cc
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/verifier.cc
Due: buildifier, copyright, clang-format

chore: migrate to std::make_unique (#5397)
  kythe/cxx/common/BUILD
  kythe/cxx/common/kythe_metadata_file.h
  kythe/cxx/common/net_client_test.cc
  kythe/cxx/common/path_utils.cc
  kythe/cxx/doc/BUILD
  kythe/cxx/doc/doc.cc
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/cxx_extractor_test.cc
  kythe/cxx/extractor/testdata/BUILD
  kythe/cxx/extractor/testdata/claim_pragma_test.cc
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/KytheIndexerUnitTest.cc
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/cxx/frontend.cc
  kythe/cxx/indexer/cxx/indexer_worklist.cc
  kythe/cxx/tools/fyi/BUILD
  kythe/cxx/tools/fyi/fyi.cc
  kythe/cxx/tools/fyi/fyi_main.cc
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/verifier.cc
Due: buildifier, copyright, clang-format

feat(go_indexer): implement ref/writes edges
  kythe/go/indexer/BUILD
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/locals.go
  kythe/go/indexer/testdata/basic/scopes.go
  kythe/go/indexer/testdata/basic/writes.go
  kythe/go/util/schema/edges/edges.go
Due: buildifier, copyright, gofmt, golint

feat(go_indexer): implement ref/writes edges (#5398)
  kythe/go/indexer/BUILD
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/locals.go
  kythe/go/indexer/testdata/basic/scopes.go
  kythe/go/indexer/testdata/basic/writes.go
  kythe/go/util/schema/edges/edges.go
Due: buildifier, copyright, gofmt, golint

feat(go_indexer): implement ref/writes edges for members
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/structref.go
  kythe/go/indexer/testdata/basic/writes.go
  kythe/go/indexer/testdata/generics/genericdep.go
Due: copyright, gofmt, golint

feat(go_indexer): implement ref/writes edges for members (#5399)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/structref.go
  kythe/go/indexer/testdata/basic/writes.go
  kythe/go/indexer/testdata/generics/genericdep.go
Due: copyright, gofmt, golint

feat(java_common): add function to render signature as plaintext
  kythe/java/com/google/devtools/kythe/doc/MarkedSourceRenderer.java
  kythe/javatests/com/google/devtools/kythe/doc/MarkedSourceRendererTest.java
Due: copyright, google-java-format

feat(java_common): add function to render signature as plaintext (#5400)
  kythe/java/com/google/devtools/kythe/doc/MarkedSourceRenderer.java
  kythe/javatests/com/google/devtools/kythe/doc/MarkedSourceRendererTest.java
Due: copyright, google-java-format

chore: enable layering_check for C++
  kythe/cxx/common/testdata/BUILD
  kythe/cxx/extractor/proto/testdata/BUILD
  kythe/cxx/extractor/testdata/BUILD
  kythe/cxx/extractor/testdata/build_config_test.cc
  kythe/cxx/extractor/textproto/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/textproto/testdata/BUILD
  kythe/cxx/tools/BUILD
  kythe/cxx/tools/fyi/testdata/BUILD
  kythe/cxx/tools/testdata/BUILD
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/testdata/BUILD
Due: buildifier
