Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

Bump release version
  kythe/release/BUILD
Due: buildifier

indexer/proto: correctly visit oneof
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
Due: copyright, clang-format

Update arm builtin types
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

Update arm builtin types (#6162)
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

C++ indexer: Support extension/Any in TextProto
  CONTRIBUTORS
  kythe/cxx/indexer/cxx/ProtoLibrarySupport.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/libraries/message.proto.h
  kythe/cxx/indexer/cxx/testdata/libraries/proto_extension.h
  kythe/cxx/indexer/cxx/testdata/libraries/proto_parsetextproto.cc
Due: copyright, clang-format

[extractors] Add an extractor for rust-project.json
  kythe/go/extractors/cmd/rust/BUILD
  kythe/go/extractors/cmd/rust/rust_project_to_kzip.go
  kythe/go/extractors/cmd/rust/rust_project_to_kzip_test.go
Due: buildifier, copyright, gofmt, golint

[extractors] Add an extractor for rust-project.json (#6168)
  kythe/go/extractors/cmd/rust/BUILD
  kythe/go/extractors/cmd/rust/rust_project_to_kzip.go
  kythe/go/extractors/cmd/rust/rust_project_to_kzip_test.go
Due: buildifier, copyright, gofmt, golint

souffle: fix build with Clang 19
  external.bzl
  third_party/souffle_atomic.patch
Due: buildifier

fix: fix rapidjson build with Clang 19
  external.bzl
  third_party/rapidjson_assignment.patch
Due: buildifier

Fix build with Clang 19 (#6172)
  external.bzl
  third_party/rapidjson_assignment.patch
  third_party/souffle_atomic.patch
Due: buildifier

Add support for Bzlmod (#6154)
  .pre-commit-config.yaml
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
  kythe/release/setup_release.sh
Due: buildifier, copyright

indexer/proto: correctly visit oneof (#6161)
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
Due: copyright, clang-format

release: v0.0.69
  RELEASES.md
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
Due: buildifier, copyright

release: v0.0.69
  RELEASES.md
Due: none

fix(bazel): add rust extractor to release
  RELEASES.md
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
Due: buildifier, copyright

release: v0.0.70
  RELEASES.md
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
Due: buildifier, copyright

Add rust extractor to release, cut a new release (#6174)
  RELEASES.md
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
Due: buildifier, copyright

Adding interface changes in KCD for addition of FetchCUSelector RPC.
  kythe/go/platform/kcd/kcd.go
  kythe/go/platform/kcd/kzipdb/BUILD
  kythe/go/platform/kcd/kzipdb/kzipdb.go
  kythe/go/platform/kcd/locked/locked.go
  kythe/go/platform/kcd/memdb/memdb.go
Due: buildifier, copyright, gofmt, golint

[fix] Correct source_file inclusion in rust extractor
  kythe/go/extractors/cmd/rust/rust_project_to_kzip.go
Due: copyright, gofmt, golint

[fix] Correct source_file inclusion in rust extractor (#6177)
  kythe/go/extractors/cmd/rust/rust_project_to_kzip.go
Due: copyright, gofmt, golint

release: v0.0.71
  RELEASES.md
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
Due: buildifier, copyright

release: v0.0.71 (#6178)
  RELEASES.md
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
Due: buildifier, copyright

Review comments
  kythe/go/platform/kcd/kcd.go
  kythe/go/platform/kcd/kzipdb/kzipdb.go
  kythe/go/platform/kcd/locked/locked.go
  kythe/go/platform/kcd/memdb/memdb.go
Due: copyright, gofmt, golint

Review comments
  kythe/go/platform/kcd/kzipdb/BUILD
  kythe/go/platform/kcd/kzipdb/kzipdb.go
Due: buildifier, copyright, gofmt, golint

Review comments
  kythe/go/platform/kcd/memdb/memdb.go
Due: copyright, gofmt, golint

Review comments
  kythe/go/platform/kcd/kzipdb/kzipdb.go
Due: copyright, gofmt, golint

Review comments
  kythe/go/platform/kcd/locked/locked.go
Due: copyright, gofmt, golint

Add interface changes in KCD for introducing FetchCUSelector RPC. (#6176)
  kythe/go/platform/kcd/kcd.go
  kythe/go/platform/kcd/kzipdb/kzipdb.go
  kythe/go/platform/kcd/locked/locked.go
  kythe/go/platform/kcd/memdb/memdb.go
Due: copyright, gofmt, golint

go_indexer_test: select the correct go_sdk files
  kythe/go/indexer/testdata/go_indexer_test.bzl
  third_party/BUILD
Due: none

external.bzl: upgrade libffi
  external.bzl
Due: buildifier

KZipReaderTest: fix EmptyCatch error
  kythe/javatests/com/google/devtools/kythe/platform/kzip/KZipReaderTest.java
Due: copyright, google-java-format

clean
  kythe/go/indexer/BUILD
Due: buildifier

try to fix tests
  kythe/go/indexer/BUILD
  kythe/go/indexer/testdata/go_indexer_test.bzl
  tools/build_rules/verifier_test/verifier_test.sh.in
Due: buildifier

cleanup
  kythe/go/indexer/BUILD
  tools/build_rules/verifier_test/verifier_test.sh.in
Due: buildifier

some "fixes"
  kythe/go/indexer/BUILD
  kythe/go/indexer/testdata/go_indexer_test.bzl
  tools/build_rules/verifier_test/verifier_test.sh.in
Due: buildifier

modify goal regex instead
  kythe/go/indexer/BUILD
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: buildifier

need to allow dupes
  kythe/go/indexer/BUILD
Due: buildifier

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
