Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

feat(verifier): add a relation for anchors
  kythe/cxx/verifier/assertion_ast.h
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/souffle_interpreter_test.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix: address comments
  kythe/cxx/verifier/assertion_ast.h
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
Due: copyright, clang-format

feat(verifier): add a relation for anchors (#5667)
  kythe/cxx/verifier/assertion_ast.h
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/souffle_interpreter_test.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

chore: add tests
  kythe/javatests/com/google/devtools/kythe/platform/java/OptionsTest.java
Due: copyright, google-java-format

feat(java_indexer): try to handle unsupported -source flags
  kythe/java/com/google/devtools/kythe/platform/java/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/JavaCompilationDetails.java
  kythe/java/com/google/devtools/kythe/platform/java/JavacOptionsUtils.java
Due: buildifier, copyright, google-java-format

chore(verifier): make currently-passing tests part of VerifierTest
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

chore: use source
  kythe/java/com/google/devtools/kythe/platform/java/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/JavacOptionsUtils.java
  kythe/javatests/com/google/devtools/kythe/platform/java/BUILD
  kythe/javatests/com/google/devtools/kythe/platform/java/OptionsTest.java
Due: buildifier, copyright, google-java-format

feat(java_indexer): try to handle unsupported -source flags (#5668)
  kythe/java/com/google/devtools/kythe/platform/java/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/JavaCompilationDetails.java
  kythe/java/com/google/devtools/kythe/platform/java/JavacOptionsUtils.java
  kythe/javatests/com/google/devtools/kythe/platform/java/BUILD
  kythe/javatests/com/google/devtools/kythe/platform/java/OptionsTest.java
Due: buildifier, copyright, google-java-format

fix: address comments
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix(verifier): depend on absl optional library
  kythe/cxx/verifier/BUILD
Due: buildifier

chore(verifier): make currently-passing tests part of VerifierTest (#5669)
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix(verifier): depend on absl optional library (#5670)
  kythe/cxx/verifier/BUILD
Due: buildifier

fix(verifier): flat_hash_map + fix spurious warning
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/verifier.cc
Due: buildifier, copyright, clang-format

chore: add runtime dep
  kythe/javatests/com/google/devtools/kythe/platform/java/BUILD
Due: buildifier

fix(verifier): flat_hash_map + fix spurious warning (#5671)
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/verifier.cc
Due: buildifier, copyright, clang-format

chore: add runtime dep (#5672)
  kythe/javatests/com/google/devtools/kythe/platform/java/BUILD
Due: buildifier

fix(go): avoid formatting protos via "%v" for non-debug uses
  kythe/go/platform/kzip/info/info.go
  kythe/go/platform/kzip/info/info_test.go
Due: copyright, gofmt, golint

fix(go): avoid formatting protos via "%v" for non-debug uses (#5673)
  kythe/go/platform/kzip/info/info.go
  kythe/go/platform/kzip/info/info_test.go
Due: copyright, gofmt, golint

fix(go): use %s to format protos in kzip validation error messages
  kythe/go/platform/kzip/info/info.go
  kythe/go/platform/kzip/info/info_test.go
Due: copyright, gofmt, golint

fix(go): use %s to format protos in kzip validation error messages (#5674)
  kythe/go/platform/kzip/info/info.go
  kythe/go/platform/kzip/info/info_test.go
Due: copyright, gofmt, golint

chore: ensure modules don't have an absolute-path VName
  kythe/extractors/openjdk11/vnames.json
Due: none

chore: ensure modules don't have an absolute-path VName (#5675)
  kythe/extractors/openjdk11/vnames.json
Due: none

chore: update expected test values
  kythe/javatests/com/google/devtools/kythe/platform/java/OptionsTest.java
Due: copyright, google-java-format

chore: update expected test values (#5676)
  kythe/javatests/com/google/devtools/kythe/platform/java/OptionsTest.java
Due: copyright, google-java-format

chore: remove exec_tools as it's a no-op with Bazel 6+
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
Due: none

chore: remove exec_tools as it's a no-op with Bazel 6+ (#5677)
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
Due: none

chore: explicitly include default value in java language selects
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
Due: buildifier

chore: explicitly include default value in java language selects (#5678)
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
Due: buildifier

feat(verifier): naive implementation of groups for new solver
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

feat(textproto_indexer): mark fields as ref/writes
  kythe/cxx/indexer/textproto/analyzer.cc
  kythe/cxx/indexer/textproto/plugins/example/testdata/syntax_test.pbtxt
  kythe/cxx/indexer/textproto/plugins/example/testdata/test1.pbtxt
  kythe/cxx/indexer/textproto/plugins/example/testdata/test2.pbtxt
  kythe/cxx/indexer/textproto/testdata/any_type.pbtxt
  kythe/cxx/indexer/textproto/testdata/basics.pbtxt
  kythe/cxx/indexer/textproto/testdata/default_value.pbtxt
  kythe/cxx/indexer/textproto/testdata/enum_value.pbtxt
  kythe/cxx/indexer/textproto/testdata/extensions.pbtxt
  kythe/cxx/indexer/textproto/testdata/generated_imports.pbtxt
  kythe/cxx/indexer/textproto/testdata/imports.pbtxt
  kythe/cxx/indexer/textproto/testdata/inline_repeated_field.pbtxt
  kythe/cxx/indexer/textproto/testdata/nested_message.pbtxt
  kythe/cxx/indexer/textproto/testdata/recordio_basics.recordiotxt
  kythe/cxx/indexer/textproto/testdata/recordio_emptyline_delimiter.recordiotxt
  kythe/cxx/indexer/textproto/testdata/repeated_extension.pbtxt
  kythe/cxx/indexer/textproto/testdata/repeated_field.pbtxt
  kythe/cxx/indexer/textproto/testdata/schema_comments.pbtxt
Due: copyright, clang-format

fix: we want an aggregate, not negation
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix: clean up
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
Due: copyright, clang-format

fix: clean up again
  kythe/cxx/verifier/assertions_to_souffle.cc
Due: copyright, clang-format

fix: clean up again x2
  kythe/cxx/verifier/assertions_to_souffle.h
Due: copyright, clang-format

feat(verifier): naive implementation of groups for new solver (#5680)
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

feat(textproto_indexer): mark fields as ref/writes (#5679)
  kythe/cxx/indexer/textproto/analyzer.cc
  kythe/cxx/indexer/textproto/plugins/example/testdata/syntax_test.pbtxt
  kythe/cxx/indexer/textproto/plugins/example/testdata/test1.pbtxt
  kythe/cxx/indexer/textproto/plugins/example/testdata/test2.pbtxt
  kythe/cxx/indexer/textproto/testdata/any_type.pbtxt
  kythe/cxx/indexer/textproto/testdata/basics.pbtxt
  kythe/cxx/indexer/textproto/testdata/default_value.pbtxt
  kythe/cxx/indexer/textproto/testdata/enum_value.pbtxt
  kythe/cxx/indexer/textproto/testdata/extensions.pbtxt
  kythe/cxx/indexer/textproto/testdata/generated_imports.pbtxt
  kythe/cxx/indexer/textproto/testdata/imports.pbtxt
  kythe/cxx/indexer/textproto/testdata/inline_repeated_field.pbtxt
  kythe/cxx/indexer/textproto/testdata/nested_message.pbtxt
  kythe/cxx/indexer/textproto/testdata/recordio_basics.recordiotxt
  kythe/cxx/indexer/textproto/testdata/recordio_emptyline_delimiter.recordiotxt
  kythe/cxx/indexer/textproto/testdata/repeated_extension.pbtxt
  kythe/cxx/indexer/textproto/testdata/repeated_field.pbtxt
  kythe/cxx/indexer/textproto/testdata/schema_comments.pbtxt
Due: copyright, clang-format

test: deterministically format VNames
  kythe/go/platform/kzip/info/BUILD
  kythe/go/platform/kzip/info/info.go
Due: buildifier, copyright, gofmt, golint

test: deterministically format VNames (#5681)
  kythe/go/platform/kzip/info/BUILD
  kythe/go/platform/kzip/info/info.go
Due: buildifier, copyright, gofmt, golint

chore(verifier): enable markedsource tests for new solver
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

address comments
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format
