Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

test: c++17 flags
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

chore: count file references to select duplicate files in some cases
  kythe/cxx/extractor/bazel_artifact_selector.cc
  kythe/cxx/extractor/bazel_artifact_selector.h
Due: copyright, clang-format

chore: count file references to select duplicate files in some cases (#5657)
  kythe/cxx/extractor/bazel_artifact_selector.cc
  kythe/cxx/extractor/bazel_artifact_selector.h
Due: copyright, clang-format

fix: ...
  tools/platforms/Dockerfile
Due: none

...
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

fix: ...
  third_party/souffle.BUILD
Due: none

fix: undo other changes
  third_party/souffle.BUILD
Due: none

fix: more attempts to get c++17
  .bazelrc
  third_party/souffle.BUILD
Due: none

fix: patch out <filesystem> until rbe is fixed
  external.bzl
  kythe/cxx/verifier/BUILD
  kythe/release/cloudbuild/bazelisk-builder-client/Dockerfile
  third_party/souffle_filesystem.patch
Due: buildifier, copyright

fix: more configs
  third_party/souffle.BUILD
  tools/platforms/configs/rbe_default/cc/BUILD
Due: buildifier

fix: still trying to fix rbe
  tools/platforms/configs/rbe_default/cc/BUILD
  tools/platforms/configs/rbe_default/cc/armeabi_cc_toolchain_config.bzl
  tools/platforms/configs/rbe_default/cc/cc_toolchain_config.bzl
  tools/platforms/configs/rbe_default/cc/module.modulemap
Due: buildifier

fix: ...
  kythe/release/cloudbuild/presubmit.yaml
Due: none

fix: add libstdc++-10-dev
  kythe/release/cloudbuild/bazelisk-builder-client/Dockerfile
Due: copyright

fix: try something else to get c++17
  .bazelminversion
  .bazelrc
Due: none

chore(verifier): update souffle to 2.3
  external.bzl
  kythe/cxx/verifier/souffle_entrysteam_support.cc
  third_party/souffle/parse_transform.cc
  third_party/souffle_remove_config.patch
Due: buildifier, copyright, clang-format

fix: address comments
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/souffle_entrysteam_support.cc
Due: buildifier, copyright, clang-format

fix: ...
  external.bzl
  kythe/release/cloudbuild/presubmit.yaml
  tools/platforms/configs/rbe_default/cc/BUILD
  tools/platforms/configs/rbe_default/cc/armeabi_cc_toolchain_config.bzl
  tools/platforms/configs/rbe_default/cc/cc_toolchain_config.bzl
  tools/platforms/configs/rbe_default/cc/module.modulemap
Due: buildifier

fix: bump .bazelminversion
  .bazelminversion
Due: none

chore(verifier): update souffle to 2.3 (#5651)
  external.bzl
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/souffle_entrysteam_support.cc
  third_party/souffle/parse_transform.cc
  third_party/souffle_filesystem.patch
  third_party/souffle_remove_config.patch
Due: buildifier, copyright, clang-format

deprecation(schema): remove completes edge kind
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
  kythe/cxx/common/schema/edges.cc
  kythe/cxx/common/schema/edges.h
  kythe/docs/schema/schema.txt
  kythe/go/services/xrefs/xrefs.go
  kythe/go/util/schema/edges/edges.go
  kythe/go/util/schema/indexdata.go
  kythe/java/com/google/devtools/kythe/analyzers/base/EdgeKind.java
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
  kythe/proto/serving.proto
  kythe/typescript/kythe.ts
  tools/schema/edges
Due: copyright, google-java-format, clang-format, gofmt, golint

undo
  tools/schema/edges
Due: none

deprecation(schema): remove completes edge kind (#5658)
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
  kythe/cxx/common/schema/edges.cc
  kythe/cxx/common/schema/edges.h
  kythe/docs/schema/schema.txt
  kythe/go/services/xrefs/xrefs.go
  kythe/go/util/schema/edges/edges.go
  kythe/go/util/schema/indexdata.go
  kythe/java/com/google/devtools/kythe/analyzers/base/EdgeKind.java
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
  kythe/proto/serving.proto
  kythe/typescript/kythe.ts
  tools/schema/edges
Due: copyright, google-java-format, clang-format, gofmt, golint

feat(verifier): generate and run an empty but typed program
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/assertions.h
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/assertions_to_souffle_test.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/souffle_interpreter.h
  kythe/cxx/verifier/souffle_interpreter_test.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
Due: buildifier, copyright, clang-format

fix: remove extra include
  kythe/cxx/verifier/assertions_to_souffle.cc
Due: copyright, clang-format

fix: address comments
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/assertions_to_souffle_test.cc
  kythe/cxx/verifier/souffle_interpreter.cc
Due: copyright, clang-format

feat(java_indexer): add set semantic to AutoValue setters
  kythe/java/com/google/devtools/kythe/analyzers/java/AutoValuePlugin.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/AutoValues.java
Due: copyright, google-java-format

feat(java_indexer): add set semantic to AutoValue setters (#5661)
  kythe/java/com/google/devtools/kythe/analyzers/java/AutoValuePlugin.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/AutoValues.java
Due: copyright, google-java-format

feat(verifier): generate and run an empty but typed program (#5659)
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/assertions.h
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/assertions_to_souffle_test.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/souffle_interpreter.h
  kythe/cxx/verifier/souffle_interpreter_test.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
Due: buildifier, copyright, clang-format

feat(verifier): unknot some deps and call into the fast solver
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/assertion_ast.h
  kythe/cxx/verifier/assertions.h
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/souffle_interpreter.h
  kythe/cxx/verifier/souffle_interpreter_test.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_unit_test.cc
Due: buildifier, copyright, clang-format

feat(verifier): unknot some deps and call into the fast solver (#5662)
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/assertion_ast.h
  kythe/cxx/verifier/assertions.h
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/souffle_interpreter.h
  kythe/cxx/verifier/souffle_interpreter_test.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_unit_test.cc
Due: buildifier, copyright, clang-format

chore: cleanup unused dep
  kythe/proto/BUILD
  kythe/proto/analysis_rust_proto/lib.rs
Due: buildifier

chore: cleanup unused dep (#5663)
  kythe/proto/BUILD
  kythe/proto/analysis_rust_proto/lib.rs
Due: buildifier

chore(tooling): record -source values from java CUs for kzip info
  kythe/go/platform/kzip/info/info.go
  kythe/go/platform/kzip/info/info_test.go
  kythe/proto/analysis.proto
  kythe/proto/analysis_go_proto/analysis.pb.go
  kythe/proto/analysis_rust_proto/analysis.rs
Due: copyright, clang-format, gofmt, golint

feat(verifier): begin supporting some forms
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

chore(tooling): record -source values from java CUs for kzip info (#5664)
  kythe/go/platform/kzip/info/info.go
  kythe/go/platform/kzip/info/info_test.go
  kythe/proto/analysis.proto
  kythe/proto/analysis_go_proto/analysis.pb.go
  kythe/proto/analysis_rust_proto/analysis.rs
Due: copyright, clang-format, gofmt, golint

fix(api): explicitly mark source_text optional ∵ File.text is optional
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, clang-format, gofmt, golint

fix(api): explicitly mark source_text optional ∵ File.text is optional (#5666)
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, clang-format, gofmt, golint

fix: address comments
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix: address comments
  kythe/cxx/verifier/souffle_interpreter.cc
Due: copyright, clang-format

feat(verifier): begin supporting some forms (#5665)
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
