Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

fix(java_indexer): set the corpus path of diagnostics
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
Due: copyright, google-java-format

fix(java_indexer): set the corpus path of diagnostics (#5203)
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
Due: copyright, google-java-format

build: add an explicit dependency on the JDK
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/aspect.bzl
Due: buildifier

exec
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/aspect.bzl
Due: buildifier

build: add an explicit dependency on the JDK (#5204)
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/aspect.bzl
Due: buildifier

chore: migrate bazel-toolchains to manual generation
  .bazelrc
  .pre-commit-config.yaml
  WORKSPACE
  external.bzl
  tools/platforms/BUILD
  tools/platforms/configs/.latest.bazelrc
  tools/platforms/configs/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.0.0/config/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.0.0/java/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/cc/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/cc/armeabi_cc_toolchain_config.bzl
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/cc/builtin_include_directory_paths
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/cc/cc_toolchain_config.bzl
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/cc/module.modulemap
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/config/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/java/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/armeabi_cc_toolchain_config.bzl
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/builtin_include_directory_paths
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/cc_toolchain_config.bzl
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/cc_wrapper.sh
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/module.modulemap
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/java/BUILD
  tools/platforms/configs/empty-versions.bzl
  tools/platforms/configs/rbe_default/LICENSE
  tools/platforms/configs/rbe_default/cc/BUILD
  tools/platforms/configs/rbe_default/cc/WORKSPACE
  tools/platforms/configs/rbe_default/cc/armeabi_cc_toolchain_config.bzl
  tools/platforms/configs/rbe_default/cc/builtin_include_directory_paths
  tools/platforms/configs/rbe_default/cc/cc_toolchain_config.bzl
  tools/platforms/configs/rbe_default/cc/cc_wrapper.sh
  tools/platforms/configs/rbe_default/cc/module.modulemap
  tools/platforms/configs/rbe_default/cc/tools/cpp/empty.cc
  tools/platforms/configs/rbe_default/config/BUILD
  tools/platforms/configs/rbe_default/java/BUILD
  tools/platforms/configs/rebuild.sh
  tools/platforms/configs/versions.bzl
  tools/platforms/toolchain_config_suite_spec.bzl
Due: buildifier, clang-format

chore: update to bazel and toolchains for 5.0.0
  .bazelminversion
  .bazelversion
  tools/platforms/Dockerfile
  tools/platforms/configs/rbe_default/cc/BUILD
  tools/platforms/configs/rbe_default/cc/builtin_include_directory_paths
  tools/platforms/configs/rbe_default/cc/cc_toolchain_config.bzl
  tools/platforms/configs/rbe_default/cc/cc_wrapper.sh
  tools/platforms/configs/rbe_default/cc/module.modulemap
  tools/platforms/configs/rbe_default/config/BUILD
  tools/platforms/configs/rbe_default/java/BUILD
  version.bzl
Due: buildifier

chore: update bazel remote flags
  .bazelrc
Due: none

chore: update bazel remote flags (#5206)
  .bazelrc
Due: none

fix(rust_indexer): put new functionality behind a flag
  kythe/rust/indexer/src/bin/bazel/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/mod.rs
Due: copyright, rustfmt

fix(rust_indexer): emit built-in types in the same corpus as the CU (#5202)
  kythe/rust/indexer/src/bin/bazel/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/mod.rs
  kythe/rust/indexer/testdata/tbuiltin.rs
Due: copyright, rustfmt

feat: add Hash to FileInfo protos
  kythe/proto/common.proto
  kythe/proto/serving.proto
Due: copyright, clang-format

generate protos
  kythe/proto/common_go_proto/common.pb.go
  kythe/proto/serving_go_proto/serving.pb.go
Due: gofmt

feat(serving): add Hash to FileInfo protos (#5207)
  kythe/proto/common.proto
  kythe/proto/common_go_proto/common.pb.go
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: copyright, clang-format, gofmt

fix: merge conflict
  external.bzl
Due: buildifier

feat(cxx_indexer): handle more proto functions
  kythe/cxx/common/protobuf_metadata_file.cc
Due: copyright, clang-format

fix(java): emit wildcard generics in default corpus
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/DefaultCorpus.java
Due: copyright, google-java-format

format
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
Due: copyright, google-java-format

fix(java_indexer): use ref/id edges for class references in new expressions
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/analyzers/java/TreeContext.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Callgraph.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/DiamondOperations.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericMethodRef.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Generics.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericsAbs.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/MemberReferences.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Methods.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Scopes.java
Due: copyright, google-java-format

fix(proto_indexer): elide references to builtins and maps
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/file_descriptor_walker.h
Due: copyright, clang-format

fix(proto_indexer): elide references to builtins and maps (#5212)
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/file_descriptor_walker.h
Due: copyright, clang-format

fix(java_indexer): use ref/id edges for class references in new expressions (#5211)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/analyzers/java/TreeContext.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Callgraph.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/DiamondOperations.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericMethodRef.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Generics.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericsAbs.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/MemberReferences.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Methods.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Scopes.java
Due: copyright, google-java-format

fix(cxx_indexer): test new proto methods
  kythe/cxx/indexer/cxx/testdata/proto/proto_semantic.cc
  kythe/testdata/indexers/proto/testdata.proto
Due: none

fix(cxx_indexer): singletons
  kythe/cxx/indexer/cxx/testdata/proto/proto.cc
Due: none

feat(cxx_indexer): handle more proto functions (#5209)
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/indexer/cxx/testdata/proto/proto.cc
  kythe/cxx/indexer/cxx/testdata/proto/proto_semantic.cc
  kythe/testdata/indexers/proto/testdata.proto
Due: copyright, clang-format

fix(cxx_indexer): use function names, not exps, for semantics
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/metadata/metadata_semantic.cc
  kythe/cxx/indexer/cxx/testdata/proto/proto_semantic.cc
Due: copyright, clang-format

fix(cxx_indexer): use function names, not exps, for semantics (#5213)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/metadata/metadata_semantic.cc
  kythe/cxx/indexer/cxx/testdata/proto/proto_semantic.cc
Due: copyright, clang-format

chore: change how preprocessor_utils iterates tokens
  third_party/llvm/src/cxx_extractor_preprocessor_utils.cc
Due: none

chore: change how preprocessor_utils iterates tokens (#5214)
  third_party/llvm/src/cxx_extractor_preprocessor_utils.cc
Due: none

fix(cxx_indexer): don't traverse field decls in lambdas
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/function/function_lambda_explicit_this.cc
  kythe/cxx/indexer/cxx/testdata/function/function_lambda_implicit_this.cc
Due: copyright, clang-format

fix(cxx_indexer): include test of captured this by value
  kythe/cxx/indexer/cxx/testdata/function/function_lambda_value_this.cc
Due: none

fix(cxx_indexer): don't traverse field decls in lambdas (#5215)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/function/function_lambda_explicit_this.cc
  kythe/cxx/indexer/cxx/testdata/function/function_lambda_implicit_this.cc
Due: copyright, clang-format

fix(java): do not ignore return value even in verification tests
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/SpecialMembers.java
Due: none

fix(java): do not ignore return value even in verification tests (#5217)
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/SpecialMembers.java
Due: none

fix(proto_indexer): actually elide refs for top-level map types
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/proto/testdata/basic/map.proto
Due: copyright, clang-format

fix(proto_indexer): actually elide refs for top-level map types (#5219)
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/proto/testdata/basic/map.proto
Due: copyright, clang-format

fix(cxx_indexer): constructer initializers should be writes
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/function/function_ctor_init_refs.cc
  kythe/cxx/indexer/cxx/testdata/rec/rec_ctor_implicit_refs.cc
Due: copyright, clang-format

fix(cxx_indexer): constructer initializers should be writes (#5220)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/function/function_ctor_init_refs.cc
  kythe/cxx/indexer/cxx/testdata/rec/rec_ctor_implicit_refs.cc
Due: copyright, clang-format

building with: $BZL build kythe/java/com/google/devtools/kythe/extractors/java/standalone:javac9_extractor
  .bazelversion
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
Due: buildifier
