Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

fix: add recursive configuration options
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier

fix(rust_indexer): allow files to be passed in for the extractor
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier

fix(rust_indexer): allow files to be passed in for the extractor (#5024)
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier

chore: fix rust_indexer_test docstring
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier

chore: fix typo
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier

chore: fix rust_indexer_test docstring (#5025)
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier

feat(java): add empty corpus test and assign corpus to PACKAGE nodes
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
Due: copyright, google-java-format

feat(empty_corpus_checker): print out all corpora seen in the input
  kythe/go/test/tools/empty_corpus_checker/BUILD
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_checker.go
Due: buildifier, copyright, gofmt, golint

feat(java): add empty corpus test and assign corpus to PACKAGE nodes (#5026)
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
Due: copyright, google-java-format

feat(empty_corpus_checker): print out all corpora seen in the input (#5027)
  kythe/go/test/tools/empty_corpus_checker/BUILD
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_checker.go
Due: buildifier, copyright, gofmt, golint

fix(go_indexer): check whether embedded type is Named
  kythe/go/indexer/emit.go
Due: copyright, gofmt, golint

fix(go_indexer): check whether embedded type is Named (#5028)
  kythe/go/indexer/emit.go
Due: copyright, gofmt, golint

fix(kzip info): allow paths that begin with /kythe_builtins/
  kythe/go/platform/kzip/info/info.go
Due: copyright, gofmt, golint

fix(kzip info): allow paths that begin with /kythe_builtins/ (#5030)
  kythe/go/platform/kzip/info/info.go
Due: copyright, gofmt, golint

fix(rust_indexer): fix proxy indexer
  kythe/rust/cargo/BUILD.bazel
  kythe/rust/cargo/Cargo.toml
  kythe/rust/cargo/crates.bzl
  kythe/rust/cargo/remote/BUILD.hex-0.4.3.bazel
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/writer.rs
Due: buildifier, copyright, rustfmt

fix: add build file for base64 crate
  kythe/rust/cargo/remote/BUILD.base64-0.13.0.bazel
Due: none

fix: revert FileProvider change and restore hex crate for extractor
  kythe/rust/cargo/BUILD.bazel
  kythe/rust/cargo/Cargo.toml
  kythe/rust/cargo/crates.bzl
  kythe/rust/cargo/remote/BUILD.hex-0.4.3.bazel
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/providers.rs
Due: buildifier, copyright, rustfmt

fix(rust_indexer): Fix proxy indexer (#5032)
  kythe/rust/cargo/BUILD.bazel
  kythe/rust/cargo/Cargo.toml
  kythe/rust/cargo/crates.bzl
  kythe/rust/cargo/remote/BUILD.base64-0.13.0.bazel
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/writer.rs
Due: buildifier, copyright, rustfmt

feat(corpus checker): allow specifying an allowlist of corpora
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_checker.go
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_test.bzl
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_test.sh
Due: buildifier, copyright, gofmt, golint

quote
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_test.sh
Due: copyright

use StringSet flag type
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_checker.go
Due: copyright, gofmt, golint

feat(corpus checker): allow specifying an allowlist of corpora (#5033)
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_checker.go
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_test.bzl
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_test.sh
Due: buildifier, copyright, gofmt, golint

fix(rust_indexer): properly handle empty file contents
  kythe/rust/indexer/src/providers.rs
Due: copyright, rustfmt

fix(rust_indexer): properly handle empty file contents (#5034)
  kythe/rust/indexer/src/providers.rs
Due: copyright, rustfmt

feat(cxx_common): properly index generated protos (#4984)
  CONTRIBUTORS
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/proto5.cc
  kythe/data/vnames.json
  kythe/testdata/indexers/proto/BUILD
  kythe/testdata/indexers/proto/testdata5.proto
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

feat(java indexer): use compilation corpus for jvm and jdk nodes
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
Due: copyright, google-java-format

feat(java indexer): use compilation corpus for jvm and jdk nodes (#5035)
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
Due: copyright, google-java-format

fix(cc_indexer_test): use short_path for generated files
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

fix(cc_indexer_test): use short_path for generated files (#5036)
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

Add semantics to metadata for #5037
  kythe/proto/metadata.proto
Due: copyright, clang-format

fix: update go protos
  kythe/proto/metadata_go_proto/metadata.pb.go
Due: gofmt

chore: update for bazel 4.2.0
  .bazelversion
  tools/platforms/configs/.latest.bazelrc
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/armeabi_cc_toolchain_config.bzl
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/builtin_include_directory_paths
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/cc_toolchain_config.bzl
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/cc_wrapper.sh
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/module.modulemap
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/config/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/java/BUILD
  tools/platforms/configs/versions.bzl
  version.bzl
Due: buildifier

feat(cxx_indexer): Add semantics to metadata for #5037 (#5038)
  kythe/proto/metadata.proto
  kythe/proto/metadata_go_proto/metadata.pb.go
Due: copyright, clang-format, gofmt

fix(cxx_indexer): fix dangling reference
  kythe/cxx/indexer/textproto/analyzer.cc
Due: copyright, clang-format

fix(cxx_indexer): fix dangling reference (#5039)
  kythe/cxx/indexer/textproto/analyzer.cc
Due: copyright, clang-format

feat(cxx_indexer): Read the semantic field into metadata for #5037
  kythe/cxx/common/kythe_metadata_file.cc
  kythe/cxx/common/kythe_metadata_file.h
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

chore(indexing): move gen proto tests to corner_cases test suite
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/proto/testdata/corner_cases/gen-proto-dest.proto
  kythe/cxx/indexer/proto/testdata/corner_cases/gen-proto-source.proto
Due: copyright, clang-format

chore(indexing): remove word proto from proto file and build rule
  kythe/cxx/indexer/proto/BUILD
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/proto/BUILD
  kythe/proto/generated_message_info.proto
Due: buildifier, copyright, clang-format

feat(cxx_indexer): Allow VNames as NodeIds for #5037
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

chore(indexing): update test references to generated_message_info
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/testdata/corner_cases/gen-proto-dest.proto
Due: copyright, clang-format
