Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

chore(textproto_indexer): add recordio textformat support (#5528) (#5529)
  CONTRIBUTORS
  kythe/cxx/extractor/textproto/textproto_extractor.cc
  kythe/cxx/indexer/textproto/BUILD
  kythe/cxx/indexer/textproto/analyzer.cc
  kythe/cxx/indexer/textproto/recordio_textparser.cc
  kythe/cxx/indexer/textproto/recordio_textparser.h
  kythe/cxx/indexer/textproto/recordio_textparser_test.cc
  kythe/cxx/indexer/textproto/testdata/BUILD
  kythe/cxx/indexer/textproto/testdata/recordio_basics.recordiotxt
  kythe/cxx/indexer/textproto/testdata/recordio_emptyline_delimiter.recordiotxt
  kythe/cxx/indexer/textproto/testdata/textproto_verifier_test.bzl
Due: buildifier, copyright, clang-format

chore(c++): remove DebugString() for loggd protos
  kythe/cxx/indexer/textproto/plugins/example/plugin.cc
Due: copyright, clang-format

fix(serving): don't checklines in diffmatchpatch
  kythe/go/util/span/span.go
Due: copyright, gofmt, golint

fix(serving): don't checklines in diffmatchpatch (#5557)
  kythe/go/util/span/span.go
Due: copyright, gofmt, golint

test: add test for large file patching
  external.bzl
  go.mod
  go.sum
  kythe/go/util/span/span_test.go
Due: buildifier, copyright, gofmt, golint

test: add test for large file patching (#5558)
  external.bzl
  go.mod
  go.sum
  kythe/go/util/span/span_test.go
Due: buildifier, copyright, gofmt, golint

chore: use port of protobuf gMock matchers
  external.bzl
  kythe/cxx/common/BUILD
  kythe/cxx/common/file_vname_generator_test.cc
  kythe/cxx/common/kythe_uri_test.cc
  kythe/cxx/extractor/testdata/BUILD
  kythe/cxx/extractor/testdata/alternate_platform_test.cc
  kythe/cxx/extractor/testdata/build_config_test.cc
  kythe/cxx/extractor/testdata/extract_transcript_test.cc
  kythe/cxx/extractor/testdata/has_include_test.cc
  kythe/cxx/extractor/testdata/indirect_has_include_test.cc
  kythe/cxx/extractor/testdata/installed_dir_test.cc
  kythe/cxx/extractor/testdata/main_source_file_env_dep_test.cc
  kythe/cxx/extractor/testdata/main_source_file_no_env_dep_test.cc
  kythe/cxx/extractor/testdata/metadata_test.cc
  kythe/cxx/extractor/testdata/modules_test.cc
  kythe/cxx/extractor/testdata/root_directory_test.cc
  kythe/cxx/extractor/testlib.cc
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/KytheIndexerUnitTest.cc
Due: buildifier, copyright, clang-format

chore: use port of protobuf gMock matchers (#5559)
  external.bzl
  kythe/cxx/common/BUILD
  kythe/cxx/common/file_vname_generator_test.cc
  kythe/cxx/common/kythe_uri_test.cc
  kythe/cxx/extractor/testdata/BUILD
  kythe/cxx/extractor/testdata/alternate_platform_test.cc
  kythe/cxx/extractor/testdata/build_config_test.cc
  kythe/cxx/extractor/testdata/extract_transcript_test.cc
  kythe/cxx/extractor/testdata/has_include_test.cc
  kythe/cxx/extractor/testdata/indirect_has_include_test.cc
  kythe/cxx/extractor/testdata/installed_dir_test.cc
  kythe/cxx/extractor/testdata/main_source_file_env_dep_test.cc
  kythe/cxx/extractor/testdata/main_source_file_no_env_dep_test.cc
  kythe/cxx/extractor/testdata/metadata_test.cc
  kythe/cxx/extractor/testdata/modules_test.cc
  kythe/cxx/extractor/testdata/root_directory_test.cc
  kythe/cxx/extractor/testlib.cc
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/KytheIndexerUnitTest.cc
Due: buildifier, copyright, clang-format

feat(typescript): launch edge reassignment for import statements
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
  kythe/typescript/testdata/default_import_group/default_import.ts
  kythe/typescript/testdata/equals_export_group/equals_import.ts
  kythe/typescript/testdata/imports_enable_edge_reassignment_group/export.ts
  kythe/typescript/testdata/imports_enable_edge_reassignment_group/import.ts
  kythe/typescript/testdata/imports_enable_edge_reassignment_group/module.ts
  kythe/typescript/testdata/imports_group/import.ts
Due: copyright

Fix
  kythe/typescript/indexer.ts
Due: copyright

Fix
  kythe/typescript/testdata/tsx_group/usage.ts
Due: none

feat(typescript): launch edge reassignment for import statements (#5560)
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
  kythe/typescript/testdata/default_import_group/default_import.ts
  kythe/typescript/testdata/equals_export_group/equals_import.ts
  kythe/typescript/testdata/imports_enable_edge_reassignment_group/export.ts
  kythe/typescript/testdata/imports_enable_edge_reassignment_group/import.ts
  kythe/typescript/testdata/imports_enable_edge_reassignment_group/module.ts
  kythe/typescript/testdata/imports_group/import.ts
  kythe/typescript/testdata/tsx_group/usage.ts
Due: copyright

feat(typescript): emit code nodes for tsx attributes
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/tsx.tsx
Due: copyright

feat(typescript): emit code nodes for tsx attributes (#5561)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/tsx.tsx
Due: copyright

feat(go_tools): allow sorting units before files on merge
  kythe/go/platform/tools/kzip/mergecmd/mergecmd.go
Due: copyright, gofmt, golint

feat(typescript): add flag follow aliases when emitting refs
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
  kythe/typescript/testdata/imports_group/import.ts
Due: copyright

feat(typescript): add flag follow aliases when emitting refs (#5563)
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
  kythe/typescript/testdata/imports_group/import.ts
Due: copyright

feat(objc_indexer): output usr for ObjCMethodDecl
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

feat(objc_indexer): output usr for ObjCMethodDecl (#5564)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore: change let to const
  kythe/typescript/testdata/imports_group/module.ts
Due: none

chore: change let to const (#5565)
  kythe/typescript/testdata/imports_group/module.ts
Due: none

feat(go_tools): allow sorting units before files on merge (#5562)
  kythe/go/platform/tools/kzip/mergecmd/mergecmd.go
Due: copyright, gofmt, golint

fix(tools): use vfs.Stat instead of os.Stat in kzip tool
  kythe/go/platform/tools/kzip/infocmd/infocmd.go
Due: copyright, gofmt, golint

fix(tools): use vfs.Stat instead of os.Stat in kzip tool (#5566)
  kythe/go/platform/tools/kzip/infocmd/infocmd.go
Due: copyright, gofmt, golint

chore(verifier): uint32 deprecated in favor of uint32_t
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

chore(verifier): uint32 deprecated in favor of uint32_t (#5567)
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

fix(go_indexer): don't strip extensions from import paths
  kythe/go/extractors/govname/govname.go
  kythe/go/indexer/BUILD
  kythe/go/indexer/testdata/dep.v2.go
  kythe/go/indexer/testdata/dependent.go
Due: buildifier, copyright, gofmt, golint

be more selective about extensions
  kythe/go/extractors/govname/govname.go
Due: copyright, gofmt, golint

fix(go_indexer): don't strip extensions from import paths (#5568)
  kythe/go/extractors/govname/govname.go
  kythe/go/indexer/BUILD
  kythe/go/indexer/testdata/dep.v2.go
  kythe/go/indexer/testdata/dependent.go
Due: buildifier, copyright, gofmt, golint

fix(cxx_extractor): don't crash when modules are on
  kythe/cxx/extractor/cxx_extractor.cc
Due: copyright, clang-format

fix: address comments
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/cxx_extractor.cc
Due: buildifier, copyright, clang-format

fix: add a test case
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/testdata/BUILD
  kythe/cxx/extractor/testdata/header_only_module.cppmap
  kythe/cxx/extractor/testdata/header_only_module.h
  kythe/cxx/extractor/testdata/header_only_module_test.cc
Due: copyright, clang-format

fix: address comments
  kythe/cxx/extractor/cxx_extractor.cc
Due: copyright, clang-format

fix(cxx_extractor): don't crash when modules are on (#5554)
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/testdata/BUILD
  kythe/cxx/extractor/testdata/header_only_module.cppmap
  kythe/cxx/extractor/testdata/header_only_module.h
  kythe/cxx/extractor/testdata/header_only_module_test.cc
Due: buildifier, copyright, clang-format

feat(typescript): add ref/id edges for shorthands
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/object.ts
Due: copyright

feat(typescript): add ref/id edges for shorthand properties (#5569)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/object.ts
Due: copyright

fix(cxx_extractor): don't validate pchs
  kythe/cxx/extractor/cxx_extractor.cc
Due: copyright, clang-format

chore: rename io_bazel repository to avoid conflicts
  external.bzl
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/BUILD
  kythe/web/site/site_docs.bzl
Due: buildifier

fix: include PreprocessorOptions.h
  kythe/cxx/extractor/cxx_extractor.cc
Due: copyright, clang-format

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
