Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

chore: use llvm::bit_width instead of math
  kythe/cxx/indexer/cxx/GraphObserver.h
Due: copyright, clang-format

chore: use llvm::bit_width instead of math (#5522)
  kythe/cxx/indexer/cxx/GraphObserver.h
Due: copyright, clang-format

feat(typescript): add option to pass only source files to program initialization
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
Due: copyright

Fix
  kythe/typescript/indexer.ts
Due: copyright

chore: Record if entries are generated
  kythe/go/services/filetree/filetree.go
  kythe/proto/filetree.proto
  kythe/proto/filetree_go_proto/filetree.pb.go
Due: copyright, clang-format, gofmt, golint

chore: Record if entries are generated (#5524)
  kythe/go/services/filetree/filetree.go
  kythe/proto/filetree.proto
  kythe/proto/filetree_go_proto/filetree.pb.go
Due: copyright, clang-format, gofmt, golint

chore: update golang.org/x/net
  BUILD
  external.bzl
  go.mod
  go.sum
Due: buildifier

chore: remove unused licenses
  third_party/go/BUILD
Due: none

chore: update golang.org/x/net (#5525)
  BUILD
  external.bzl
  go.mod
  go.sum
  third_party/go/BUILD
Due: buildifier

Chore: add generated entry field to serving proto
  kythe/go/serving/filetree/filetree.go
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: copyright, clang-format, gofmt, golint

Chore: add generated entry field to serving proto (#5526)
  kythe/go/serving/filetree/filetree.go
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: copyright, clang-format, gofmt, golint

Impelment more
  kythe/typescript/post_processing.ts
  kythe/typescript/test.ts
  kythe/typescript/testdata/imports_enable_edge_reassignment_group/export.ts
  kythe/typescript/testdata/imports_enable_edge_reassignment_group/import.ts
  kythe/typescript/testdata/imports_enable_edge_reassignment_group/module.ts
Due: copyright

Fix
  kythe/typescript/post_processing.ts
Due: copyright

Fix
  kythe/typescript/BUILD
  kythe/typescript/indexer.ts
  kythe/typescript/kythe.ts
  kythe/typescript/post_processing.ts
Due: buildifier, copyright

Fix
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
Due: copyright

Fix
  .gitignore
  kythe/typescript/indexer.ts
Due: copyright

feat(typescript_indexer): implement ref inlining for imported symbols (#5527)
  .gitignore
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
  kythe/typescript/testdata/imports_enable_edge_reassignment_group/export.ts
  kythe/typescript/testdata/imports_enable_edge_reassignment_group/import.ts
  kythe/typescript/testdata/imports_enable_edge_reassignment_group/module.ts
Due: copyright

feat(serving): support scoped cross-references
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_filter.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: copyright, clang-format, gofmt, golint

feat(serving): support scoped cross-references (#5530)
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_filter.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: copyright, clang-format, gofmt, golint

refactor(cxx_common): add a common SHA256 wrapper
  kythe/cxx/common/BUILD
  kythe/cxx/common/indexing/BUILD
  kythe/cxx/common/indexing/KytheCachingOutput.h
  kythe/cxx/common/sha256_hasher.cc
  kythe/cxx/common/sha256_hasher.h
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/DynamicClaimClient.cc
  kythe/cxx/indexer/cxx/GraphObserver.cc
Due: buildifier, copyright, clang-format

chore: add NOLINT comments
  kythe/cxx/common/sha256_hasher.h
Due: copyright, clang-format

refactor(cxx_common): add a common SHA256 wrapper (#5531)
  kythe/cxx/common/BUILD
  kythe/cxx/common/indexing/BUILD
  kythe/cxx/common/indexing/KytheCachingOutput.h
  kythe/cxx/common/sha256_hasher.cc
  kythe/cxx/common/sha256_hasher.h
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/DynamicClaimClient.cc
  kythe/cxx/indexer/cxx/GraphObserver.cc
Due: buildifier, copyright, clang-format

style: add missing semicolon
  kythe/typescript/indexer.ts
Due: copyright

style: add missing semicolon (#5532)
  kythe/typescript/indexer.ts
Due: copyright

feat(typescript_indexer): clean up unused options and rename allFiles to rootFiles for clarity
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
Due: copyright

feat(typescript_indexer): fix
  kythe/typescript/indexer.ts
Due: copyright

feat(typescript_indexer): add ref/id from constructor calls to class nodes
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/class.ts
Due: copyright

feat(cxx_indexer): prepare to eliminate simple aliases
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/clang_utils.cc
Due: copyright, clang-format

feat(cxx_indexer): prepare to eliminate simple aliases (#5535)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/clang_utils.cc
Due: copyright, clang-format

chore(cxx_indexer): Add optional flag to emit binding with un-stamped anchors
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

chore: Use enum instead of boolean for stamped flag.
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

chore: Rename the enum to match the conventions
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

chore(cxx_indexer): Add optional flag to emit binding with un-stamped anchors (#5536)
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

fix(cxx_extractor): the main source file should be marked always_process
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/testdata/alternate_platform_test.cc
  kythe/cxx/extractor/testdata/build_config_test.cc
  kythe/cxx/extractor/testdata/extract_transcript_test.cc
  kythe/cxx/extractor/testdata/has_include_test.cc
  kythe/cxx/extractor/testdata/indirect_has_include_test.cc
  kythe/cxx/extractor/testdata/installed_dir_test.cc
  kythe/cxx/extractor/testdata/main_source_file_env_dep_test.cc
  kythe/cxx/extractor/testdata/main_source_file_no_env_dep_test.cc
  kythe/cxx/extractor/testdata/metadata_test.cc
  kythe/cxx/extractor/testdata/modules_test.cc
  kythe/cxx/extractor/testdata/root_directory_test.cc
Due: copyright, clang-format

fix(cxx_extractor): the main source file should be marked always_process (#5537)
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/testdata/alternate_platform_test.cc
  kythe/cxx/extractor/testdata/build_config_test.cc
  kythe/cxx/extractor/testdata/extract_transcript_test.cc
  kythe/cxx/extractor/testdata/has_include_test.cc
  kythe/cxx/extractor/testdata/indirect_has_include_test.cc
  kythe/cxx/extractor/testdata/installed_dir_test.cc
  kythe/cxx/extractor/testdata/main_source_file_env_dep_test.cc
  kythe/cxx/extractor/testdata/main_source_file_no_env_dep_test.cc
  kythe/cxx/extractor/testdata/metadata_test.cc
  kythe/cxx/extractor/testdata/modules_test.cc
  kythe/cxx/extractor/testdata/root_directory_test.cc
Due: copyright, clang-format

Use ImmutableMap in place of Map
  kythe/java/com/google/devtools/kythe/platform/shared/FileDataCache.java
Due: copyright, google-java-format

chore(java): Use ImmutableMap in place of Map (#5539)
  kythe/java/com/google/devtools/kythe/platform/shared/FileDataCache.java
Due: copyright, google-java-format

feat(cxx_indexer): add alias-taking semantic
  kythe/cxx/common/kythe_metadata_file.cc
  kythe/cxx/common/kythe_metadata_file.h
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/proto/metadata.proto
Due: copyright, clang-format

fix: generate protos
  kythe/proto/metadata_go_proto/metadata.pb.go
Due: gofmt

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
