Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

fix: fix presubmit (#5098)
  .bazelci/presubmit.yml
Due: none

fix(rust_extractor): anchor vname rule patterns (#5096)
  kythe/rust/extractor/src/vname_util.rs
  kythe/rust/extractor/tests/test.rs
Due: copyright, rustfmt

chore: rustfmt pre-commit check should apply changes
  .pre-commit-config.yaml
Due: none

chore: rustfmt pre-commit check should apply changes (#5099)
  .pre-commit-config.yaml
Due: none

chore: update LLVM
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
  setup.bzl
Due: buildifier, copyright, clang-format

chore: update LLVM (#5100)
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
  setup.bzl
Due: buildifier, copyright, clang-format

fix(rust_indexer): don't use the span file name in reference vnames
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix: use the path from the file vname
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix(rust_indexer): don't use the span file name in reference vnames (#5101)
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix(rust_indexer): don't emit language fact for files
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

Revert "fix(rust_indexer): don't emit language fact for files"
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix(rust_indexer): remove language field from vname for files
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix: remove signature as well
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix(rust_indexer): remove language ans signature fields from vname for files (#5103)
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix(rust_indexer): remove debug log call
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix(rust_indexer): remove debug log call (#5104)
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

release: v0.0.55
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

release: v0.0.55 (#5105)
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

fix: use RUNFILES_DIR for Rust
  tools/rust/runfiles/lib.rs
Due: rustfmt

fix: use RUNFILES_DIR for Rust (#5106)
  tools/rust/runfiles/lib.rs
Due: rustfmt

chore(rust_common): remove Rust runfiles helper library
  kythe/rust/extractor/BUILD
  tools/rust/runfiles/BUILD
  tools/rust/runfiles/lib.rs
  tools/rust/runfiles/testfile.txt
Due: buildifier, rustfmt

feat(rust_indexer): add support for Rust import xrefs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/testdata/xrefs/main.rs
Due: copyright, rustfmt

fix: address comments
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/entries.rs
Due: copyright, rustfmt

fix: address new comments
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/testdata/xrefs/main.rs
Due: copyright, rustfmt

Fix file in ADD command
  kythe/release/Dockerfile
Due: copyright

Fix file in ADD command (#5110)
  kythe/release/Dockerfile
Due: copyright

fix: comments
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix: remove obsolete function and address comments
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix: ensure there are required inputs in the compilation unit
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/mod.rs
Due: copyright, rustfmt

fix: only clone relevant parts of the save analysis
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

feat: include edge in output of `kythe xrefs` for definitions and references
  kythe/go/services/cli/commands_xrefs.go
Due: copyright, gofmt, golint

feat: include edge in output of `kythe xrefs` for definitions and references (#5111)
  kythe/go/services/cli/commands_xrefs.go
Due: copyright, gofmt, golint

Migrate Kythe repository for https://github.com/bazelbuild/rules_rust/issues/591
  kythe/rust/examples/hello_world/BUILD
  kythe/rust/extractor/BUILD
  kythe/rust/fuchsia_extractor/BUILD
  kythe/rust/indexer/BUILD
  tools/rust/extra_action/BUILD
  tools/rust/runfiles/BUILD
Due: buildifier

Migrate Kythe repository for https://github.com/bazelbuild/rules_rust/issues/591 (#5112)
  kythe/rust/examples/hello_world/BUILD
  kythe/rust/extractor/BUILD
  kythe/rust/fuchsia_extractor/BUILD
  kythe/rust/indexer/BUILD
  tools/rust/extra_action/BUILD
  tools/rust/runfiles/BUILD
Due: buildifier

fix(rust_indexer): fix compiler warning before next compiler release
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix(rust_indexer): fix compiler warning before next compiler release (#5114)
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix: emit diagnostic node to top level file
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt
