Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

chore: remove errant parse_headers
  kythe/cxx/verifier/BUILD
Due: buildifier

chore: enable layering_check for C++ (#5404)
  kythe/cxx/common/testdata/BUILD
  kythe/cxx/extractor/proto/testdata/BUILD
  kythe/cxx/extractor/testdata/BUILD
  kythe/cxx/extractor/testdata/build_config_test.cc
  kythe/cxx/extractor/textproto/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/textproto/testdata/BUILD
  kythe/cxx/tools/BUILD
  kythe/cxx/tools/fyi/testdata/BUILD
  kythe/cxx/tools/testdata/BUILD
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/testdata/BUILD
Due: buildifier

feat(tooling): add a flag to ignore conflicting /kythe/code facts
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

chore: include build:prepush config; bump minor version
  .bazelrc
  .bazelversion
  tools/git/test-affected-targets.sh
  version.bzl
Due: buildifier

chore: address comments
  tools/git/test-affected-targets.sh
Due: none

chore: fix the query expression once more
  tools/git/test-affected-targets.sh
Due: none

delint
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore: include build:prepush config; bump minor version (#5408)
  .bazelrc
  .bazelversion
  tools/git/test-affected-targets.sh
  version.bzl
Due: buildifier

more removal
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

feat(tooling): add a flag to ignore conflicting /kythe/code facts (#5409)
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

feat(tooling): mark conflicting /kythe/code facts as ok with ignore flag and add tests
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

chore: update LLVM
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  setup.bzl
Due: buildifier, copyright, clang-format

feat(tooling): mark conflicting /kythe/code facts as ok with ignore flag and add tests (#5410)
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

chore: update LLVM (#5411)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  setup.bzl
Due: buildifier, copyright, clang-format

chore: add test for Go tapp
  kythe/go/indexer/testdata/generics/genericmethod.go
Due: none

chore: add test for Go tapp (#5412)
  kythe/go/indexer/testdata/generics/genericmethod.go
Due: none

chore: canonicalize errors when checking ctx errs
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

chore: canonicalize errors when checking ctx errs (#5414)
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

chore: update LLVM again
  kythe/cxx/indexer/cxx/marked_source.cc
  setup.bzl
Due: buildifier, copyright, clang-format

chore: update LLVM again (#5415)
  kythe/cxx/indexer/cxx/marked_source.cc
  setup.bzl
Due: buildifier, copyright, clang-format

fix(textproto): use ref/file for proto-file schema comments
  kythe/cxx/indexer/textproto/analyzer.cc
  kythe/cxx/indexer/textproto/testdata/schema_comments.pbtxt
Due: copyright, clang-format

fix(textproto): use ref/file for proto-file schema comments (#5416)
  kythe/cxx/indexer/textproto/analyzer.cc
  kythe/cxx/indexer/textproto/testdata/schema_comments.pbtxt
Due: copyright, clang-format

Ignore marked source fact conflicts in extractor_test
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

remove unused abs-related functions
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

update schema
  kythe/docs/schema/schema.txt
Due: copyright

chore: add go_package to metadata.proto
  kythe/proto/metadata.proto
  kythe/proto/metadata_go_proto/metadata.pb.go
Due: copyright, clang-format, gofmt

chore: use stable debian for extractor image
  kythe/extractors/bazel/Dockerfile
Due: copyright

chore: use stable debian for extractor image (#5418)
  kythe/extractors/bazel/Dockerfile
Due: copyright

chore: add go_package to metadata.proto (#5417)
  kythe/proto/metadata.proto
  kythe/proto/metadata_go_proto/metadata.pb.go
Due: copyright, clang-format, gofmt

chore(java): remove abs/absvar support
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/base/NodeKind.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/DefaultCorpus.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Deprecation.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/DeprecationAnnotations.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Files.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericClass.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericComments.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericMethod.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericMethodRef.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericsAbs.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Imports.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Interfaces.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Jvm.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Lambdas.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/MarkedSource.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Selectors.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/WildcardMethod.java
Due: copyright, google-java-format

delint
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

chore(java): remove abs/absvar support (#5419)
  kythe/docs/schema/schema.txt
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/base/NodeKind.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/DefaultCorpus.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Deprecation.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/DeprecationAnnotations.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Files.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericClass.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericComments.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericMethod.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericMethodRef.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericsAbs.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Imports.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Interfaces.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Jvm.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Lambdas.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/MarkedSource.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Selectors.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/WildcardMethod.java
Due: copyright, google-java-format

chore: remove most remaining mentions of abs/absvar
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/marked_source/ms_absvar.cc
  kythe/cxx/indexer/cxx/testdata/marked_source/ms_tvar.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_class_inst_implicit.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_pack_fn_decl.cc
  kythe/go/serving/tools/testdata/kwazthis_test.sh
  kythe/go/util/schema/indexdata.go
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Generics.java
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
  kythe/typescript/kythe.ts
Due: copyright, clang-format, gofmt, golint

chore: remove most remaining mentions of abs/absvar (#5421)
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/marked_source/ms_absvar.cc
  kythe/cxx/indexer/cxx/testdata/marked_source/ms_tvar.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_class_inst_implicit.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_pack_fn_decl.cc
  kythe/go/serving/tools/testdata/kwazthis_test.sh
  kythe/go/util/schema/indexdata.go
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Generics.java
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
  kythe/typescript/kythe.ts
Due: copyright, clang-format, gofmt, golint

perf(serving): reduce patching to offsets; drop text
  kythe/go/util/span/span.go
Due: copyright, gofmt, golint

perf(serving): reduce patching to offsets; drop text (#5422)
  kythe/go/util/span/span.go
Due: copyright, gofmt, golint

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
