Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

refactor(kcd): use Revision instead of string params (#5080)
  kythe/go/platform/kcd/kcd.go
  kythe/go/platform/kcd/locked/locked.go
  kythe/go/platform/kcd/memdb/memdb.go
  kythe/go/platform/kcd/testutil/testutil.go
Due: copyright, gofmt, golint

[DO NOT SUBMIT] Example fixups to rust indexer that work for Fuchsia
  kythe/rust/fuchsia_extractor/src/bin/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

[fuchsia_extractor] Don't pack rlib files by default
  kythe/rust/fuchsia_extractor/src/bin/main.rs
Due: copyright, rustfmt

[fuchsia_extractor] Don't pack rlib files by default (#5085)
  kythe/rust/fuchsia_extractor/src/bin/main.rs
Due: copyright, rustfmt

build: update to go 1.17
  external.bzl
Due: buildifier

build: update to go 1.17 (#5086)
  external.bzl
Due: buildifier

release: v0.0.54
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

release: v0.0.54 (#5087)
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

fix(rust_indexer): fix path confusion in vname and offset lookups
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/offset.rs
Due: copyright, rustfmt

fix: clippy lints
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix: remove log statement
  kythe/rust/indexer/src/indexer/offset.rs
Due: copyright, rustfmt

fix: revert to looping through source files
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

chore(rust_indexer): fix syntax for new compiler version
  kythe/rust/indexer/src/bin/proxy/main.rs
Due: copyright, rustfmt

chore(rust_indexer): fix syntax for new compiler version (#5089)
  kythe/rust/indexer/src/bin/proxy/main.rs
Due: copyright, rustfmt

fix(rust_indexer): fix path confusion in vname and offset lookups (#5088)
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix(rust_extractor): add extractor script to release
  kythe/release/BUILD
  kythe/release/release.BUILD
  kythe/release/rust_extractor.sh
Due: buildifier, copyright

fix(rust_extractor): fix extractor script functionality in Docker
  kythe/release/BUILD
  kythe/release/bazel_rust_extractor_script.sh
  kythe/release/release.BUILD
Due: buildifier, copyright

feat(cxx_indexer): emit ref edges along with ref/writes edges
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

fix: test update for transitional change
  kythe/cxx/indexer/cxx/testdata/df/df_unary.cc
Due: none

feat(cxx_indexer): emit ref edges along with ref/writes edges (#5091)
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/testdata/df/df_unary.cc
Due: copyright, clang-format

Add Rust extractor script to the Kythe release and docker build (#5090)
  kythe/release/BUILD
  kythe/release/bazel_rust_extractor_script.sh
  kythe/release/release.BUILD
Due: buildifier, copyright

build: remove host_javabase parameter provided by java_toolchain
  tools/build_rules/verifier_test/java_verifier_test.bzl
Due: buildifier

rm 1 more
  tools/build_rules/verifier_test/java_verifier_test.bzl
Due: buildifier

build: remove host_javabase parameter provided by java_toolchain (#5092)
  tools/build_rules/verifier_test/java_verifier_test.bzl
Due: buildifier

Upgrade protocol buffers to 3.18.1.
  external.bzl
  kythe/cxx/common/json_proto.cc
Due: buildifier, copyright, clang-format

Fix tests for new string setters.
  kythe/cxx/indexer/cxx/testdata/proto/proto.cc
  kythe/cxx/indexer/cxx/testdata/proto/proto5.cc
Due: none

Regenerate proto files.
  kythe/go/util/riegeli/riegeli_test_go_proto/riegeli_test.pb.go
  kythe/proto/analysis_go_proto/analysis.pb.go
  kythe/proto/analysis_service_go_proto/analysis_service.pb.go
  kythe/proto/buildinfo_go_proto/buildinfo.pb.go
  kythe/proto/claim_go_proto/claim.pb.go
  kythe/proto/common_go_proto/common.pb.go
  kythe/proto/cxx_go_proto/cxx.pb.go
  kythe/proto/driver_go_proto/driver.pb.go
  kythe/proto/entryset_go_proto/entryset.pb.go
  kythe/proto/explore_go_proto/explore.pb.go
  kythe/proto/extraction_config_go_proto/extraction_config.pb.go
  kythe/proto/filecontext_go_proto/filecontext.pb.go
  kythe/proto/filetree_go_proto/filetree.pb.go
  kythe/proto/generated_message_info_go_proto/generated_message_info.pb.go
  kythe/proto/go_go_proto/go.pb.go
  kythe/proto/graph_go_proto/graph.pb.go
  kythe/proto/graph_serving_go_proto/graph_serving.pb.go
  kythe/proto/identifier_go_proto/identifier.pb.go
  kythe/proto/internal_go_proto/internal.pb.go
  kythe/proto/java_go_proto/java.pb.go
  kythe/proto/link_go_proto/link.pb.go
  kythe/proto/metadata_go_proto/metadata.pb.go
  kythe/proto/pipeline_go_proto/pipeline.pb.go
  kythe/proto/repo_go_proto/repo.pb.go
  kythe/proto/schema_go_proto/schema.pb.go
  kythe/proto/serving_go_proto/serving.pb.go
  kythe/proto/status_service_go_proto/status_service.pb.go
  kythe/proto/storage_go_proto/storage.pb.go
  kythe/proto/storage_service_go_proto/storage_service.pb.go
  kythe/proto/xref_go_proto/xref.pb.go
  kythe/proto/xref_serving_go_proto/xref_serving.pb.go
Due: gofmt, golint

Upgrade protocol buffers to 3.18.1. (#5093)
  external.bzl
  kythe/cxx/common/json_proto.cc
  kythe/cxx/indexer/cxx/testdata/proto/proto.cc
  kythe/cxx/indexer/cxx/testdata/proto/proto5.cc
  kythe/go/util/riegeli/riegeli_test_go_proto/riegeli_test.pb.go
  kythe/proto/analysis_go_proto/analysis.pb.go
  kythe/proto/analysis_service_go_proto/analysis_service.pb.go
  kythe/proto/buildinfo_go_proto/buildinfo.pb.go
  kythe/proto/claim_go_proto/claim.pb.go
  kythe/proto/common_go_proto/common.pb.go
  kythe/proto/cxx_go_proto/cxx.pb.go
  kythe/proto/driver_go_proto/driver.pb.go
  kythe/proto/entryset_go_proto/entryset.pb.go
  kythe/proto/explore_go_proto/explore.pb.go
  kythe/proto/extraction_config_go_proto/extraction_config.pb.go
  kythe/proto/filecontext_go_proto/filecontext.pb.go
  kythe/proto/filetree_go_proto/filetree.pb.go
  kythe/proto/generated_message_info_go_proto/generated_message_info.pb.go
  kythe/proto/go_go_proto/go.pb.go
  kythe/proto/graph_go_proto/graph.pb.go
  kythe/proto/graph_serving_go_proto/graph_serving.pb.go
  kythe/proto/identifier_go_proto/identifier.pb.go
  kythe/proto/internal_go_proto/internal.pb.go
  kythe/proto/java_go_proto/java.pb.go
  kythe/proto/link_go_proto/link.pb.go
  kythe/proto/metadata_go_proto/metadata.pb.go
  kythe/proto/pipeline_go_proto/pipeline.pb.go
  kythe/proto/repo_go_proto/repo.pb.go
  kythe/proto/schema_go_proto/schema.pb.go
  kythe/proto/serving_go_proto/serving.pb.go
  kythe/proto/status_service_go_proto/status_service.pb.go
  kythe/proto/storage_go_proto/storage.pb.go
  kythe/proto/storage_service_go_proto/storage_service.pb.go
  kythe/proto/xref_go_proto/xref.pb.go
  kythe/proto/xref_serving_go_proto/xref_serving.pb.go
Due: buildifier, copyright, clang-format, gofmt, golint

Increase visibility for https://github.com/kythe/kythe-contrib.
  kythe/go/platform/tools/dedup_stream/BUILD
  kythe/java/com/google/devtools/kythe/util/BUILD
  kythe/java/com/google/devtools/kythe/util/schema/BUILD
  kythe/proto/BUILD
Due: buildifier

Run buildifier.
  kythe/java/com/google/devtools/kythe/util/BUILD
  kythe/java/com/google/devtools/kythe/util/schema/BUILD
  kythe/proto/BUILD
Due: buildifier

Increase visibility for https://github.com/kythe/kythe-contrib. (#5094)
  kythe/go/platform/tools/dedup_stream/BUILD
  kythe/java/com/google/devtools/kythe/util/BUILD
  kythe/java/com/google/devtools/kythe/util/schema/BUILD
  kythe/proto/BUILD
Due: buildifier

chore(go): use newer version of go in extraction docker image
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

chore(go): use newer version of go in extraction docker image (#5095)
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

fix(rust_extractor): anchor vname rule patterns
  kythe/rust/extractor/src/vname_util.rs
  kythe/rust/extractor/tests/test.rs
Due: copyright, rustfmt

fix: adjust regex in simple_vnames.json
  kythe/data/simple_vnames.json
Due: none

fix: fix presubmit
  .bazelci/presubmit.yml
Due: none

fix: fix command
  .bazelci/presubmit.yml
Due: none

fix: use apt instead
  .bazelci/presubmit.yml
Due: none

fix: try using 1804
  .bazelci/presubmit.yml
Due: none

fix: revert to 2004
  .bazelci/presubmit.yml
Due: none
