Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

feat(schema): add java thunk example
  kythe/docs/schema/schema.txt
Due: copyright

feat(schema): add /thunk edges and clean up ref/writes (#5848)
  kythe/docs/schema/schema.txt
Due: copyright

feat(proto_indexer): link proto field types in MarkedSource
  kythe/cxx/indexer/proto/BUILD
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/marked_source.h
  kythe/cxx/indexer/proto/testdata/basic/message-fields.proto
Due: buildifier, copyright, clang-format

build: update jdk to a working version
  setup.bzl
Due: buildifier

checksum
  setup.bzl
Due: buildifier

build: update jdk to a working version (#5858)
  setup.bzl
Due: buildifier

feat(proto_indexer): link proto field types in MarkedSource (#5857)
  kythe/cxx/indexer/proto/BUILD
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/marked_source.h
  kythe/cxx/indexer/proto/testdata/basic/message-fields.proto
Due: buildifier, copyright, clang-format

feat(verifier): Print phase time information from the verifier.
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/verifier_main.cc
Due: buildifier, copyright, clang-format

feat(verifier): Print phase time information from the verifier. (#5859)
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/verifier_main.cc
Due: buildifier, copyright, clang-format

feat: allow deeper nested MarkedSource rendering
  kythe/cxx/doc/html_renderer.cc
  kythe/go/util/markedsource/markedsource.go
  kythe/java/com/google/devtools/kythe/doc/MarkedSourceRenderer.java
Due: copyright, google-java-format, clang-format, gofmt, golint

feat: allow deeper nested MarkedSource rendering (#5862)
  kythe/cxx/doc/html_renderer.cc
  kythe/go/util/markedsource/markedsource.go
  kythe/java/com/google/devtools/kythe/doc/MarkedSourceRenderer.java
Due: copyright, google-java-format, clang-format, gofmt, golint

feat(cxx_indexer): Index dependent template specialization types.
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/template/template_dependent_template_specialization_type.cc
Due: copyright, clang-format

feat(cxx_indexer): Index dependent template specialization types. (#5863)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/template/template_dependent_template_specialization_type.cc
Due: copyright, clang-format

feat(java): log the CU digest at start of indexing
  kythe/java/com/google/devtools/kythe/analyzers/base/AbstractCompilationAnalyzer.java
Due: copyright, google-java-format

fix
  kythe/java/com/google/devtools/kythe/analyzers/base/AbstractCompilationAnalyzer.java
Due: copyright, google-java-format

delint
  kythe/java/com/google/devtools/kythe/analyzers/base/AbstractCompilationAnalyzer.java
Due: copyright, google-java-format

feat(java): log the CU digest at start of indexing (#5865)
  kythe/java/com/google/devtools/kythe/analyzers/base/AbstractCompilationAnalyzer.java
Due: copyright, google-java-format

feat(proto_indexer): link the rest of the MarkedSource
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/marked_source.h
  kythe/cxx/indexer/proto/testdata/basic/enums.proto
  kythe/cxx/indexer/proto/testdata/basic/nested-message.proto
  kythe/cxx/indexer/proto/testdata/basic/oneof.proto
  kythe/cxx/indexer/proto/testdata/basic/services.proto
Due: copyright, clang-format

feat(proto_indexer): link the rest of the MarkedSource (#5866)
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/marked_source.h
  kythe/cxx/indexer/proto/testdata/basic/enums.proto
  kythe/cxx/indexer/proto/testdata/basic/nested-message.proto
  kythe/cxx/indexer/proto/testdata/basic/oneof.proto
  kythe/cxx/indexer/proto/testdata/basic/services.proto
Due: copyright, clang-format

chore: add usr for ObjC protocols
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore: add usr for ObjC protocols (#5867)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

fix(java_indexer): use extant JDK21 shim in one more place
  kythe/java/com/google/devtools/kythe/platform/java/helpers/JCTreeScanner.java
  setup.bzl
Due: buildifier, copyright, google-java-format

fix(java_indexer): use extant JDK21 shim in one more place (#5868)
  kythe/java/com/google/devtools/kythe/platform/java/helpers/JCTreeScanner.java
  setup.bzl
Due: buildifier, copyright, google-java-format

chore(cxx_common): migrate many locations to FileEntryRef
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/path_utils.cc
  kythe/cxx/extractor/path_utils.h
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerUnitTest.cc
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/cxx/KytheVFS.h
  kythe/cxx/tools/fyi/fyi.cc
Due: copyright, clang-format

chore(cxx_common): update LLVM and migrate some stragglers
  kythe/cxx/extractor/cxx_extractor.cc
  setup.bzl
Due: buildifier, copyright, clang-format

chore(cxx_common): update LLVM w/ concomitant FileEntryRef migration (#5869)
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/path_utils.cc
  kythe/cxx/extractor/path_utils.h
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerUnitTest.cc
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/cxx/KytheVFS.h
  kythe/cxx/tools/fyi/fyi.cc
  setup.bzl
Due: buildifier, copyright, clang-format

chore(java_common): update rules_java and fix java_extractor_test
  .bazelrc
  external.bzl
  kythe/java/com/google/devtools/kythe/analyzers/java/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/ReflectiveJdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  maven_install.json
  setup.bzl
  tools/javacopts.bazelrc
Due: buildifier, copyright, google-java-format

chore: include java21 tests in presubmit
  kythe/release/cloudbuild/presubmit.yaml
Due: none

chore: rename java21 presubmit test
  kythe/release/cloudbuild/presubmit.yaml
Due: none

chore: update rules_java and fix extractor tests (#5870)
  .bazelrc
  external.bzl
  kythe/java/com/google/devtools/kythe/analyzers/java/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/ReflectiveJdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  kythe/release/cloudbuild/presubmit.yaml
  maven_install.json
  setup.bzl
  tools/javacopts.bazelrc
Due: buildifier, copyright, google-java-format

chore(java_extractor): add generic bounds to Class
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/ReflectiveJdkCompatibilityShims.java
Due: copyright, google-java-format

chore(java_extractor): add generic bounds to Class (#5871)
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/ReflectiveJdkCompatibilityShims.java
Due: copyright, google-java-format

Avoid creating dangling edges when aliasing is on.
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/clang_utils.cc
  kythe/cxx/indexer/cxx/clang_utils.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/template/template_class_inst_explicit_aliasing.cc
  kythe/cxx/indexer/cxx/testdata/template/template_class_ref_aliasing.cc
  kythe/cxx/indexer/cxx/testdata/template/template_nested_name_aliasing.cc
  kythe/cxx/indexer/cxx/testdata/template/template_rec_inherit_aliasing.cc
  kythe/cxx/indexer/cxx/testdata/template/template_rec_override_aliasing.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

feat: allow MarkedSource to remove itself from includes
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/rendered.go
  kythe/go/util/markedsource/resolve.go
  kythe/proto/common.proto
Due: copyright, clang-format, gofmt, golint

update proto
  kythe/proto/common_go_proto/common.pb.go
Due: gofmt

Avoid creating dangling edges when aliasing is on. (#5872)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/clang_utils.cc
  kythe/cxx/indexer/cxx/clang_utils.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/template/template_class_inst_explicit_aliasing.cc
  kythe/cxx/indexer/cxx/testdata/template/template_class_ref_aliasing.cc
  kythe/cxx/indexer/cxx/testdata/template/template_nested_name_aliasing.cc
  kythe/cxx/indexer/cxx/testdata/template/template_rec_inherit_aliasing.cc
  kythe/cxx/indexer/cxx/testdata/template/template_rec_override_aliasing.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

fix tests
  kythe/go/indexer/testdata/code/interface.go
  kythe/go/indexer/testdata/code/methdecl.go
  kythe/go/indexer/testdata/code/structtype.go
  kythe/go/indexer/testdata/generics/genericfunc.go
  kythe/go/indexer/testdata/generics/genericinterface.go
  kythe/go/indexer/testdata/generics/genericmethod.go
  kythe/go/indexer/testdata/generics/genericstruct.go
Due: none

fix(schema): remove ref/call/thunk
  kythe/docs/schema/schema.txt
Due: copyright
