Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

feat(go_indexer): add support for using file as top-level caller
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/packageinit_file.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: buildifier, copyright, gofmt, golint

feat(go_indexer): add support for using file as top-level caller (#5637)
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/packageinit_file.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: buildifier, copyright, gofmt, golint

fix(cxx_common): have filesets share underlying file representation
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/bazel_artifact_selector.cc
  kythe/cxx/extractor/bazel_artifact_selector.h
Due: buildifier, copyright, clang-format

feat(java_indexer): use file as scope for top-level anchors
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/analyzers/java/TreeContext.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Scopes.java
Due: copyright, google-java-format

fix(cxx_common): attempt to reduce memory usage of bazel artifact selector (#5638)
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/bazel_artifact.h
  kythe/cxx/extractor/bazel_artifact_selector.cc
  kythe/cxx/extractor/bazel_artifact_selector.h
Due: buildifier, copyright, clang-format

fix(cxx_verifier): ensure primitive members are always initialized
  kythe/cxx/verifier/assertions.h
Due: copyright, clang-format

fix(cxx_verifier): ensure primitive members are always initialized (#5640)
  kythe/cxx/verifier/assertions.h
Due: copyright, clang-format

feat(java_indexer): use file as scope for top-level anchors (#5639)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/analyzers/java/TreeContext.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Scopes.java
Due: copyright, google-java-format

fix(go_indexer): do not mark map keys as ref/writes
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/writes.go
Due: copyright, gofmt, golint

fix(go_indexer): do not mark map keys as ref/writes (#5641)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/writes.go
Due: copyright, gofmt, golint

feat(typescript_indexer): improve marked source CONTEXT nodes
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/marked_source/class.ts
  kythe/typescript/testdata/marked_source/enum.ts
  kythe/typescript/testdata/marked_source/function.ts
  kythe/typescript/testdata/marked_source/property.ts
Due: copyright

refactor(go_indexer): use semantic log pkg
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/indexer.go
  kythe/go/indexer/markedsource.go
  kythe/go/util/log/BUILD
  kythe/go/util/log/log.go
Due: buildifier, copyright, gofmt, golint

cleanup BUILD
  kythe/go/util/log/BUILD
Due: buildifier

refactor(go_indexer): use semantic log pkg (#5643)
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/indexer.go
  kythe/go/indexer/markedsource.go
  kythe/go/util/log/BUILD
  kythe/go/util/log/log.go
Due: buildifier, copyright, gofmt, golint

fix(cxx_common): select artifacts from failed targets
  kythe/cxx/extractor/bazel_artifact_selector.cc
  kythe/cxx/extractor/bazel_artifact_selector_test.cc
Due: copyright, clang-format

fix(cxx_common): select artifacts from failed targets (#5644)
  kythe/cxx/extractor/bazel_artifact_selector.cc
  kythe/cxx/extractor/bazel_artifact_selector_test.cc
Due: copyright, clang-format

feat(typescript_indexer): improve marked source CONTEXT nodes (#5642)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/marked_source/class.ts
  kythe/typescript/testdata/marked_source/enum.ts
  kythe/typescript/testdata/marked_source/function.ts
  kythe/typescript/testdata/marked_source/property.ts
Due: copyright

fix(verifier): parameterize tests over solver
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

f
  kythe/go/localrun/localrun.go
Due: copyright, gofmt, golint

fix(verifier): parameterize tests over solver (#5645)
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

build: add java toolchain to verifier tests
  tools/build_rules/verifier_test/java_verifier_test.bzl
Due: buildifier

build: add java toolchain to verifier tests (#5647)
  tools/build_rules/verifier_test/java_verifier_test.bzl
Due: buildifier

missing dep
  kythe/extractors/openjdk11/extract/BUILD
  kythe/extractors/openjdk11/java_wrapper/BUILD
  kythe/release/appengine/default/BUILD
Due: buildifier

more dep
  kythe/extractors/gcp/examples/restcheck/BUILD
Due: buildifier

chore: undo proto usage change
  kythe/go/util/riegeli/riegeli_test.go
Due: copyright, gofmt, golint

chore: undo proto usage change (#5650)
  kythe/go/util/riegeli/riegeli_test.go
Due: copyright, gofmt, golint

feat(cxx_common): use a more compact serialization and in-memory format for selection
  external.bzl
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/bazel_artifact.h
  kythe/cxx/extractor/bazel_artifact_selector.cc
  kythe/cxx/extractor/bazel_artifact_selector.h
  kythe/cxx/extractor/bazel_artifact_selector_test.cc
  kythe/proto/BUILD
  kythe/proto/bazel_artifact_selector_v2.proto
Due: buildifier, copyright, clang-format

feat(cxx_common): use a more compact serialization and in-memory format for selection (#5652)
  external.bzl
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/bazel_artifact.h
  kythe/cxx/extractor/bazel_artifact_selector.cc
  kythe/cxx/extractor/bazel_artifact_selector.h
  kythe/cxx/extractor/bazel_artifact_selector_test.cc
  kythe/proto/BUILD
  kythe/proto/bazel_artifact_selector_v2.proto
Due: buildifier, copyright, clang-format

chore: update re2 post abseil-branch merge
  external.bzl
  kythe/cxx/indexer/textproto/analyzer.cc
Due: buildifier, copyright, clang-format

chore: update re2 post abseil-branch merge (#5653)
  external.bzl
  kythe/cxx/indexer/textproto/analyzer.cc
Due: buildifier, copyright, clang-format

chore: remove obsolete non-submission comment
  kythe/cxx/extractor/bazel_artifact_selector.h
Due: copyright, clang-format

chore: remove obsolete non-submission comment (#5654)
  kythe/cxx/extractor/bazel_artifact_selector.h
Due: copyright, clang-format

fix(cxx_common): fix and test minor issue with fileset id 0
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/bazel_artifact_selector.cc
  kythe/cxx/extractor/bazel_artifact_selector_test.cc
Due: buildifier, copyright, clang-format

fix(cxx_common): fix and test minor issue with fileset id 0 (#5655)
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/bazel_artifact_selector.cc
  kythe/cxx/extractor/bazel_artifact_selector_test.cc
Due: buildifier, copyright, clang-format

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
