Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

feat(java_indexer): implement ref/writes edges
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Annotations.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Definitions.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Selectors.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Writes.java
Due: copyright, google-java-format

fix: add test for "this"
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Writes.java
Due: none

fix: fix test for "this"
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Writes.java
Due: none

feat(serving): support marshalling Patchers
  kythe/go/util/span/BUILD
  kythe/go/util/span/span.go
  kythe/go/util/span/span_test.go
  kythe/proto/serving.proto
Due: buildifier, copyright, clang-format, gofmt, golint

./kythe/proto/generate_protobufs.py
  kythe/proto/serving_go_proto/serving.pb.go
Due: gofmt

feat(serving): support marshalling Patchers (#5424)
  kythe/go/util/span/BUILD
  kythe/go/util/span/span.go
  kythe/go/util/span/span_test.go
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: buildifier, copyright, clang-format, gofmt, golint

feat: support chained writes and writes on the RHS
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Writes.java
Due: copyright, google-java-format

chore: wip progress towards JDK17 compatability
  kythe/java/com/google/devtools/kythe/analyzers/java/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/AbstractJavacWrapper.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Javac9Wrapper.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Jdk15CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Jdk9CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/JdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/CompilationUnitPathFileManager.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/JCTreeScanner.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk15CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk9CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/JdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/SyntaxPreservingScanner.java
  kythe/javatests/com/google/devtools/kythe/extractors/java/BUILD
Due: buildifier, copyright, google-java-format

fix(rust_common): fix clippy lints of new rust version
  Cargo.Bazel.lock
  cargo-bazel-lock.json
  external.bzl
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/indexer/src/writer.rs
Due: buildifier, copyright, rustfmt

feat(java_indexer): implement ref/writes edges (#5423)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Annotations.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Definitions.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Selectors.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Writes.java
Due: copyright, google-java-format

fix: fix lints in extra_action tool
  tools/rust/extra_action/src/main.rs
Due: rustfmt

fix(rust_common): fix clippy lints of new rust version (#5425)
  Cargo.Bazel.lock
  cargo-bazel-lock.json
  external.bzl
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/indexer/src/writer.rs
  tools/rust/extra_action/src/main.rs
Due: buildifier, copyright, rustfmt

chore: add conditional support for JDK17
  buildenv/java/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/SyntaxPreservingScanner.java
Due: buildifier, copyright, google-java-format

chore: workaround for incompatible-types failure
  kythe/java/com/google/devtools/kythe/platform/java/helpers/SyntaxPreservingScanner.java
Due: copyright, google-java-format

chore: tag non-default targets with manual and remove vestigial cpu_group
  .bazelrc
  buildenv/BUILD
  kythe/cxx/extractor/testdata/BUILD
  kythe/cxx/indexer/cxx/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore: fix buildifier format
  buildenv/java/BUILD
Due: buildifier

chore: bump bazelminversion to deal with cache errors
  .bazelminversion
  version.bzl
Due: buildifier

fix(proto_indexer): properly handle comments that end with an empty commented line
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/testdata/basic/doc.proto
Due: copyright, clang-format

fix(proto_indexer): properly handle comments that end with an empty commented line (#5427)
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/testdata/basic/doc.proto
Due: copyright, clang-format

chore: add compatibility shims to work with Java 17+ (#5426)
  .bazelminversion
  .bazelrc
  buildenv/BUILD
  buildenv/java/BUILD
  kythe/cxx/extractor/testdata/BUILD
  kythe/cxx/indexer/cxx/BUILD
  kythe/java/com/google/devtools/kythe/analyzers/java/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/AbstractJavacWrapper.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Javac9Wrapper.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Jdk15CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Jdk9CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/JdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/CompilationUnitPathFileManager.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/JCTreeScanner.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk15CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk9CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/JdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/SyntaxPreservingScanner.java
  kythe/javatests/com/google/devtools/kythe/extractors/java/BUILD
  tools/build_rules/verifier_test/cc_indexer_test.bzl
  version.bzl
Due: buildifier, copyright, google-java-format

feat(java_common): include reflective fallback for compatibility shims
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/AbstractJavacWrapper.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Jdk15CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Jdk9CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/JdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/ReflectiveJdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/JCTreeScanner.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk15CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/JdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/ReflectiveJdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/util/BUILD
  kythe/java/com/google/devtools/kythe/util/OrderedCompatibilityService.java
Due: buildifier, copyright, google-java-format

chore: suppress erroneous CheckExceptionNotThrown failure
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/ReflectiveJdkCompatibilityShims.java
Due: copyright, google-java-format

feat(java_common): include reflective fallback for compatibility shims (#5428)
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/AbstractJavacWrapper.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Jdk15CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Jdk9CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/JdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/ReflectiveJdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/JCTreeScanner.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk15CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/JdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/ReflectiveJdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/util/BUILD
  kythe/java/com/google/devtools/kythe/util/OrderedCompatibilityService.java
Due: buildifier, copyright, google-java-format

chore: address some warnings and typos
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/ReflectiveJdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/CompilationUnitPathFileManager.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk9CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/ReflectiveJdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/util/OrderedCompatibilityService.java
Due: copyright, google-java-format

chore: address some warnings and typos (#5429)
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/ReflectiveJdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/CompilationUnitPathFileManager.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk9CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/ReflectiveJdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/util/OrderedCompatibilityService.java
Due: copyright, google-java-format

chore: remove unnecessary suppression
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/ReflectiveJdkCompatibilityShims.java
Due: copyright, google-java-format

chore: remove unnecessary suppression (#5430)
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/ReflectiveJdkCompatibilityShims.java
Due: copyright, google-java-format

chore: add support for patching full Spans
  kythe/go/serving/xrefs/columnar.go
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/util/span/span.go
  kythe/go/util/span/span_test.go
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: copyright, clang-format, gofmt, golint

feat(java_common): improve JDK19 source compatibility
  WORKSPACE
  buildenv/java/BUILD
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheDocTreeScanner.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
Due: buildifier, copyright, google-java-format

feat(java_common): improve JDK19 source compatibility (#5432)
  WORKSPACE
  buildenv/java/BUILD
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheDocTreeScanner.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
Due: buildifier, copyright, google-java-format

chore: add support for patching full Spans (#5431)
  kythe/go/serving/xrefs/columnar.go
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/util/span/span.go
  kythe/go/util/span/span_test.go
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: copyright, clang-format, gofmt, golint

fix(java): move runtime dependencies to runtime_deps
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
Due: buildifier

perf: update patcher to use binary search
  kythe/go/util/span/BUILD
  kythe/go/util/span/span.go
  kythe/go/util/span/span_test.go
Due: buildifier, copyright, gofmt, golint

fix(java): move runtime dependencies to runtime_deps (#5433)
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
Due: buildifier

fix(java_indexer): fix marked source test in JDK19
  kythe/java/com/google/devtools/kythe/analyzers/java/MarkedSources.java
Due: copyright, google-java-format

fix(java_indexer): fix marked source test in JDK19 (#5435)
  kythe/java/com/google/devtools/kythe/analyzers/java/MarkedSources.java
Due: copyright, google-java-format

feat(cxx_indexer): support importing protobuf metadata
  kythe/cxx/common/protobuf_metadata_file.cc
Due: copyright, clang-format

chore: allow custom java repository to work with bazel 6.x
  WORKSPACE
  setup.bzl
Due: buildifier

chore: allow custom java repository to work with bazel 6.x (#5437)
  WORKSPACE
  setup.bzl
Due: buildifier

fix: passthrough nil Spans without work
  kythe/go/util/span/span.go
  kythe/go/util/span/span_test.go
Due: copyright, gofmt, golint
