Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

fix: don't use -1 for whole file offsets (#6043)
  kythe/java/com/google/devtools/kythe/platform/shared/ProtobufMetadataLoader.java
Due: copyright, google-java-format

feat: add FILE_DEFINES for files that generate files
  kythe/java/com/google/devtools/kythe/platform/shared/KytheInlineMetadataLoader.java
  kythe/proto/metadata.proto
Due: copyright, google-java-format, clang-format

fix: expression
  kythe/java/com/google/devtools/kythe/platform/shared/KytheInlineMetadataLoader.java
Due: copyright, google-java-format

fix: aha, you have to run :update, not build it
  kythe/proto/metadata_go_proto/metadata.pb.go
Due: gofmt

feat: add FILE_DEFINES for files that generate files (#6044)
  kythe/java/com/google/devtools/kythe/platform/shared/KytheInlineMetadataLoader.java
  kythe/proto/metadata.proto
  kythe/proto/metadata_go_proto/metadata.pb.go
Due: copyright, google-java-format, clang-format, gofmt

feat(go_indexer): add references to literal flag lookups
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/flags.go
Due: copyright, gofmt, golint

feat(go_indexer): add references to literal flag lookups (#6045)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/flags.go
Due: copyright, gofmt, golint

fix(go_indexer): avoid nil panic
  kythe/go/indexer/markedsource.go
Due: copyright, gofmt, golint

fix(go_indexer): avoid nil panic (#6046)
  kythe/go/indexer/markedsource.go
Due: copyright, gofmt, golint

chore: add name node kind and named edge kind
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
Due: copyright, clang-format

chore: add name node kind and named edge kind (#6047)
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
Due: copyright, clang-format

feat(go_indexer): mark flag as deprecated if documented as such
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/flags.go
Due: copyright, gofmt, golint

feat(go_indexer): mark flag as deprecated if documented as such (#6048)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/flags.go
Due: copyright, gofmt, golint

feat(java): Switch to add_exports
  .bazelminversion
  .bazelversion
  kythe/java/com/google/devtools/kythe/analyzers/java/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/BUILD
  kythe/javatests/com/google/devtools/kythe/extractors/java/BUILD
  kythe/javatests/com/google/devtools/kythe/platform/java/BUILD
  version.bzl
Due: buildifier

feat(java): Switch to add_exports (#6049)
  .bazelminversion
  .bazelversion
  kythe/java/com/google/devtools/kythe/analyzers/java/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/BUILD
  kythe/javatests/com/google/devtools/kythe/extractors/java/BUILD
  kythe/javatests/com/google/devtools/kythe/platform/java/BUILD
  version.bzl
Due: buildifier

fix(cxx_extractor): allow empty PathEntry flag values
  kythe/cxx/common/path_utils.cc
Due: copyright, clang-format

feat(go_indexer): add doc link references
  kythe/go/indexer/BUILD
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/docs.go
  kythe/go/util/schema/edges/edges.go
Due: buildifier, copyright, gofmt, golint

skip empty
  kythe/cxx/common/path_utils.cc
Due: copyright, clang-format

feat(go_indexer): add doc link references (#6051)
  kythe/go/indexer/BUILD
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/docs.go
  kythe/go/util/schema/edges/edges.go
Due: buildifier, copyright, gofmt, golint

fix(website deployment): skip deployment if website is up-to-date
  kythe/release/appengine/default/deploy.sh
Due: copyright

fix(cxx_extractor): allow empty PathEntry flag values (#6050)
  kythe/cxx/common/path_utils.cc
Due: copyright, clang-format

exit
  kythe/release/appengine/default/deploy.sh
Due: copyright

then
  kythe/release/appengine/default/deploy.sh
Due: copyright

fix(website deployment): skip deployment if website is up-to-date (#6052)
  kythe/release/appengine/default/deploy.sh
Due: copyright

fix: add jvm flag exports to release binaries
  kythe/release/release.BUILD
Due: none

fix: add jvm flag exports to release binaries (#6053)
  kythe/release/release.BUILD
Due: none

chore: better exception message for a common npe
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BlockAnonymousSignatureGenerator.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/SignatureGenerator.java
Due: copyright, google-java-format

chore: better exception message for a common npe (#6054)
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BlockAnonymousSignatureGenerator.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/SignatureGenerator.java
Due: copyright, google-java-format

chore: remove unnecessary toString
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BlockAnonymousSignatureGenerator.java
Due: copyright, google-java-format

chore: remove unnecessary toString (#6055)
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BlockAnonymousSignatureGenerator.java
Due: copyright, google-java-format

chore: comment that exports list depends on code the extractor is run against
  kythe/release/release.BUILD
Due: none

chore: fixup comment
  kythe/release/release.BUILD
Due: none

chore: comment that exports list depends on code the extractor is run against (#6057)
  kythe/release/release.BUILD
Due: none

release: v0.0.67
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

release: v0.0.67 (#6058)
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

chore: guard some verbose logging
  kythe/go/indexer/emit.go
Due: copyright, gofmt, golint

chore: guard some verbose logging (#6059)
  kythe/go/indexer/emit.go
Due: copyright, gofmt, golint

fix(go_indexer): emit docs nodes for interface methods
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/comments.go
Due: copyright, gofmt, golint

fix(go_indexer): emit docs nodes for interface methods (#6060)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/comments.go
Due: copyright, gofmt, golint

fix(go_indexer): emit bindings for named interface method params
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/typespec.go
Due: copyright, gofmt, golint

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
