Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

chore(cxx_indexer): clean up clang-tidy issues
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/KytheVFS.cc
Due: copyright, clang-format

chore(cxx_indexer): clean up clang-tidy issues (#5928)
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/KytheVFS.cc
Due: copyright, clang-format

feat(verifier): smoke test to show anchors keep kinds
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

feat(verifier): smoke test to show anchors keep kinds (#5930)
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

chore: remove usage of host_fragments
  tools/build_rules/verifier_test/java_verifier_test.bzl
Due: buildifier

chore: remove usage of host_fragments (#5932)
  tools/build_rules/verifier_test/java_verifier_test.bzl
Due: buildifier

feat(verifier): warn on and allow specifying default file corpora
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

fix: add test
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix: address comments
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
Due: copyright, clang-format

feat(verifier): warn on and allow specifying default file corpora (#5933)
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_main.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix(cxx_indexer): document issue #5935 (using template-name)
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/template/template_using_name.cc
Due: none

fix(cxx_indexer): document issue #5935 (using template-name) (#5936)
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/template/template_using_name.cc
Due: none

fix(cxx_indexer): address issue #5935 (when aliasing is on)
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/template/template_using_name.cc
Due: copyright, clang-format

fix(cxx_indexer): address issue #5935 (when aliasing is on) (#5937)
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/template/template_using_name.cc
Due: copyright, clang-format

chore(cxx_indexer): remove experimental_alias_ref_fix flag
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore(cxx_indexer): remove experimental_alias_ref_fix flag (#5938)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

feat(verifier): avoid the arity ceiling in outputs
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix: address comments
  kythe/cxx/verifier/assertions_to_souffle.cc
Due: copyright, clang-format

feat(verifier): avoid the arity ceiling in outputs (#5939)
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix(verifier): don't complain about implicitly inspected negated evars
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix(verifier): don't complain about implicitly inspected negated evars (#5940)
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix(verifier): mark all fresh negative evars; don't diagnose missing implicits
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix(verifier): mark all fresh negative evars; don't diagnose missing implicits (#5941)
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix(verifier): provide reasonable default corpus/path values
  kythe/cxx/verifier/verifier.cc
Due: copyright, clang-format

fix(verifier): provide reasonable default corpus/path values (#5943)
  kythe/cxx/verifier/verifier.cc
Due: copyright, clang-format

Update handling of `JavaInfo.compilation_info.javac_opts`
  .bazelminversion
  .bazelversion
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/aspect.bzl
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/aspect.bzl
  setup.bzl
  version.bzl
Due: buildifier

chore(java_indexer): add name for java plugins
  kythe/java/com/google/devtools/kythe/analyzers/java/AutoValuePlugin.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheJavacAnalyzer.java
  kythe/java/com/google/devtools/kythe/analyzers/java/Plugin.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/TestPlugin.java
Due: copyright, google-java-format

chore: _ instead of space
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheJavacAnalyzer.java
Due: copyright, google-java-format

chore(java_indexer): add name for java plugins (#5944)
  kythe/java/com/google/devtools/kythe/analyzers/java/AutoValuePlugin.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheJavacAnalyzer.java
  kythe/java/com/google/devtools/kythe/analyzers/java/Plugin.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/TestPlugin.java
Due: copyright, google-java-format

chore: remove some unused packages
  kythe/go/util/netutil/BUILD
  kythe/go/util/netutil/netutil.go
  kythe/go/util/netutil/netutil_test.go
  kythe/go/util/process/BUILD
  kythe/go/util/process/async.go
  kythe/go/util/process/process_test.go
  kythe/go/util/reduce/BUILD
  kythe/go/util/reduce/reduce.go
  kythe/go/util/reduce/reduce_sort.go
  kythe/go/util/reduce/reduce_test.go
Due: buildifier, copyright, gofmt, golint

chore: remove some unused packages (#5945)
  kythe/go/util/netutil/BUILD
  kythe/go/util/netutil/netutil.go
  kythe/go/util/netutil/netutil_test.go
  kythe/go/util/process/BUILD
  kythe/go/util/process/async.go
  kythe/go/util/process/process_test.go
  kythe/go/util/reduce/BUILD
  kythe/go/util/reduce/reduce.go
  kythe/go/util/reduce/reduce_sort.go
  kythe/go/util/reduce/reduce_test.go
Due: buildifier, copyright, gofmt, golint

flag -short is no longer defined, remove it from docs
  kythe/docs/kythes-command-line-tool.txt
Due: copyright

update command line output to match current CLI output
  kythe/docs/kythes-command-line-tool.txt
Due: copyright

flag --short is no longer defined, remove it from docs (#5946)
  kythe/docs/kythes-command-line-tool.txt
Due: copyright

Update handling of `JavaInfo.compilation_info.javac_opts` (#5934)
  .bazelminversion
  .bazelversion
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/aspect.bzl
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/aspect.bzl
  setup.bzl
  version.bzl
Due: buildifier

Fix builds on macOS with arm64 CPUs (#5922)
  buildenv/java/BUILD
  external.bzl
  setup.bzl
Due: buildifier

chore(common): refactor verfier_test to a wrapper macro with common tags
  tools/build_rules/verifier_test/BUILD
  tools/build_rules/verifier_test/verifier_test.bzl
  tools/build_rules/verifier_test/verifier_test_impl.bzl
Due: buildifier

chore(common): refactor verfier_test to a wrapper macro with common tags (#5947)
  tools/build_rules/verifier_test/BUILD
  tools/build_rules/verifier_test/verifier_test.bzl
  tools/build_rules/verifier_test/verifier_test_impl.bzl
Due: buildifier

fix(verifier): the fast solver is no longer experimental
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

fix(verifier): the fast solver is no longer experimental (#5949)
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
