Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

chore: fix some comments (#6095)
  kythe/cxx/indexer/cxx/GoogleFlagsLibrarySupport.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
Due: copyright, clang-format

Add `load()`s for the Bazel builtin java top-level symbols
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/aspect.bzl
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/aspect.bzl
  tools/build_rules/verifier_test/BUILD
  tools/build_rules/verifier_test/java_verifier_test.bzl
  tools/build_rules/verifier_test/jvm_verifier_test.bzl
Due: buildifier

Add `load()`s for the Bazel builtin java top-level symbols (#6096)
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/aspect.bzl
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/aspect.bzl
  tools/build_rules/verifier_test/BUILD
  tools/build_rules/verifier_test/java_verifier_test.bzl
  tools/build_rules/verifier_test/jvm_verifier_test.bzl
Due: buildifier

feat(tools): --render_marked_source added to kythe docs cli
  kythe/go/services/cli/command_docs.go
Due: copyright, gofmt, golint

contentType var
  kythe/go/services/cli/command_docs.go
Due: copyright, gofmt, golint

feat(tools): --render_marked_source added to kythe docs cli (#6097)
  kythe/go/services/cli/command_docs.go
Due: copyright, gofmt, golint

test: suppress another warning in testdata
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Variables.java
Due: none

test: suppress another warning in testdata (#6098)
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Variables.java
Due: none

chore: add load() for ProtoInfo
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/textproto/testdata/BUILD
  kythe/cxx/indexer/textproto/testdata/textproto_verifier_test.bzl
  setup.bzl
  tools/build_rules/extra_aspects/cxx/BUILD
  tools/build_rules/extra_aspects/cxx/aspect.bzl
  tools/build_rules/verifier_test/BUILD
Due: buildifier

chore: add load() for ProtoInfo (#6099)
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/textproto/testdata/BUILD
  kythe/cxx/indexer/textproto/testdata/textproto_verifier_test.bzl
  setup.bzl
  tools/build_rules/extra_aspects/cxx/BUILD
  tools/build_rules/extra_aspects/cxx/aspect.bzl
  tools/build_rules/verifier_test/BUILD
Due: buildifier

chore: add some bzl_library dependencies
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/textproto/testdata/BUILD
  tools/build_rules/verifier_test/BUILD
  tools/cpp/BUILD
Due: buildifier

chore: add load for bzl_library
  tools/cpp/BUILD
Due: buildifier

chore: remove dep w/o upstream BUILD file
  tools/build_rules/verifier_test/BUILD
Due: buildifier

chore: add some bzl_library dependencies (#6100)
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/textproto/testdata/BUILD
  tools/build_rules/verifier_test/BUILD
  tools/cpp/BUILD
Due: buildifier

chore: update LLVM
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/cxx/KytheVFS.h
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

chore: update LLVM (#6101)
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/cxx/KytheVFS.h
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

test: add JVM enum signature tests
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Jvm.java
Due: none

test: add JVM enum signature tests (#6102)
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Jvm.java
Due: none

fix(java_indexer): emit jvm refs for enum constants
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/JvmCrossFile.java
Due: copyright, google-java-format

fix(java_indexer): emit jvm refs for enum constants (#6103)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/JvmCrossFile.java
Due: copyright, google-java-format

feat(cxx_indexer): emit symbols for extern C function defns
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/c_symbol.c
  kythe/cxx/indexer/cxx/testdata/basic/extern_c_symbol.cc
Due: copyright, clang-format

chore: update LLVM
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

fix: symbol -> csymbol; condition csymbols on a flag
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/c_symbol.c
  kythe/cxx/indexer/cxx/testdata/basic/extern_c_symbol.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

chore: update LLVM (#6105)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

feat(cxx_indexer): emit symbols for extern C function defns (#6104)
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/c_symbol.c
  kythe/cxx/indexer/cxx/testdata/basic/extern_c_symbol.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

feat(java_indexer): add names for native methods
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/analyzers/jvm/JvmGraph.java
  kythe/java/com/google/devtools/kythe/analyzers/jvm/KytheClassVisitor.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/NativeMethods.java
Due: copyright, google-java-format

feat(proto): add type edges for service RPCs
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/proto_graph_builder.cc
  kythe/cxx/indexer/proto/proto_graph_builder.h
  kythe/cxx/indexer/proto/testdata/basic/services.proto
Due: copyright, clang-format

fix: add ordinal to vlog
  kythe/cxx/indexer/proto/proto_graph_builder.cc
Due: copyright, clang-format

fix: delint
  kythe/cxx/indexer/proto/proto_graph_builder.h
Due: copyright, clang-format

chore: build verifier_test deps in the exec configuration
  tools/build_rules/verifier_test/verifier_test_impl.bzl
Due: buildifier

fix: style improvements
  kythe/cxx/indexer/proto/proto_graph_builder.cc
  kythe/cxx/indexer/proto/proto_graph_builder.h
Due: copyright, clang-format

chore: build verifier_test deps in the exec configuration (#6110)
  tools/build_rules/verifier_test/verifier_test_impl.bzl
Due: buildifier

fix: delint
  kythe/cxx/indexer/proto/proto_graph_builder.cc
Due: copyright, clang-format

feat(protobuf): add types for protobuf service RPCs (#6109)
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/proto_graph_builder.cc
  kythe/cxx/indexer/proto/proto_graph_builder.h
  kythe/cxx/indexer/proto/testdata/basic/services.proto
Due: copyright, clang-format

chore: address clang-tidy complaints
  kythe/cxx/indexer/proto/proto_graph_builder.cc
  kythe/cxx/indexer/proto/proto_graph_builder.h
Due: copyright, clang-format

chore: address clang-tidy complaints (#6111)
  kythe/cxx/indexer/proto/proto_graph_builder.cc
  kythe/cxx/indexer/proto/proto_graph_builder.h
Due: copyright, clang-format

Revert "chore: build verifier_test deps in the exec configuration (#6110)"
  tools/build_rules/verifier_test/verifier_test_impl.bzl
Due: buildifier

chore: fix clang-tidy-from-source build config and apply some fixes
  .bazelrc
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/indexed_parent_map.cc
  kythe/cxx/indexer/cxx/indexer_worklist.cc
  tools/cpp/BUILD
  tools/cpp/run_clang_tidy.sh.in
Due: buildifier, copyright, clang-format

Revert "chore: build verifier_test deps in the exec configuration (#6110)" (#6112)
  tools/build_rules/verifier_test/verifier_test_impl.bzl
Due: buildifier

fix(verifier_test): ensure tools use the same configuration as indexer
  tools/build_rules/verifier_test/java_verifier_test.bzl
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier
