Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

chore: re-suppress the iterable path parameter (#5233)
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/ForwardingStandardJavaFileManager.java
Due: copyright, google-java-format

fix(extraction): fix javac9 extractor path
  kythe/extractors/openjdk11/extract/extract.go
Due: copyright, gofmt, golint

fix(extraction): fix javac9 extractor path (#5234)
  kythe/extractors/openjdk11/extract/extract.go
Due: copyright, gofmt, golint

fix(go_indexer): fix satisfies check for 1.18beta2
  external.bzl
  kythe/go/indexer/emit.go
Due: buildifier, copyright, gofmt, golint

fix(go_indexer): fix satisfies check for 1.18beta2 (#5235)
  external.bzl
  kythe/go/indexer/emit.go
Due: buildifier, copyright, gofmt, golint

chore: fix typo
  kythe/cxx/tools/fyi/testdata/compile_commands.bzl
Due: none

chore: fix typo (#5236)
  kythe/cxx/tools/fyi/testdata/compile_commands.bzl
Due: none

feat(go_indexer): populate ReleaseTags/ToolTags with defaults
  kythe/go/indexer/indexer.go
Due: copyright, gofmt, golint

feat(go_indexer): populate ReleaseTags/ToolTags with defaults (#5237)
  kythe/go/indexer/indexer.go
Due: copyright, gofmt, golint

chore: add tracing for anchor patching
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

chore: add tracing for anchor patching (#5238)
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

fix(go_extractor): handle top-level source files in modules
  kythe/go/extractors/golang/golang.go
Due: copyright, gofmt, golint

fix(go_extractor): handle top-level source files in modules (#5239)
  kythe/go/extractors/golang/golang.go
Due: copyright, gofmt, golint

chore: update LLVM
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/recursive_type_visitor.h
  setup.bzl
Due: buildifier, copyright, clang-format

chore: update LLVM (#5240)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/recursive_type_visitor.h
  setup.bzl
Due: buildifier, copyright, clang-format

feat(api): support patching FileDecorations definitions
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
Due: copyright, clang-format, gofmt, golint

generate protos
  kythe/proto/xref_go_proto/xref.pb.go
Due: gofmt

feat(api): support patching FileDecorations definitions (#5241)
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, clang-format, gofmt, golint

feat(api): support filtering xrefs by their enclosing files
  kythe/go/services/cli/commands_xrefs.go
  kythe/go/serving/xrefs/BUILD
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_filter.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/go/util/kytheuri/uri.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: buildifier, copyright, clang-format, gofmt, golint

shortcut fast case
  kythe/go/serving/xrefs/xrefs_filter.go
Due: copyright, gofmt, golint

feat(api): support filtering xrefs by their enclosing files (#5242)
  kythe/go/services/cli/commands_xrefs.go
  kythe/go/serving/xrefs/BUILD
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_filter.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/go/util/kytheuri/uri.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: buildifier, copyright, clang-format, gofmt, golint

feat(schema): add flag nodes
  kythe/docs/schema/schema.txt
Due: copyright

feat(schema): add flag nodes (#5243)
  kythe/docs/schema/schema.txt
Due: copyright

feat(api): support patching Documentation definitions
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, clang-format, gofmt, golint

feat(api): support patching Documentation definitions (#5244)
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, clang-format, gofmt, golint

fix(serving): close MultiFilePatcher when requests exit early
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

fix(serving): close MultiFilePatcher when requests exit early (#5245)
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

fix(empty_corpus_checker): ignore usr nodes
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_checker.go
Due: copyright, gofmt, golint

fix(empty_corpus_checker): ignore usr nodes (#5246)
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_checker.go
Due: copyright, gofmt, golint

fix(cxx_indexer): remove another source of corpusless nodes
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

Chore: Add google/gflag to known node kinds
  kythe/go/util/schema/indexdata.go
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
Due: copyright, clang-format, gofmt, golint

Chore: Add google/gflag to known node kinds (#5248)
  kythe/go/util/schema/indexdata.go
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
Due: copyright, clang-format, gofmt, golint

got test to fail!
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/vname_corpus.cc
Due: copyright, clang-format

simplify test
  kythe/cxx/indexer/cxx/testdata/basic/vname_corpus.cc
Due: none

fix test
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

fix(cxx_indexer): remove another source of corpusless nodes (#5247)
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/vname_corpus.cc
Due: copyright, clang-format

Update rules_rust.
  setup.bzl
Due: buildifier

chore: update LLVM
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.h
  kythe/cxx/indexer/cxx/semantic_hash.cc
  kythe/cxx/tools/fyi/fyi.cc
  setup.bzl
Due: buildifier, copyright, clang-format

fix: format fyi.cc
  kythe/cxx/tools/fyi/fyi.cc
Due: copyright, clang-format

fix: bazelisk test //kythe/cxx/indexer/cxx/testdata:macros_include
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.cc
Due: copyright, clang-format

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
