Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

chore(build): update RBE image and toolchain configs
  kythe/release/cloudbuild/rbe/Dockerfile
  kythe/release/cloudbuild/rbe/cloudbuild.yaml
  tools/platforms/Dockerfile
  tools/platforms/configs/rbe_default/cc/BUILD
  tools/platforms/configs/rbe_default/cc/armeabi_cc_toolchain_config.bzl
  tools/platforms/configs/rbe_default/cc/builtin_include_directory_paths
  tools/platforms/configs/rbe_default/cc/cc_toolchain_config.bzl
  tools/platforms/configs/rbe_default/cc/cc_wrapper.sh
  tools/platforms/configs/rbe_default/cc/module.modulemap
  tools/platforms/configs/rbe_default/config/BUILD
  tools/platforms/configs/rbe_default/java/BUILD
Due: buildifier, copyright

chore: increase slow test size
  kythe/cxx/extractor/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/BUILD
Due: none

chore(build): update RBE image and toolchain configs (#5952)
  kythe/cxx/extractor/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/release/cloudbuild/rbe/Dockerfile
  kythe/release/cloudbuild/rbe/cloudbuild.yaml
  tools/platforms/Dockerfile
  tools/platforms/configs/rbe_default/cc/BUILD
  tools/platforms/configs/rbe_default/cc/armeabi_cc_toolchain_config.bzl
  tools/platforms/configs/rbe_default/cc/builtin_include_directory_paths
  tools/platforms/configs/rbe_default/cc/cc_toolchain_config.bzl
  tools/platforms/configs/rbe_default/cc/cc_wrapper.sh
  tools/platforms/configs/rbe_default/cc/module.modulemap
  tools/platforms/configs/rbe_default/config/BUILD
  tools/platforms/configs/rbe_default/java/BUILD
Due: buildifier, copyright

chore: remove unused variable
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore: remove unused variable (#5953)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

run //kythe/proto:update
  kythe/proto/analysis_go_proto/analysis.pb.go
  kythe/proto/analysis_service_go_proto/analysis_service.pb.go
  kythe/proto/bazel_artifact_selector_go_proto/bazel_artifact_selector.pb.go
  kythe/proto/bazel_artifact_selector_v2_go_proto/bazel_artifact_selector_v2.pb.go
  kythe/proto/buildinfo_go_proto/buildinfo.pb.go
  kythe/proto/claim_go_proto/claim.pb.go
  kythe/proto/common_go_proto/common.pb.go
  kythe/proto/cxx_go_proto/cxx.pb.go
  kythe/proto/driver_go_proto/driver.pb.go
  kythe/proto/entryset_go_proto/entryset.pb.go
  kythe/proto/explore_go_proto/explore.pb.go
  kythe/proto/extraction_config_go_proto/extraction_config.pb.go
  kythe/proto/filecontext_go_proto/filecontext.pb.go
  kythe/proto/filetree_go_proto/filetree.pb.go
  kythe/proto/generated_message_info_go_proto/generated_message_info.pb.go
  kythe/proto/go_go_proto/go.pb.go
  kythe/proto/graph_go_proto/graph.pb.go
  kythe/proto/graph_serving_go_proto/graph_serving.pb.go
  kythe/proto/identifier_go_proto/identifier.pb.go
  kythe/proto/internal_go_proto/internal.pb.go
  kythe/proto/java_go_proto/java.pb.go
  kythe/proto/link_go_proto/link.pb.go
  kythe/proto/metadata_go_proto/metadata.pb.go
  kythe/proto/pipeline_go_proto/pipeline.pb.go
  kythe/proto/repo_go_proto/repo.pb.go
  kythe/proto/schema_go_proto/schema.pb.go
  kythe/proto/serving_go_proto/serving.pb.go
  kythe/proto/status_service_go_proto/status_service.pb.go
  kythe/proto/storage_go_proto/storage.pb.go
  kythe/proto/storage_service_go_proto/storage_service.pb.go
  kythe/proto/xref_go_proto/xref.pb.go
  kythe/proto/xref_serving_go_proto/xref_serving.pb.go
Due: gofmt

chore: update absl/protobuf, use NoDestructor
  external.bzl
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/souffle_entrysteam_support.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  setup.bzl
  third_party/protobuf-nowkt.patch
Due: buildifier, copyright, clang-format

update more protos
  kythe/go/util/riegeli/BUILD
  kythe/go/util/riegeli/riegeli_test_go_proto/riegeli_test.pb.go
  setup.bzl
  third_party/bazel/build_event_stream_go_proto/build_event_stream.pb.go
  third_party/bazel/command_line_go_proto/command_line.pb.go
  third_party/bazel/extra_actions_base_go_proto/extra_actions_base.pb.go
  third_party/bazel/failure_details_go_proto/failure_details.pb.go
  third_party/bazel/invocation_policy_go_proto/invocation_policy.pb.go
  third_party/bazel/option_filters_go_proto/option_filters.pb.go
  third_party/bazel/package_load_metrics_go_proto/package_load_metrics.pb.go
  third_party/bazel/test_status_go_proto/test_status.pb.go
Due: buildifier, gofmt, golint

chore(build): have //kythe/proto:update update other protos as well
  kythe/proto/BUILD
  kythe/proto/genproto.bzl
Due: buildifier

remove stuff obsoleted by #5954
  kythe/go/util/riegeli/BUILD
  setup.bzl
Due: buildifier

chore(build): have //kythe/proto:update update other protos as well (#5954)
  kythe/proto/BUILD
  kythe/proto/genproto.bzl
Due: buildifier

try to fix buildkite
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore: restore VLOG now that Abseil supports it
  kythe/cxx/common/kzip_reader.cc
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/marked_source.cc
  kythe/cxx/indexer/proto/proto_analyzer.cc
  kythe/cxx/indexer/proto/proto_graph_builder.cc
  kythe/cxx/indexer/proto/source_tree.cc
  kythe/cxx/indexer/textproto/analyzer.cc
Due: copyright, clang-format

chore: remove one-off NoDestructor in favor of abseil version
  kythe/cxx/common/BUILD
  kythe/cxx/common/regex.cc
Due: buildifier, copyright, clang-format

chore: use VLOG and absl::NoDestructor instead of hacks (#5955)
  kythe/cxx/common/BUILD
  kythe/cxx/common/kzip_reader.cc
  kythe/cxx/common/regex.cc
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/marked_source.cc
  kythe/cxx/indexer/proto/proto_analyzer.cc
  kythe/cxx/indexer/proto/proto_graph_builder.cc
  kythe/cxx/indexer/proto/source_tree.cc
  kythe/cxx/indexer/textproto/analyzer.cc
Due: buildifier, copyright, clang-format

chore: format file
  .commitlintrc.js
Due: clang-format

chore: format file (#5956)
  .commitlintrc.js
Due: clang-format

fix(typescript): always return values, even if they're undefined
  kythe/typescript/indexer.ts
Due: copyright

fix(typescript): always return values, even if they're undefined (#5957)
  kythe/typescript/indexer.ts
Due: copyright

chore(typescript): update to 5.3.2
  WORKSPACE
  kythe/typescript/BUILD
  kythe/typescript/indexer.ts
  package.json
  pnpm-lock.yaml
  setup.bzl
Due: buildifier, copyright

fix: format
  WORKSPACE
Due: buildifier

chore(typescript): update to 5.3.2 (#5958)
  WORKSPACE
  kythe/typescript/BUILD
  kythe/typescript/indexer.ts
  package.json
  pnpm-lock.yaml
  setup.bzl
Due: buildifier, copyright

feat(api): mark speculative xrefs
  kythe/go/services/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, clang-format, gofmt, golint

feat(api): mark speculative xrefs (#5959)
  kythe/go/services/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, clang-format, gofmt, golint

feat(verifier): print inspections with fast solver
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

feat(verifier): print inspections with fast solver (#5960)
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

chore: update LLVM
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
  setup.bzl
Due: buildifier, copyright, clang-format

chore: update LLVM (#5961)
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
  setup.bzl
Due: buildifier, copyright, clang-format

feat(cxx_indexer): allow skipping analysis of files which match a regex
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/exclude_proto_cc_test.txt
Due: copyright, clang-format

chore: use a bundled test instead of extracting gnerated proto
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/bundle_skip_analysis_test.cc
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/exclude_proto_cc_test.txt
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

feat(cxx_indexer): allow skipping analysis of files which match a regex (#5962)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/bundle_skip_analysis_test.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

Update macOS installation guide to handle newer Homebrew paths and include gnu-sed installation
  kythe/web/site/getting-started-macos.md
Due: none

Remove references to sample web UI that no longer exists
  .commitlintrc.js
  README.adoc
  kythe/docs/kythes-command-line-tool.txt
  kythe/web/site/contributing.md
  kythe/web/site/examples.md
  kythe/web/site/index.html
Due: copyright, clang-format

chore: format
  kythe/docs/kythes-command-line-tool.txt
Due: copyright

Fix remaining formatting issues
  kythe/web/site/examples.md
Due: none

Update documentation for macOS, remove references to Sample Web UI that no longer exists (#5948)
  .commitlintrc.js
  README.adoc
  kythe/docs/kythes-command-line-tool.txt
  kythe/web/site/contributing.md
  kythe/web/site/examples.md
  kythe/web/site/getting-started-macos.md
  kythe/web/site/index.html
Due: copyright, clang-format

chore: format commintlint.js
  .commitlintrc.js
Due: clang-format

chore: format commintlint.js (#5963)
  .commitlintrc.js
Due: clang-format

chore(proto): add cc_library for schema.proto
  kythe/proto/BUILD
Due: buildifier
