Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

fix(verifier): more transitive includes
  kythe/cxx/verifier/souffle_interpreter.cc
Due: copyright, clang-format

fix: why
  kythe/cxx/verifier/souffle_interpreter.cc
Due: copyright, clang-format

chore: move the NullGraphObserver token inline and use non-pointer opaque type (#5798)
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerUnitTest.cc
Due: copyright, clang-format

fix(rust_common): finish removing Rust indexer
  kythe/extractors/BUILD
  kythe/extractors/bazel/README.md
  kythe/release/BUILD
  kythe/release/README.md
  kythe/release/bazel_rust_extractor_script.sh
  kythe/release/cloudbuild/pre-commit/Dockerfile
  kythe/release/release.BUILD
Due: buildifier, copyright

fix(rust_common): finish removing rust
  kythe/extractors/bazel/extractors.bazelrc
  kythe/release/release.BUILD
Due: none

fix(rust_common): finish removing rust (#5803)
  kythe/extractors/bazel/extractors.bazelrc
  kythe/release/release.BUILD
Due: none

fix(verifier): more transitive includes (#5801)
  kythe/cxx/verifier/souffle_interpreter.cc
Due: copyright, clang-format

fix(cxx_indexer): no header providing "uintptr_t" is directly included
  kythe/cxx/indexer/cxx/KytheIndexerUnitTest.cc
Due: copyright, clang-format

fix(cxx_indexer): no header providing "uintptr_t" is directly included (#5804)
  kythe/cxx/indexer/cxx/KytheIndexerUnitTest.cc
Due: copyright, clang-format

chore(cxx_indexer): extract and test decl NameId string printing
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/decl_printer.cc
  kythe/cxx/indexer/cxx/decl_printer.h
  kythe/cxx/indexer/cxx/decl_printer_test.cc
  kythe/cxx/indexer/cxx/indexed_parent_iterator.h
Due: buildifier, copyright, clang-format

chore(cxx_indexer): extract and test decl NameId string printing (#5805)
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/decl_printer.cc
  kythe/cxx/indexer/cxx/decl_printer.h
  kythe/cxx/indexer/cxx/decl_printer_test.cc
  kythe/cxx/indexer/cxx/indexed_parent_iterator.h
Due: buildifier, copyright, clang-format

test: add tests for md package
  BUILD
  kythe/go/util/md/BUILD
Due: buildifier

actually add the file
  kythe/go/util/md/md_test.go
Due: copyright, gofmt, golint

test: add tests for md package (#5806)
  BUILD
  kythe/go/util/md/BUILD
  kythe/go/util/md/md_test.go
Due: buildifier, copyright, gofmt, golint

chore: clean up some clang-tidy warnings
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/decl_printer.cc
  kythe/cxx/indexer/cxx/decl_printer_test.cc
Due: buildifier, copyright, clang-format

chore: clean up some clang-tidy warnings (#5807)
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/decl_printer.cc
  kythe/cxx/indexer/cxx/decl_printer_test.cc
Due: buildifier, copyright, clang-format

fix(cxx_indexer): properly handle dependent using decl names
  kythe/cxx/indexer/cxx/decl_printer.cc
  kythe/cxx/indexer/cxx/decl_printer_test.cc
Due: copyright, clang-format

chore: fix RE digit class in test
  kythe/cxx/indexer/cxx/decl_printer_test.cc
Due: copyright, clang-format

fix(cxx_indexer): properly handle dependent using decl names (#5808)
  kythe/cxx/indexer/cxx/decl_printer.cc
  kythe/cxx/indexer/cxx/decl_printer_test.cc
Due: copyright, clang-format

chore: allow running clang-tidy via an aspect
  .bazelrc
  .clang-tidy
  BUILD
  WORKSPACE
  kythe/cxx/indexer/cxx/decl_printer.cc
  kythe/cxx/indexer/cxx/decl_printer_test.cc
Due: buildifier, copyright, clang-format

chore: allow running clang-tidy via an aspect (#5809)
  .bazelrc
  .clang-tidy
  BUILD
  WORKSPACE
  kythe/cxx/indexer/cxx/decl_printer.cc
  kythe/cxx/indexer/cxx/decl_printer_test.cc
Due: buildifier, copyright, clang-format

fix(go_indexer): emit tbuiltin nodes for special builtin pkg
  kythe/go/extractors/govname/types.go
  kythe/go/indexer/BUILD
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/builtin.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: buildifier, copyright, gofmt, golint

fix(go_indexer): emit tbuiltin nodes for special builtin pkg (#5810)
  kythe/go/extractors/govname/types.go
  kythe/go/indexer/BUILD
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/builtin.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: buildifier, copyright, gofmt, golint

test: add some more checks on Go builtins
  kythe/go/indexer/BUILD
  kythe/go/indexer/testdata/builtin.go
Due: buildifier

test: add some more checks on Go builtins (#5811)
  kythe/go/indexer/BUILD
  kythe/go/indexer/testdata/builtin.go
Due: buildifier

fix(go_indexer): fix builtin type references
  kythe/go/extractors/govname/govname.go
  kythe/go/extractors/govname/govname_test.go
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/indexer.go
  kythe/go/indexer/testdata/builtin.go
  kythe/go/indexer/testdata/code/rendered.go
  kythe/go/util/markedsource/resolve.go
  kythe/go/util/tools/markedsource/markedsource.go
  tools/build_rules/verifier_test/verifier_test.sh.in
Due: buildifier, copyright, gofmt, golint

chore: apply clang-tidy cleanups under //kythe/cxx/common/
  kythe/cxx/common/BUILD
  kythe/cxx/common/file_utils.cc
  kythe/cxx/common/file_vname_generator.cc
  kythe/cxx/common/file_vname_generator_test.cc
  kythe/cxx/common/indexing/KytheCachingOutput.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/MemcachedHashCache.cc
  kythe/cxx/common/json_proto.cc
  kythe/cxx/common/json_proto_test.cc
  kythe/cxx/common/kythe_metadata_file.cc
  kythe/cxx/common/kythe_uri.cc
  kythe/cxx/common/kythe_uri_test.cc
  kythe/cxx/common/kzip_reader.cc
  kythe/cxx/common/kzip_reader_test.cc
  kythe/cxx/common/kzip_writer.cc
  kythe/cxx/common/kzip_writer_c_api.cc
  kythe/cxx/common/kzip_writer_c_api_test.cc
  kythe/cxx/common/libzip/error.cc
  kythe/cxx/common/net_client.cc
  kythe/cxx/common/net_client_test.cc
  kythe/cxx/common/path_utils.cc
  kythe/cxx/common/path_utils_test.cc
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/common/re2_flag.cc
  kythe/cxx/common/regex.cc
  kythe/cxx/common/regex_test.cc
  kythe/cxx/common/scope_guard_test.cc
  kythe/cxx/common/sha256_hasher.cc
  kythe/cxx/common/status.cc
  kythe/cxx/common/testutil.cc
  kythe/cxx/common/utf8_line_index.cc
  kythe/cxx/common/utf8_line_index_test.cc
Due: buildifier, copyright, clang-format

fix(go_indexer): fix builtin type references (#5812)
  kythe/go/extractors/govname/govname.go
  kythe/go/extractors/govname/govname_test.go
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/indexer.go
  kythe/go/indexer/testdata/builtin.go
  kythe/go/indexer/testdata/code/rendered.go
  kythe/go/util/markedsource/resolve.go
  kythe/go/util/tools/markedsource/markedsource.go
  tools/build_rules/verifier_test/verifier_test.sh.in
Due: buildifier, copyright, gofmt, golint

chore: apply clang-tidy cleanups under //kythe/cxx/common/ (#5813)
  kythe/cxx/common/BUILD
  kythe/cxx/common/file_utils.cc
  kythe/cxx/common/file_vname_generator.cc
  kythe/cxx/common/file_vname_generator_test.cc
  kythe/cxx/common/indexing/KytheCachingOutput.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/MemcachedHashCache.cc
  kythe/cxx/common/json_proto.cc
  kythe/cxx/common/json_proto_test.cc
  kythe/cxx/common/kythe_metadata_file.cc
  kythe/cxx/common/kythe_uri.cc
  kythe/cxx/common/kythe_uri_test.cc
  kythe/cxx/common/kzip_reader.cc
  kythe/cxx/common/kzip_reader_test.cc
  kythe/cxx/common/kzip_writer.cc
  kythe/cxx/common/kzip_writer_c_api.cc
  kythe/cxx/common/kzip_writer_c_api_test.cc
  kythe/cxx/common/libzip/error.cc
  kythe/cxx/common/net_client.cc
  kythe/cxx/common/net_client_test.cc
  kythe/cxx/common/path_utils.cc
  kythe/cxx/common/path_utils_test.cc
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/common/re2_flag.cc
  kythe/cxx/common/regex.cc
  kythe/cxx/common/regex_test.cc
  kythe/cxx/common/scope_guard_test.cc
  kythe/cxx/common/sha256_hasher.cc
  kythe/cxx/common/status.cc
  kythe/cxx/common/testutil.cc
  kythe/cxx/common/utf8_line_index.cc
  kythe/cxx/common/utf8_line_index_test.cc
Due: buildifier, copyright, clang-format

fix(java_indexer): fix ctor/generic signatures
  kythe/java/com/google/devtools/kythe/analyzers/java/MarkedSources.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/MarkedSource.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/RenderedCode.java
  tools/build_rules/verifier_test/java_verifier_test.bzl
Due: buildifier, copyright, google-java-format

fix(java_indexer): fix ctor/generic signatures (#5814)
  kythe/java/com/google/devtools/kythe/analyzers/java/MarkedSources.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/MarkedSource.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/RenderedCode.java
  tools/build_rules/verifier_test/java_verifier_test.bzl
Due: buildifier, copyright, google-java-format

chore: convert re2::StringPiece to absl::string_view
  kythe/cxx/common/file_vname_generator.cc
  kythe/cxx/common/re2_flag.cc
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/textproto/analyzer.cc
  kythe/cxx/verifier/assertions.cc
Due: copyright, clang-format

chore: convert re2::StringPiece to absl::string_view (#5815)
  kythe/cxx/common/file_vname_generator.cc
  kythe/cxx/common/re2_flag.cc
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/textproto/analyzer.cc
  kythe/cxx/verifier/assertions.cc
Due: copyright, clang-format

chore(verifier): get rid of more direct ast access from inspections
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/souffle_interpreter.h
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

chore(verifier): get rid of more direct ast access from inspections (#5816)
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/souffle_interpreter.h
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix(go_indexer): detect top-level when using file-level scopes
  kythe/go/indexer/BUILD
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/builtin.go
Due: buildifier, copyright, gofmt, golint

cleanup(verifier): remove debug log from unit test
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix(go_indexer): detect top-level when using file-level scopes (#5817)
  kythe/go/indexer/BUILD
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/builtin.go
Due: buildifier, copyright, gofmt, golint

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
