Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

Works kinda
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexer.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/AbstractJavacWrapper.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Javac9CompilationUnitFromArgs.java
Due: copyright, google-java-format

deal with arg passthru via --
  kythe/java/com/google/devtools/kythe/analyzers/base/IndexerConfig.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexer.java
Due: copyright, google-java-format

Working inside of bazel
  kythe/java/com/google/devtools/kythe/analyzers/java/BUILD
  kythe/java/com/google/devtools/kythe/analyzers/java/Extractor.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexer.java
Due: buildifier, copyright, google-java-format

chore: update rules_rust to HEAD
  setup.bzl
Due: buildifier

release: v0.0.58
  RELEASES.md
  kythe/release/BUILD
  kythe/release/setup_release.sh
Due: buildifier, copyright

fix(rust_common): update to new rules_rust and fix references to deprecated code (#5208)
  .gitignore
  external.bzl
  kythe/rust/extractor/extractor_test.bzl
  setup.bzl
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier

deprecation
  RELEASES.md
Due: none

whitespace
  RELEASES.md
Due: none

release: v0.0.58 (#5221)
  RELEASES.md
  kythe/release/BUILD
  kythe/release/setup_release.sh
Due: buildifier, copyright

chore: remove reflective workaround for accessing ClassLoader
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
Due: copyright, google-java-format

chore: remove reflective workaround for accessing ClassLoader (#5222)
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
Due: copyright, google-java-format

add verifier assertions
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/DefaultCorpus.java
Due: none

feat(java): bump Java version to 11
  .bazelrc
  kythe/java/com/google/devtools/kythe/analyzers/java/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/BUILD
  kythe/javatests/com/google/devtools/kythe/extractors/java/BUILD
  kythe/javatests/com/google/devtools/kythe/platform/java/BUILD
  third_party/javac/BUILD
Due: buildifier

fix(java): remove mentions of javac_jar from release
  kythe/release/BUILD
  kythe/release/Dockerfile
  kythe/release/release_test.sh
Due: buildifier, copyright

fix(java): emit wildcard generics in default corpus (#5210)
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/DefaultCorpus.java
Due: copyright, google-java-format

feat(api): allow a Workspace to be passed for xrefs patching
  kythe/go/services/cli/commands_xrefs.go
  kythe/go/serving/xrefs/BUILD
  kythe/go/serving/xrefs/columnar.go
  kythe/go/serving/xrefs/xrefs.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: buildifier, copyright, clang-format, gofmt, golint

add utility structs
  kythe/go/serving/xrefs/columnar.go
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

variable name
  kythe/go/services/cli/commands_xrefs.go
Due: copyright, gofmt, golint

test
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/go/test/testutil/BUILD
  kythe/go/test/testutil/testutil.go
  kythe/go/util/compare/BUILD
  kythe/go/util/compare/compare.go
Due: buildifier, copyright, gofmt, golint

feat(api): allow a Workspace to be passed for xrefs patching (#5224)
  kythe/go/services/cli/commands_xrefs.go
  kythe/go/serving/xrefs/BUILD
  kythe/go/serving/xrefs/columnar.go
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/go/test/testutil/BUILD
  kythe/go/test/testutil/testutil.go
  kythe/go/util/compare/BUILD
  kythe/go/util/compare/compare.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: buildifier, copyright, clang-format, gofmt, golint

feat: add a Floor method for datasizes
  kythe/go/util/datasize/datasize.go
  kythe/go/util/datasize/datasize_test.go
Due: copyright, gofmt, golint

feat: add a Floor method for datasizes (#5225)
  kythe/go/util/datasize/datasize.go
  kythe/go/util/datasize/datasize_test.go
Due: copyright, gofmt, golint

feat: add a Round method for datasizes
  kythe/go/util/datasize/datasize.go
  kythe/go/util/datasize/datasize_test.go
Due: copyright, gofmt, golint

feat: add a Round method for datasizes (#5228)
  kythe/go/util/datasize/datasize.go
  kythe/go/util/datasize/datasize_test.go
Due: copyright, gofmt, golint

fix(doc): update description and examples for extends edge kind
  kythe/docs/schema/schema.txt
Due: copyright

fix C++ example for extends
  kythe/docs/schema/schema.txt
Due: copyright

fix java extends example
  kythe/docs/schema/schema.txt
Due: copyright

fix(doc): update description and examples for extends edge kind (#5229)
  kythe/docs/schema/schema.txt
Due: copyright

chore: remove jdk8 extractor and support files
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Javac8Wrapper.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  third_party/BUILD
  third_party/javac/BUILD
  third_party/javac/LICENSE
  third_party/javac/README.google
  third_party/javac/java_compiler-src.jar
  third_party/javac/java_compiler.jar
  third_party/javac/jdk_compiler-src.jar
  third_party/javac/jdk_compiler.jar
Due: buildifier, copyright, google-java-format

chore: remove Java 8 workarounds
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/extractors/java/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
  kythe/java/com/google/devtools/kythe/extractors/java/SystemExploder.java
  kythe/java/com/google/devtools/kythe/platform/java/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/JavaCompilationDetails.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/CompilationUnitPathFileManager.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/ForwardingStandardJavaFileManager.java
Due: buildifier, copyright, google-java-format

chore: remove dead JavaFileManager code
  kythe/java/com/google/devtools/kythe/platform/java/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/CompilationUnitBasedJavaFileManager.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/CompilationUnitBasedJavaFileStore.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/CustomFileObject.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/CustomJavaFileObject.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/JavaFileStore.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/JavaFileStoreBasedFileManager.java
  kythe/javatests/com/google/devtools/kythe/platform/java/filemanager/BUILD
Due: buildifier, copyright, google-java-format

chore: fix a missed java9_extractor reference
  kythe/extractors/openjdk11/extract/BUILD
Due: buildifier

chore: remove Java 8 workarounds and resulting dead code (#5230)
  kythe/extractors/openjdk11/extract/BUILD
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/extractors/java/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
  kythe/java/com/google/devtools/kythe/extractors/java/SystemExploder.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Javac8Wrapper.java
  kythe/java/com/google/devtools/kythe/platform/java/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/JavaCompilationDetails.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/CompilationUnitBasedJavaFileManager.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/CompilationUnitBasedJavaFileStore.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/CompilationUnitPathFileManager.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/CustomFileObject.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/CustomJavaFileObject.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/ForwardingStandardJavaFileManager.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/JavaFileStore.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/JavaFileStoreBasedFileManager.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/platform/java/filemanager/BUILD
  third_party/BUILD
  third_party/javac/BUILD
  third_party/javac/LICENSE
  third_party/javac/README.google
  third_party/javac/java_compiler-src.jar
  third_party/javac/java_compiler.jar
  third_party/javac/jdk_compiler-src.jar
  third_party/javac/jdk_compiler.jar
Due: buildifier, copyright, google-java-format

chore: address some error prone warnings
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/ForwardingStandardJavaFileManager.java
Due: copyright, google-java-format

chore: cleanup testutil Errorf/Fatalf functions
  kythe/go/platform/analysis/driver/driver_test.go
  kythe/go/platform/vfs/vfs_test.go
  kythe/go/serving/explore/explore_test.go
  kythe/go/serving/graph/graph_test.go
  kythe/go/serving/xrefs/assemble/assemble_test.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/go/test/services/graphstore/graphstore.go
  kythe/go/test/storage/keyvalue/keyvalue.go
  kythe/go/test/testutil/testutil.go
  kythe/go/util/datasize/datasize_test.go
  kythe/go/util/dedup/dedup_test.go
  kythe/go/util/pager/pager_test.go
  kythe/go/util/process/process_test.go
Due: copyright, gofmt, golint

chore: cleanup testutil Errorf/Fatalf functions (#5231)
  kythe/go/platform/analysis/driver/driver_test.go
  kythe/go/platform/vfs/vfs_test.go
  kythe/go/serving/explore/explore_test.go
  kythe/go/serving/graph/graph_test.go
  kythe/go/serving/xrefs/assemble/assemble_test.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/go/test/services/graphstore/graphstore.go
  kythe/go/test/storage/keyvalue/keyvalue.go
  kythe/go/test/testutil/testutil.go
  kythe/go/util/datasize/datasize_test.go
  kythe/go/util/dedup/dedup_test.go
  kythe/go/util/pager/pager_test.go
  kythe/go/util/process/process_test.go
Due: copyright, gofmt, golint

chore: address some error prone warnings (#5232)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/ForwardingStandardJavaFileManager.java
Due: copyright, google-java-format

chore: re-suppress the iterable path parameter
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/ForwardingStandardJavaFileManager.java
Due: copyright, google-java-format
