Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

fix(go_indexer): ensure generic references work across packages (#5166)
  kythe/go/indexer/BUILD
  kythe/go/indexer/indexer.go
  kythe/go/indexer/testdata/generics/genericdep.go
  kythe/go/indexer/testdata/generics/genericinterface.go
Due: buildifier, copyright, gofmt, golint

feat(tooling): Support filtering of kzips by language.
  kythe/go/platform/tools/kzip/filtercmd/BUILD
  kythe/go/platform/tools/kzip/filtercmd/filtercmd.go
  tools/build_rules/extraction.bzl
Due: buildifier, copyright, gofmt, golint

chore: add context to kzip error message
  kythe/go/platform/kzip/kzip.go
Due: copyright, gofmt, golint

fix message
  kythe/go/platform/kzip/kzip.go
Due: copyright, gofmt, golint

chore: add context to kzip error message (#5168)
  kythe/go/platform/kzip/kzip.go
Due: copyright, gofmt, golint

feat(go extractor): add flag to put deps in default corpus
  kythe/go/extractors/cmd/gotool/gotool.go
  kythe/go/extractors/govname/govname.go
Due: copyright, gofmt, golint

chore(tooling): use flagutil.StringSet and fix buildifier error
  kythe/go/platform/tools/kzip/filtercmd/filtercmd.go
  tools/build_rules/extraction.bzl
Due: buildifier, copyright, gofmt, golint

fix(tooling): fixing buildifier error
  kythe/go/platform/tools/kzip/filtercmd/BUILD
Due: buildifier

feat(tooling): Support filtering of kzips by language. (#5167)
  kythe/go/platform/tools/kzip/filtercmd/BUILD
  kythe/go/platform/tools/kzip/filtercmd/filtercmd.go
  tools/build_rules/extraction.bzl
Due: buildifier, copyright, gofmt, golint

add test
  kythe/go/extractors/govname/govname_test.go
Due: copyright, gofmt, golint

fix test
  kythe/go/extractors/govname/govname_test.go
Due: copyright, gofmt, golint

feat(go extractor): add flag to put deps in default corpus (#5169)
  kythe/go/extractors/cmd/gotool/gotool.go
  kythe/go/extractors/govname/govname.go
  kythe/go/extractors/govname/govname_test.go
Due: copyright, gofmt, golint

docs: clarify that "value" means the `value` field and not the message's value
  kythe/proto/analysis.proto
Due: copyright, clang-format

docs: clarify that "value" means the `value` field and not the message's value (#5170)
  kythe/proto/analysis.proto
Due: copyright, clang-format

chore: update LLVM and fix test breakage
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  setup.bzl
Due: buildifier, copyright, clang-format

chore: fix comment
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore: update LLVM and fix test breakage (#5172)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  setup.bzl
Due: buildifier, copyright, clang-format

fix(go extractor image): updates for extracting to a single corpus
  kythe/go/extractors/cmd/gotool/analyze_packages.sh
Due: copyright

doc(go extractor image): add example usage docs
  kythe/go/extractors/cmd/gotool/readme.md
Due: none

fix(go extractor image): updates for extracting to a single corpus (#5173)
  kythe/go/extractors/cmd/gotool/analyze_packages.sh
  kythe/go/extractors/cmd/gotool/readme.md
Due: copyright

chore: update LLVM and fix tests
  kythe/cxx/indexer/cxx/testdata/basic/decltype_auto.cc
  setup.bzl
Due: buildifier

chore: update LLVM and fix tests (#5174)
  kythe/cxx/indexer/cxx/testdata/basic/decltype_auto.cc
  setup.bzl
Due: buildifier

feat(cxx_indexer): don't emit abs nodes
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_alias.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_alias_implicit_instantiation_decls.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_alias_multilevel_abs.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_alias_naming.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_arg_multiple_typename.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_arg_typename.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_blame_member.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_blame_pspec_member.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_blame_spec.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_blame_spec_member.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_class_defn.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_class_inner.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_class_template_ctor.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_depname_inst_class.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_field.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_decl.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_decl_defn.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_defn.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_implicit_spec.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_overload.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_nested_name.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_pack_fn_pack_call.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_pack_rec_pack_call.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_ps_decl.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_ps_defn.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_ps_multiple_decl.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_ps_twovar_decl.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_rec_member_abs.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_rec_override_root_aliasing.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_two_arg_spec.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_unresolved_ctor_expr.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_var_constexpr.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_var_decl.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_var_defn.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_var_defn_completes.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_var_ps.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_var_ps_implicit_spec.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_var_ref_ps.cc
Due: copyright, clang-format

feat(cxx_indexer): don't emit abs nodes (#5175)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_alias.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_alias_implicit_instantiation_decls.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_alias_multilevel_abs.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_alias_naming.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_arg_multiple_typename.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_arg_typename.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_blame_member.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_blame_pspec_member.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_blame_spec.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_blame_spec_member.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_class_defn.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_class_inner.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_class_template_ctor.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_depname_inst_class.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_field.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_decl.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_decl_defn.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_defn.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_implicit_spec.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_overload.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_nested_name.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_pack_fn_pack_call.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_pack_rec_pack_call.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_ps_decl.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_ps_defn.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_ps_multiple_decl.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_ps_twovar_decl.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_rec_member_abs.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_rec_override_root_aliasing.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_two_arg_spec.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_unresolved_ctor_expr.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_var_constexpr.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_var_decl.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_var_defn.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_var_defn_completes.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_var_ps.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_var_ps_implicit_spec.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_var_ref_ps.cc
Due: copyright, clang-format

chore: update LLVM yet again and robustify test fixes
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/testdata/basic/decltype_auto.cc
  setup.bzl
Due: buildifier, copyright, clang-format

chore: update LLVM yet again and robustify test fixes (#5176)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/testdata/basic/decltype_auto.cc
  setup.bzl
Due: buildifier, copyright, clang-format

chore(cxx_indexer): fork remaining tests that fail when abs nodes are turned off
  kythe/cxx/indexer/cxx/testdata/basic/tvar_auto_zoo.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_alias.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_function.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_partial_spec_record.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_partial_spec_var.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_record.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_var.cc
  kythe/cxx/indexer/cxx/testdata/marked_source/tvar_ms_absvar.cc
  kythe/cxx/indexer/cxx/testdata/rec/tvar_rec_class_base_dependent.cc
Due: none

chore(cxx_indexer): fork remaining tests that fail when abs nodes are turned off (#5177)
  kythe/cxx/indexer/cxx/testdata/basic/tvar_auto_zoo.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_alias.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_function.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_partial_spec_record.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_partial_spec_var.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_record.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_var.cc
  kythe/cxx/indexer/cxx/testdata/marked_source/tvar_ms_absvar.cc
  kythe/cxx/indexer/cxx/testdata/rec/tvar_rec_class_base_dependent.cc
Due: none

fix(serving): do not unnecessarily read indirection pages
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

fix(serving): do not unnecessarily read indirection pages (#5178)
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

chore: Allow duplicate CUs in kzip merge command
  kythe/go/platform/tools/kzip/mergecmd/mergecmd.go
Due: copyright, gofmt, golint

feat(cxx_indexer): fix the remaining test cases with tvars on
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/tvar_auto_zoo.cc
  kythe/cxx/indexer/cxx/testdata/docs/docs_template_partial_spec_var.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_alias.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_function.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_partial_spec_record.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_partial_spec_var.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_record.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_var.cc
  kythe/cxx/indexer/cxx/testdata/marked_source/tvar_ms_absvar.cc
  kythe/cxx/indexer/cxx/testdata/rec/tvar_rec_class_base_dependent.cc
Due: copyright, clang-format

chore: Allow duplicate CUs in kzip merge command (#5179)
  kythe/go/platform/tools/kzip/mergecmd/mergecmd.go
Due: copyright, gofmt, golint

chore: use buildOrThrow for immutable guava collections
  external.bzl
  kythe/java/com/google/devtools/kythe/analyzers/base/EntrySet.java
  kythe/javatests/com/google/devtools/kythe/platform/shared/filesystem/CompilationUnitFileSystemTest.java
  maven_install.json
Due: buildifier, copyright, google-java-format

feat(cxx_indexer): fix the remaining test cases with tvars on (#5180)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/tvar_auto_zoo.cc
  kythe/cxx/indexer/cxx/testdata/docs/docs_template_partial_spec_var.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_alias.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_function.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_partial_spec_record.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_partial_spec_var.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_record.cc
  kythe/cxx/indexer/cxx/testdata/docs/tvar_docs_template_var.cc
  kythe/cxx/indexer/cxx/testdata/marked_source/tvar_ms_absvar.cc
  kythe/cxx/indexer/cxx/testdata/rec/tvar_rec_class_base_dependent.cc
Due: copyright, clang-format

chore: use buildOrThrow for immutable guava collections (#5181)
  external.bzl
  kythe/java/com/google/devtools/kythe/analyzers/base/EntrySet.java
  kythe/javatests/com/google/devtools/kythe/platform/shared/filesystem/CompilationUnitFileSystemTest.java
  maven_install.json
Due: buildifier, copyright, google-java-format

chore(rust_indexer): change test to make text replacement easier
  kythe/rust/indexer/tests/providers.rs
Due: copyright, rustfmt

fix(rust_common): update Rust toolchain to fix tests on macOS Monterey
  external.bzl
Due: buildifier

chore(rust_indexer): change test to make text replacement easier (#5182)
  kythe/rust/indexer/tests/providers.rs
Due: copyright, rustfmt

chore: update llvm
  kythe/cxx/extractor/path_utils.cc
  setup.bzl
Due: buildifier, copyright, clang-format
