Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

fix(typescript): update to rules_ts, update ts dependency to 4.8.4
  BUILD
  WORKSPACE
  external.bzl
  kythe/proto/BUILD
  kythe/typescript/BUILD
  kythe/typescript/indexer.ts
  kythe/typescript/package.json
  kythe/typescript/tsconfig.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  setup.bzl
  version.bzl
Due: buildifier, copyright

minor cleanups
  WORKSPACE
  kythe/typescript/BUILD
Due: buildifier

restore build_bazel_rules_nodejs for commitlint binary
  setup.bzl
Due: buildifier

forgot to reset MAX_VERSION
  version.bzl
Due: buildifier

better comments around ts workspace config
  WORKSPACE
Due: buildifier

rename test, remove unnecessary DISABLED_TESTS
  kythe/typescript/BUILD
Due: buildifier

chore: update bazel RBE toolchain config
  external.bzl
  tools/platforms/configs/rbe_default/cc/BUILD
  tools/platforms/configs/rbe_default/cc/cc_toolchain_config.bzl
  tools/platforms/configs/rbe_default/config/BUILD
Due: buildifier

chore: update bazel RBE toolchain config (#5496)
  external.bzl
  tools/platforms/configs/rbe_default/cc/BUILD
  tools/platforms/configs/rbe_default/cc/cc_toolchain_config.bzl
  tools/platforms/configs/rbe_default/config/BUILD
Due: buildifier

update incantation to disable typescript persistent workers
  .bazelrc
Due: none

more progress
  .bazelrc
  kythe/typescript/BUILD
Due: buildifier

get indexer_test to pass remote
  kythe/typescript/BUILD
  kythe/typescript/package-lock.json
  kythe/typescript/package.json
  kythe/typescript/yarn.lock
  package.json
  pnpm-lock.yaml
Due: buildifier

hammer jasmine_test over the head and make it work
  WORKSPACE
  kythe/typescript/BUILD
  kythe/typescript/package-lock.json
  kythe/typescript/package.json
  kythe/typescript/yarn.lock
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: buildifier

fix(typescript): update typescript dependency to 4.8.4, move to apsect-build/rules_ts (#5495)
  .bazelrc
  BUILD
  WORKSPACE
  external.bzl
  kythe/proto/BUILD
  kythe/typescript/BUILD
  kythe/typescript/indexer.ts
  kythe/typescript/package-lock.json
  kythe/typescript/package.json
  kythe/typescript/tsconfig.json
  kythe/typescript/yarn.lock
  package.json
  pnpm-lock.yaml
  setup.bzl
Due: buildifier, copyright

chore(typescript): add quick comments on how to update dependencies
  kythe/typescript/BUILD
Due: buildifier

chore(typescript): add quick comments on how to update dependencies (#5497)
  kythe/typescript/BUILD
Due: buildifier

chore: update bazel version
  .bazelversion
  version.bzl
Due: buildifier

deprecation(proto_indexer): replace completes with completedby
  kythe/cxx/indexer/proto/proto_graph_builder.cc
  kythe/cxx/indexer/proto/testdata/basic/extend.proto
  kythe/cxx/indexer/proto/testdata/corner_cases/nopackage.proto
Due: copyright, clang-format

remove defunct schema example
  kythe/docs/schema/schema.txt
Due: copyright

remove second defunct schema example
  kythe/docs/schema/schema.txt
Due: copyright

remove third defunct schema example
  kythe/docs/schema/schema.txt
Due: copyright

chore: update bazel version (#5498)
  .bazelversion
  version.bzl
Due: buildifier

chore: fix commitlint for rules_js
  package.json
  pnpm-lock.yaml
  tools/git/BUILD
  tools/git/commit-msg.sh
Due: buildifier

chore: fix commitlint for rules_js (#5501)
  package.json
  pnpm-lock.yaml
  tools/git/BUILD
  tools/git/commit-msg.sh
Due: buildifier

fix another example
  kythe/docs/schema/callgraph.txt
Due: copyright

deprecation(proto_indexer): replace completes with completedby (#5500)
  kythe/cxx/indexer/proto/proto_graph_builder.cc
  kythe/cxx/indexer/proto/testdata/basic/extend.proto
  kythe/cxx/indexer/proto/testdata/corner_cases/nopackage.proto
Due: copyright, clang-format

Adjust test for file objects in the system module path
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
Due: copyright, google-java-format

Adjust test for file objects in the system module path (#5502)
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
Due: copyright, google-java-format

chore: remove unused Specificity enum
  kythe/cxx/indexer/cxx/GoogleFlagsLibrarySupport.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

chore: remove unused Specificity enum (#5503)
  kythe/cxx/indexer/cxx/GoogleFlagsLibrarySupport.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

fix: include TsProject as a typescript rule mnemonic for extraction extra action
  kythe/release/release.BUILD
Due: none

fix: include TsProject as a typescript rule mnemonic for extraction extra action (#5504)
  kythe/release/release.BUILD
Due: none

chore: fix release_test java failures
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/javac-wrapper.sh
  kythe/release/release_test.sh
Due: copyright

chore: write the exports arguments more directly
  kythe/release/release_test.sh
Due: copyright

chore: fix release_test java failures (#5505)
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/javac-wrapper.sh
  kythe/release/release_test.sh
Due: copyright

release: v0.0.61
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

release: v0.0.61 (#5506)
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

chore(c++): use string_view in more places
  kythe/cxx/extractor/proto/proto_extractor.cc
  kythe/cxx/indexer/textproto/analyzer.cc
Due: copyright, clang-format

pass string_view by value
  kythe/cxx/extractor/proto/proto_extractor.cc
Due: copyright, clang-format
