Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

build: update Bazel to 7.0.2
  .bazelversion
  kythe/cxx/extractor/BUILD
  version.bzl
Due: buildifier

build: update Bazel to 7.0.2 (#6006)
  .bazelversion
  kythe/cxx/extractor/BUILD
  version.bzl
Due: buildifier

chore: allow additional javac flags
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexer.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/java/com/google/devtools/kythe/platform/java/JavaCompilationDetails.java
  kythe/java/com/google/devtools/kythe/platform/java/JavacAnalysisDriver.java
Due: copyright, google-java-format

default value
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
Due: copyright, google-java-format

chore: allow additional javac flags (#6007)
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexer.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/java/com/google/devtools/kythe/platform/java/JavaCompilationDetails.java
  kythe/java/com/google/devtools/kythe/platform/java/JavacAnalysisDriver.java
Due: copyright, google-java-format

tools: markedsource defaults to rendering all when --rewrite is on (#5991)
  kythe/go/util/tools/markedsource/markedsource.go
  tools/build_rules/verifier_test/verifier_test.sh.in
Due: copyright, gofmt, golint

chore: support slog methods
  external.bzl
  go.mod
  kythe/go/extractors/cmd/gotool/Dockerfile
  kythe/go/util/log/log.go
  kythe/release/cloudbuild/go-builder/Dockerfile
Due: buildifier, copyright, gofmt, golint

clang-15
  kythe/release/cloudbuild/bazelisk-builder-client/Dockerfile
  kythe/release/cloudbuild/go-builder/Dockerfile
Due: copyright

chore: support slog methods (#6008)
  external.bzl
  go.mod
  kythe/go/extractors/cmd/gotool/Dockerfile
  kythe/go/util/log/log.go
  kythe/release/cloudbuild/bazelisk-builder-client/Dockerfile
  kythe/release/cloudbuild/go-builder/Dockerfile
Due: buildifier, copyright, gofmt, golint

chore: update log calls to pass Context
  kythe/go/extractors/bazel/treeset/treeset.go
  kythe/go/extractors/config/runextractor/compdb/compdb.go
  kythe/go/extractors/proto/extract_proto_kzip.go
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/platform/tools/kzip/filtercmd/filtercmd.go
  kythe/go/services/filetree/filetree.go
  kythe/go/services/graph/graph.go
  kythe/go/services/xrefs/xrefs.go
  kythe/go/serving/graph/columnar.go
  kythe/go/serving/graph/graph.go
  kythe/go/serving/identifiers/identifiers.go
  kythe/go/serving/pipeline/beamio/leveldb.go
  kythe/go/serving/pipeline/pipeline.go
  kythe/go/serving/xrefs/columnar.go
  kythe/go/storage/gsutil/gsutil.go
  kythe/go/storage/tools/write_entries/write_entries.go
  kythe/go/util/log/log.go
Due: copyright, gofmt, golint

chore: update log calls to pass Context (#6010)
  kythe/go/extractors/bazel/treeset/treeset.go
  kythe/go/extractors/config/runextractor/compdb/compdb.go
  kythe/go/extractors/proto/extract_proto_kzip.go
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/platform/tools/kzip/filtercmd/filtercmd.go
  kythe/go/services/filetree/filetree.go
  kythe/go/services/graph/graph.go
  kythe/go/services/xrefs/xrefs.go
  kythe/go/serving/graph/columnar.go
  kythe/go/serving/graph/graph.go
  kythe/go/serving/identifiers/identifiers.go
  kythe/go/serving/pipeline/beamio/leveldb.go
  kythe/go/serving/pipeline/pipeline.go
  kythe/go/serving/xrefs/columnar.go
  kythe/go/storage/gsutil/gsutil.go
  kythe/go/storage/tools/write_entries/write_entries.go
  kythe/go/util/log/log.go
Due: copyright, gofmt, golint

chore: update more log calls to pass Context
  kythe/go/extractors/bazel/extractor.go
  kythe/go/extractors/config/runextractor/mavencmd/mavencmd.go
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/localrun/localrun.go
  kythe/go/platform/analysis/driver/driver.go
  kythe/go/platform/analysis/driver/driver_test.go
  kythe/go/platform/analysis/local/local.go
  kythe/go/platform/tools/kzip/mergecmd/mergecmd.go
  kythe/go/platform/tools/kzip/metadatacmd/metadatacmd.go
  kythe/go/platform/tools/kzip/viewcmd/viewcmd.go
  kythe/go/services/cli/cli.go
  kythe/go/services/cli/command_edges.go
  kythe/go/services/cli/commands_xrefs.go
  kythe/go/services/filetree/filetree.go
  kythe/go/services/link/link.go
  kythe/go/serving/filetree/filetree.go
  kythe/go/serving/graph/graph.go
  kythe/go/serving/identifiers/identifiers.go
  kythe/go/serving/xrefs/assemble/assemble.go
  kythe/go/serving/xrefs/columnar.go
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

chore: update more log calls to pass Context (#6011)
  kythe/go/extractors/bazel/extractor.go
  kythe/go/extractors/config/runextractor/mavencmd/mavencmd.go
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/localrun/localrun.go
  kythe/go/platform/analysis/driver/driver.go
  kythe/go/platform/analysis/driver/driver_test.go
  kythe/go/platform/analysis/local/local.go
  kythe/go/platform/tools/kzip/mergecmd/mergecmd.go
  kythe/go/platform/tools/kzip/metadatacmd/metadatacmd.go
  kythe/go/platform/tools/kzip/viewcmd/viewcmd.go
  kythe/go/services/cli/cli.go
  kythe/go/services/cli/command_edges.go
  kythe/go/services/cli/commands_xrefs.go
  kythe/go/services/filetree/filetree.go
  kythe/go/services/link/link.go
  kythe/go/serving/filetree/filetree.go
  kythe/go/serving/graph/graph.go
  kythe/go/serving/identifiers/identifiers.go
  kythe/go/serving/xrefs/assemble/assemble.go
  kythe/go/serving/xrefs/columnar.go
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

chore: update LLVM
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.h
  kythe/cxx/tools/fyi/fyi.cc
  setup.bzl
Due: buildifier, copyright, clang-format

chore: update LLVM (#6012)
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.h
  kythe/cxx/tools/fyi/fyi.cc
  setup.bzl
Due: buildifier, copyright, clang-format

Support #private fields in TS.
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/class.ts
Due: copyright

Support #private fields in TS. (#6013)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/class.ts
Due: copyright

feat(kzip): add option for providing input list via file (#5970)
  kythe/go/platform/tools/kzip/mergecmd/mergecmd.go
Due: copyright, gofmt, golint

release: v0.0.65
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

release: v0.0.65 (#6014)
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

Set safe.directory='*' on `git` call
  kythe/go/extractors/cmd/gotool/analyze_packages.sh
Due: copyright

Set safe.directory='*' on `git` call (#6015)
  kythe/go/extractors/cmd/gotool/analyze_packages.sh
Due: copyright

chore: add Close methods to service interfaces
  kythe/go/languageserver/languageserver_test.go
  kythe/go/services/filetree/filetree.go
  kythe/go/services/xrefs/xrefs.go
  kythe/go/serving/graph/graph_test.go
  kythe/go/serving/identifiers/identifiers.go
  kythe/go/serving/identifiers/identifiers_test.go
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
Due: copyright, gofmt, golint

chore: add Close methods to service interfaces (#6016)
  kythe/go/languageserver/languageserver_test.go
  kythe/go/services/filetree/filetree.go
  kythe/go/services/xrefs/xrefs.go
  kythe/go/serving/graph/graph_test.go
  kythe/go/serving/identifiers/identifiers.go
  kythe/go/serving/identifiers/identifiers_test.go
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
Due: copyright, gofmt, golint

feat(java_indexer): support more metadata types
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexer.java
  kythe/java/com/google/devtools/kythe/platform/shared/BUILD
  kythe/java/com/google/devtools/kythe/platform/shared/KytheInlineMetadataLoader.java
Due: buildifier, copyright, google-java-format

feat(java_indexer): support more metadata types (#6017)
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexer.java
  kythe/java/com/google/devtools/kythe/platform/shared/BUILD
  kythe/java/com/google/devtools/kythe/platform/shared/KytheInlineMetadataLoader.java
Due: buildifier, copyright, google-java-format

fix: remove slog Context log calls
  kythe/go/util/log/log.go
Due: copyright, gofmt, golint

fix: remove slog Context log calls (#6018)
  kythe/go/util/log/log.go
Due: copyright, gofmt, golint

chore(bazel_go_extractor): statically-link binary
  kythe/go/extractors/cmd/bazel/bazel_go_extractor/BUILD
Due: buildifier

chore(bazel_go_extractor): statically-link binary (#6019)
  kythe/go/extractors/cmd/bazel/bazel_go_extractor/BUILD
Due: buildifier

release: v0.0.66
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

release: v0.0.66 (#6020)
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

chore(cxx_common): clean up missing-prototype and unused-function warnings
  kythe/cxx/common/status.h
  kythe/cxx/doc/html_markup_handler.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/proto/kythe_indexer_main.cc
  kythe/cxx/indexer/proto/marked_source.cc
  third_party/llvm/src/cxx_extractor_preprocessor_utils.cc
Due: copyright, clang-format

feat(go_indexer): add experimental flag support
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/flags.go
Due: buildifier, copyright, gofmt, golint

check crp
  kythe/go/indexer/testdata/flags.go
Due: none

feat(go_indexer): add experimental flag support (#6022)
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/flags.go
Due: buildifier, copyright, gofmt, golint

chore(cxx_common): add and use a vnames_config.proto for vname rules
  kythe/cxx/common/BUILD
  kythe/cxx/common/file_vname_generator.cc
  kythe/cxx/common/file_vname_generator.h
  kythe/proto/BUILD
  kythe/proto/vnames_config.proto
Due: buildifier, copyright, clang-format

chore(cxx_common): clean up missing-prototype and unused-function warnings (#6021)
  kythe/cxx/common/status.h
  kythe/cxx/doc/html_markup_handler.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/proto/kythe_indexer_main.cc
  kythe/cxx/indexer/proto/marked_source.cc
  third_party/llvm/src/cxx_extractor_preprocessor_utils.cc
Due: copyright, clang-format

chore: remove unused dep
  kythe/cxx/common/BUILD
Due: buildifier

chore(cxx_common): remove unused rapidjson based utilities
  kythe/cxx/common/BUILD
  kythe/cxx/common/json_proto.cc
  kythe/cxx/common/json_proto.h
  kythe/cxx/common/json_proto_test.cc
  kythe/cxx/common/kythe_metadata_file.h
Due: buildifier, copyright, clang-format

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
