Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

chore: more thoroughly address comments
  kythe/go/extractors/bazel/utils.go
Due: copyright, gofmt, golint

feat(extractor): add a flag for filtering on input file size (#5768)
  kythe/go/extractors/bazel/BUILD
  kythe/go/extractors/bazel/settings.go
  kythe/go/extractors/bazel/utils.go
  kythe/go/util/datasize/datasize.go
Due: buildifier, copyright, gofmt, golint

chore: plumb max_file_size through Starlark macro
  kythe/go/extractors/bazel/extractors.bzl
Due: buildifier

chore: plumb max_file_size through Starlark macro (#5769)
  kythe/go/extractors/bazel/extractors.bzl
Due: buildifier

feat(service): support searching by unit corpus in KCD
  kythe/go/platform/kcd/kcd.go
  kythe/go/platform/kcd/kcd_test.go
  kythe/go/platform/kcd/kythe/units.go
  kythe/go/platform/kcd/memdb/memdb.go
  kythe/go/platform/kcd/testutil/testutil.go
Due: copyright, gofmt, golint

feat(service): support searching by unit corpus in KCD (#5770)
  kythe/go/platform/kcd/kcd.go
  kythe/go/platform/kcd/kcd_test.go
  kythe/go/platform/kcd/kythe/units.go
  kythe/go/platform/kcd/memdb/memdb.go
  kythe/go/platform/kcd/testutil/testutil.go
Due: copyright, gofmt, golint

Replace use of `exec_tools` with semantically-identical `tools`.
  tools/build_rules/lexyacc/lexyacc.bzl
Due: buildifier

Replace use of `exec_tools` with semantically-identical `tools`. (#5772)
  tools/build_rules/lexyacc/lexyacc.bzl
Due: buildifier

feat(schema): add narrows edge
  kythe/docs/schema/schema.txt
Due: copyright

fix(extractor): fix Dockerfile and extraction script
  kythe/extractors/bazel/Dockerfile
  kythe/extractors/bazel/extract.sh
Due: copyright

feat(schema): add narrows edge (#5773)
  kythe/docs/schema/schema.txt
Due: copyright

fix(extractor): fix Dockerfile and extraction script (#5774)
  kythe/extractors/bazel/Dockerfile
  kythe/extractors/bazel/extract.sh
Due: copyright

chore: print totals in xrefs command
  kythe/go/services/cli/commands_xrefs.go
Due: copyright, gofmt, golint

chore: fix format string
  kythe/go/services/cli/commands_xrefs.go
Due: copyright, gofmt, golint

chore: print totals in xrefs command (#5775)
  kythe/go/services/cli/commands_xrefs.go
Due: copyright, gofmt, golint

chore(typescript_indexer): remove package.json from typescript folder
  kythe/typescript/package-lock.json
  kythe/typescript/package.json
Due: none

chore(typescript_indexer): remove package.json from typescript folder (#5777)
  kythe/typescript/package-lock.json
  kythe/typescript/package.json
Due: none

chore(cxx_indexer): remove experimental dataflow flag
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  kythe/cxx/indexer/cxx/testdata/proto/proto.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

fix: remove flag from asciidoc
  kythe/docs/schema/example-cxx.sh
Due: copyright

feat(api): support MarkedSource MODIFIER type
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/funcdecl.go
  kythe/go/indexer/testdata/code/interface.go
  kythe/go/indexer/testdata/code/methdecl.go
  kythe/proto/common.proto
  kythe/proto/common_go_proto/common.pb.go
Due: copyright, clang-format, gofmt, golint

fix: update test
  kythe/cxx/extractor/testdata/extract_verify_iostream_test.cc
Due: none

chore(cxx_indexer): remove experimental dataflow flag (#5776)
  kythe/cxx/extractor/testdata/extract_verify_iostream_test.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  kythe/cxx/indexer/cxx/testdata/proto/proto.cc
  kythe/docs/schema/example-cxx.sh
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

feat(api): support MarkedSource MODIFIER type (#5778)
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/funcdecl.go
  kythe/go/indexer/testdata/code/interface.go
  kythe/go/indexer/testdata/code/methdecl.go
  kythe/proto/common.proto
  kythe/proto/common_go_proto/common.pb.go
Due: copyright, clang-format, gofmt, golint

fix(cxx_indexer): always ref a decl regardless of alternate targets
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  kythe/cxx/indexer/cxx/testdata/proto/proto_semantic_ref.cc
  kythe/cxx/indexer/cxx/testdata/proto/proto_semantic_ref_aw.cc
Due: copyright, clang-format

fix(cxx_indexer): always ref a decl regardless of alternate targets (#5779)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  kythe/cxx/indexer/cxx/testdata/proto/proto_semantic_ref.cc
  kythe/cxx/indexer/cxx/testdata/proto/proto_semantic_ref_aw.cc
Due: copyright, clang-format

fix(typescript_indexer): remove superfluous BOX
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/marked_source/enum.ts
  kythe/typescript/testdata/marked_source/function.ts
  kythe/typescript/testdata/marked_source/property.ts
  kythe/typescript/testdata/marked_source/variable.ts
  kythe/typescript/testdata/tsx.tsx
Due: copyright

fix(typescript_indexer): remove superfluous BOX (#5780)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/marked_source/enum.ts
  kythe/typescript/testdata/marked_source/function.ts
  kythe/typescript/testdata/marked_source/property.ts
  kythe/typescript/testdata/marked_source/variable.ts
  kythe/typescript/testdata/tsx.tsx
Due: copyright

fix(go_indexer): use LOOKUP_BY_PARAM for method recv
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/interface.go
  kythe/go/indexer/testdata/code/methdecl.go
  kythe/go/indexer/testdata/generics/genericmethod.go
Due: copyright, gofmt, golint

fix(go_indexer): use LOOKUP_BY_PARAM for method recv (#5781)
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/interface.go
  kythe/go/indexer/testdata/code/methdecl.go
  kythe/go/indexer/testdata/generics/genericmethod.go
Due: copyright, gofmt, golint

fix: render BOX post_child_text if child is rendered
  kythe/java/com/google/devtools/kythe/doc/MarkedSourceRenderer.java
  kythe/javatests/com/google/devtools/kythe/doc/MarkedSourceRendererTest.java
Due: copyright, google-java-format

fix: render BOX post_child_text if child is rendered (#5782)
  kythe/java/com/google/devtools/kythe/doc/MarkedSourceRenderer.java
  kythe/javatests/com/google/devtools/kythe/doc/MarkedSourceRendererTest.java
Due: copyright, google-java-format

fix: c++ should handle post_child_text correctly
  kythe/cxx/doc/html_renderer.cc
  kythe/cxx/doc/html_renderer_test.cc
Due: copyright, clang-format

fix: go test
  kythe/cxx/doc/html_renderer.cc
  kythe/cxx/doc/html_renderer_test.cc
Due: copyright, clang-format

fix: this makes a bit more sense
  kythe/cxx/doc/html_renderer.cc
Due: copyright, clang-format

fix: c++ should handle post_child_text correctly (#5783)
  kythe/cxx/doc/html_renderer.cc
  kythe/cxx/doc/html_renderer_test.cc
Due: copyright, clang-format

chore: separate node building from caching
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

feat(serving): return estimates for all ref edge subkinds
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, clang-format, gofmt, golint

chore: comments
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
Due: copyright, gofmt, golint

chore: remove 0 entries in map
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
Due: copyright, gofmt, golint

feat(serving): return estimates for all ref edge subkinds (#5784)
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, clang-format, gofmt, golint
