Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

chore(cxx_common): remove unused rapidjson based utilities (#6024)
  kythe/cxx/common/BUILD
  kythe/cxx/common/json_proto.cc
  kythe/cxx/common/json_proto.h
  kythe/cxx/common/json_proto_test.cc
  kythe/cxx/common/kythe_metadata_file.h
Due: buildifier, copyright, clang-format

chore(cxx_common): add and use a vnames_config.proto for vname rules (#6023)
  kythe/cxx/common/BUILD
  kythe/cxx/common/file_vname_generator.cc
  kythe/cxx/common/file_vname_generator.h
  kythe/proto/BUILD
  kythe/proto/vnames_config.proto
Due: buildifier, copyright, clang-format

Fully log error.
  kythe/typescript/indexer.ts
Due: copyright

fix(typescript_indexer): Fully log errors from plugins. (#6025)
  kythe/typescript/indexer.ts
Due: copyright

feat(cxx_indexer): add denotes edge kind
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
Due: copyright, clang-format

feat(cxx_indexer): add denotes edge kind (#6026)
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
Due: copyright, clang-format

refactor(go_indexer): use denotes edge for flags
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/flags.go
  kythe/go/util/schema/edges/edges.go
  kythe/go/util/schema/indexdata.go
  kythe/java/com/google/devtools/kythe/analyzers/base/EdgeKind.java
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
Due: copyright, google-java-format, clang-format, gofmt, golint

refactor(go_indexer): use denotes edge for flags (#6027)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/flags.go
  kythe/go/util/schema/edges/edges.go
  kythe/go/util/schema/indexdata.go
  kythe/java/com/google/devtools/kythe/analyzers/base/EdgeKind.java
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
Due: copyright, google-java-format, clang-format, gofmt, golint

feat(cxx_indexer): add an emit function for denotes edges
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

fix: address comments
  kythe/cxx/indexer/cxx/GraphObserver.h
Due: copyright, clang-format

feat(cxx_indexer): add an emit function for denotes edges (#6028)
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

feat(schema): add denotes edge
  kythe/docs/schema/schema.txt
Due: copyright

feat(schema): add denotes edge (#6030)
  kythe/docs/schema/schema.txt
Due: copyright

feat(go_indexer): extract flag constructors as config
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/flags.bzl
  kythe/go/indexer/testdata/flags.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
  kythe/proto/go.proto
Due: buildifier, copyright, clang-format, gofmt, golint

//kythe/proto:update
  kythe/proto/go_go_proto/go.pb.go
Due: gofmt

feat(go_indexer): extract flag constructors as config (#6031)
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/flags.bzl
  kythe/go/indexer/testdata/flags.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
  kythe/proto/go.proto
  kythe/proto/go_go_proto/go.pb.go
Due: buildifier, copyright, clang-format, gofmt, golint

fix(go_indexer): guard against missing package data
  kythe/go/indexer/emit.go
Due: copyright, gofmt, golint

fix(go_indexer): guard against missing package data (#6032)
  kythe/go/indexer/emit.go
Due: copyright, gofmt, golint

feat(go_indexer): add support for Func/Var flag constructors
  kythe/go/indexer/BUILD
  kythe/go/indexer/emit.go
  kythe/go/indexer/flags.bzl
  kythe/go/indexer/testdata/flags.go
Due: buildifier, copyright, gofmt, golint

feat(go_indexer): add support for Func/Var flag constructors (#6033)
  kythe/go/indexer/BUILD
  kythe/go/indexer/emit.go
  kythe/go/indexer/flags.bzl
  kythe/go/indexer/testdata/flags.go
Due: buildifier, copyright, gofmt, golint

chore: add missing flag constructor
  kythe/go/indexer/BUILD
Due: buildifier

chore: add missing flag constructor (#6034)
  kythe/go/indexer/BUILD
Due: buildifier

feat: document ref/writes and aggregates
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/df/df_array_var_rw.cc
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Writes.java
Due: none

feat: document ref/writes and aggregates (#6035)
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/df/df_array_var_rw.cc
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Writes.java
Due: none

feat(go_indexer): support vars denoting flags
  kythe/go/indexer/BUILD
  kythe/go/indexer/emit.go
  kythe/go/indexer/flags.bzl
  kythe/go/indexer/testdata/flags.go
  kythe/proto/go.proto
Due: buildifier, copyright, clang-format, gofmt, golint

try a dict
  kythe/go/indexer/flags.bzl
Due: buildifier

okay; fine
  kythe/go/indexer/flags.bzl
Due: buildifier

cleanup + protogen
  kythe/go/indexer/flags.bzl
  kythe/proto/go_go_proto/go.pb.go
Due: buildifier, gofmt

feat(go_indexer): support vars denoting flags (#6037)
  kythe/go/indexer/BUILD
  kythe/go/indexer/emit.go
  kythe/go/indexer/flags.bzl
  kythe/go/indexer/testdata/flags.go
  kythe/proto/go.proto
  kythe/proto/go_go_proto/go.pb.go
Due: buildifier, copyright, clang-format, gofmt, golint

cloudbuild config for auto-updating website
  kythe/release/cloudbuild/website-updater/Dockerfile
  kythe/release/cloudbuild/website-updater/cloudbuild.yaml
Due: copyright

copyright header
  kythe/release/cloudbuild/website-updater/Dockerfile
Due: copyright

consolidate some RUN commands
  kythe/release/cloudbuild/website-updater/Dockerfile
Due: copyright

feat(website): add cloudbuild config for auto-updating website (#6039)
  kythe/release/cloudbuild/website-updater/Dockerfile
  kythe/release/cloudbuild/website-updater/cloudbuild.yaml
Due: copyright

chore: remove obsolete parameter
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore: remove obsolete parameter (#6040)
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

fix(bazel): alternate method of installing bazelisk in docker image
  external.bzl
  kythe/extractors/bazel/BUILD
  kythe/extractors/bazel/Dockerfile
Due: buildifier, copyright

cloudbuild config for updating extraction docker images
  kythe/release/cloudbuild/docker-updater/Dockerfile
  kythe/release/cloudbuild/docker-updater/cloudbuild.yaml
Due: copyright

fix(bazel): alternate method of installing bazelisk in docker image (#6041)
  external.bzl
  kythe/extractors/bazel/BUILD
  kythe/extractors/bazel/Dockerfile
Due: buildifier, copyright

add cloudbuild config for updating extraction docker images (#6042)
  kythe/release/cloudbuild/docker-updater/Dockerfile
  kythe/release/cloudbuild/docker-updater/cloudbuild.yaml
Due: copyright

fix: don't use -1 for whole file offsets
  kythe/java/com/google/devtools/kythe/platform/shared/ProtobufMetadataLoader.java
Due: copyright, google-java-format
