Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

fix: get rid of unnecessary roundtrip check
  kythe/cxx/indexer/cxx/GraphObserver.h
Due: copyright, clang-format

chore(indexing): add generated_message_info go proto
  kythe/proto/generated_message_info_go_proto/generated_message_info.pb.go
Due: gofmt

chore: update for bazel 4.2.0 (#5042)
  .bazelversion
  tools/platforms/configs/.latest.bazelrc
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/armeabi_cc_toolchain_config.bzl
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/builtin_include_directory_paths
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/cc_toolchain_config.bzl
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/cc_wrapper.sh
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/cc/module.modulemap
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/config/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.2.0/java/BUILD
  tools/platforms/configs/versions.bzl
  version.bzl
Due: buildifier

feat(cxx_indexer): Read the semantic field into metadata for #5037 (#5040)
  kythe/cxx/common/kythe_metadata_file.cc
  kythe/cxx/common/kythe_metadata_file.h
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

fix: address comments
  kythe/cxx/indexer/cxx/GraphObserver.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
Due: copyright, clang-format

fix: address a TS style nit
  kythe/typescript/test.ts
Due: copyright

fix: clang-format
  kythe/typescript/test.ts
Due: copyright

fix: address comments
  kythe/cxx/indexer/cxx/GraphObserver.cc
Due: copyright, clang-format

feat(cxx_indexer): Allow VNames as NodeIds for #5037 (#5041)
  kythe/cxx/indexer/cxx/GraphObserver.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

Apply semantic metadata rules for function calls for #5037
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/metadata/metadata_semantic.cc
  kythe/cxx/indexer/cxx/testdata/metadata/semantic.meta
Due: copyright, clang-format

fix(indexing): make requested changes from code review
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/testdata/corner_cases/gen-proto-dest.proto
  kythe/cxx/indexer/proto/testdata/corner_cases/gen-proto-source.proto
Due: copyright, clang-format

chore(indexing): simplify the SignAnnotation function
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
Due: copyright, clang-format

chore: provide defaults for MetadataFile::Rule so default construction works
  kythe/cxx/common/kythe_metadata_file.h
Due: copyright, clang-format

fix: address comments
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format

fix: address comments
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

chore: provide defaults for MetadataFile::Rule so default construction works (#5046)
  kythe/cxx/common/kythe_metadata_file.h
Due: copyright, clang-format

Update kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
Due: copyright, clang-format

feat(indexing): add metadata support for generated protos (#5021)
  kythe/cxx/indexer/proto/BUILD
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/file_descriptor_walker.h
  kythe/cxx/indexer/proto/proto_graph_builder.cc
  kythe/cxx/indexer/proto/proto_graph_builder.h
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/proto/testdata/corner_cases/gen-proto-dest.proto
  kythe/cxx/indexer/proto/testdata/corner_cases/gen-proto-source.proto
  kythe/proto/BUILD
  kythe/proto/generated_message_info.proto
  kythe/proto/generated_message_info_go_proto/generated_message_info.pb.go
Due: buildifier, copyright, clang-format, gofmt

chore: minor fixes for import
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/testdata/corner_cases/gen-proto-dest.proto
Due: copyright, clang-format

chore: minor fixes for import (#5047)
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/testdata/corner_cases/gen-proto-dest.proto
Due: copyright, clang-format

chore: bump Rust version
  external.bzl
Due: buildifier

chore: Add newline after kzip info output
  kythe/go/platform/tools/kzip/infocmd/infocmd.go
Due: copyright, gofmt, golint

chore: Add newline after kzip info output (#5050)
  kythe/go/platform/tools/kzip/infocmd/infocmd.go
Due: copyright, gofmt, golint

chore: bump Rust version (#5049)
  external.bzl
Due: buildifier

feat(rust_indexer): add cli argument for temporary directory
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/bin/proxy/main.rs
Due: buildifier, copyright, rustfmt

fix(rust_indexer): use temporary directory env variable
  kythe/rust/indexer/src/bin/proxy/main.rs
Due: copyright, rustfmt

feat(rust_indexer): add cli argument for temporary directory (#5051)
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/bin/proxy/main.rs
Due: buildifier, copyright, rustfmt

Apply semantic metadata rules for function calls for #5037 (#5045)
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/metadata/metadata_semantic.cc
  kythe/cxx/indexer/cxx/testdata/metadata/semantic.meta
Due: copyright, clang-format

fix: style nit in the TS indexer (#5044)
  kythe/typescript/test.ts
Due: copyright

chore: include a default branch in proto switch
  kythe/cxx/indexer/cxx/ProtoLibrarySupport.cc
Due: copyright, clang-format

chore: include a default branch in proto switch (#5052)
  kythe/cxx/indexer/cxx/ProtoLibrarySupport.cc
Due: copyright, clang-format

fix(java indexer): --override_jdk_corpus takes precedence over --use_compilation_corpus_as_default
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
Due: copyright, google-java-format

fix
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
Due: copyright, google-java-format

fix(java indexer): --override_jdk_corpus takes precedence over default corpus (#5043)
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
Due: copyright, google-java-format

feat(rust_extractor): add support for processing vname configuration
  kythe/extractors/BUILD
  kythe/rust/cargo/BUILD.bazel
  kythe/rust/cargo/Cargo.lock
  kythe/rust/cargo/Cargo.raze.lock
  kythe/rust/cargo/Cargo.toml
  kythe/rust/cargo/crates.bzl
  kythe/rust/cargo/remote/BUILD.rls-analysis-0.18.1.bazel
  kythe/rust/cargo/remote/BUILD.rls-data-0.19.1.bazel
  kythe/rust/cargo/remote/BUILD.rls-span-0.5.4.bazel
  kythe/rust/cargo/remote/BUILD.serde-1.0.129.bazel
  kythe/rust/cargo/remote/BUILD.serde_derive-1.0.129.bazel
  kythe/rust/cargo/remote/BUILD.serde_json-1.0.66.bazel
  kythe/rust/extractor/BUILD
  kythe/rust/extractor/src/bin/cli.rs
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/src/lib.rs
  kythe/rust/extractor/src/vname_util.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/extractor/tests/test.rs
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier, copyright, rustfmt

fix(rust_extractor): attempt to fix runfiles issues on rbe
  kythe/rust/extractor/BUILD
  kythe/rust/extractor/extractor_test.bzl
  kythe/rust/extractor/tests/integration_test.rs
  tools/rust/runfiles/BUILD
  tools/rust/runfiles/lib.rs
  tools/rust/runfiles/testfile.txt
Due: buildifier, copyright, rustfmt

fix(rust_extractor): fix bug in new runfiles library
  tools/rust/runfiles/lib.rs
Due: rustfmt

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
