Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

fix(schema): remove ref/call/thunk (#5874)
  kythe/docs/schema/schema.txt
Due: copyright

style: mark some nullable parameters
  kythe/java/com/google/devtools/kythe/platform/shared/BUILD
  kythe/java/com/google/devtools/kythe/platform/shared/FileDataProvider.java
Due: buildifier, copyright, google-java-format

remove extraneous changes
  kythe/go/indexer/testdata/generics/genericfunc.go
Due: none

style: mark some nullable parameters (#5875)
  kythe/java/com/google/devtools/kythe/platform/shared/BUILD
  kythe/java/com/google/devtools/kythe/platform/shared/FileDataProvider.java
Due: buildifier, copyright, google-java-format

style: gofmt testdata
  kythe/go/indexer/testdata/basic/packageinit_file.go
  kythe/go/indexer/testdata/generics/genericfunc.go
Due: none

feat: allow MarkedSource to remove itself from includes (#5873)
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/interface.go
  kythe/go/indexer/testdata/code/methdecl.go
  kythe/go/indexer/testdata/code/rendered.go
  kythe/go/indexer/testdata/code/structtype.go
  kythe/go/indexer/testdata/generics/genericfunc.go
  kythe/go/indexer/testdata/generics/genericinterface.go
  kythe/go/indexer/testdata/generics/genericmethod.go
  kythe/go/indexer/testdata/generics/genericstruct.go
  kythe/go/util/markedsource/resolve.go
  kythe/proto/common.proto
  kythe/proto/common_go_proto/common.pb.go
Due: copyright, clang-format, gofmt, golint

style: gofmt testdata (#5876)
  kythe/go/indexer/testdata/basic/packageinit_file.go
  kythe/go/indexer/testdata/generics/genericfunc.go
Due: none

chore: update website Go runtime to go121
  kythe/release/appengine/default/app.yaml
Due: none

chore: update website Go runtime to go121 (#5877)
  kythe/release/appengine/default/app.yaml
Due: none

fix(proto_indexer): typo in anchor spec
  kythe/cxx/indexer/proto/testdata/basic/map.proto
Due: none

fix(proto_indexer): typo in anchor spec (#5878)
  kythe/cxx/indexer/proto/testdata/basic/map.proto
Due: none

fix(verifier): work around issue in groundedness check
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

build: move options to common to reduce cache invalidation
  .bazelrc
Due: none

fix(verifier): work around issue in groundedness check (#5879)
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

build: move options to common to reduce cache invalidation (#5880)
  .bazelrc
Due: none

build: undo option not supported by version
  .bazelrc
Due: none

build: undo option not supported by version (#5881)
  .bazelrc
Due: none

feat(java_indexer): add method type parameters to MarkedSource
  kythe/java/com/google/devtools/kythe/analyzers/java/MarkedSources.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/RenderedCode.java
Due: copyright, google-java-format

feat(java_indexer): add method type parameters to MarkedSource (#5882)
  kythe/java/com/google/devtools/kythe/analyzers/java/MarkedSources.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/RenderedCode.java
Due: copyright, google-java-format

fix(verifier): request larger stack size for new solver
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

fix(verifier): request larger stack size for new solver (#5883)
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

feat(go_indexer): link type parameter constraints
  kythe/go/indexer/emit.go
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/generics/genericfunc.go
Due: copyright, gofmt, golint

feat(go_indexer): link type parameter constraints (#5884)
  kythe/go/indexer/emit.go
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/generics/genericfunc.go
Due: copyright, gofmt, golint

feat(verifier): allowlist tests for the fast solver
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/go/indexer/BUILD
  kythe/go/indexer/testdata/go_indexer_test.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

fix: include additional known tricky test
  kythe/cxx/indexer/cxx/testdata/BUILD
Due: none

feat(verifier): allowlist tests for the fast solver (#5885)
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/go/indexer/BUILD
  kythe/go/indexer/testdata/go_indexer_test.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore: update llvm
  external.bzl
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  setup.bzl
Due: buildifier, copyright, clang-format

chore: update llvm (#5886)
  external.bzl
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  setup.bzl
Due: buildifier, copyright, clang-format

test(cxx): demonstrate show bug in anchor spans for lambdas
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/scopes.cc
Due: none

rename test
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/lambda.cc
Due: none

improve TODO comment
  kythe/cxx/indexer/cxx/testdata/basic/lambda.cc
Due: none

test(cxx): demonstrate bug in anchor spans for lambdas (#5887)
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/lambda.cc
Due: none

feat(go_indexer): add subkinds to variable nodes
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/functions.go
  kythe/go/indexer/testdata/basic/locals.go
  kythe/go/indexer/testdata/basic/scopes.go
Due: copyright, gofmt, golint

feat(go_indexer): add subkinds to variable nodes (#5888)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/functions.go
  kythe/go/indexer/testdata/basic/locals.go
  kythe/go/indexer/testdata/basic/scopes.go
Due: copyright, gofmt, golint

chore(cxx): fix definition anchor spans for lambdas
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/lambda.cc
Due: copyright, clang-format

chore: update Go bazel deps
  external.bzl
  kythe/go/util/markedsource/BUILD
Due: buildifier

simplify
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format
