Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

feat(cxx_indexer): record full signatures in a separate file
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/GoogleFlagsLibrarySupport.cc
  kythe/cxx/indexer/cxx/GraphObserver.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/indexer_worklist.h
Due: buildifier, copyright, clang-format

fix: be less pithy
  kythe/cxx/indexer/cxx/GraphObserver.cc
Due: copyright, clang-format

feat(cxx_indexer): implement directory traversal in indexer VFS
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/cxx/KytheVFS.h
  kythe/cxx/indexer/cxx/KytheVFS_test.cc
Due: buildifier, copyright, clang-format

chore: report file not found from dir_begin
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/cxx/KytheVFS_test.cc
Due: copyright, clang-format

feat(cxx_indexer): implement directory traversal in indexer VFS (#5325)
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/cxx/KytheVFS.h
  kythe/cxx/indexer/cxx/KytheVFS_test.cc
Due: buildifier, copyright, clang-format

fix: push in a hash recorder
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/GraphObserver.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
Due: buildifier, copyright, clang-format

fix: guess the sandbox still doesn't work on darwin
  kythe/cxx/indexer/cxx/BUILD
Due: buildifier

fix: address comments
  kythe/cxx/indexer/cxx/GraphObserver.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
Due: copyright, clang-format

fix: address comments
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
Due: copyright, clang-format

feat(cxx_indexer): record full signatures in a separate file (#5323)
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/GoogleFlagsLibrarySupport.cc
  kythe/cxx/indexer/cxx/GraphObserver.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/IndexerFrontendAction.h
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/indexer_worklist.h
Due: buildifier, copyright, clang-format

feat(rust_extractor): support incoming generated files in the Rust extractor
  Cargo.Bazel.lock
  WORKSPACE
  cargo-bazel-lock.json
  kythe/rust/extractor/BUILD
  kythe/rust/extractor/extractor_test.bzl
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/tests/integration_test.rs
Due: buildifier, copyright, rustfmt

feat(rust_indexer): support xrefs to incoming generated files
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/testdata/out_dir/generated.rs
  kythe/rust/indexer/testdata/out_dir/main.rs
  tools/build_rules/verifier_test/rust_indexer_test.bzl
  tools/rust/extra_action/src/main.rs
Due: buildifier, rustfmt

fix: remove comment
  kythe/rust/extractor/extractor_test.bzl
Due: buildifier

fix: remove debug logs
  kythe/rust/extractor/src/bin/extractor.rs
Due: copyright, rustfmt

fix: more fixes
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/indexer/testdata/out_dir/generated.rs
  kythe/rust/indexer/testdata/out_dir/main.rs
Due: copyright, rustfmt

fix: exec -> target
  kythe/rust/extractor/extractor_test.bzl
Due: buildifier

chore: upgrade to Rust protobuf 2.27.1 and regenerate files
  BUILD
  Cargo.Bazel.lock
  WORKSPACE
  cargo-bazel-lock.json
  external.bzl
  kythe/proto/analysis_rust_proto/analysis.rs
  kythe/proto/analysis_rust_proto/any.rs
  kythe/proto/analysis_rust_proto/filecontext.rs
  kythe/proto/analysis_rust_proto/storage.rs
  kythe/proto/analysis_rust_proto/timestamp.rs
  kythe/proto/storage_rust_proto/storage.rs
  kythe/rust/extractor/BUILD
  kythe/rust/extractor/extractor_script.sh
  kythe/rust/fuchsia_extractor/BUILD
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/providers.rs
  setup.bzl
  tools/rust/extra_action/BUILD
Due: buildifier, copyright, rustfmt

feat(rust_indexer): emit proper xrefs to files generated by dependencies (#5326)
  Cargo.Bazel.lock
  WORKSPACE
  cargo-bazel-lock.json
  kythe/rust/extractor/BUILD
  kythe/rust/extractor/extractor_test.bzl
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/testdata/out_dir/generated.rs
  kythe/rust/indexer/testdata/out_dir/main.rs
  tools/build_rules/verifier_test/rust_indexer_test.bzl
  tools/rust/extra_action/src/main.rs
Due: buildifier, copyright, rustfmt

chore: bump rules_rust to v0.8.1
  Cargo.Bazel.lock
  cargo-bazel-lock.json
  kythe/rust/extractor/BUILD
  kythe/rust/extractor/extractor_script.sh
  setup.bzl
Due: buildifier, copyright

chore: bump rules_rust to v0.8.1 (#5328)
  Cargo.Bazel.lock
  cargo-bazel-lock.json
  kythe/rust/extractor/BUILD
  kythe/rust/extractor/extractor_script.sh
  setup.bzl
Due: buildifier, copyright

fix(rust_indexer): set the VName root on emitted Rust anchors
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/testdata/out_dir/generated.rs
Due: copyright, rustfmt

fix(rust_indexer): set the VName root on emitted Rust anchors (#5329)
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/testdata/out_dir/generated.rs
Due: copyright, rustfmt

chore(rust_common): manually configure the Rust protobuf toolchain
  BUILD
  Cargo.Bazel.lock
  WORKSPACE
  cargo-bazel-lock.json
  external.bzl
  kythe/rust/extractor/BUILD
  kythe/rust/fuchsia_extractor/BUILD
  kythe/rust/indexer/BUILD
  tools/rust/extra_action/BUILD
Due: buildifier

fix: linting issues
  BUILD
Due: buildifier

chore(rust_common): manually configure the Rust protobuf toolchain (#5330)
  BUILD
  Cargo.Bazel.lock
  WORKSPACE
  cargo-bazel-lock.json
  external.bzl
  kythe/rust/extractor/BUILD
  kythe/rust/fuchsia_extractor/BUILD
  kythe/rust/indexer/BUILD
  tools/rust/extra_action/BUILD
Due: buildifier

chore(rust_common): upgrade to protobuf 2.27.1
  Cargo.Bazel.lock
  WORKSPACE
  cargo-bazel-lock.json
  kythe/proto/analysis_rust_proto/analysis.rs
  kythe/proto/analysis_rust_proto/any.rs
  kythe/proto/analysis_rust_proto/filecontext.rs
  kythe/proto/analysis_rust_proto/storage.rs
  kythe/proto/analysis_rust_proto/timestamp.rs
  kythe/proto/storage_rust_proto/storage.rs
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/fuchsia_extractor/src/bin/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/writer.rs
Due: buildifier, copyright, rustfmt

chore(rust_common): bump version to 2022-07-27 and fix variable
  cargo-bazel-lock.json
  external.bzl
  kythe/rust/extractor/src/lib.rs
Due: buildifier, copyright, rustfmt

fix: checksum
  cargo-bazel-lock.json
Due: none

chore(rust_common): bump version to 2022-07-27 and fix variable (#5332)
  cargo-bazel-lock.json
  external.bzl
  kythe/rust/extractor/src/lib.rs
Due: buildifier, copyright, rustfmt

chore: use external aquery-based compilation db
  .gitignore
  BUILD
  external.bzl
  setup.bzl
  tools/clang_tidy/clang_tidy.sh
  tools/cpp/generate_compilation_database.sh
Due: buildifier

chore: use external aquery-based compilation db (#5333)
  .gitignore
  BUILD
  external.bzl
  setup.bzl
  tools/clang_tidy/clang_tidy.sh
  tools/cpp/generate_compilation_database.sh
Due: buildifier

chore: fix bazel extractor dockerfile
  kythe/extractors/bazel/Dockerfile
Due: copyright

chore: fix bazel extractor dockerfile (#5334)
  kythe/extractors/bazel/Dockerfile
Due: copyright

release: v0.0.60
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

chore: clean up RELEASES.md
  RELEASES.md
Due: none

release: v0.0.60 (#5335)
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

chore: configure clang-tidy to be similar to internal checks
  .bazelrc
  .clang-tidy
  BUILD
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: buildifier, copyright, clang-format

chore: apply some more clang-tidy cleanups
  kythe/cxx/indexer/cxx/indexer_worklist.cc
Due: copyright, clang-format

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
