Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

chore: formatting fixes
  kythe/java/com/google/devtools/kythe/platform/shared/MetadataLoader.java
  kythe/typescript/BUILD
Due: buildifier, copyright, google-java-format

chore: formatting fixes (#5621)
  kythe/java/com/google/devtools/kythe/platform/shared/MetadataLoader.java
  kythe/typescript/BUILD
Due: buildifier, copyright, google-java-format

fix(typescript_indexer): remove debug console.log
  kythe/typescript/indexer.ts
Due: copyright

fix(typescript_indexer): remove console.log left from debugging (#5622)
  kythe/typescript/indexer.ts
Due: copyright

fix(xrefs_filter): properly merge page lists that represent the set of allPages
  kythe/go/serving/xrefs/xrefs_filter.go
Due: copyright, gofmt, golint

fix(xrefs_filter): properly merge page lists that represent allPages (#5624)
  kythe/go/serving/xrefs/xrefs_filter.go
Due: copyright, gofmt, golint

chore: Make completeness optional for recordUserDefinedNode
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

chore(java_indexer): prep for multijar
  kythe/java/com/google/devtools/kythe/platform/java/helpers/15/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/20/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/9/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/ReflectiveJdkCompatibilityShimsImpl.java
Due: buildifier, copyright, google-java-format

chore(java_indexer): prep for multijar (#5626)
  kythe/java/com/google/devtools/kythe/platform/java/helpers/15/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/20/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/9/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/ReflectiveJdkCompatibilityShimsImpl.java
Due: buildifier, copyright, google-java-format

chore(java): prep java extractor for multijar
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/15/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/9/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
Due: buildifier, copyright, google-java-format

chore(java): prep java extractor for multijar (#5627)
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/15/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/9/JdkCompatibilityShimsImpl.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
Due: buildifier, copyright, google-java-format

Update KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

Apply clang-format
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

chore: Make completeness optional for recordUserDefinedNode (#5625)
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

feat(schema): add semantic/generated fact
  kythe/docs/schema/schema.txt
Due: copyright

feat(schema): add semantic/generated fact (#5628)
  kythe/docs/schema/schema.txt
Due: copyright

feat(java): add semantic/generated=set facts for annotated proto accessors
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/platform/shared/Metadata.java
  kythe/java/com/google/devtools/kythe/platform/shared/ProtobufMetadataLoader.java
Due: copyright, google-java-format

simplify
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

format comment
  kythe/java/com/google/devtools/kythe/platform/shared/Metadata.java
Due: copyright, google-java-format

feat(java_indexer): add Semantic field to protobuf Metadata
  kythe/java/com/google/devtools/kythe/platform/shared/Metadata.java
  kythe/java/com/google/devtools/kythe/platform/shared/ProtobufMetadataLoader.java
Due: copyright, google-java-format

feat(typescript_indexer): handle type nodes when emitting ref/id from object bindings
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/dynamic_import_group/import.ts
  kythe/typescript/testdata/dynamic_import_group/module.ts
Due: copyright

feat(typescript_indexer): handle type nodes when emitting ref/id from object bindings (#5631)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/dynamic_import_group/import.ts
  kythe/typescript/testdata/dynamic_import_group/module.ts
Due: copyright

feat(typescript_indexer): add flag to emit zero-width spans for module nodes
  kythe/typescript/indexer.ts
  kythe/typescript/kythe.ts
Due: copyright

feat(typescript_indexer): fix
  kythe/typescript/indexer.ts
Due: copyright

use proto-defined Semantic enum
  kythe/java/com/google/devtools/kythe/platform/shared/Metadata.java
  kythe/java/com/google/devtools/kythe/platform/shared/ProtobufMetadataLoader.java
Due: copyright, google-java-format

fix
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

fix name
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

feat(java): add semantic/generated=set facts for annotated proto accessors (#5629)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/platform/shared/Metadata.java
  kythe/java/com/google/devtools/kythe/platform/shared/ProtobufMetadataLoader.java
Due: copyright, google-java-format

feat(typescript_indexer): add flag to emit zero-width spans for module nodes (#5632)
  kythe/typescript/indexer.ts
  kythe/typescript/kythe.ts
Due: copyright

chore: update dependencies for --incompatible_disable_starlark_host_transitions
  .bazelversion
  external.bzl
  setup.bzl
  version.bzl
Due: buildifier

chore: update dependencies for --incompatible_disable_starlark_host_transitions (#5633)
  .bazelversion
  external.bzl
  setup.bzl
  version.bzl
Due: buildifier

fix: removal license export
  kythe/cxx/indexer/proto/testdata/BUILD
Due: none

fix: removal license export (#5634)
  kythe/cxx/indexer/proto/testdata/BUILD
Due: none

test: add a fuzz test
  kythe/go/serving/xrefs/xrefs_test.go
Due: copyright, gofmt, golint

cleanup rand
  kythe/go/serving/xrefs/xrefs_test.go
Due: copyright, gofmt, golint

test: add a fuzz test (#5635)
  kythe/go/serving/xrefs/xrefs_test.go
Due: copyright, gofmt, golint

feat(cxx_indexer): optionally set protobuf aliases as writes
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/common/protobuf_metadata_file.h
Due: copyright, clang-format

feat(cxx_indexer): optionally set protobuf aliases as writes (#5636)
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/common/protobuf_metadata_file.h
Due: copyright, clang-format

fix(cxx_common): eagerly convert from proto to reduce memory overhead in selector
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/bazel_artifact.h
  kythe/cxx/extractor/bazel_artifact_selector.cc
  kythe/cxx/extractor/bazel_artifact_selector.h
Due: buildifier, copyright, clang-format

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
