Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

chore: configure and apply clang-tidy (#5336)
  .bazelrc
  .clang-tidy
  BUILD
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/indexer_worklist.cc
Due: buildifier, copyright, clang-format

fix(java_indexer): assign diagnostics a corpus when use_compilation_corpus_as_default is enabled
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
Due: copyright, google-java-format

feat(go_indexer): rework --use_compilation_corpus_as_default
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/basic/stdliboverride.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: buildifier, copyright, gofmt, golint

less proto cloning
  kythe/go/indexer/emit.go
Due: copyright, gofmt, golint

generate diagnostic vname before calling emitDiagnostic()
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
Due: copyright, google-java-format

feat(go_indexer): rework --use_compilation_corpus_as_default (#5338)
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/basic/stdliboverride.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: buildifier, copyright, gofmt, golint

fix(rust_common): fix rustc_lib location in release
  kythe/release/bazel_rust_extractor_script.sh
  kythe/release/release.BUILD
Due: copyright

fix(rust_common): fix rustc_lib location in release (#5339)
  kythe/release/bazel_rust_extractor_script.sh
  kythe/release/release.BUILD
Due: copyright

release: v0.0.61
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

set CorpusPath on diagnostic NodeBuilder
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
Due: copyright, google-java-format

set CorpusPath before emitting
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
Due: copyright, google-java-format

fix(java_indexer): assign all diagnostics a corpus (#5337)
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
Due: copyright, google-java-format

fix: repin Cargo.Bazel.lock
  Cargo.Bazel.lock
Due: none

fix: regenerate Rust bazel protos and update script
  kythe/proto/generate_protobufs.py
  third_party/bazel/extra_actions_base_rust_proto/extra_actions_base.rs
  third_party/bazel/extra_actions_base_rust_proto/lib.rs
Due: copyright

chore(rust_common): upgrade to protobuf 2.27.1 (#5331)
  Cargo.Bazel.lock
  WORKSPACE
  cargo-bazel-lock.json
  kythe/proto/analysis_rust_proto/analysis.rs
  kythe/proto/analysis_rust_proto/any.rs
  kythe/proto/analysis_rust_proto/filecontext.rs
  kythe/proto/analysis_rust_proto/storage.rs
  kythe/proto/analysis_rust_proto/timestamp.rs
  kythe/proto/generate_protobufs.py
  kythe/proto/storage_rust_proto/storage.rs
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/fuchsia_extractor/src/bin/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/writer.rs
  third_party/bazel/extra_actions_base_rust_proto/extra_actions_base.rs
  third_party/bazel/extra_actions_base_rust_proto/lib.rs
Due: buildifier, copyright, rustfmt

[go_proto_src] Symlink instead of copy
  kythe/proto/go.bzl
Due: buildifier

chore(rust_common): upgrade to clap v3
  Cargo.Bazel.lock
  WORKSPACE
  cargo-bazel-lock.json
  kythe/rust/extractor/src/bin/cli.rs
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/src/bin/save_analysis.rs
  kythe/rust/extractor/src/vname_util.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/indexer/src/bin/bazel/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
Due: buildifier, copyright, rustfmt

fix: set bazel indexer flags as actions
  kythe/rust/indexer/src/bin/bazel/main.rs
Due: copyright, rustfmt

chore(java): convert old test cases from kindex to kzip
  kythe/java/com/google/devtools/kythe/analyzers/base/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/indexer_empty_cu_test.sh
  kythe/javatests/com/google/devtools/kythe/analyzers/java/indexer_source_root_test.sh
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/corner_case.kindex
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/corner_case.kzip
  kythe/testdata/java_empty.kindex
  kythe/testdata/java_empty.kzip
Due: buildifier, copyright

chore(java): convert old test cases from kindex to kzip (#5342)
  kythe/java/com/google/devtools/kythe/analyzers/base/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/indexer_empty_cu_test.sh
  kythe/javatests/com/google/devtools/kythe/analyzers/java/indexer_source_root_test.sh
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/corner_case.kindex
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/corner_case.kzip
  kythe/testdata/java_empty.kindex
  kythe/testdata/java_empty.kzip
Due: buildifier, copyright

more
  kythe/go/platform/tools/extraction/BUILD
  kythe/go/platform/tools/extraction/README.md
  kythe/go/platform/tools/extraction/extractrepo/BUILD
  kythe/go/platform/tools/extraction/extractrepo/Dockerfile
  kythe/go/platform/tools/extraction/extractrepo/extractrepo.go
  kythe/go/platform/tools/extraction/repotester/BUILD
  kythe/go/platform/tools/extraction/repotester/repotester.go
Due: buildifier, copyright, gofmt, golint

chore(c++): remove kindex code/comments from c++ indexer and extractor
  kythe/cxx/extractor/cxx_extractor_main.cc
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/frontend.cc
  kythe/cxx/indexer/cxx/frontend.h
  kythe/docs/example-linux.txt
Due: copyright, clang-format

chore(c++): remove kindex code/comments from c++ indexer and extractor (#5344)
  kythe/cxx/extractor/cxx_extractor_main.cc
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/frontend.cc
  kythe/cxx/indexer/cxx/frontend.h
  kythe/docs/example-linux.txt
Due: copyright, clang-format

chore(java): remove kindex-related code/comments
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexer.java
  kythe/java/com/google/devtools/kythe/analyzers/jvm/ClassFileIndexer.java
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/JavaExtractor.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/AbstractJavacWrapper.java
  kythe/java/com/google/devtools/kythe/extractors/jvm/bazel/BazelJvmExtractor.java
  kythe/java/com/google/devtools/kythe/extractors/shared/IndexInfoUtils.java
  kythe/javatests/com/google/devtools/kythe/util/QualifiedNameExtractorTest.java
Due: copyright, google-java-format

format files
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexer.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/AbstractJavacWrapper.java
  kythe/java/com/google/devtools/kythe/extractors/shared/IndexInfoUtils.java
Due: copyright, google-java-format

format files
  kythe/java/com/google/devtools/kythe/extractors/shared/IndexInfoUtils.java
Due: copyright, google-java-format

chore(java): remove kindex-related code/comments (#5345)
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexer.java
  kythe/java/com/google/devtools/kythe/analyzers/jvm/ClassFileIndexer.java
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/JavaExtractor.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/AbstractJavacWrapper.java
  kythe/java/com/google/devtools/kythe/extractors/jvm/bazel/BazelJvmExtractor.java
  kythe/java/com/google/devtools/kythe/extractors/shared/IndexInfoUtils.java
  kythe/javatests/com/google/devtools/kythe/util/QualifiedNameExtractorTest.java
Due: copyright, google-java-format

chore(java_indexer): delete deprecated getMethodVName() method (#5319)
  kythe/java/com/google/devtools/kythe/analyzers/jvm/JvmGraph.java
Due: copyright, google-java-format

chore: update llvm
  kythe/cxx/indexer/cxx/testdata/BUILD
  setup.bzl
Due: buildifier

chore: update llvm (#5346)
  kythe/cxx/indexer/cxx/testdata/BUILD
  setup.bzl
Due: buildifier

[go_proto_src] Symlink instead of copy (#5341)
  kythe/proto/go.bzl
Due: buildifier

fix(rust_extractor): use output file name as the name of the save analysis file
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/src/bin/save_analysis.rs
  kythe/rust/extractor/src/lib.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/extractor/tests/test.rs
Due: copyright, rustfmt

Fix typo in comment
  kythe/proto/storage.proto
Due: copyright, clang-format

chore(rust_indexer): add indexer test for inline test code
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/testdata/test_lib.rs
  tools/build_rules/verifier_test/rust_indexer_test.bzl
  tools/rust/extra_action/src/main.rs
Due: buildifier, rustfmt

chore(go): remove unused config-based extractor/pipeline setup (#5343)
  kythe/go/extractors/config/BUILD
  kythe/go/extractors/config/base/BUILD
  kythe/go/extractors/config/base/base.go
  kythe/go/extractors/config/base/base_test.go
  kythe/go/extractors/config/base/gradle/BUILD
  kythe/go/extractors/config/base/gradle/gradle.go
  kythe/go/extractors/config/base/mvn/BUILD
  kythe/go/extractors/config/base/mvn/mvn.go
  kythe/go/extractors/config/base/testdata/expected_gradle_config.Dockerfile
  kythe/go/extractors/config/base/testdata/expected_mvn2_config.Dockerfile
  kythe/go/extractors/config/base/testdata/expected_mvn_config.Dockerfile
  kythe/go/extractors/config/base/testdata/gradle_config.json
  kythe/go/extractors/config/base/testdata/mvn2_config.json
  kythe/go/extractors/config/base/testdata/mvn_config.json
  kythe/go/extractors/config/config_parser.go
  kythe/go/extractors/config/config_parser_test.go
  kythe/go/extractors/config/config_selector.go
  kythe/go/extractors/config/config_selector_test.go
  kythe/go/extractors/config/extractor.go
  kythe/go/extractors/config/smoke/BUILD
  kythe/go/extractors/config/smoke/smoke.go
  kythe/go/extractors/config/smoke/smoke_test.go
  kythe/go/platform/tools/extraction/BUILD
  kythe/go/platform/tools/extraction/README.md
  kythe/go/platform/tools/extraction/extractrepo/BUILD
  kythe/go/platform/tools/extraction/extractrepo/Dockerfile
  kythe/go/platform/tools/extraction/extractrepo/extractrepo.go
  kythe/go/platform/tools/extraction/repotester/BUILD
  kythe/go/platform/tools/extraction/repotester/repotester.go
Due: buildifier, copyright, gofmt, golint

chore(go): remove support for kindex
  kythe/go/extractors/bazel/BUILD
  kythe/go/extractors/bazel/extractor_test.go
  kythe/go/extractors/bazel/extutil/BUILD
  kythe/go/extractors/bazel/settings.go
  kythe/go/extractors/cmd/bazel/bazel_go_extractor/bazel_go_extractor.go
  kythe/go/extractors/constants/constants.go
  kythe/go/extractors/golang/BUILD
  kythe/go/extractors/golang/golang.go
  kythe/go/platform/kcd/kzipdb/kzipdb.go
  kythe/go/platform/kindex/BUILD
  kythe/go/platform/kindex/kindex.go
  kythe/go/platform/kindex/kindex_test.go
  kythe/go/platform/kzip/kzip.go
  kythe/go/storage/tools/write_entries/write_entries.go
Due: buildifier, copyright, gofmt, golint

gofmt
  kythe/go/extractors/golang/golang.go
Due: copyright, gofmt, golint

chore(go): remove support for kindex (#5348)
  kythe/go/extractors/bazel/BUILD
  kythe/go/extractors/bazel/extractor_test.go
  kythe/go/extractors/bazel/extutil/BUILD
  kythe/go/extractors/bazel/settings.go
  kythe/go/extractors/cmd/bazel/bazel_go_extractor/bazel_go_extractor.go
  kythe/go/extractors/constants/constants.go
  kythe/go/extractors/golang/BUILD
  kythe/go/extractors/golang/golang.go
  kythe/go/platform/kcd/kzipdb/kzipdb.go
  kythe/go/platform/kindex/BUILD
  kythe/go/platform/kindex/kindex.go
  kythe/go/platform/kindex/kindex_test.go
  kythe/go/platform/kzip/kzip.go
  kythe/go/storage/tools/write_entries/write_entries.go
Due: buildifier, copyright, gofmt, golint

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
