Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

rust: set is_workspace_member to indicate the crate being indexed
  kythe/go/extractors/cmd/rust/rust_project_to_kzip.go
  kythe/go/extractors/cmd/rust/rust_project_to_kzip_test.go
Due: copyright, gofmt, golint

release: v0.0.76
  RELEASES.md
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
Due: buildifier, copyright

go/riegeli: fix stale block-buffer reuse for chunks starting on a block boundary
  kythe/go/util/riegeli/block_test.go
  kythe/go/util/riegeli/reader.go
  kythe/go/util/riegeli/riegeli_test.go
Due: copyright, gofmt, golint

build(go): upgrade grpc to v1.83.2 and rules_go to v0.60.0
  external.bzl
  go.mod
  go.sum
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
  kythe/go/serving/pipeline/pipeline.go
  kythe/go/util/html/html.go
  setup.bzl
  third_party/gazelle-0.32.0-go_test_mode.patch
Due: buildifier, copyright, gofmt, golint

Fix data race on the fileSignatureChunk global variable in Riegeli writer.go
  kythe/go/util/riegeli/reader.go
  kythe/go/util/riegeli/writer.go
Due: copyright, gofmt, golint

Fix flaky serving table generation by making cross-reference ordering deterministic.
  kythe/go/serving/pipeline/pipeline.go
Due: copyright, gofmt, golint

Make cross-reference serving table ordering deterministic.
  kythe/go/serving/pipeline/pipeline.go
Due: copyright, gofmt, golint

Make cross-reference serving table ordering deterministic. (#6242)
  kythe/go/serving/pipeline/pipeline.go
Due: copyright, gofmt, golint

Update go-builder base image from golang:1.21 to golang:1.24.
  kythe/release/cloudbuild/go-builder/Dockerfile
Due: copyright

Update go-builder base image from golang:1.21 to golang:1.24. (#6246)
  kythe/release/cloudbuild/go-builder/Dockerfile
Due: copyright

Update go-builder base image to golang:1.25-bookworm.
  kythe/release/cloudbuild/go-builder/Dockerfile
Due: copyright

Update go-builder base image to golang:1.24-bookworm.
  kythe/release/cloudbuild/go-builder/Dockerfile
Due: copyright

Update go-builder base image to golang:1.24-bookworm. (#6247)
  kythe/release/cloudbuild/go-builder/Dockerfile
Due: copyright

Update go-builder base image to golang:1.25-bookworm. (#6248)
  kythe/release/cloudbuild/go-builder/Dockerfile
Due: copyright

Fix data race on the fileSignatureChunk global variable in Riegeli writer.go (#6240)
  kythe/go/util/riegeli/reader.go
  kythe/go/util/riegeli/writer.go
Due: copyright, gofmt, golint

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
