Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

chore: remove remaining references to kindex
  .gitignore
  kythe/cxx/extractor/testdata/test_kzip.sh
  kythe/cxx/indexer/cxx/frontend.cc
  kythe/cxx/indexer/cxx/frontend.h
  kythe/cxx/indexer/cxx/testdata/windows_test.unit
  kythe/cxx/tools/testdata/test_claim_tool_kzip.sh
  kythe/docs/example-linux.txt
  kythe/docs/kythe-configurable-extraction.txt
  kythe/docs/schema/indexing-generated-code.txt
  kythe/examples/proto/test_direct_index_proto_user.sh
  kythe/extractors/openjdk8/Dockerfile
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/README.md
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/README.md
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/javac-wrapper.sh
  kythe/release/appengine/xrefs/build_serving_tables.sh
  kythe/release/appengine/xrefs/run_indexers.sh
  kythe/release/maven_extractor.sh
  kythe/release/release_test.sh
Due: copyright, clang-format

clang-format
  kythe/cxx/indexer/cxx/frontend.cc
  kythe/cxx/indexer/cxx/frontend.h
Due: copyright, clang-format

chore: remove remaining references to kindex (#5349)
  .gitignore
  kythe/cxx/extractor/testdata/test_kzip.sh
  kythe/cxx/indexer/cxx/frontend.cc
  kythe/cxx/indexer/cxx/frontend.h
  kythe/cxx/indexer/cxx/testdata/windows_test.unit
  kythe/cxx/tools/testdata/test_claim_tool_kzip.sh
  kythe/docs/example-linux.txt
  kythe/docs/kythe-configurable-extraction.txt
  kythe/docs/schema/indexing-generated-code.txt
  kythe/examples/proto/test_direct_index_proto_user.sh
  kythe/extractors/openjdk8/Dockerfile
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/README.md
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/README.md
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/javac-wrapper.sh
  kythe/release/appengine/xrefs/build_serving_tables.sh
  kythe/release/appengine/xrefs/run_indexers.sh
  kythe/release/maven_extractor.sh
  kythe/release/release_test.sh
Due: copyright, clang-format

Fix typo in comment (#5350)
  kythe/proto/storage.proto
Due: copyright, clang-format

fix(go): re-add Compilation struct and associated methods
  kythe/go/platform/kzip/kzip.go
Due: copyright, gofmt, golint

fix: clean up some args and update extra_action
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/indexer/src/bin/bazel/main.rs
  tools/rust/extra_action/src/main.rs
Due: copyright, rustfmt

fix go imports
  kythe/go/platform/kindex/kindex.go
  kythe/go/platform/kzip/BUILD
  kythe/go/platform/kzip/kzip.go
Due: buildifier, copyright, gofmt, golint

fix(go): re-add Compilation struct and associated methods (#5351)
  kythe/go/platform/kindex/kindex.go
  kythe/go/platform/kzip/BUILD
  kythe/go/platform/kzip/kzip.go
Due: buildifier, copyright, gofmt, golint

chore(go): remove accidentally-added kindex.go file
  kythe/go/platform/kindex/kindex.go
Due: copyright, gofmt, golint

chore(go): remove accidentally-added kindex.go file (#5352)
  kythe/go/platform/kindex/kindex.go
Due: copyright, gofmt, golint

chore(proto): add a java_package option to graph and link
  kythe/proto/graph.proto
  kythe/proto/link.proto
Due: copyright, clang-format

chore: regenerate modified protos
  kythe/proto/go.bzl
  kythe/proto/graph_go_proto/graph.pb.go
  kythe/proto/link_go_proto/link.pb.go
Due: buildifier, gofmt

fix(rust_extractor): improve save_analysis path detection logic
  kythe/rust/extractor/src/bin/extractor.rs
Due: copyright, rustfmt

chore(proto): add a java_package option to graph and link (#5353)
  kythe/proto/go.bzl
  kythe/proto/graph.proto
  kythe/proto/graph_go_proto/graph.pb.go
  kythe/proto/link.proto
  kythe/proto/link_go_proto/link.pb.go
Due: buildifier, copyright, clang-format, gofmt

fix(rust_extractor): add ok_or_else logic
  kythe/rust/extractor/src/bin/extractor.rs
Due: copyright, rustfmt

fix(rust_extractor): improve logic for finding the save analysis file (#5354)
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/src/bin/save_analysis.rs
  kythe/rust/extractor/src/lib.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/extractor/tests/test.rs
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/testdata/test_lib.rs
  tools/build_rules/verifier_test/rust_indexer_test.bzl
  tools/rust/extra_action/src/main.rs
Due: buildifier, copyright, rustfmt

fix(rust_common): re-add test_lib arg
  tools/rust/extra_action/src/main.rs
Due: rustfmt

fix: clarify arg hint
  tools/rust/extra_action/src/main.rs
Due: rustfmt

fix: clippy lints
  tools/rust/extra_action/src/main.rs
Due: rustfmt

chore(rust_common): upgrade to clap v3 (#5355)
  Cargo.Bazel.lock
  WORKSPACE
  cargo-bazel-lock.json
  kythe/rust/extractor/src/bin/cli.rs
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/src/bin/save_analysis.rs
  kythe/rust/extractor/src/vname_util.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/indexer/src/bin/bazel/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  tools/rust/extra_action/src/main.rs
Due: buildifier, copyright, rustfmt

chore: perform some cleanup on the Rust indexer
  kythe/rust/indexer/src/bin/bazel/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/entries.rs
  kythe/rust/indexer/src/indexer/offset.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/proxyrequests.rs
  kythe/rust/indexer/src/writer.rs
Due: copyright, rustfmt

./tools/rust/rustfmt.sh
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/indexer/src/bin/bazel/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/entries.rs
  kythe/rust/indexer/src/indexer/offset.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/proxyrequests.rs
  kythe/rust/indexer/src/writer.rs
Due: copyright, rustfmt

chore(rust_common): enable rustfmt tests using aspect
  .bazelrc
  tools/rust/BUILD
Due: buildifier

chore(rust_common): use the rustfmt from rules_rust
  .pre-commit-config.yaml
  tools/rust/rustfmt.sh
Due: none

fix: fallback to system rustfmt for cloudbuild
  kythe/release/cloudbuild/pre-commit/Dockerfile
  tools/rust/rustfmt.sh
Due: copyright

fix: use golang 1.18 specifically
  kythe/release/cloudbuild/pre-commit/Dockerfile
Due: copyright

update googletest version
  external.bzl
Due: buildifier

updated the wrong dependency
  external.bzl
Due: buildifier

update googletest version (#5358)
  external.bzl
Due: buildifier

fix: bazelrc changes
  .bazelrc
Due: none

chore(rust_common): rustfmt improvements (#5357)
  .bazelrc
  .pre-commit-config.yaml
  kythe/release/cloudbuild/pre-commit/Dockerfile
  tools/rust/BUILD
  tools/rust/rustfmt.sh
Due: buildifier, copyright

./tools/rust/rustfmt.sh
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/indexer/src/providers.rs
Due: copyright, rustfmt

chore: perform some cleanup on the Rust indexer (#5356)
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/writer.rs
Due: copyright, rustfmt

chore(cxx_indexer): minor cleanups, remove EmitRanges hack
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format

chore: add include for DeclVisitor
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore(cxx_indexer): add and use llvm stream adaptor for logging
  external.bzl
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/stream_adapter.cc
  kythe/cxx/indexer/cxx/stream_adapter.h
Due: buildifier, copyright, clang-format

chore: add documentation comments
  kythe/cxx/indexer/cxx/stream_adapter.h
Due: copyright, clang-format

chore(cxx_indexer): add and use llvm stream adaptor for logging (#5360)
  external.bzl
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/stream_adapter.cc
  kythe/cxx/indexer/cxx/stream_adapter.h
Due: buildifier, copyright, clang-format

chore(cxx_indexer): move typedef node emission to Visit
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format

chore(cxx_indexer): minor cleanups, remove EmitRanges hack (#5359)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format
