Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

fix(rust_indexer): use required_input info path
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix(rust_indexer): copy the language field when converting VNames
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix(rust_indexer): copy the language field when converting VNames (#5069)
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix: small bug
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

test: use testing package for kcd tests
  kythe/go/platform/kcd/memdb/memdb_test.go
  kythe/go/platform/kcd/testutil/testutil.go
Due: copyright, gofmt, golint

fix(rust_indexer): serialize proxy communication with serde_json
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/error.rs
  kythe/rust/indexer/src/lib.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/writer.rs
Due: buildifier, copyright, rustfmt

fix: ensure new file is added
  kythe/rust/indexer/src/proxyrequests.rs
Due: copyright, rustfmt

fix: add comments
  kythe/rust/indexer/src/proxyrequests.rs
Due: copyright, rustfmt

chore(rust_common): parallelize rustfmt script
  tools/rust/rustfmt.sh
Due: none

test: use testing package for kcd tests (#5070)
  kythe/go/platform/kcd/memdb/memdb_test.go
  kythe/go/platform/kcd/testutil/testutil.go
Due: copyright, gofmt, golint

fix: address comment
  kythe/rust/indexer/src/writer.rs
Due: copyright, rustfmt

chore(rust_common): parallelize rustfmt script (#5072)
  tools/rust/rustfmt.sh
Due: none

fix: remove unneeded comment
  kythe/rust/indexer/src/writer.rs
Due: copyright, rustfmt

fix(rust_indexer): serialize proxy communication with serde_json (#5071)
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/error.rs
  kythe/rust/indexer/src/lib.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/proxyrequests.rs
  kythe/rust/indexer/src/writer.rs
Due: buildifier, copyright, rustfmt

Clean up testing additions to code.
  kythe/cxx/verifier/verifier_main.cc
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
Due: copyright, clang-format

Updated goals in inline metadata test to work
  :Q
  kythe/java/com/google/devtools/kythe/platform/shared/KytheInlineMetadataLoader.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/InlineMetadata.java
Due: copyright, google-java-format

Deleted accidental log file
  :Q
Due: copyright

Update filepaths in inline metadata test goals
  kythe/java/com/google/devtools/kythe/platform/shared/KytheInlineMetadataLoader.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/InlineMetadata.java
Due: copyright, google-java-format

Update generated file from metadata protobuf
  kythe/proto/metadata_go_proto/metadata.pb.go
Due: gofmt

Update inline metadata parsing logic to only pass the encoded metadata to the metadata loader, as opposed to passing a file blob.
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/platform/shared/KytheInlineMetadataLoader.java
Due: copyright, google-java-format

Small change to string manipulations.
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

Rename variable
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

Switch from using streams to nested for-loops.
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

Run google-java-format.
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/platform/shared/KytheInlineMetadataLoader.java
Due: copyright, google-java-format

Modify the Kythe Java Indexer to add support for inline encoded GeneratedCodeInfo protos specified in a generated Java file. (#5073)
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexer.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/platform/shared/BUILD
  kythe/java/com/google/devtools/kythe/platform/shared/KytheInlineMetadataLoader.java
  kythe/java/com/google/devtools/kythe/platform/shared/Metadata.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/InlineMetadata.java
  kythe/proto/metadata.proto
  kythe/proto/metadata_go_proto/metadata.pb.go
Due: buildifier, copyright, google-java-format, clang-format, gofmt

chore: apply some fixes from import
  kythe/java/com/google/devtools/kythe/platform/shared/KytheInlineMetadataLoader.java
Due: copyright, google-java-format

chore: apply some fixes from import (#5074)
  kythe/java/com/google/devtools/kythe/platform/shared/KytheInlineMetadataLoader.java
Due: copyright, google-java-format

feat(jvm indexer): add useCompilationCorpusAsDefault param to analyzeCompilation()
  kythe/java/com/google/devtools/kythe/analyzers/jvm/ClassFileIndexer.java
  kythe/java/com/google/devtools/kythe/analyzers/jvm/KytheClassVisitor.java
Due: copyright, google-java-format

feat(jvm indexer): add useCompilationCorpusAsDefault param (#5075)
  kythe/java/com/google/devtools/kythe/analyzers/jvm/ClassFileIndexer.java
  kythe/java/com/google/devtools/kythe/analyzers/jvm/KytheClassVisitor.java
Due: copyright, google-java-format

chore: cleanup for soon-to-be internal compile failure
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Imports.java
Due: none

chore: cleanup for soon-to-be internal compile failure (#5076)
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Imports.java
Due: none

fix(rust_indexer): don't fail indexing if generated file couldn't be emitted
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix(rust_indexer): don't fail indexing if generated file couldn't be emitted (#5077)
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

chore: update LLVM
  external.bzl
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

chore: clean up llvm repo
  setup.bzl
Due: buildifier

chore: use a new platform for bazelci which has a reasonable version of clang
  .bazelci/presubmit.yml
Due: none

chore: update LLVM (#5078)
  .bazelci/presubmit.yml
  external.bzl
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

fix(rust_extractor): fix path for targets with hyphens
  kythe/rust/extractor/src/bin/extractor.rs
Due: copyright, rustfmt

fix(rust_extractor): fix path for targets with hyphens (#5079)
  kythe/rust/extractor/src/bin/extractor.rs
Due: copyright, rustfmt

refactor(kcd): use Revision instead of string params
  kythe/go/platform/kcd/kcd.go
  kythe/go/platform/kcd/locked/locked.go
  kythe/go/platform/kcd/memdb/memdb.go
  kythe/go/platform/kcd/testutil/testutil.go
Due: copyright, gofmt, golint

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
