Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

fix typo
  kythe/proto/BUILD
Due: buildifier

chore(proto): add cc_library for schema.proto (#5964)
  kythe/proto/BUILD
Due: buildifier

fix(cxx_indexer): prepare for a clang change
  kythe/cxx/indexer/cxx/testdata/template/template_fn_dependent_spec_defn.cc
Due: none

fix(cxx_indexer): prepare for a clang change (#5965)
  kythe/cxx/indexer/cxx/testdata/template/template_fn_dependent_spec_defn.cc
Due: none

test: add SetFlag utility
  kythe/go/test/testutil/testutil.go
Due: copyright, gofmt, golint

test: add SetFlag utility (#5966)
  kythe/go/test/testutil/testutil.go
Due: copyright, gofmt, golint

feat(verifier): support graphviz output with the fast solver
  kythe/cxx/verifier/pretty_printer.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
Due: copyright, clang-format

feat(verifier): support graphviz output with the fast solver (#5967)
  kythe/cxx/verifier/pretty_printer.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
Due: copyright, clang-format

chore(rust_common): add target for common_rust_proto
  kythe/proto/BUILD
  kythe/proto/common_rust_proto/common.rs
  kythe/proto/common_rust_proto/lib.rs
  kythe/proto/common_rust_proto/timestamp.rs
Due: buildifier

chore(rust_common): add target for common_rust_proto (#5968)
  kythe/proto/BUILD
  kythe/proto/common_rust_proto/common.rs
  kythe/proto/common_rust_proto/lib.rs
  kythe/proto/common_rust_proto/timestamp.rs
Due: buildifier

test: test valid and invalid missing digests
  kythe/go/platform/kcd/testutil/testutil.go
Due: copyright, gofmt, golint

test: test valid and invalid missing digests (#5969)
  kythe/go/platform/kcd/testutil/testutil.go
Due: copyright, gofmt, golint

feat(kzip): add option for providing input list via file
  kythe/go/platform/tools/kzip/mergecmd/mergecmd.go
Due: copyright, gofmt, golint

fix(verifier): give more useful diagnostics during recovery
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/assertions_to_souffle_test.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/testdata/BUILD
  kythe/cxx/verifier/testdata/singleton_inspect_expected_error_fs.txt
  kythe/cxx/verifier/testdata/singleton_inspect_input_fs.txt
  kythe/cxx/verifier/testdata/test_singleton_fs.sh
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

fix: this PR is a prerequisite for fast-solver-as-default
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

fix: add error message to test output
  kythe/cxx/verifier/testdata/singleton_inspect_expected_error_fs.txt
  kythe/cxx/verifier/testdata/test_singleton_fs.sh
Due: none

fix(verifier): give more useful diagnostics during recovery (#5971)
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/assertions_to_souffle_test.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/testdata/BUILD
  kythe/cxx/verifier/testdata/singleton_inspect_expected_error_fs.txt
  kythe/cxx/verifier/testdata/singleton_inspect_input_fs.txt
  kythe/cxx/verifier/testdata/test_singleton_fs.sh
Due: copyright, clang-format

fix(verifier): use the fast solver by default.
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

fix(verifier): use the fast solver by default. (#5972)
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

read from stdin; only allow one file input option
  kythe/go/platform/tools/kzip/mergecmd/mergecmd.go
Due: copyright, gofmt, golint

feat(extraction): allow using a capturing group with generic bazel extractor
  kythe/go/extractors/bazel/extractor_test.go
  kythe/go/extractors/bazel/utils.go
Due: copyright, gofmt, golint

feat(extraction): allow using a capturing group with generic bazel extractor (#5973)
  kythe/go/extractors/bazel/extractor_test.go
  kythe/go/extractors/bazel/utils.go
Due: copyright, gofmt, golint

chore: silence some Go lint warnings
  kythe/go/extractors/bazel/utils.go
Due: copyright, gofmt, golint

chore: cleanup nop toolchain transition flags
  kythe/cxx/extractor/toolchain.bzl
  kythe/cxx/tools/fyi/testdata/compile_commands.bzl
Due: buildifier

chore: silence some Go lint warnings (#5974)
  kythe/go/extractors/bazel/utils.go
Due: copyright, gofmt, golint

chore: cleanup nop toolchain transition flags (#5975)
  kythe/cxx/extractor/toolchain.bzl
  kythe/cxx/tools/fyi/testdata/compile_commands.bzl
Due: buildifier

chore: update LLVM and fix deprecation warnings
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/indexer/cxx/GoogleFlagsLibrarySupport.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/ProtoLibrarySupport.cc
  kythe/cxx/indexer/cxx/frontend.cc
  setup.bzl
Due: buildifier, copyright, clang-format

chore: fix schema doc example friend template definition failure
  kythe/docs/schema/schema.txt
Due: copyright

chore: update LLVM and fix deprecation warnings (#5976)
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/indexer/cxx/GoogleFlagsLibrarySupport.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/ProtoLibrarySupport.cc
  kythe/cxx/indexer/cxx/frontend.cc
  kythe/docs/schema/schema.txt
  setup.bzl
Due: buildifier, copyright, clang-format

chore: update Bazel for dependabot x/crypto update
  external.bzl
Due: buildifier

chore: update Bazel for dependabot x/crypto update (#5978)
  external.bzl
Due: buildifier

chore: remove a no-op call to MakeNodeId
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore: remove a no-op call to MakeNodeId (#5980)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore(cxx_indexer): remove redundant emissions of node information
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore(cxx_indexer): remove redundant emissions of node information (#5981)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore(cxx_indexer): remove redundant function
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format

chore(cxx_indexer): remove redundant function (#5982)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format

chore(cxx_indexer): clean up some scattered or unnecessary code in VisitFunctionDecl
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore(cxx_indexer): clean up some scattered or unnecessary code in VisitFunctionDecl (#5983)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

fix(schema): define anchors with [0,0) spans to refer to entire files
  kythe/docs/schema/schema.txt
Due: copyright

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
