Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

chore: fix error message
  kythe/go/platform/kcd/kythe/units_test.go
Due: copyright, gofmt, golint

chore: fix error message (#5476)
  kythe/go/platform/kcd/kythe/units_test.go
Due: copyright, gofmt, golint

fix(serving): only count unskipped pages
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

chore: add test
  kythe/rust/indexer/testdata/out_dir/generated.rs
Due: none

fix(rust_indexer): set root when creating vname for reference (#5471)
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/testdata/out_dir/generated.rs
Due: copyright, rustfmt

fix(serving): only count unskipped pages (#5477)
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

fix(proto_indexer): only decorate the type name in service definitions
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/testdata/basic/services.proto
Due: copyright, clang-format

fix(proto_indexer): only decorate the type name in service definitions (#5478)
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/testdata/basic/services.proto
Due: copyright, clang-format

fix(typescript): add knob to disable some tests
  kythe/typescript/BUILD
Due: buildifier

fix(typescript): add knob to disable some tests (#5479)
  kythe/typescript/BUILD
Due: buildifier

feat(indexing): add details field for AnalysisResults
  kythe/proto/analysis.proto
  kythe/proto/analysis_go_proto/analysis.pb.go
  kythe/proto/analysis_rust_proto/analysis.rs
Due: copyright, clang-format, gofmt

feat(indexing): add details field for AnalysisResults (#5480)
  kythe/proto/analysis.proto
  kythe/proto/analysis_go_proto/analysis.pb.go
  kythe/proto/analysis_rust_proto/analysis.rs
Due: copyright, clang-format, gofmt

feat(indexing): allow an AnalysisResult return from the driver
  kythe/go/platform/analysis/analysis.go
  kythe/go/platform/analysis/driver/driver.go
  kythe/go/platform/analysis/driver/driver_test.go
Due: copyright, gofmt, golint

feat(indexing): allow an AnalysisResult return from the driver (#5481)
  kythe/go/platform/analysis/analysis.go
  kythe/go/platform/analysis/driver/driver.go
  kythe/go/platform/analysis/driver/driver_test.go
Due: copyright, gofmt, golint

fix(rust_common): fix compatibility with 2022-12-21
  Cargo.Bazel.lock
  cargo-bazel-lock.json
  external.bzl
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/src/bin/save_analysis.rs
  kythe/rust/extractor/src/lib.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/extractor/tests/test.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/writer.rs
Due: buildifier, copyright, rustfmt

fix(rust_common): fix compatibility with 2022-12-21 (#5482)
  Cargo.Bazel.lock
  cargo-bazel-lock.json
  external.bzl
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/src/bin/save_analysis.rs
  kythe/rust/extractor/src/lib.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/extractor/tests/test.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/writer.rs
Due: buildifier, copyright, rustfmt

chore: update LLVM
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/path_utils.cc
  kythe/cxx/extractor/testlib.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.h
  kythe/cxx/indexer/cxx/marked_source.cc
  kythe/cxx/tools/fyi/fyi.cc
  setup.bzl
Due: buildifier, copyright, clang-format

chore: update LLVM (#5483)
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/path_utils.cc
  kythe/cxx/extractor/testlib.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.h
  kythe/cxx/indexer/cxx/marked_source.cc
  kythe/cxx/tools/fyi/fyi.cc
  setup.bzl
Due: buildifier, copyright, clang-format

Set `--system` in JavaExtractor
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/JavaExtractor.java
Due: copyright, google-java-format

chore: update imported bazel protos
  kythe/proto/generate_protobufs.py
  third_party/bazel/BUILD
  third_party/bazel/README.google
  third_party/bazel/build_event_stream_go_proto/build_event_stream.pb.go
  third_party/bazel/extra_actions_base_go_proto/extra_actions_base.pb.go
  third_party/bazel/extra_actions_base_rust_proto/extra_actions_base.rs
  third_party/bazel/failure_details_go_proto/failure_details.pb.go
  third_party/bazel/invocation_policy_go_proto/invocation_policy.pb.go
  third_party/bazel/option_filters_go_proto/option_filters.pb.go
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
  third_party/bazel/src/main/protobuf/extra_actions_base.proto
  third_party/bazel/src/main/protobuf/failure_details.proto
  third_party/bazel/src/main/protobuf/invocation_policy.proto
  third_party/bazel/src/main/protobuf/option_filters.proto
  third_party/bazel/src/main/protobuf/test_status.proto
  third_party/bazel/test_status_go_proto/test_status.pb.go
Due: copyright

chore: update imported bazel protos (#5485)
  kythe/proto/generate_protobufs.py
  third_party/bazel/BUILD
  third_party/bazel/README.google
  third_party/bazel/build_event_stream_go_proto/build_event_stream.pb.go
  third_party/bazel/extra_actions_base_go_proto/extra_actions_base.pb.go
  third_party/bazel/extra_actions_base_rust_proto/extra_actions_base.rs
  third_party/bazel/failure_details_go_proto/failure_details.pb.go
  third_party/bazel/invocation_policy_go_proto/invocation_policy.pb.go
  third_party/bazel/option_filters_go_proto/option_filters.pb.go
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
  third_party/bazel/src/main/protobuf/extra_actions_base.proto
  third_party/bazel/src/main/protobuf/failure_details.proto
  third_party/bazel/src/main/protobuf/invocation_policy.proto
  third_party/bazel/src/main/protobuf/option_filters.proto
  third_party/bazel/src/main/protobuf/test_status.proto
  third_party/bazel/test_status_go_proto/test_status.pb.go
Due: copyright

Set `--system` in JavaExtractor (#5484)
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/JavaExtractor.java
Due: copyright, google-java-format

chore: add tests for completedby edge
  kythe/cxx/indexer/cxx/testdata/basic/enum_decl_completes.cc
  kythe/cxx/indexer/cxx/testdata/basic/enum_decl_ty_completes.cc
  kythe/cxx/indexer/cxx/testdata/basic/enum_decl_ty_header_completes.cc
  kythe/cxx/indexer/cxx/testdata/df/df_fncall_influence.cc
  kythe/cxx/indexer/cxx/testdata/function/function_decl_completes.cc
  kythe/cxx/indexer/cxx/testdata/function/function_member_defines.cc
  kythe/cxx/indexer/cxx/testdata/libraries/flags_bool.cc
  kythe/cxx/indexer/cxx/testdata/libraries/flags_ref_int64_defn_completes.cc
  kythe/cxx/indexer/cxx/testdata/libraries/flags_string.cc
  kythe/cxx/indexer/cxx/testdata/rec/rec_class_header_completes.cc
  kythe/cxx/indexer/cxx/testdata/rec/rec_class_member_base_call.cc
  kythe/cxx/indexer/cxx/testdata/rec/rec_nested_ctor.cc
  kythe/cxx/indexer/cxx/testdata/rec/rec_nested_name.cc
  kythe/cxx/indexer/cxx/testdata/rec/rec_struct_decl.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_arg_multiple_typename.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_arg_typename.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_class_fn_spec.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_decl_defn.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_explicit_spec_completes.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_explicit_spec_with_default_completes.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_multi_decl_def.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_ps_defn.cc
Due: none

chore: add tests for completedby edge (#5486)
  kythe/cxx/indexer/cxx/testdata/basic/enum_decl_completes.cc
  kythe/cxx/indexer/cxx/testdata/basic/enum_decl_ty_completes.cc
  kythe/cxx/indexer/cxx/testdata/basic/enum_decl_ty_header_completes.cc
  kythe/cxx/indexer/cxx/testdata/df/df_fncall_influence.cc
  kythe/cxx/indexer/cxx/testdata/function/function_decl_completes.cc
  kythe/cxx/indexer/cxx/testdata/function/function_member_defines.cc
  kythe/cxx/indexer/cxx/testdata/libraries/flags_bool.cc
  kythe/cxx/indexer/cxx/testdata/libraries/flags_ref_int64_defn_completes.cc
  kythe/cxx/indexer/cxx/testdata/libraries/flags_string.cc
  kythe/cxx/indexer/cxx/testdata/rec/rec_class_header_completes.cc
  kythe/cxx/indexer/cxx/testdata/rec/rec_class_member_base_call.cc
  kythe/cxx/indexer/cxx/testdata/rec/rec_nested_ctor.cc
  kythe/cxx/indexer/cxx/testdata/rec/rec_nested_name.cc
  kythe/cxx/indexer/cxx/testdata/rec/rec_struct_decl.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_arg_multiple_typename.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_arg_typename.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_class_fn_spec.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_decl_defn.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_explicit_spec_completes.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_explicit_spec_with_default_completes.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_fn_multi_decl_def.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_ps_defn.cc
Due: none

chore: remove obsolete tool
  kythe/cxx/tools/generate_compile_commands/BUILD
  kythe/cxx/tools/generate_compile_commands/extract_compile_command.cc
Due: buildifier, copyright, clang-format

chore: remove obsolete tool (#5488)
  kythe/cxx/tools/generate_compile_commands/BUILD
  kythe/cxx/tools/generate_compile_commands/extract_compile_command.cc
Due: buildifier, copyright, clang-format

fix(rust_common): migrate from tempdir crate to tempfile
  Cargo.Bazel.lock
  WORKSPACE
  cargo-bazel-lock.json
  kythe/rust/extractor/BUILD
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/extractor/tests/test.rs
  kythe/rust/fuchsia_extractor/BUILD
  kythe/rust/fuchsia_extractor/src/bin/main.rs
  kythe/rust/fuchsia_extractor/src/kzip.rs
Due: buildifier, copyright, rustfmt

fix(rust_common): migrate from tempdir crate to tempfile (#5489)
  Cargo.Bazel.lock
  WORKSPACE
  cargo-bazel-lock.json
  kythe/rust/extractor/BUILD
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/extractor/tests/test.rs
  kythe/rust/fuchsia_extractor/BUILD
  kythe/rust/fuchsia_extractor/src/bin/main.rs
  kythe/rust/fuchsia_extractor/src/kzip.rs
Due: buildifier, copyright, rustfmt

feat(indexing): support rewriting JSON-encoded code facts in proxy
  kythe/go/platform/analysis/proxy/BUILD
  kythe/go/platform/analysis/proxy/proxy.go
  kythe/go/platform/analysis/proxy/proxy_test.go
Due: buildifier, copyright, gofmt, golint

more doc
  kythe/docs/schema/schema.txt
  kythe/go/platform/analysis/proxy/proxy.go
Due: copyright, gofmt, golint

feat(indexing): support rewriting JSON-encoded code facts in proxy (#5491)
  kythe/docs/schema/schema.txt
  kythe/go/platform/analysis/proxy/BUILD
  kythe/go/platform/analysis/proxy/proxy.go
  kythe/go/platform/analysis/proxy/proxy_test.go
Due: buildifier, copyright, gofmt, golint

chore: strip more unnecessary or unsupported command line flags
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/CommandLineUtils.cc
Due: buildifier, copyright, clang-format

chore: strip more unnecessary or unsupported command line flags (#5492)
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/CommandLineUtils.cc
Due: buildifier, copyright, clang-format

feat(verifier): support code/json fact
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

delint
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix(typescript): emit code/json not code facts; remove proto dependency
  kythe/typescript/BUILD
  kythe/typescript/indexer.ts
  kythe/typescript/kythe.ts
  package-lock.json
  package.json
Due: buildifier, copyright

use enum for MarkedSourceKind
  kythe/typescript/indexer.ts
  kythe/typescript/kythe.ts
Due: copyright

use LOG(ERROR) and testing::Bool()
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

feat(verifier): support code/json fact (#5493)
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix(typescript): emit code/json not code facts; remove proto dependency (#5494)
  kythe/typescript/BUILD
  kythe/typescript/indexer.ts
  kythe/typescript/kythe.ts
  package-lock.json
  package.json
Due: buildifier, copyright
