Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

chore(java_indexer): avoid another NPE
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BlockAnonymousSignatureGenerator.java
Due: copyright, google-java-format

feat(go_indexer): struct refs in composite literals should be writes
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/anonymous.go
  kythe/go/indexer/testdata/basic/writes.go
  kythe/go/indexer/testdata/initcall.go
  kythe/go/indexer/testdata/structinit.go
Due: copyright, gofmt, golint

chore: fixups
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BlockAnonymousSignatureGenerator.java
Due: copyright, google-java-format

chore(java_indexer): avoid another NPE (#5605)
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BlockAnonymousSignatureGenerator.java
Due: copyright, google-java-format

update schema
  kythe/docs/schema/schema.txt
Due: copyright

feat(go_indexer): struct refs in composite literals should be writes (#5606)
  kythe/docs/schema/schema.txt
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/anonymous.go
  kythe/go/indexer/testdata/basic/writes.go
  kythe/go/indexer/testdata/initcall.go
  kythe/go/indexer/testdata/structinit.go
Due: copyright, gofmt, golint

feat(cli): show kind for xref sites
  kythe/go/services/cli/commands_xrefs.go
Due: copyright, gofmt, golint

cleanup getters
  kythe/go/services/cli/commands_xrefs.go
Due: copyright, gofmt, golint

feat(cli): show kind for xref sites (#5607)
  kythe/go/services/cli/commands_xrefs.go
Due: copyright, gofmt, golint

feat(go_indexer): support metadata semantic types (#5598)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/meta.go
  kythe/go/indexer/testdata/meta.go.linkage
  kythe/go/util/metadata/BUILD
  kythe/go/util/metadata/metadata.go
  kythe/go/util/metadata/metadata_test.go
  kythe/go/util/schema/facts/facts.go
Due: buildifier, copyright, gofmt, golint

feat(go_indexer): render context namespaces recursively in RenderQualifiedName.
  kythe/go/util/markedsource/markedsource.go
  kythe/go/util/markedsource/markedsource_test.go
Due: copyright, gofmt, golint

feat(go_indexer): render context namespaces recursively in RenderQualifiedName. (#5608)
  kythe/go/util/markedsource/markedsource.go
  kythe/go/util/markedsource/markedsource_test.go
Due: copyright, gofmt, golint

feat(typescript): merge constructor nodes
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/class.ts
  kythe/typescript/testdata/schema.ts
Due: copyright

feat(typescript): merge constructor nodes
  kythe/typescript/indexer.ts
Due: copyright

feat(typescript): merge constructor nodes (#5609)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/class.ts
  kythe/typescript/testdata/schema.ts
Due: copyright

feat(java_indexer): mark ctor calls as direct
  kythe/java/com/google/devtools/kythe/analyzers/base/EdgeKind.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Callgraph.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Enums.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericMethodRef.java
Due: copyright, google-java-format

feat(java_indexer): mark ctor calls as direct (#5610)
  kythe/java/com/google/devtools/kythe/analyzers/base/EdgeKind.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Callgraph.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Enums.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericMethodRef.java
Due: copyright, google-java-format

feat(java_indexer): mark this/super ctor calls as direct
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaNode.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Classes.java
Due: copyright, google-java-format

feat(java_indexer): mark this/super ctor calls as direct (#5611)
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaNode.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Classes.java
Due: copyright, google-java-format

fix(cxx_indexer): find vnames for pch/pcm files
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

fix(cxx_indexer): find vnames for pch/pcm files (#5612)
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

Revert "fix(cxx_indexer): find vnames for pch/pcm files (#5612)"
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

Revert "fix(cxx_indexer): find vnames for pch/pcm files (#5612)" (#5613)
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

fix: address comments
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

fix: restore the contentful part
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

fix(cxx_indexer): find vnames for pch/pcm files (const edition) (#5614)
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

fix(java): explicitly define toolchains for the Java versions we support
  buildenv/java/BUILD
Due: buildifier

fix(java): explicitly define toolchains for the Java versions we support (#5615)
  buildenv/java/BUILD
Due: buildifier

fix(cxx_indexer): mark DesignatedInitExprs as writes
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/rec/rec_designated_initializer.c
  kythe/cxx/indexer/cxx/testdata/rec/rec_write_designated_initializer.cc
Due: copyright, clang-format

fix(cxx_indexer): mark DesignatedInitExprs as writes (#5616)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/rec/rec_designated_initializer.c
  kythe/cxx/indexer/cxx/testdata/rec/rec_write_designated_initializer.cc
Due: copyright, clang-format

chore: make openjdk11 extractor friendly to Bazel Java launchers
  kythe/extractors/openjdk11/java_wrapper/java_wrapper.go
Due: copyright, gofmt, golint

chore: make openjdk11 extractor friendly to Bazel Java launchers (#5617)
  kythe/extractors/openjdk11/java_wrapper/java_wrapper.go
Due: copyright, gofmt, golint

test(java): add test cases for proto-generated clearField methods
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/proto/Proto.java
Due: none

test(java): add test cases for proto-generated clearField methods (#5618)
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/proto/Proto.java
Due: none

chore: match interface return type
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk9CompatibilityShims.java
Due: copyright, google-java-format

chore: add import
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk9CompatibilityShims.java
Due: copyright, google-java-format

chore: we need all impls to have the exact same sig for multijar to work
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk9CompatibilityShims.java
Due: copyright, google-java-format

chore: match interface return type (#5619)
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk9CompatibilityShims.java
Due: copyright, google-java-format

fix(typescript_indexer): fix context in marked sources
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/marked_source/class.ts
  kythe/typescript/testdata/marked_source/enum.ts
  kythe/typescript/testdata/marked_source/function.ts
  kythe/typescript/testdata/marked_source/property.ts
  kythe/typescript/testdata/marked_source/variable.ts
  kythe/typescript/testdata/tsx.tsx
Due: copyright

fix(typescript_indexer): fix context in marked sources (#5620)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/marked_source/class.ts
  kythe/typescript/testdata/marked_source/enum.ts
  kythe/typescript/testdata/marked_source/function.ts
  kythe/typescript/testdata/marked_source/property.ts
  kythe/typescript/testdata/marked_source/variable.ts
  kythe/typescript/testdata/tsx.tsx
Due: copyright
