Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

chore(c++): no need to `const&` llvm::StringRefs
  kythe/cxx/extractor/cxx_extractor_test.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/cxx/KytheVFS.h
Due: copyright, clang-format

chore(c++): no need to `const&` llvm::StringRefs (#5739)
  kythe/cxx/extractor/cxx_extractor_test.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/cxx/KytheVFS.h
Due: copyright, clang-format

feat(go_indexer): support custom GeneratedCodeInfo edges
  external.bzl
  go.mod
  kythe/go/indexer/indexer.go
  kythe/go/indexer/indexer_test.go
  kythe/go/indexer/testdata/basic/inline.go
Due: buildifier, copyright, gofmt, golint

build: update Go version to 1.20
  kythe/go/extractors/cmd/gotool/Dockerfile
  kythe/release/cloudbuild/go-builder/Dockerfile
Due: copyright

build: update Go version to 1.20 (#5741)
  kythe/go/extractors/cmd/gotool/Dockerfile
  kythe/release/cloudbuild/go-builder/Dockerfile
Due: copyright

feat(go_indexer): support custom GeneratedCodeInfo edges (#5740)
  external.bzl
  go.mod
  kythe/go/indexer/indexer.go
  kythe/go/indexer/indexer_test.go
  kythe/go/indexer/testdata/basic/inline.go
Due: buildifier, copyright, gofmt, golint

chore: rename class
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/JavacWrapper.java
Due: buildifier, copyright, google-java-format

chore: rename class (#5742)
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/JavacWrapper.java
Due: buildifier, copyright, google-java-format

release: v0.0.63
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

release: v0.0.63 (#5744)
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

chore: move to in-tree proto sync script and test
  .pre-commit-config.yaml
  WORKSPACE
  kythe/go/util/riegeli/BUILD
  kythe/go/util/schema/BUILD
  kythe/go/util/schema/update_data.sh
  kythe/proto/BUILD
  kythe/proto/analysis_rust_proto/filecontext.rs
  kythe/proto/analysis_rust_proto/lib.rs
  kythe/proto/generate_protobufs.py
  kythe/proto/genproto.bzl
  kythe/proto/go.bzl
  kythe/proto/storage_rust_proto/lib.rs
  tools/build_rules/testing.bzl
Due: buildifier, copyright

chore: restore go_kythe_proto name
  kythe/proto/BUILD
Due: buildifier

chore: move to in-tree proto sync script and test (#5745)
  .pre-commit-config.yaml
  WORKSPACE
  kythe/go/util/riegeli/BUILD
  kythe/go/util/schema/BUILD
  kythe/go/util/schema/update_data.sh
  kythe/proto/BUILD
  kythe/proto/analysis_rust_proto/filecontext.rs
  kythe/proto/analysis_rust_proto/lib.rs
  kythe/proto/generate_protobufs.py
  kythe/proto/genproto.bzl
  kythe/proto/go.bzl
  kythe/proto/storage_rust_proto/lib.rs
  tools/build_rules/testing.bzl
Due: buildifier, copyright

chore: avoid spurious log spam
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore: avoid spurious log spam (#5746)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore: split genproto rules so that import is easier
  kythe/go/util/riegeli/BUILD
  kythe/proto/BUILD
  kythe/proto/genproto.bzl
  kythe/proto/go.bzl
  kythe/proto/rust.bzl
Due: buildifier

chore: split genproto rules so that import is easier (#5747)
  kythe/go/util/riegeli/BUILD
  kythe/proto/BUILD
  kythe/proto/genproto.bzl
  kythe/proto/go.bzl
  kythe/proto/rust.bzl
Due: buildifier

chore(cxx): update to clang-format 14
  .pre-commit-config.yaml
  kythe/release/cloudbuild/pre-commit/Dockerfile
Due: copyright

chore(cxx): update to clang-format 14 (#5749)
  .pre-commit-config.yaml
  kythe/release/cloudbuild/pre-commit/Dockerfile
Due: copyright

chore(golang): update from 1.18 to 1.19
  kythe/release/cloudbuild/pre-commit/Dockerfile
Due: copyright

updates
  kythe/release/cloudbuild/pre-commit/Dockerfile
Due: copyright

chore(pre-commit): update docker image so that it builds (#5750)
  kythe/release/cloudbuild/pre-commit/Dockerfile
Due: copyright

chore(cxx): fix differing names in declaration and definition
  kythe/cxx/common/kzip_reader.h
Due: copyright, clang-format

chore(cxx): fix differing names in declaration and definition (#5751)
  kythe/cxx/common/kzip_reader.h
Due: copyright, clang-format

clang-format
  kythe/cxx/extractor/testdata/build_config_test.cc
  kythe/cxx/extractor/testlib.cc
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
Due: copyright, clang-format

fix includes
  kythe/cxx/common/file_vname_generator.cc
  kythe/cxx/common/kythe_metadata_file.cc
  kythe/cxx/common/kythe_metadata_file.h
  kythe/cxx/common/kzip_reader.cc
  kythe/cxx/common/path_utils.h
  kythe/cxx/extractor/bazel_artifact_selector.h
  kythe/cxx/extractor/bazel_artifact_selector_test.cc
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/cxx_extractor.h
  kythe/cxx/extractor/testdata/root_directory_test.cc
  kythe/cxx/extractor/testlib.h
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/ImputedConstructorSupport.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheVFS.h
  kythe/cxx/indexer/cxx/indexed_parent_iterator.h
  kythe/cxx/indexer/cxx/marked_source.h
  kythe/cxx/indexer/cxx/node_set.h
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/file_descriptor_walker.h
  kythe/cxx/indexer/proto/marked_source.h
  kythe/cxx/indexer/textproto/analyzer.cc
  kythe/cxx/indexer/textproto/recordio_textparser.cc
  kythe/cxx/indexer/textproto/recordio_textparser.h
  kythe/cxx/verifier/assertion_ast.h
Due: copyright, clang-format

update cargo lockfile
  BUILD
  Cargo.Bazel.lock
  cargo-bazel-lock.json
  external.bzl
  setup.bzl
Due: buildifier

build: update protobuf to v23.2
  setup.bzl
Due: buildifier

update rules_rust
  setup.bzl
Due: buildifier

working on proto update
  BUILD
  WORKSPACE
  cargo-bazel-lock.json
  external.bzl
  kythe/proto/BUILD
  setup.bzl
  third_party/bazel/BUILD
Due: buildifier

fix proto pkg
  external.bzl
  kythe/rust/extractor/src/vname_util.rs
Due: buildifier, copyright, rustfmt

chore(go): update go from 1.20 to 1.20.6 in extractor image
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright
