Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

cleanup(verifier): remove debug log from unit test (#5818)
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

feat(serving): render MODIFIERs in signatures
  kythe/cxx/doc/html_renderer.cc
  kythe/go/indexer/testdata/code/rendered.go
  kythe/go/util/markedsource/markedsource.go
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/MarkedSources.java
  kythe/java/com/google/devtools/kythe/doc/MarkedSourceRenderer.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/MarkedSource.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/RenderedCode.java
Due: copyright, google-java-format, clang-format, gofmt, golint

fix formatting
  kythe/java/com/google/devtools/kythe/doc/MarkedSourceRenderer.java
Due: copyright, google-java-format

feat(serving): render MODIFIERs in signatures (#5819)
  kythe/cxx/doc/html_renderer.cc
  kythe/go/indexer/testdata/code/rendered.go
  kythe/go/util/markedsource/markedsource.go
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/MarkedSources.java
  kythe/java/com/google/devtools/kythe/doc/MarkedSourceRenderer.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/MarkedSource.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/RenderedCode.java
Due: copyright, google-java-format, clang-format, gofmt, golint

fix(go_indexer): handle named return type signatures
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/rendered.go
Due: copyright, gofmt, golint

fix(go_indexer): handle named return type signatures (#5820)
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/rendered.go
Due: copyright, gofmt, golint

feat(go_indexer): link return vars
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/funcdecl.go
Due: copyright, gofmt, golint

feat(go_indexer): link return vars (#5821)
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/funcdecl.go
Due: copyright, gofmt, golint

fix(go_indexer): handle more type name kinds
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/rendered.go
Due: copyright, gofmt, golint

fix(go_indexer): handle more type name kinds (#5822)
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/rendered.go
Due: copyright, gofmt, golint

fix(cxx_indexer): use operator symbols for markedsource; add flag for cleanup
  kythe/cxx/indexer/cxx/marked_source.cc
Due: copyright, clang-format

fix: address comments
  kythe/cxx/indexer/cxx/marked_source.cc
Due: copyright, clang-format

fix: move GetDeclName
  kythe/cxx/indexer/cxx/marked_source.cc
Due: copyright, clang-format

fix(cxx_indexer): use operator symbols for markedsource; add flag (#5823)
  kythe/cxx/indexer/cxx/marked_source.cc
Due: copyright, clang-format

cleanup(cxx_indexer): satisfy include check
  kythe/cxx/indexer/cxx/marked_source.cc
Due: copyright, clang-format

cleanup(cxx_indexer): satisfy include check (#5824)
  kythe/cxx/indexer/cxx/marked_source.cc
Due: copyright, clang-format

fix(verifier): more tests; support more flavors of =
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: buildifier, copyright, clang-format

fix(verifier): more tests; support more flavors of = (#5825)
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: buildifier, copyright, clang-format

test: add test for protobuf signatures
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/proto/testdata/basic/signatures.proto
  kythe/cxx/indexer/proto/testdata/proto_verifier_test.bzl
Due: none

test: add test for protobuf signatures (#5826)
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/proto/testdata/basic/signatures.proto
  kythe/cxx/indexer/proto/testdata/proto_verifier_test.bzl
Due: none

feat(proto_indexer): add kinds to signatures
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/marked_source.h
  kythe/cxx/indexer/proto/testdata/basic/enums.proto
  kythe/cxx/indexer/proto/testdata/basic/nested-message.proto
  kythe/cxx/indexer/proto/testdata/basic/services.proto
  kythe/cxx/indexer/proto/testdata/basic/signatures.proto
Due: copyright, clang-format

static
  kythe/cxx/indexer/proto/marked_source.cc
Due: copyright, clang-format

feat(proto_indexer): add kinds to signatures (#5827)
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/marked_source.h
  kythe/cxx/indexer/proto/testdata/basic/enums.proto
  kythe/cxx/indexer/proto/testdata/basic/nested-message.proto
  kythe/cxx/indexer/proto/testdata/basic/services.proto
  kythe/cxx/indexer/proto/testdata/basic/signatures.proto
Due: copyright, clang-format

chore: remove unnecessary import
  kythe/cxx/indexer/proto/marked_source.cc
Due: copyright, clang-format

chore: set flag default values to the common case
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
Due: copyright, clang-format

chore: remove unnecessary import (#5828)
  kythe/cxx/indexer/proto/marked_source.cc
Due: copyright, clang-format

chore: set flag default values to the common case (#5829)
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
Due: copyright, clang-format

fix(verifier): various fixes for new solver
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix(verifier): various fixes for new solver (#5830)
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

chore: clang-tidy again
  kythe/cxx/indexer/proto/marked_source.cc
Due: copyright, clang-format

chore: clang-tidy again (#5831)
  kythe/cxx/indexer/proto/marked_source.cc
Due: copyright, clang-format

chore: update various dependencies to accommodate newer Bazels
  .bazelrc
  WORKSPACE
  cargo-bazel-lock.json
  kythe/typescript/BUILD
  setup.bzl
  third_party/protobuf-no-rust.patch
Due: buildifier

chore: update protos
  kythe/proto/analysis_go_proto/analysis.pb.go
  kythe/proto/analysis_service_go_proto/analysis_service.pb.go
  kythe/proto/bazel_artifact_selector_go_proto/bazel_artifact_selector.pb.go
  kythe/proto/bazel_artifact_selector_v2_go_proto/bazel_artifact_selector_v2.pb.go
  kythe/proto/buildinfo_go_proto/buildinfo.pb.go
  kythe/proto/claim_go_proto/claim.pb.go
  kythe/proto/common_go_proto/common.pb.go
  kythe/proto/cxx_go_proto/cxx.pb.go
  kythe/proto/driver_go_proto/driver.pb.go
  kythe/proto/entryset_go_proto/entryset.pb.go
  kythe/proto/explore_go_proto/explore.pb.go
  kythe/proto/extraction_config_go_proto/extraction_config.pb.go
  kythe/proto/filecontext_go_proto/filecontext.pb.go
  kythe/proto/filetree_go_proto/filetree.pb.go
  kythe/proto/generated_message_info_go_proto/generated_message_info.pb.go
  kythe/proto/go_go_proto/go.pb.go
  kythe/proto/graph_go_proto/graph.pb.go
  kythe/proto/graph_serving_go_proto/graph_serving.pb.go
  kythe/proto/identifier_go_proto/identifier.pb.go
  kythe/proto/internal_go_proto/internal.pb.go
  kythe/proto/java_go_proto/java.pb.go
  kythe/proto/link_go_proto/link.pb.go
  kythe/proto/metadata_go_proto/metadata.pb.go
  kythe/proto/pipeline_go_proto/pipeline.pb.go
  kythe/proto/repo_go_proto/repo.pb.go
  kythe/proto/schema_go_proto/schema.pb.go
  kythe/proto/serving_go_proto/serving.pb.go
  kythe/proto/status_service_go_proto/status_service.pb.go
  kythe/proto/storage_go_proto/storage.pb.go
  kythe/proto/storage_service_go_proto/storage_service.pb.go
  kythe/proto/xref_go_proto/xref.pb.go
  kythe/proto/xref_serving_go_proto/xref_serving.pb.go
Due: gofmt

chore: update proto stragglers
  kythe/go/util/riegeli/riegeli_test_go_proto/riegeli_test.pb.go
Due: gofmt, golint

chore: expand rules_js flags rather than using common
  .bazelrc
Due: none

chore: include bazel protos
  third_party/bazel/build_event_stream_go_proto/build_event_stream.pb.go
  third_party/bazel/command_line_go_proto/command_line.pb.go
  third_party/bazel/extra_actions_base_go_proto/extra_actions_base.pb.go
  third_party/bazel/failure_details_go_proto/failure_details.pb.go
  third_party/bazel/invocation_policy_go_proto/invocation_policy.pb.go
  third_party/bazel/option_filters_go_proto/option_filters.pb.go
  third_party/bazel/package_load_metrics_go_proto/package_load_metrics.pb.go
  third_party/bazel/test_status_go_proto/test_status.pb.go
Due: none

fix(verifier): enable more tests
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

fix(verifier): enable more tests (#5834)
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: copyright, clang-format

feat(go_indexer): add constraints to generic signatures
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/rendered.go
  kythe/go/indexer/testdata/generics/genericfunc.go
Due: copyright, gofmt, golint

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
