Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

Add docker build instructions
  tools/docker/BUILD
  tools/docker/Dockerfile
  tools/platforms/configs/rbe_default/config/BUILD
Due: buildifier

Adapt Go extractor to new -goroot flag (#6134)
  kythe/go/extractors/cmd/bazel/bazel_go_extractor/bazel_go_extractor.go
Due: copyright, gofmt, golint

feat: make a fully hermetic, ephemeral, and reproducible build
  .bazelrc
  .github/workflows/build.yml
  README.nix.md
  WORKSPACE
  flake.lock
  flake.nix
  nix.bazelrc
  setup.bzl
  shell.nix
  third_party/BUILD
  tools/bazel
  tools/bazel_local_nix_config.sh
Due: buildifier, copyright

chore: explicitly enable workspace, default is changing
  .bazelrc
Due: none

chore: explicitly enable workspace, default is changing (#6136)
  .bazelrc
Due: none

fix: typo
  README.nix.md
Due: none

Update README.nix.md
  README.nix.md
Due: none

Prepare for a change in an internal javac API
  kythe/java/com/google/devtools/kythe/platform/java/helpers/21/BlockAnonymousSignatureGenerator.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/21/SignatureGenerator.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/24/BlockAnonymousSignatureGenerator.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/24/SignatureGenerator.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
Due: buildifier, copyright, google-java-format

Update getPropertyNameStr to always return a value
  kythe/typescript/indexer.ts
Due: copyright

docs: describe CU VFS inode semantics
  kythe/proto/analysis.proto
Due: copyright, clang-format

Add a tool to export sstables
  kythe/go/storage/tools/export_sstable/BUILD
  kythe/go/storage/tools/export_sstable/export_sstable.go
Due: buildifier, copyright, gofmt, golint

Add a tool to export sstables
  kythe/go/storage/tools/BUILD
  kythe/release/BUILD
Due: buildifier

fix usage
  kythe/go/storage/tools/export_sstable/export_sstable.go
Due: copyright, gofmt, golint

docs: describe CU VFS inode semantics (#6140)
  kythe/proto/analysis.proto
Due: copyright, clang-format

Do the simplest thing to build with musl
  .bazelrc
  WORKSPACE
  platforms/BUILD
  toolchains/BUILD
Due: buildifier

Add OpenRaw method to open a kv store from a pebble db
  kythe/go/storage/pebble/pebble.go
Due: copyright, gofmt, golint

Remove -gmlt
  .bazelrc
Due: none

tools/docker: downgrade to 20.04
  tools/docker/BUILD
  tools/docker/Dockerfile
  tools/platforms/configs/rbe_default/cc/BUILD
  tools/platforms/configs/rbe_default/cc/builtin_include_directory_paths
  tools/platforms/configs/rbe_default/cc/cc_wrapper.sh
  tools/platforms/configs/rbe_default/config/BUILD
Due: buildifier

external: register additional go toolchains
  external.bzl
  third_party/bazel/bazel_repository_files.bzl
Due: buildifier

Remove moved files
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BlockAnonymousSignatureGenerator.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/SignatureGenerator.java
Due: copyright, google-java-format

Fix lint
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
Due: buildifier

chore: adapt to protobuf API changes
  kythe/cxx/common/json_proto.cc
Due: copyright, clang-format

chore: adapt to protobuf API changes (#6144)
  kythe/cxx/common/json_proto.cc
Due: copyright, clang-format

Disable PackageLocation
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
Due: buildifier

Prepare for a change in an internal javac API (#6137)
  kythe/java/com/google/devtools/kythe/platform/java/helpers/21/BlockAnonymousSignatureGenerator.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/21/SignatureGenerator.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/24/BlockAnonymousSignatureGenerator.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/24/SignatureGenerator.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
Due: buildifier, copyright, google-java-format

fix(bazel): remove cyclic dependency by removing usage of assign_external_projects_to_separate_corpora config_setting flag
  kythe/release/release.BUILD
Due: none

Remove vnames.proto.json to keep in sync with previous version
  kythe/release/release.BUILD
Due: none

fix(bazel): remove cyclic dependency by removing usage of assign_external_projects_to_separate_corpora config_setting flag (#6146)
  kythe/release/release.BUILD
Due: none

release: v0.0.68
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

Fix lint for release: v0.0.68
  RELEASES.md
Due: none

release: v0.0.68 (#6147)
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

C++ indexer: Also read proto metadata from files ending in .pbobjc.h.meta.
  kythe/cxx/common/protobuf_metadata_file.cc
Due: copyright, clang-format

Support message from the proto header instead of relying to the proto_message arg
  kythe/cxx/indexer/textproto/analyzer.cc
  package-lock.json
Due: copyright, clang-format

fix(typescript): handle static methods
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/class.ts
Due: copyright

fix(typescript_indexer): emit correct vnames for static methods (#6151)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/class.ts
Due: copyright

Add support for Bzlmod
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
  kythe/release/setup_release.sh
Due: buildifier, copyright

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
