Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

chore(cxx_indexer): move typedef node emission to Visit (#5362)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format

chore: bump golang version in docker image
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

chore: bump golang version in docker image (#5363)
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

fix(cxx_indexer): fix crash when logging non-identifier names
  kythe/cxx/indexer/cxx/ProtoLibrarySupport.cc
Due: copyright, clang-format

fix(cxx_indexer): fix crash when logging non-identifier names (#5364)
  kythe/cxx/indexer/cxx/ProtoLibrarySupport.cc
Due: copyright, clang-format

feat(cxx_indexer): handle deprecation via clang::availability
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/attribute_availability.cc
Due: copyright, clang-format

feat(cxx_indexer): handle deprecation via clang::availability (#5365)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/attribute_availability.cc
Due: copyright, clang-format

build: update max version to Bazel v5.3.0
  .bazelversion
  version.bzl
Due: buildifier

build: update max version to Bazel v5.3.0 (#5367)
  .bazelversion
  version.bzl
Due: buildifier

fix(java_extractor): disable service processors when extracting from Bazel
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/JavaExtractor.java
Due: copyright, google-java-format

fix(java_extractor): disable service processors when extracting from Bazel (#5368)
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/JavaExtractor.java
Due: copyright, google-java-format

chore: fix comment
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
Due: copyright, google-java-format

chore: fix comment (#5369)
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
Due: copyright, google-java-format

style: add some lint-related annotations
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
Due: copyright, google-java-format

style: add some lint-related annotations (#5370)
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
Due: copyright, google-java-format

chore: preparatory cleanups for a signature change to absl::string_view
  kythe/cxx/indexer/proto/source_tree.cc
Due: copyright, clang-format

chore: preparatory cleanups for a signature change to absl::string_view (#5372)
  kythe/cxx/indexer/proto/source_tree.cc
Due: copyright, clang-format

fix(cxx_indexer): fix tvar support with aliasing on
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
Due: copyright, clang-format

fix: accidentally a test
  kythe/cxx/indexer/cxx/testdata/template/template_alias_tvar.cc
Due: none

fix(cxx_indexer): fix tvar support with aliasing on (#5373)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/template/template_alias_tvar.cc
Due: copyright, clang-format

fix(go_indexer): fix go package marked source
  kythe/go/indexer/markedsource.go
Due: copyright, gofmt, golint

fix: update gofmt path in pre-commit docker image
  kythe/release/cloudbuild/pre-commit/Dockerfile
Due: copyright

fix(go_indexer): fix go package marked source (#5375)
  kythe/go/indexer/markedsource.go
Due: copyright, gofmt, golint

fix: update gofmt path in pre-commit docker image (#5376)
  kythe/release/cloudbuild/pre-commit/Dockerfile
Due: copyright

fix(cxx_indexer): make logic less tricky and more functional
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

fix(cxx_indexer): make logic less tricky and more functional (#5377)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

feat(cxx_indexer): distinguish direct function calls
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/function/function_call_directness.cc
  kythe/docs/schema/example-cxx.sh
  kythe/docs/schema/schema.txt
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

fix: address comments
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

fix: lint
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

rust: remove some needless borrows
  kythe/rust/extractor/src/vname_util.rs
  kythe/rust/indexer/src/providers.rs
Due: copyright, rustfmt

rust: remove some needless borrows (#5380)
  kythe/rust/extractor/src/vname_util.rs
  kythe/rust/indexer/src/providers.rs
Due: copyright, rustfmt

feat(cxx_indexer): distinguish direct function calls (#5378)
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/function/function_call_directness.cc
  kythe/docs/schema/example-cxx.sh
  kythe/docs/schema/schema.txt
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

fix(cxx_indexer): dereference member templates
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/clang_utils.cc
  kythe/cxx/indexer/cxx/clang_utils.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/template/template_alias_tvar_alias.cc
  kythe/cxx/indexer/cxx/testdata/template/template_alias_tvar_class.cc
Due: copyright, clang-format

fix: address comments
  kythe/cxx/indexer/cxx/clang_utils.cc
Due: copyright, clang-format

fix(cxx_indexer): dereference member templates (#5381)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/clang_utils.cc
  kythe/cxx/indexer/cxx/clang_utils.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/template/template_alias_tvar_alias.cc
  kythe/cxx/indexer/cxx/testdata/template/template_alias_tvar_class.cc
Due: copyright, clang-format

fix: set extractor_test script as executable
  kythe/rust/extractor/extractor_test.bzl
Due: buildifier

fix(rust_extractor): set extractor_test script as executable (#5382)
  kythe/rust/extractor/extractor_test.bzl
Due: buildifier

fix(cxx_indexer): reintroduce dereferencing to BuildNodeIdForTemplateName
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

fix(cxx_indexer): reintroduce dereferencing to BuildNodeIdForTemplateName (#5383)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
