Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

chore: disable bzlmod (#5911)
  .bazelrc
Due: none

fix(cxx_extractor): preserve order of exclusive action flags when munging args
  kythe/cxx/extractor/CommandLineUtils.cc
  kythe/cxx/extractor/testdata/header_only_module_test.cc
Due: copyright, clang-format

fix(cxx_extractor): preserve order of exclusive action flags when munging args (#5912)
  kythe/cxx/extractor/CommandLineUtils.cc
  kythe/cxx/extractor/testdata/header_only_module_test.cc
Due: copyright, clang-format

fix(cxx_extractor): remove inapplicable CUDA driver and LLVM flags
  kythe/cxx/extractor/CommandLineUtils.cc
Due: copyright, clang-format

chore: fix typo in argument
  kythe/cxx/extractor/CommandLineUtils.cc
Due: copyright, clang-format

fix(cxx_extractor): remove inapplicable CUDA driver and LLVM flags (#5913)
  kythe/cxx/extractor/CommandLineUtils.cc
Due: copyright, clang-format

fix: tolerate missing boot_classpath
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/aspect.bzl
Due: buildifier

fix: tolerate missing boot_classpath (#5914)
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/aspect.bzl
Due: buildifier

feat(verifier): support error recovery with the fast solver
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/assertions_to_souffle_test.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: buildifier, copyright, clang-format

feat(verifier): support error recovery with the fast solver (#5915)
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/assertions_to_souffle_test.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/verifier_unit_test.cc
Due: buildifier, copyright, clang-format

fix(verifier): do not allow evars created in negative contexts to be inspected
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/verifier_unit_test.cc
  kythe/go/indexer/BUILD
  kythe/go/indexer/testdata/basic/scopes.go
Due: buildifier, copyright, clang-format

fix: default-init struct members, print error context
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
Due: copyright, clang-format

fix(verifier): do not allow evars created in negative contexts to be inspected (#5916)
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/assertions_to_souffle.cc
  kythe/cxx/verifier/assertions_to_souffle.h
  kythe/cxx/verifier/verifier_unit_test.cc
  kythe/go/indexer/BUILD
  kythe/go/indexer/testdata/basic/scopes.go
Due: buildifier, copyright, clang-format

feat: include canonical node info for identifier service
  kythe/go/serving/identifiers/identifiers.go
  kythe/go/serving/identifiers/identifiers_test.go
  kythe/proto/identifier.proto
  kythe/proto/identifier_go_proto/identifier.pb.go
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: copyright, clang-format, gofmt, golint

feat: include canonical node info for identifier service (#5917)
  kythe/go/serving/identifiers/identifiers.go
  kythe/go/serving/identifiers/identifiers_test.go
  kythe/proto/identifier.proto
  kythe/proto/identifier_go_proto/identifier.pb.go
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: copyright, clang-format, gofmt, golint

fix: _ becomes ::
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

fix: library shuffle
  kythe/cxx/indexer/cxx/BUILD
Due: buildifier

chore: update llvm
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  setup.bzl
Due: buildifier, copyright, clang-format

chore: update llvm (#5918)
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  setup.bzl
Due: buildifier, copyright, clang-format

chore(cc_indexer_test): update from c++17 to c++20
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore(cc_indexer_test): add module docstring
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore(cc_indexer_test): update from c++17 to c++20 (#5919)
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore(cc_indexer_test): add module docstring (#5920)
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

feat(dev): add aspect-based implementation of extra actions for tests
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  tools/build_rules/extra_aspects/BUILD
  tools/build_rules/extra_aspects/actions.bzl
  tools/build_rules/extra_aspects/config.bzl
  tools/build_rules/extra_aspects/cxx/BUILD
  tools/build_rules/extra_aspects/cxx/aspect.bzl
  tools/build_rules/extra_aspects/cxx/config.bzl
  tools/build_rules/extra_aspects/cxx/rules.bzl
  tools/build_rules/extra_aspects/extra_actions.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore(dev): fix bzl_library visibility
  tools/build_rules/extra_aspects/BUILD
Due: buildifier

chore: remove debug print statements
  tools/build_rules/extra_aspects/extra_actions.bzl
Due: buildifier

feat(dev): add aspect-based implementation of extra actions for tests (#5923)
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  tools/build_rules/extra_aspects/BUILD
  tools/build_rules/extra_aspects/actions.bzl
  tools/build_rules/extra_aspects/config.bzl
  tools/build_rules/extra_aspects/cxx/BUILD
  tools/build_rules/extra_aspects/cxx/aspect.bzl
  tools/build_rules/extra_aspects/cxx/config.bzl
  tools/build_rules/extra_aspects/cxx/rules.bzl
  tools/build_rules/extra_aspects/extra_actions.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

Fix typo `indexes/cxx_indexers` -> `.../cxx_indexer`.
  kythe/release/README.md
Due: none

Fix typo `indexes/cxx_indexers` -> `.../cxx_indexer`. (#5925)
  kythe/release/README.md
Due: none

Do not use `bind` with a `maybe` macro
  external.bzl
Due: buildifier

Do not use `bind` with a `maybe` macro (#5926)
  external.bzl
Due: buildifier

chore(cxx_indexer): cleanup and document new interface
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/cxx/KytheVFS.h
  kythe/cxx/indexer/cxx/KytheVFS_test.cc
Due: copyright, clang-format

fix(cxx_indexer): refactor IndexVFS to handle pragma_once
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/cxx/KytheVFS.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/pragma_once.cc
  kythe/cxx/indexer/cxx/testdata/basic/pragma_once.h
  tools/build_rules/extra_aspects/cxx/rules.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

fix(cxx_indexer): treat non-empty digests as the same file for pragma once
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/cxx/KytheVFS.h
Due: copyright, clang-format

chore: adjust the pragma once testcase
  kythe/cxx/indexer/cxx/testdata/basic/pragma_once.cc
Due: none

chore: command on the pragma once test
  kythe/cxx/indexer/cxx/testdata/basic/pragma_once.h
Due: none

chore: ignore_dups in pragma once test
  kythe/cxx/indexer/cxx/testdata/BUILD
Due: none

Fix builds on macOS with arm64 CPUs
  buildenv/java/BUILD
  external.bzl
  setup.bzl
Due: buildifier

chore: remove commented-out code
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

fix(cxx_indexer): refactor IndexVFS to handle pragma_once (#5927)
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/cxx/KytheVFS.h
  kythe/cxx/indexer/cxx/KytheVFS_test.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/pragma_once.cc
  kythe/cxx/indexer/cxx/testdata/basic/pragma_once.h
  tools/build_rules/extra_aspects/cxx/rules.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format
