Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

feat(typescript_indexer): emit `field` subkind fact for class/interface/ojbect literal properties
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/class.ts
  kythe/typescript/testdata/object.ts
Due: copyright

fix(cxx_indexer): emit non-implicit refs to explicit template specializations (#5290)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/template/template_class_inst_explicit.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_class_inst_explicit.cc
Due: copyright, clang-format

fix(verifier): include @ in anchor labels and support EVars (#5291)
  kythe/cxx/verifier/assertions.cc
  kythe/cxx/verifier/verifier.cc
Due: copyright, clang-format

Revert "fix(java_indexer): assert that annotation invocations aren't refs (#5284)"
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Annotations.java
Due: none

Revert "feat(java_indexer): use ref/id in annotation utterance contexts (#5281)"
  kythe/docs/schema/schema.txt
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Annotations.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Interfaces.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/package-info.java
Due: copyright, google-java-format

fix(java): rollback recent annotation ref/id changes (#5294)
  kythe/docs/schema/schema.txt
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Annotations.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Interfaces.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/package-info.java
Due: copyright, google-java-format

feat(tests): switch c++ verifier tests to index at test time
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/textproto/testdata/textproto_verifier_test.bzl
  tools/build_rules/verifier_test/BUILD
  tools/build_rules/verifier_test/cc_indexer_test.bzl
  tools/build_rules/verifier_test/indexer.sh.in
  tools/build_rules/verifier_test/java_verifier_test.bzl
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier

chore: remove unused function
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore: test executable should be in target configuration
  tools/build_rules/verifier_test/cc_indexer_test.bzl
  tools/build_rules/verifier_test/java_verifier_test.bzl
  tools/build_rules/verifier_test/jvm_verifier_test.bzl
  tools/build_rules/verifier_test/kzip_archive.bzl
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier

chore: remove debugging argument
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier

feat(typescript_indexer): use ref/id for destructuring variables (#5292)
  kythe/typescript/indexer.ts
  kythe/typescript/kythe.ts
  kythe/typescript/testdata/interface.ts
Due: copyright

chore: it is, in fact, 2022
  tools/build_rules/verifier_test/indexer.sh.in
Due: none

feat(tests): switch c++ verifier tests to index at test time (#5295)
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/textproto/testdata/textproto_verifier_test.bzl
  tools/build_rules/verifier_test/BUILD
  tools/build_rules/verifier_test/cc_indexer_test.bzl
  tools/build_rules/verifier_test/indexer.sh.in
  tools/build_rules/verifier_test/java_verifier_test.bzl
  tools/build_rules/verifier_test/jvm_verifier_test.bzl
  tools/build_rules/verifier_test/kzip_archive.bzl
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier

Support skipping 'go mod vendor' invocation.
  kythe/go/extractors/cmd/gotool/analyze_packages.sh
Due: copyright

Fix lint error.
  kythe/go/extractors/cmd/gotool/analyze_packages.sh
Due: copyright

chore: fix missing use of env parameter
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore: add exported proto to list of exported protos
  kythe/cxx/indexer/proto/testdata/BUILD
Due: none

chore: include some relevant dependencies
  tools/build_rules/verifier_test/BUILD
Due: buildifier

chore: fix a few issues which arose during import (#5297)
  kythe/cxx/indexer/proto/testdata/BUILD
  tools/build_rules/verifier_test/BUILD
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore: restore ability to pass indexer label to cc_indexer_test
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

fix(cxx_tests): properly pass test indexer runfiles
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

fix typo
  kythe/go/extractors/cmd/gotool/analyze_packages.sh
Due: copyright

Support skipping 'go mod vendor' invocation. (#5296)
  kythe/go/extractors/cmd/gotool/analyze_packages.sh
Due: copyright

chore: retain ability to pass the indexer binary for c++ indexer tests (#5298)
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore: remove unused entry from load statement
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore: remove unused entry from load statement (#5299)
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

Add a missing glob to release.BUILD
  kythe/release/release.BUILD
Due: none

Add a missing glob to release.BUILD (#5300)
  kythe/release/release.BUILD
Due: none

chore: use SerializeToString instead of explicit Streams
  kythe/cxx/common/json_proto.cc
Due: copyright, clang-format

chore: use SerializeToString instead of explicit Streams (#5301)
  kythe/cxx/common/json_proto.cc
Due: copyright, clang-format

chore(java): remove unused deprecated methods from JvmGraph
  kythe/java/com/google/devtools/kythe/analyzers/jvm/JvmGraph.java
Due: copyright, google-java-format

chore(java): remove unused deprecated methods from JvmGraph (#5302)
  kythe/java/com/google/devtools/kythe/analyzers/jvm/JvmGraph.java
Due: copyright, google-java-format

feat(java analyzer): log error when CU VName has empty corpus
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheJavacAnalyzer.java
Due: copyright, google-java-format

fix log stmt
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheJavacAnalyzer.java
Due: copyright, google-java-format

feat(java analyzer): log error when CU VName has empty corpus (#5303)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheJavacAnalyzer.java
Due: copyright, google-java-format

chore(java): fix lint error
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheJavacAnalyzer.java
Due: copyright, google-java-format

chore(java): fix lint error (#5304)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheJavacAnalyzer.java
Due: copyright, google-java-format

feat(java extractor): use default value if corpus is ambiguous
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
  kythe/java/com/google/devtools/kythe/extractors/shared/FileVNames.java
Due: copyright, google-java-format

fix test
  kythe/javatests/com/google/devtools/kythe/extractors/java/JavaExtractorTest.java
Due: copyright, google-java-format

format
  kythe/javatests/com/google/devtools/kythe/extractors/java/JavaExtractorTest.java
Due: copyright, google-java-format

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
