Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

chore: prevent NPE (#5585)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

chore: actually prevent NPE
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

chore: actually prevent NPE (#5586)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

feat(build): add and use permissive wrapper for select.with_or
  .bazelrc
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  tools/build_rules/selects.bzl
Due: buildifier

chore: fix typo
  .bazelrc
Due: none

feat(build): add and use permissive wrapper for select.with_or (#5587)
  .bazelrc
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
  tools/build_rules/selects.bzl
Due: buildifier

fix: address comments
  kythe/docs/schema/schema.txt
Due: copyright

feat(schema): add ref/writes (#5581)
  kythe/docs/schema/schema.txt
Due: copyright

fix(cxx_extractor): compile fix when absl::string_view != std::string_view
  kythe/cxx/extractor/cxx_extractor.cc
Due: copyright, clang-format

fix(cxx_extractor): compile fix when absl::string_view != std::string_view (#5588)
  kythe/cxx/extractor/cxx_extractor.cc
Due: copyright, clang-format

chore: prevent NPE
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

chore: prevent NPE (#5589)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

feat(java_common): update shims to more clearly indicated supported version
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Jdk15CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Jdk9CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/ReflectiveJdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk15CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk20CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk9CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/ReflectiveJdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/util/BUILD
  kythe/java/com/google/devtools/kythe/util/OrderedCompatibilityService.java
Due: buildifier, copyright, google-java-format

feat(java_common): update shims to more clearly indicated supported version (#5590)
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Jdk15CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Jdk9CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/ReflectiveJdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk15CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk20CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/Jdk9CompatibilityShims.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/ReflectiveJdkCompatibilityShims.java
  kythe/java/com/google/devtools/kythe/util/BUILD
  kythe/java/com/google/devtools/kythe/util/OrderedCompatibilityService.java
Due: buildifier, copyright, google-java-format

chore: update llvm
  external.bzl
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/semantic_hash.cc
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

chore: update llvm (#5591)
  external.bzl
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/semantic_hash.cc
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

feat: add KytheURI#toCorpusPath()
  kythe/java/com/google/devtools/kythe/util/KytheURI.java
  kythe/javatests/com/google/devtools/kythe/util/KytheURITest.java
Due: copyright, google-java-format

feat: add KytheURI#toCorpusPath() (#5592)
  kythe/java/com/google/devtools/kythe/util/KytheURI.java
  kythe/javatests/com/google/devtools/kythe/util/KytheURITest.java
Due: copyright, google-java-format

feat(typescript): emit unique vnames for anonymous functions and don't emit marked sources
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/anonymous.ts
  kythe/typescript/testdata/marked_source/function.ts
Due: copyright

feat(typescript): fix
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/marked_source/function.ts
Due: copyright

feat(typescript): use unique vnames for anonymous functions (#5593)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/anonymous.ts
  kythe/typescript/testdata/marked_source/function.ts
Due: copyright

feat(api): support returning scopes for xrefs
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, clang-format, gofmt, golint

feat(api): support returning scopes for xrefs (#5595)
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, clang-format, gofmt, golint

feat: add InspectFunctionDecl callback to LibrarySupport
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerLibrarySupport.h
Due: copyright, clang-format

feat: add InspectFunctionDecl callback to LibrarySupport (#5596)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerLibrarySupport.h
Due: copyright, clang-format

feat(go_indexer): support metadata semantic types
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/meta.go
  kythe/go/indexer/testdata/meta.go.linkage
  kythe/go/util/metadata/BUILD
  kythe/go/util/metadata/metadata.go
  kythe/go/util/metadata/metadata_test.go
  kythe/go/util/schema/facts/facts.go
Due: buildifier, copyright, gofmt, golint

fix: fix reversed op
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

fix: fix reversed op (#5599)
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

fix(serving): cleanup/fix crossrefs paging
  kythe/go/serving/identifiers/identifiers_test.go
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/go/test/testutil/BUILD
  kythe/go/test/testutil/testutil.go
Due: buildifier, copyright, gofmt, golint

fix(serving): cleanup/fix crossrefs paging (#5600)
  kythe/go/serving/identifiers/identifiers_test.go
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/go/test/testutil/BUILD
  kythe/go/test/testutil/testutil.go
Due: buildifier, copyright, gofmt, golint

style: cleanup testutil package
  kythe/go/test/testutil/testutil.go
Due: copyright, gofmt, golint

style: cleanup testutil package (#5601)
  kythe/go/test/testutil/testutil.go
Due: copyright, gofmt, golint

feat(cli): add flag for xref semantic scopes
  kythe/go/services/cli/commands_xrefs.go
Due: copyright, gofmt, golint

feat(cli): add flag for xref semantic scopes (#5602)
  kythe/go/services/cli/commands_xrefs.go
Due: copyright, gofmt, golint

chore(java_indexer): record diagnostics when symbols are null
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

chore(java_indexer): record diagnostics when symbols are null (#5603)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

chore(java_indexer): log in addition to emitDiagnostic
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

chore(java_indexer): log in addition to emitDiagnostic (#5604)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
