Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

chore: update LLVM (#5254)
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.h
  kythe/cxx/indexer/cxx/semantic_hash.cc
  kythe/cxx/tools/fyi/fyi.cc
  setup.bzl
Due: buildifier, copyright, clang-format

fix: small style issues
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.h
  kythe/cxx/tools/fyi/fyi.cc
Due: copyright, clang-format

fix: clang-format is great
  kythe/cxx/tools/fyi/fyi.cc
Due: copyright, clang-format

fix: small style issues (#5256)
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.h
Due: copyright, clang-format

Update rules_rust. (#5250)
  setup.bzl
Due: buildifier

release: v0.0.59
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

trim release notes
  RELEASES.md
Due: none

Release v0.0.59 (#5257)
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

chore(go): run `go mod tidy`
  go.mod
  go.sum
Due: none

chore(javascript): update npm packages to fix vulnerabilities
  package-lock.json
  package.json
Due: none

chore(go): run `go mod tidy` (#5258)
  go.mod
  go.sum
Due: none

fix(kzip_info): don't count c++ stdlib includes as invalid absolute paths
  kythe/go/platform/kzip/info/info.go
Due: copyright, gofmt, golint

update build_bazel_rules_nodejs
  external.bzl
  setup.bzl
Due: buildifier

chore: disable warning in an indexer test
  kythe/cxx/indexer/cxx/testdata/BUILD
Due: none

chore: disable warning in an indexer test (#5261)
  kythe/cxx/indexer/cxx/testdata/BUILD
Due: none

feat(typescript_indexer): emit edges from object literals and destructuring to corresponding types
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/interface.ts
Due: copyright

Add shorthand test case.
  kythe/typescript/testdata/interface.ts
Due: none

feat(typescript_indexer): emit edges from object literals to corresponding types (#5262)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/interface.ts
Due: copyright

add comment
  kythe/go/extractors/govname/govname.go
Due: copyright, gofmt, golint

fix(rust_indexer): set corpus+lang on diagnostic
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/indexer/entries.rs
  kythe/rust/indexer/tests/indexer_entries.rs
Due: buildifier, copyright, rustfmt

fix: run rustfmt
  kythe/rust/indexer/tests/indexer_entries.rs
Due: copyright, rustfmt

pipe useCompilationCorpusAsDefault through a few more places
  kythe/go/indexer/emit.go
  kythe/go/indexer/markedsource.go
Due: copyright, gofmt, golint

fix: address comments
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/indexer/entries.rs
Due: buildifier, copyright, rustfmt

fix(rust_indexer): set corpus+lang on diagnostic (#5263)
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/indexer/entries.rs
  kythe/rust/indexer/tests/indexer_entries.rs
Due: buildifier, copyright, rustfmt

fix(chore): switch to toplevel for rbe downloads
  .bazelrc
Due: none

fix(typescript_indexer): fix lint issue
  kythe/typescript/indexer.ts
Due: copyright

fix(typescript_indexer): fix lint issue (#5265)
  kythe/typescript/indexer.ts
Due: copyright

rewrite corpus at emit time instead of passing new parameters to every method
  kythe/go/extractors/govname/govname.go
  kythe/go/extractors/govname/govname_test.go
  kythe/go/extractors/govname/types.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/indexer.go
  kythe/go/indexer/markedsource.go
Due: copyright, gofmt, golint

more
  kythe/go/extractors/govname/govname.go
  kythe/go/extractors/govname/govname_test.go
  kythe/go/indexer/indexer.go
Due: copyright, gofmt, golint

cleanup
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/indexer.go
Due: copyright, gofmt, golint

cleanup
  kythe/go/extractors/govname/govname.go
  kythe/go/extractors/govname/govname_test.go
  kythe/go/extractors/govname/types.go
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
Due: copyright, gofmt, golint

feat(go_indexer): optionally put builtins and stdlib items in main corpus (#5124)
  kythe/go/indexer/BUILD
  kythe/go/indexer/emit.go
  kythe/go/indexer/markedsource.go
Due: buildifier, copyright, gofmt, golint

chore(go): update go from 1.17.2 to 1.18.1 in extractor image
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

chore(go): update go from 1.17.2 to 1.18.1 in extractor image (#5266)
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

fix(chore): switch to toplevel for rbe downloads (#5264)
  .bazelrc
Due: none

build: update to Go 1.18.1
  WORKSPACE
  external.bzl
  kythe/go/indexer/testdata/basic/imports.go
  setup.bzl
Due: buildifier

build: update to Go 1.18.1 (#5267)
  WORKSPACE
  external.bzl
  kythe/go/indexer/testdata/basic/imports.go
  setup.bzl
Due: buildifier

feat(verifier): add a flag to elide nodes not bound as goals
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

chore: fix typos
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

chore: final typo
  kythe/cxx/verifier/verifier.h
Due: copyright, clang-format
