Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

release: v0.0.56
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

chore: update release notes
  RELEASES.md
Due: none

Release v0.0.56 (#5148)
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

fix: update debian version in go extractor
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

fix: update debian version in go extractor (#5149)
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

Automated log string changes for flogger
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

Automated log string changes for flogger (#5150)
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

feat(go_indexer): tvar/tparam support for generics
  external.bzl
  kythe/go/indexer/BUILD
  kythe/go/indexer/emit.go
  kythe/go/indexer/indexer.go
  kythe/go/indexer/testdata/generics/genericfunc.go
  kythe/go/indexer/testdata/generics/genericinterface.go
  kythe/go/indexer/testdata/generics/genericmethod.go
  kythe/go/indexer/testdata/generics/genericstruct.go
  kythe/go/util/schema/edges/edges.go
  kythe/go/util/schema/nodes/nodes.go
  setup.bzl
Due: buildifier, copyright, gofmt, golint

chore: update Flogger again
  external.bzl
Due: buildifier

Install go1.18beta1 in go-builder
  kythe/release/cloudbuild/go-builder/Dockerfile
Due: copyright

chore: update Flogger again (#5152)
  external.bzl
Due: buildifier

use the right base image
  kythe/release/cloudbuild/go-builder/Dockerfile
Due: copyright

feat(go_indexer): tvar/tparam support for generics (#5151)
  external.bzl
  kythe/go/indexer/BUILD
  kythe/go/indexer/emit.go
  kythe/go/indexer/indexer.go
  kythe/go/indexer/testdata/generics/genericfunc.go
  kythe/go/indexer/testdata/generics/genericinterface.go
  kythe/go/indexer/testdata/generics/genericmethod.go
  kythe/go/indexer/testdata/generics/genericstruct.go
  kythe/go/util/schema/edges/edges.go
  kythe/go/util/schema/nodes/nodes.go
  kythe/release/cloudbuild/go-builder/Dockerfile
  setup.bzl
Due: buildifier, copyright, gofmt, golint

release: v0.0.57
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

Release v0.0.57 (#5153)
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

feat(schema): include Go generics examples
  kythe/docs/schema/schema.txt
  tools/build_rules/external_tools/external_tools_configure.bzl
Due: buildifier, copyright

fix(rust_common): ensure release rust extractor script is executable
  kythe/release/bazel_rust_extractor_script.sh
Due: copyright

fix(rust_common): ensure release rust extractor script is executable (#5155)
  kythe/release/bazel_rust_extractor_script.sh
Due: copyright

feat(schema): include Go generics examples (#5154)
  kythe/docs/schema/schema.txt
  tools/build_rules/external_tools/external_tools_configure.bzl
Due: buildifier, copyright

feat(go_indexer): support satisfies edges for instance types
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/generics/genericinterface.go
  kythe/go/indexer/testdata/generics/genericmethod.go
Due: copyright, gofmt, golint

feat(go_indexer): support satisfies edges for instance types (#5156)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/generics/genericinterface.go
  kythe/go/indexer/testdata/generics/genericmethod.go
Due: copyright, gofmt, golint

feat(go_indexer): ensure references are to non-instantiated methods
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/generics/genericfunc.go
  kythe/go/indexer/testdata/generics/genericmethod.go
Due: copyright, gofmt, golint

feat(go_indexer): ensure references are to non-instantiated methods (#5157)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/generics/genericfunc.go
  kythe/go/indexer/testdata/generics/genericmethod.go
Due: copyright, gofmt, golint

feat(go_indexer): emit tapps for instantiated Named types
  kythe/go/indexer/emit.go
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/generics/genericmethod.go
  kythe/go/indexer/testdata/generics/genericstruct.go
Due: copyright, gofmt, golint

feat(go_indexer): emit tapps for instantiated Named types (#5158)
  kythe/go/indexer/emit.go
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/generics/genericmethod.go
  kythe/go/indexer/testdata/generics/genericstruct.go
Due: copyright, gofmt, golint

feat(go_indexer): add MarkedSource for function type parameters
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/generics/genericfunc.go
Due: copyright, gofmt, golint

feat(go_indexer): add MarkedSource for function type parameters (#5159)
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/generics/genericfunc.go
Due: copyright, gofmt, golint

feat(go_indexer): add receiver type parameters to MarkedSource
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/generics/genericmethod.go
Due: copyright, gofmt, golint

feat(go_indexer): add receiver type parameters to MarkedSource (#5160)
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/generics/genericmethod.go
Due: copyright, gofmt, golint

fix(rust_common): clippy fixes for new Rust version
  external.bzl
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/providers.rs
Due: buildifier, copyright, rustfmt

fix(rust_common): clippy fixes for new Rust version (#5161)
  external.bzl
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/providers.rs
Due: buildifier, copyright, rustfmt

feat(go_indexer): correct instantiated member references
  kythe/go/indexer/emit.go
  kythe/go/indexer/indexer.go
  kythe/go/indexer/testdata/generics/genericstruct.go
Due: copyright, gofmt, golint

feat(go_indexer): correct instantiated member references (#5163)
  kythe/go/indexer/emit.go
  kythe/go/indexer/indexer.go
  kythe/go/indexer/testdata/generics/genericstruct.go
Due: copyright, gofmt, golint

chore(cxx_indexer): update LLVM
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/recursive_type_visitor.h
  kythe/cxx/indexer/cxx/testdata/basic/using_declaration_ref.cc
  setup.bzl
Due: buildifier, copyright, clang-format

chore(cxx_indexer): update LLVM (#5164)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/recursive_type_visitor.h
  kythe/cxx/indexer/cxx/testdata/basic/using_declaration_ref.cc
  setup.bzl
Due: buildifier, copyright, clang-format

chore: pin maven artifacts
  WORKSPACE
  external.bzl
  maven_install.json
Due: buildifier

chore: pin maven artifacts (#5165)
  WORKSPACE
  external.bzl
  maven_install.json
Due: buildifier

chore(cxx_indexer): add more using declaration tests
  kythe/cxx/indexer/cxx/testdata/basic/using_declaration_ref.cc
Due: none

fix(go_indexer): ensure generic references work across packages
  kythe/go/indexer/BUILD
  kythe/go/indexer/indexer.go
  kythe/go/indexer/testdata/generics/genericdep.go
  kythe/go/indexer/testdata/generics/genericinterface.go
Due: buildifier, copyright, gofmt, golint

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
