Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

fix(go_indexer): emit bindings for named interface method params (#6061)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/typespec.go
Due: copyright, gofmt, golint

fix(go_indexer): emit nodes for anonymous interface params
  kythe/go/indexer/emit.go
  kythe/go/indexer/indexer.go
  kythe/go/indexer/testdata/code/rendered.go
Due: copyright, gofmt, golint

fix(go_indexer): emit nodes for anonymous interface params (#6062)
  kythe/go/indexer/emit.go
  kythe/go/indexer/indexer.go
  kythe/go/indexer/testdata/code/rendered.go
Due: copyright, gofmt, golint

fix(go_indexer): only handle top-level flags
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/flags.go
Due: copyright, gofmt, golint

fix(go_indexer): only handle top-level flags (#6063)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/flags.go
Due: copyright, gofmt, golint

feat(go_indexer): support flag field vars
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/flags.go
Due: copyright, gofmt, golint

feat(go_indexer): support flag field vars (#6064)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/flags.go
Due: copyright, gofmt, golint

refactor: use "flag" language for flag name nodes
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/flags.go
Due: copyright, gofmt, golint

refactor: use "flag" language for flag name nodes (#6065)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/flags.go
Due: copyright, gofmt, golint

Replace instances of to_proto() method with proto.encode_text(..)
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/aspect.bzl
Due: buildifier

Replace instances of to_proto() method with proto.encode_text(..) (#6066)
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/aspect.bzl
Due: buildifier

feat: define a Language schema enum
  kythe/go/util/schema/indexdata.go
  kythe/go/util/schema/mkdata/mkdata.go
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
Due: copyright, clang-format, gofmt, golint

build: add update_generated_sources.sh script
  update_generated_sources.sh
Due: copyright

fix(extraction): add proto rule to simple vnames config
  kythe/data/simple_vnames.json
Due: none

run targets
  update_generated_sources.sh
Due: copyright

style: copyright
  update_generated_sources.sh
Due: copyright

fix(extraction): add proto rule to simple vnames config (#6068)
  kythe/data/simple_vnames.json
Due: none

actually run
  kythe/proto/schema_go_proto/schema.pb.go
  update_generated_sources.sh
Due: copyright, gofmt

feat: define a Language schema enum (#6067)
  kythe/go/util/schema/indexdata.go
  kythe/go/util/schema/mkdata/mkdata.go
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
  update_generated_sources.sh
Due: copyright, clang-format, gofmt, golint

build: remove rust dependencies
  BUILD
  WORKSPACE
  external.bzl
  kythe/proto/BUILD
  kythe/proto/analysis_rust_proto/analysis.rs
  kythe/proto/analysis_rust_proto/any.rs
  kythe/proto/analysis_rust_proto/lib.rs
  kythe/proto/analysis_rust_proto/storage.rs
  kythe/proto/analysis_rust_proto/timestamp.rs
  kythe/proto/common_rust_proto/common.rs
  kythe/proto/common_rust_proto/lib.rs
  kythe/proto/common_rust_proto/timestamp.rs
  kythe/proto/rust.bzl
  kythe/proto/storage_rust_proto/lib.rs
  kythe/proto/storage_rust_proto/storage.rs
  third_party/bazel/extra_actions_base_rust_proto/extra_actions_base.rs
  third_party/bazel/extra_actions_base_rust_proto/lib.rs
Due: buildifier

rm cargo locks
  .gitignore
  Cargo.Bazel.lock
  cargo-bazel-lock.json
Due: none

rm protobuf rust patch
  setup.bzl
  third_party/protobuf-no-rust.patch
Due: buildifier

rm protobuf patch args
  setup.bzl
Due: buildifier

build: remove rust dependencies (#6069)
  .gitignore
  BUILD
  Cargo.Bazel.lock
  WORKSPACE
  cargo-bazel-lock.json
  external.bzl
  kythe/proto/BUILD
  kythe/proto/analysis_rust_proto/analysis.rs
  kythe/proto/analysis_rust_proto/any.rs
  kythe/proto/analysis_rust_proto/lib.rs
  kythe/proto/analysis_rust_proto/storage.rs
  kythe/proto/analysis_rust_proto/timestamp.rs
  kythe/proto/common_rust_proto/common.rs
  kythe/proto/common_rust_proto/lib.rs
  kythe/proto/common_rust_proto/timestamp.rs
  kythe/proto/rust.bzl
  kythe/proto/storage_rust_proto/lib.rs
  kythe/proto/storage_rust_proto/storage.rs
  setup.bzl
  third_party/bazel/extra_actions_base_rust_proto/extra_actions_base.rs
  third_party/bazel/extra_actions_base_rust_proto/lib.rs
  third_party/protobuf-no-rust.patch
Due: buildifier

feature(testing): save logs from indexers.
  kythe/go/indexer/testdata/go_indexer_test.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
  tools/build_rules/verifier_test/verifier_test.sh.in
  tools/build_rules/verifier_test/verifier_test_impl.bzl
Due: buildifier

build: add _sync targets to bazel fix commands
  .bazel_fix_commands.json
Due: none

build: add _sync targets to bazel fix commands (#6070)
  .bazel_fix_commands.json
Due: none

build: remove script
  update_generated_sources.sh
Due: copyright

build: remove script (#6071)
  update_generated_sources.sh
Due: copyright

feat(build): regenerate checked-in source artifacts in pre-commit
  .pre-commit-config.yaml
  tools/git/update-generated-sources.sh
Due: none

chore: use the prepush config
  tools/git/update-generated-sources.sh
Due: none

chore: add a no-op flag for the remote config to avoid query issues on gcb
  .bazelrc
  tools/git/update-generated-sources.sh
Due: none

chore: silence some query output
  tools/git/update-generated-sources.sh
Due: none

feat(build): regenerate checked-in source artifacts in pre-commit (#6072)
  .bazelrc
  .pre-commit-config.yaml
  tools/git/update-generated-sources.sh
Due: none

chore: update LLVM
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/recursive_type_visitor.h
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

chore: update LLVM (#6073)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/recursive_type_visitor.h
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

feature(testing): save logs from indexers.
  kythe/go/indexer/testdata/go_indexer_test.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
  tools/build_rules/verifier_test/verifier_test_impl.bzl
Due: buildifier

feature(testing): save logs from indexers.
  tools/build_rules/verifier_test/verifier_test.sh.in
Due: none

chore: remove unused env vars in indexer test to fix #6074
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore: remove unused env vars in indexer test to fix #6074 (#6076)
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
