Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

fix: import internal change
  tools/build_rules/extraction.bzl
Due: buildifier

fix: import internal change (#5185)
  tools/build_rules/extraction.bzl
Due: buildifier

chore: update llvm (#5184)
  kythe/cxx/extractor/path_utils.cc
  setup.bzl
Due: buildifier, copyright, clang-format

fix(rust_common): update Rust toolchain to fix tests on macOS Monterey (#5183)
  external.bzl
Due: buildifier

feat(cxx_indexer): support r/w and influence for user-defined operators
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/df/df_operatoreq.cc
  kythe/cxx/indexer/cxx/testdata/df/df_operatorpluseq.cc
  kythe/cxx/indexer/cxx/testdata/df/df_operatorplusplus.cc
Due: copyright, clang-format

feat(cxx_indexer): guess protobuf semantics
  kythe/cxx/common/kythe_metadata_file.cc
  kythe/cxx/common/kythe_metadata_file.h
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/common/protobuf_metadata_file.h
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  kythe/cxx/indexer/cxx/testdata/proto/proto_semantic.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

fix: various nits
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/common/protobuf_metadata_file.h
Due: copyright, clang-format

fix(java): do not emit doc nodes for non-javadoc commits by default
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/AnnotationComments.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Comments.java
Due: copyright, google-java-format

feat(cxx_indexer): support r/w and influence for user-defined operators (#5187)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/df/df_operatoreq.cc
  kythe/cxx/indexer/cxx/testdata/df/df_operatorpluseq.cc
  kythe/cxx/indexer/cxx/testdata/df/df_operatorplusplus.cc
Due: copyright, clang-format

feat(cxx_indexer): guess protobuf semantics (#5188)
  kythe/cxx/common/kythe_metadata_file.cc
  kythe/cxx/common/kythe_metadata_file.h
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/common/protobuf_metadata_file.h
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerPPCallbacks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  kythe/cxx/indexer/cxx/testdata/proto/proto_semantic.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

fix(java): do not emit doc nodes for non-javadoc commits by default (#5191)
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/AnnotationComments.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Comments.java
Due: copyright, google-java-format

feat(rust_indexer): remove need for save-analysis files to be saved to fs
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/bin/bazel/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/mod.rs
  kythe/rust/indexer/src/indexer/save_analysis.rs
  kythe/rust/indexer/tests/indexer_save_analysis.rs
  kythe/rust/indexer/tests/lib.rs
  kythe/rust/indexer/tests/testanalysis.json
Due: buildifier, copyright, rustfmt

feat(go_indexer): add definition links to MarkedSource
  kythe/go/indexer/BUILD
  kythe/go/indexer/indexer.go
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/funcdecl.go
  kythe/go/indexer/testdata/code/interface.go
  kythe/go/indexer/testdata/code/pkgvar.go
Due: buildifier, copyright, gofmt, golint

feat(go_indexer): add definition links to MarkedSource (#5194)
  kythe/go/indexer/BUILD
  kythe/go/indexer/indexer.go
  kythe/go/indexer/markedsource.go
  kythe/go/indexer/testdata/code/funcdecl.go
  kythe/go/indexer/testdata/code/interface.go
  kythe/go/indexer/testdata/code/pkgvar.go
Due: buildifier, copyright, gofmt, golint

feat(rust_indexer): remove need for save-analysis files to be saved to fs (#5193)
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/bin/bazel/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/mod.rs
  kythe/rust/indexer/src/indexer/save_analysis.rs
  kythe/rust/indexer/tests/indexer_save_analysis.rs
  kythe/rust/indexer/tests/lib.rs
  kythe/rust/indexer/tests/testanalysis.json
Due: buildifier, copyright, rustfmt

fix(go_indexer): fix refs to anonymous members across packages
  kythe/go/indexer/BUILD
  kythe/go/indexer/indexer.go
  kythe/go/indexer/testdata/basic/anonref.go
  kythe/go/indexer/testdata/basic/anonymous.go
Due: buildifier, copyright, gofmt, golint

fix(go_indexer): fix refs to anonymous members across packages (#5195)
  kythe/go/indexer/BUILD
  kythe/go/indexer/indexer.go
  kythe/go/indexer/testdata/basic/anonref.go
  kythe/go/indexer/testdata/basic/anonymous.go
Due: buildifier, copyright, gofmt, golint

fix(java_indexer): fix ambiguous variable def position
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Variables.java
Due: copyright, google-java-format

fix(java_indexer): fix ambiguous variable def position (#5196)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Variables.java
Due: copyright, google-java-format

feat(rust_indexer): add flag to disable emitting xrefs for stdlib
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/bin/bazel/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/mod.rs
Due: buildifier, copyright, rustfmt

fix(cxx_indexer): treat calls to inherited constructors like other members
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/basic/using_declaration_ref.cc
Due: copyright, clang-format

fix(cxx_indexer): treat calls to inherited constructors like other members (#5198)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/basic/using_declaration_ref.cc
Due: copyright, clang-format

fix unused import
  kythe/rust/indexer/src/bin/bazel/main.rs
Due: copyright, rustfmt

feat(rust_indexer): add flag to disable emitting xrefs for stdlib (#5197)
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/bin/bazel/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/mod.rs
Due: buildifier, copyright, rustfmt

fix(rust_extractor): set the working_directory
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/tests/integration_test.rs
Due: copyright, rustfmt

fix(rust_extractor): set the working_directory (#5200)
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/tests/integration_test.rs
Due: copyright, rustfmt

chore: cleanup more immmutable map builders
  kythe/java/com/google/devtools/kythe/analyzers/java/AutoValuePlugin.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/CompilationUnitPathFileManager.java
  kythe/java/com/google/devtools/kythe/platform/shared/FileDataCache.java
Due: copyright, google-java-format

chore: cleanup more immmutable map builders (#5201)
  kythe/java/com/google/devtools/kythe/analyzers/java/AutoValuePlugin.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/CompilationUnitPathFileManager.java
  kythe/java/com/google/devtools/kythe/platform/shared/FileDataCache.java
Due: copyright, google-java-format

chore(rust_common): update rules_rust and replace deprecated init rules
  external.bzl
  setup.bzl
Due: buildifier

fix(rust_common): update Rust macros to remove use of deprecated attrs
  kythe/rust/extractor/extractor_test.bzl
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier

fix(rust_common): ignore rust-project.json
  .gitignore
Due: none

fix(rust_common): appease buildifier
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier

fix(rust_indexer): emit built-in types in the same corpus as the CU
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/testdata/tbuiltin.rs
Due: copyright, rustfmt

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
