Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

test: add utility to resolve MarkedSources from entries
  kythe/go/util/markedsource/BUILD
  kythe/go/util/markedsource/resolve.go
  kythe/go/util/markedsource/resolve_test.go
  kythe/go/util/tools/markedsource/BUILD
  kythe/go/util/tools/markedsource/markedsource.go
Due: buildifier, copyright, gofmt, golint

copyright headers
  kythe/go/util/markedsource/resolve.go
  kythe/go/util/markedsource/resolve_test.go
  kythe/go/util/tools/markedsource/markedsource.go
Due: copyright, gofmt, golint

add TODO
  kythe/go/util/markedsource/resolve.go
Due: copyright, gofmt, golint

test: add utility to resolve MarkedSources from entries (#5509)
  kythe/go/util/markedsource/BUILD
  kythe/go/util/markedsource/resolve.go
  kythe/go/util/markedsource/resolve_test.go
  kythe/go/util/tools/markedsource/BUILD
  kythe/go/util/tools/markedsource/markedsource.go
Due: buildifier, copyright, gofmt, golint

chore: sketch of how to build kythe extractor docker image in GCB
  kythe/extractors/bazel/BUILD
  kythe/extractors/bazel/gcb.yaml
  tools/build_rules/docker.bzl
Due: buildifier

fix bazelisk invocation
  kythe/extractors/bazel/gcb.yaml
Due: none

better comment
  kythe/extractors/bazel/gcb.yaml
Due: none

chore: update llvm
  kythe/cxx/extractor/testlib.cc
  kythe/cxx/indexer/cxx/semantic_hash.cc
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

improvements
  kythe/extractors/bazel/gcb.yaml
  tools/build_rules/docker.bzl
Due: buildifier

chore: update llvm (#5511)
  kythe/cxx/extractor/testlib.cc
  kythe/cxx/indexer/cxx/semantic_hash.cc
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

working up through push aside from permissions
  kythe/extractors/bazel/gcb.yaml
  tools/build_rules/docker.bzl
Due: buildifier

minor changes
  kythe/extractors/bazel/gcb.yaml
Due: none

chore: enable building kythe extractor docker image via GCB (#5510)
  kythe/extractors/bazel/BUILD
  kythe/extractors/bazel/gcb.yaml
  tools/build_rules/docker.bzl
Due: buildifier

feat(typescript_indexer): fix
  kythe/typescript/post_processing.ts
  kythe/typescript/testdata/binding_pattern.ts
  kythe/typescript/testdata/interface.ts
Due: copyright

chore: update LLVM
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/marked_source.cc
  setup.bzl
Due: buildifier, copyright, clang-format

chore: update LLVM (#5512)
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/marked_source.cc
  setup.bzl
Due: buildifier, copyright, clang-format

fix(typescript): emit code blocks for interface properties and fix TODO
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/marked_source/property.ts
Due: copyright

add empty line
  kythe/typescript/testdata/marked_source/property.ts
Due: none

feat(typescript_indexer): support dynamic imports (ref to modules only)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/dynamic_import_group/import.ts
  kythe/typescript/testdata/dynamic_import_group/module.ts
Due: copyright

rework
  kythe/typescript/indexer.ts
Due: copyright

fix(typescript): emit code blocks for interface properties and fix TODO (#5513)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/marked_source/property.ts
Due: copyright

feat(typescript_indexer): support dynamic imports (ref to modules only) (#5514)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/dynamic_import_group/import.ts
  kythe/typescript/testdata/dynamic_import_group/module.ts
Due: copyright

chore: apply minor fixes from import
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/marked_source.cc
  kythe/go/util/markedsource/resolve.go
Due: copyright, clang-format, gofmt, golint

chore: apply minor fixes from import (#5515)
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/marked_source.cc
  kythe/go/util/markedsource/resolve.go
Due: copyright, clang-format, gofmt, golint

chore(java): delete unused method FileVnames.fillInWith()
  kythe/java/com/google/devtools/kythe/extractors/shared/FileVNames.java
Due: copyright, google-java-format

chore(java): delete unused method FileVnames.fillInWith() (#5517)
  kythe/java/com/google/devtools/kythe/extractors/shared/FileVNames.java
Due: copyright, google-java-format

chore(cxx_indexer): add a test for template instantiation as a base class
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_rec_inherit.cc
Due: none

chore(cxx_indexer): add a test for template instantiation as a base class (#5518)
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_rec_inherit.cc
Due: none

chore: fix ErrorProne checks only triggered in HEAD bazel
  kythe/java/com/google/devtools/kythe/platform/shared/filesystem/CompilationUnitFileAttributes.java
Due: copyright, google-java-format

chore: fix ErrorProne checks only triggered in HEAD bazel (#5519)
  kythe/java/com/google/devtools/kythe/platform/shared/filesystem/CompilationUnitFileAttributes.java
Due: copyright, google-java-format

Implement
  kythe/typescript/BUILD
  kythe/typescript/indexer.ts
  kythe/typescript/kythe.ts
  kythe/typescript/post_processing.ts
Due: buildifier, copyright

Implement
  kythe/typescript/post_processing.ts
Due: copyright

chore(typescript_indexer): consolidate indexer options in a single object
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
Due: copyright

Fix
  kythe/typescript/indexer.ts
Due: copyright

feat(typescript): foo
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
Due: copyright

chore(typescript_indexer): consolidate indexer options in a single object (#5520)
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
Due: copyright

fix(proto_indexer): use extends relation for proto field extensions
  kythe/cxx/indexer/proto/proto_graph_builder.cc
  kythe/cxx/indexer/proto/testdata/basic/extend.proto
  kythe/cxx/indexer/proto/testdata/corner_cases/nopackage.proto
Due: copyright, clang-format

fix(proto_indexer): use extends relation for proto field extensions (#5521)
  kythe/cxx/indexer/proto/proto_graph_builder.cc
  kythe/cxx/indexer/proto/testdata/basic/extend.proto
  kythe/cxx/indexer/proto/testdata/corner_cases/nopackage.proto
Due: copyright, clang-format

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
