Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

chore(go): update go from 1.20 to 1.20.6 in extractor image (#5754)
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

chore: unify vendored Bazel files under third_party/bazel
  BUILD
  external.bzl
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/bazel_artifact_reader.cc
  kythe/cxx/extractor/bazel_artifact_reader.h
  kythe/cxx/extractor/bazel_artifact_reader_test.cc
  kythe/cxx/extractor/bazel_artifact_selector.h
  kythe/cxx/extractor/bazel_artifact_selector_test.cc
  kythe/cxx/extractor/bazel_event_reader.cc
  kythe/cxx/extractor/bazel_event_reader.h
  kythe/cxx/extractor/bazel_event_reader_test.cc
  kythe/proto/BUILD
  kythe/proto/bazel_artifact_selector.proto
  kythe/proto/genproto.bzl
  kythe/proto/go.bzl
  setup.bzl
  third_party/bazel/BUILD
  third_party/bazel/bazel_repository_files.bzl
  third_party/bazel/build_event_stream_go_proto/build_event_stream.pb.go
  third_party/bazel/failure_details_go_proto/failure_details.pb.go
  third_party/bazel/package_load_metrics_go_proto/package_load_metrics.pb.go
  third_party/bazel/root.BUILD
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/BUILD
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
  third_party/bazel/src/main/java/com/google/devtools/build/lib/packages/metrics/BUILD
  third_party/bazel/src/main/java/com/google/devtools/build/lib/packages/metrics/package_load_metrics.proto
  third_party/bazel/src/main/protobuf/BUILD
  third_party/bazel/src/main/protobuf/failure_details.proto
  third_party/bazel/update-protos.sh
  third_party/beam/BUILD
  tools/build_rules/build_event_stream/BUILD
  tools/build_rules/build_event_stream/repo.bzl
  tools/platforms/configs/BUILD
Due: buildifier, copyright, clang-format

chore(cxx): fix differing names in declaration and definition (#5751)
  kythe/cxx/common/kzip_reader.h
Due: copyright, clang-format

chore(cxx_indexer): remove experimental_guess_proto_semantics
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/common/protobuf_metadata_file.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  kythe/cxx/indexer/cxx/testdata/proto/proto_semantic.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

chore(typescript_indexer): add ts-ignore for upcoming TS 5.1 upgrade
  kythe/typescript/indexer.ts
Due: copyright

chore(typescript_indexer): add ts-ignore for upcoming TS 5.1 upgrade (#5757)
  kythe/typescript/indexer.ts
Due: copyright

chore: have generated BUILD files export themselves
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/BUILD
  third_party/bazel/src/main/java/com/google/devtools/build/lib/packages/metrics/BUILD
  third_party/bazel/src/main/protobuf/BUILD
Due: none

chore: fix over-eager test failures
  WORKSPACE
  third_party/bazel/BUILD
Due: buildifier

chore(cxx_indexer): remove experimental_guess_proto_semantics (#5756)
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/common/protobuf_metadata_file.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  kythe/cxx/indexer/cxx/testdata/proto/proto_semantic.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

chore: unify vendored Bazel files under third_party/bazel (#5755)
  BUILD
  WORKSPACE
  external.bzl
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/bazel_artifact_reader.cc
  kythe/cxx/extractor/bazel_artifact_reader.h
  kythe/cxx/extractor/bazel_artifact_reader_test.cc
  kythe/cxx/extractor/bazel_artifact_selector.h
  kythe/cxx/extractor/bazel_artifact_selector_test.cc
  kythe/cxx/extractor/bazel_event_reader.cc
  kythe/cxx/extractor/bazel_event_reader.h
  kythe/cxx/extractor/bazel_event_reader_test.cc
  kythe/proto/BUILD
  kythe/proto/bazel_artifact_selector.proto
  kythe/proto/genproto.bzl
  kythe/proto/go.bzl
  setup.bzl
  third_party/bazel/BUILD
  third_party/bazel/bazel_repository_files.bzl
  third_party/bazel/build_event_stream_go_proto/build_event_stream.pb.go
  third_party/bazel/failure_details_go_proto/failure_details.pb.go
  third_party/bazel/package_load_metrics_go_proto/package_load_metrics.pb.go
  third_party/bazel/root.BUILD
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/BUILD
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
  third_party/bazel/src/main/java/com/google/devtools/build/lib/packages/metrics/BUILD
  third_party/bazel/src/main/java/com/google/devtools/build/lib/packages/metrics/package_load_metrics.proto
  third_party/bazel/src/main/protobuf/BUILD
  third_party/bazel/src/main/protobuf/failure_details.proto
  third_party/bazel/update-protos.sh
  third_party/beam/BUILD
  tools/build_rules/build_event_stream/BUILD
  tools/build_rules/build_event_stream/repo.bzl
  tools/platforms/configs/BUILD
Due: buildifier, copyright, clang-format

chore(go): update extractor image to debian 1.20
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

chore(go): update extractor image to debian 1.20 (#5759)
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

fix(go_indexer): avoid nil pointer panic
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/generics/genericmethod.go
Due: copyright, gofmt, golint

fix(go_indexer): avoid nil pointer panic (#5760)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/generics/genericmethod.go
Due: copyright, gofmt, golint

refactory: Remove SourceRange from recordCompletion
  kythe/cxx/indexer/cxx/GoogleFlagsLibrarySupport.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

chore: Fix a small typo in contributing page.
  kythe/web/site/contributing.md
Due: none

chore: make a few more target gazelle clean
  kythe/data/BUILD
  kythe/go/serving/graph/BUILD
  kythe/go/serving/pipeline/BUILD
  kythe/go/serving/pipeline/beamio/BUILD
  kythe/go/serving/xrefs/BUILD
  kythe/go/util/riegeli/BUILD
  kythe/go/util/riegeli/riegeli_test.proto
  kythe/go/util/riegeli/riegeli_test_go_proto/riegeli_test.pb.go
  kythe/go/util/vnameutil/BUILD
  kythe/go/util/vnameutil/test/BUILD
  third_party/bazel/BUILD
Due: buildifier, copyright, clang-format, gofmt, golint

chore: add gazelle to pre-commit config
  .pre-commit-config.yaml
Due: none

chore: add and use names for go_proto_library targets
  BUILD
  kythe/proto/BUILD
Due: buildifier

chore: use per-file go_test for some files w/ patch
  kythe/go/serving/graph/BUILD
  kythe/go/serving/pipeline/BUILD
  kythe/go/serving/pipeline/beamio/BUILD
  kythe/go/serving/xrefs/BUILD
  kythe/go/util/riegeli/BUILD
  kythe/go/util/vnameutil/BUILD
  setup.bzl
  third_party/gazelle-0.32.0-go_test_mode.patch
Due: buildifier

refactor: Remove SourceRange from recordCompletion (#5761)
  kythe/cxx/indexer/cxx/GoogleFlagsLibrarySupport.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/web/site/contributing.md
Due: copyright, clang-format

chore: update path to go rules
  tools/gazelle/go/lang.go
Due: gofmt, golint

chore: only run gazelle on push
  .pre-commit-config.yaml
Due: none

build: share more configuration between GCB images
  .bazelminversion
  .bazelrc
  .bazelversion
  kythe/release/cloudbuild/bazelisk-builder-client/Dockerfile
  kythe/release/cloudbuild/bazelisk-builder-client/bazelrc
  kythe/release/cloudbuild/pre-commit/Dockerfile
  version.bzl
Due: buildifier, copyright

build: share more configuration between GCB images (#5763)
  .bazelminversion
  .bazelrc
  .bazelversion
  kythe/release/cloudbuild/bazelisk-builder-client/Dockerfile
  kythe/release/cloudbuild/bazelisk-builder-client/bazelrc
  kythe/release/cloudbuild/pre-commit/Dockerfile
  version.bzl
Due: buildifier, copyright

chore: run gazelle in all stages
  .pre-commit-config.yaml
Due: none

chore: update llvm
  external.bzl
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  setup.bzl
Due: buildifier, copyright, clang-format

chore: update llvm (#5764)
  external.bzl
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  setup.bzl
Due: buildifier, copyright, clang-format

chore(cxx_indexer): remove unused marked_source flags
  kythe/cxx/indexer/cxx/marked_source.cc
  kythe/cxx/indexer/cxx/marked_source.h
Due: copyright, clang-format

chore(cxx_indexer): remove unused marked_source flags (#5765)
  kythe/cxx/indexer/cxx/marked_source.cc
  kythe/cxx/indexer/cxx/marked_source.h
Due: copyright, clang-format

feat(serving): allow corpus specific includes filters
  kythe/go/serving/xrefs/xrefs_filter.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, clang-format, gofmt, golint

feat(serving): allow corpus specific includes filters (#5767)
  kythe/go/serving/xrefs/xrefs_filter.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, clang-format, gofmt, golint

feat(extractor): add a flag for filtering on input file size
  kythe/go/extractors/bazel/BUILD
  kythe/go/extractors/bazel/settings.go
  kythe/go/extractors/bazel/utils.go
  kythe/go/util/datasize/datasize.go
Due: buildifier, copyright, gofmt, golint

chore: address comments
  kythe/go/extractors/bazel/utils.go
Due: copyright, gofmt, golint

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
