Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

Add missing @CanIgnoreReturnValue annotations.
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
Due: copyright, google-java-format

Add missing @CanIgnoreReturnValue annotations
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaNode.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheJavacAnalyzer.java
  kythe/java/com/google/devtools/kythe/analyzers/java/ResolvedAutoValue.java
Due: copyright, google-java-format

Add missing @CanIgnoreReturnValue annotations (#6199)
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaNode.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheJavacAnalyzer.java
  kythe/java/com/google/devtools/kythe/analyzers/java/ResolvedAutoValue.java
Due: copyright, google-java-format

Update xrefs for record accessor methods to their corresponding fields in Record Class.
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Classes.java
Due: copyright, google-java-format

Update xrefs for record accessor methods to their corresponding fields in Record Class
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

Fixed lint warning
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

Fix lint
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

chore: Bump rules_go
  external.bzl
  setup.bzl
  third_party/gazelle-0.32.0-go_test_mode.patch
Due: buildifier

chore: Bump rules_go (#6202)
  external.bzl
  setup.bzl
  third_party/gazelle-0.32.0-go_test_mode.patch
Due: buildifier

chore: Bump rules_go
  WORKSPACE
  external.bzl
  setup.bzl
Due: buildifier

Revert "chore: Bump rules_go (#6202)"
  external.bzl
  setup.bzl
  third_party/gazelle-0.32.0-go_test_mode.patch
Due: buildifier

Revert "chore: Bump rules_go (#6202)" (#6204)
  external.bzl
  setup.bzl
  third_party/gazelle-0.32.0-go_test_mode.patch
Due: buildifier

Fix multiple corpora issue by defaulting to simple_vnames.json
  kythe/data/vnames.bzl
  kythe/release/release.BUILD
Due: buildifier

Fix multiple corpora issue by defaulting to simple_vnames.json
  kythe/release/release.BUILD
Due: none

Fix multiple corpora issue by defaulting to simple_vnames.json (#6207)
  kythe/data/vnames.bzl
  kythe/release/release.BUILD
Due: buildifier

release: v0.0.74
  RELEASES.md
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
Due: buildifier, copyright

release: v0.0.74
  RELEASES.md
Due: none

Release v0.0.74 (#6208)
  RELEASES.md
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
Due: buildifier, copyright

Added --allow-release-info-change to cmds
  kythe/extractors/bazel/extract.sh
Due: copyright

Added --allow-release-info-change to cmds (#6209)
  kythe/extractors/bazel/extract.sh
Due: copyright

Update Go extractor Docker image to use Go 1.25
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

Update Go extractor Docker image to use Go 1.25 (#6213)
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

build: Upgrade bazel-extractor to Ubuntu 24.04
  kythe/extractors/bazel/Dockerfile
Due: copyright

updated to use debian:trixie
  kythe/extractors/bazel/Dockerfile
Due: copyright

removed whitespace
  kythe/extractors/bazel/Dockerfile
Due: copyright

added comments
  kythe/extractors/bazel/Dockerfile
Due: copyright

added newline
  kythe/extractors/bazel/Dockerfile
Due: copyright

removed comments
  kythe/extractors/bazel/Dockerfile
Due: copyright

build: Upgrade bazel-extractor - add new packages (#6215)
  kythe/extractors/bazel/Dockerfile
Due: copyright

Update BUILD and bazelrc for Bazel 9 based clients
  kythe/extractors/bazel/extractors.bazelrc
  kythe/release/release.BUILD
Due: none

Fix trailing whitespace
  kythe/release/release.BUILD
Due: none

Update BUILD and bazelrc for Bazel 9 based clients (#6218)
  kythe/extractors/bazel/extractors.bazelrc
  kythe/release/release.BUILD
Due: none

release: v0.0.75
  RELEASES.md
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
Due: buildifier, copyright

release: v0.0.75 (#6220)
  RELEASES.md
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
Due: buildifier, copyright

Rebuild golang-extractor for Go 1.26.3
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

Fix: Rust extractor to filter out other crates' roots in source files.
  kythe/go/extractors/cmd/rust/rust_project_to_kzip.go
  kythe/go/extractors/cmd/rust/rust_project_to_kzip_test.go
Due: copyright, gofmt, golint

rust extractor: place root module at the start of source_file
  kythe/go/extractors/cmd/rust/rust_project_to_kzip.go
  kythe/go/extractors/cmd/rust/rust_project_to_kzip_test.go
Due: copyright, gofmt, golint

Add options for cononicalization to optionally not sorting source files.
  kythe/go/extractors/cmd/rust/rust_project_to_kzip.go
  kythe/go/extractors/cmd/rust/rust_project_to_kzip_test.go
  kythe/go/platform/kcd/kcd.go
  kythe/go/platform/kcd/kythe/units.go
  kythe/go/platform/kzip/kzip.go
Due: copyright, gofmt, golint

Change BUILD files.
  kythe/go/extractors/cmd/rust/BUILD
  kythe/go/platform/kzip/BUILD
Due: buildifier

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
