Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

fix: passthrough nil Spans without work (#5438)
  kythe/go/util/span/span.go
  kythe/go/util/span/span_test.go
Due: copyright, gofmt, golint

fix(schema): get rid of more abs stuff (#5420)
  kythe/docs/schema/schema.txt
Due: copyright

fix(schema): get rid of more abs stuff (#5420) (#5439)
  kythe/docs/schema/schema.txt
Due: copyright

feat(schema): document canonical order of schema tags
  tools/schema/README
  tools/schema/edges
  tools/schema/facts
  tools/schema/nodes
Due: none

perf: update patcher to use binary search (#5434)
  kythe/go/util/span/BUILD
  kythe/go/util/span/span.go
  kythe/go/util/span/span_test.go
Due: buildifier, copyright, gofmt, golint

fix(java_indexer): return null instead of throwing for unsupported attribute views
  kythe/java/com/google/devtools/kythe/platform/shared/filesystem/CompilationUnitFileSystemProvider.java
Due: copyright, google-java-format

fix(java_indexer): return null instead of throwing for unsupported attribute views (#5441)
  kythe/java/com/google/devtools/kythe/platform/shared/filesystem/CompilationUnitFileSystemProvider.java
Due: copyright, google-java-format

fix: correctly patch zero-width spans
  kythe/go/util/span/span.go
  kythe/go/util/span/span_test.go
Due: copyright, gofmt, golint

fix: correctly patch zero-width spans (#5442)
  kythe/go/util/span/span.go
  kythe/go/util/span/span_test.go
Due: copyright, gofmt, golint

chore: change Bazel cfg host to exec
  kythe/cxx/extractor/proto/testdata/proto_extractor_test.bzl
  kythe/cxx/extractor/toolchain.bzl
  kythe/cxx/indexer/proto/testdata/proto_verifier_test.bzl
  kythe/cxx/indexer/textproto/testdata/textproto_verifier_test.bzl
  kythe/go/indexer/testdata/go_indexer_test.bzl
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/aspect.bzl
  tools/build_rules/extraction.bzl
Due: buildifier

chore: change Bazel cfg host to exec (#5443)
  kythe/cxx/extractor/proto/testdata/proto_extractor_test.bzl
  kythe/cxx/extractor/toolchain.bzl
  kythe/cxx/indexer/proto/testdata/proto_verifier_test.bzl
  kythe/cxx/indexer/textproto/testdata/textproto_verifier_test.bzl
  kythe/go/indexer/testdata/go_indexer_test.bzl
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/aspect.bzl
  tools/build_rules/extraction.bzl
Due: buildifier

feat(typescript_indexer): add support for ref/writes
  kythe/typescript/indexer.ts
  kythe/typescript/kythe.ts
  kythe/typescript/testdata/binding_pattern.ts
  kythe/typescript/testdata/function.ts
  kythe/typescript/testdata/getter_setter.ts
  kythe/typescript/testdata/writes.ts
Due: copyright

chore: add new test
  kythe/typescript/testdata/writes.ts
Due: none

chore: add one other test
  kythe/typescript/testdata/writes.ts
Due: none

fix(cxx_common): address bug with zero sized files
  kythe/cxx/common/kzip_reader.cc
Due: copyright, clang-format

fix(cxx_common): address bug with zero sized files (#5445)
  kythe/cxx/common/kzip_reader.cc
Due: copyright, clang-format

fix(go_indexer): compound assignments should be rw
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/writes.go
Due: copyright, gofmt, golint

fix(go_indexer): compound assignments should be rw (#5446)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/writes.go
Due: copyright, gofmt, golint

feat(api): add filtered xrefs counts to reply
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, clang-format, gofmt, golint

fix doc
  kythe/proto/xref.proto
Due: copyright, clang-format

feat(api): add filtered xrefs counts to reply (#5447)
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, clang-format, gofmt, golint

fix(java_indexer): properly handle null parent trees
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

fix(java_indexer): properly handle null parent trees (#5448)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

chore(java_indexer): downgrade doc reference failure logging
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheDocTreeScanner.java
Due: copyright, google-java-format

chore(java_indexer): include the exception message
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheDocTreeScanner.java
Due: copyright, google-java-format

chore(java_indexer): emit diagnostics for failure to resolve
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheDocTreeScanner.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Comments.java
Due: copyright, google-java-format

chore(java_indexer): downgrade doc reference failure logging (#5449)
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheDocTreeScanner.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Comments.java
Due: copyright, google-java-format

chore(java_indexer): clean up import errors
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Comments.java
Due: copyright, google-java-format

chore(java_indexer): clean up import errors (#5450)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Comments.java
Due: copyright, google-java-format

fix(api): only count xrefs cut by CorpusPathFilters
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
Due: copyright, clang-format, gofmt, golint

fix(api): only count xrefs cut by CorpusPathFilters (#5451)
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
Due: copyright, clang-format, gofmt, golint

feat(schema): document ref/writes edges
  kythe/docs/write-references.txt
Due: copyright

feat(schema): document canonical order of schema tags (#5440)
  tools/schema/README
  tools/schema/edges
  tools/schema/facts
  tools/schema/nodes
Due: none

perf(serving): only filter groups that match requested kinds
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

perf(serving): only filter groups that match requested kinds (#5454)
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

fix(typescrypt_indexer): fix writes tests
  kythe/typescript/testdata/writes.ts
Due: none

fix: remove singleton
  kythe/typescript/testdata/writes.ts
Due: none

feat(typescript_indexer): add support for ref/writes (#5444)
  kythe/typescript/indexer.ts
  kythe/typescript/kythe.ts
  kythe/typescript/testdata/binding_pattern.ts
  kythe/typescript/testdata/function.ts
  kythe/typescript/testdata/getter_setter.ts
  kythe/typescript/testdata/writes.ts
Due: copyright

fix(typescript_indexer): fix linting issues
  kythe/typescript/indexer.ts
Due: copyright

fix(typescript_indexer): fix linting issues (#5455)
  kythe/typescript/indexer.ts
Due: copyright

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
