Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

feat(serving): trigram search index for xref pages
  external.bzl
  go.mod
  go.sum
  kythe/go/serving/xrefs/BUILD
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_filter.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: buildifier, copyright, clang-format, gofmt, golint

feat(serving): trigram search index for xref pages (#5456)
  external.bzl
  go.mod
  go.sum
  kythe/go/serving/xrefs/BUILD
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_filter.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: buildifier, copyright, clang-format, gofmt, golint

chore: update rules_go and fix visilibity for Bazel changes
  .bazelrc
  buildenv/java/BUILD
  setup.bzl
Due: buildifier

chore: move bazelrc option to build command
  .bazelrc
Due: none

chore: update rules_go and fix visilibity for Bazel changes (#5459)
  .bazelrc
  buildenv/java/BUILD
  setup.bzl
Due: buildifier

fix: address comments
  kythe/docs/write-references.txt
Due: copyright

feat(serving): allow some leeway time to return before xrefs deadline
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

feat(serving): allow some leeway time to return before xrefs deadline (#5460)
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

feat(schema): document ref/writes edges (#5452)
  kythe/docs/write-references.txt
Due: copyright

fix(cxx_indexer): remove unnecessary precondition
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

fix(cxx_indexer): remove unnecessary precondition (#5461)
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

chore: use hashes for pip install pre-commit
  .pre-commit-config.yaml
  kythe/release/cloudbuild/pre-commit/Dockerfile
  kythe/release/cloudbuild/pre-commit/requirements.in
  kythe/release/cloudbuild/pre-commit/requirements.txt
Due: copyright

chore: use hashes for pip install pre-commit (#5462)
  .pre-commit-config.yaml
  kythe/release/cloudbuild/pre-commit/Dockerfile
  kythe/release/cloudbuild/pre-commit/requirements.in
  kythe/release/cloudbuild/pre-commit/requirements.txt
Due: copyright

fix(serving): skip PageSet check when given no filters
  kythe/go/serving/xrefs/xrefs_filter.go
Due: copyright, gofmt, golint

fix(serving): skip PageSet check when given no filters (#5463)
  kythe/go/serving/xrefs/xrefs_filter.go
Due: copyright, gofmt, golint

fix(serving): fix reversed inequality
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

fix(serving): fix reversed inequality (#5464)
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

chore: cleanup xrefs_filter code
  kythe/go/serving/xrefs/xrefs_filter.go
Due: copyright, gofmt, golint

fix(serving): clear empty xref sets after all reads
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

chore: cleanup xrefs_filter code (#5466)
  kythe/go/serving/xrefs/xrefs_filter.go
Due: copyright, gofmt, golint

fix(serving): clear empty xref sets after all reads (#5465)
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

feat(cxx): record member visibility facts
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/rec/rec_class_visibility.cc
Due: copyright, clang-format

delint
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

delint 2
  kythe/cxx/common/indexing/KytheGraphRecorder.h
Due: copyright, clang-format

feat(cxx): emit member visibility facts (#5467)
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/rec/rec_class_visibility.cc
Due: copyright, clang-format

fix(cxx): use canonical clang include path
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

fix(cxx): use canonical clang include path (#5468)
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

feat(serving): add option to read xref pages concurrently
  external.bzl
  go.mod
  go.sum
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
Due: buildifier, copyright, gofmt, golint

go mod tidy
  go.mod
  go.sum
Due: none

feat(serving): add option to read xref pages concurrently (#5469)
  external.bzl
  go.mod
  go.sum
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_test.go
Due: buildifier, copyright, gofmt, golint

fix(rust_extractor): ensure glob result is a file
  kythe/rust/extractor/src/bin/extractor.rs
Due: copyright, rustfmt

fix(rust_extractor): ensure glob result is a file (#5470)
  kythe/rust/extractor/src/bin/extractor.rs
Due: copyright, rustfmt

fix(rust_indexer): set root when creating vname for reference
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix(serving): ensure page read ahead stops promptly
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

fix(serving): ensure page read ahead stops promptly (#5473)
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

feat(go_serving): add ResolveVName to Unit interface
  kythe/go/platform/kcd/BUILD
  kythe/go/platform/kcd/kcd.go
  kythe/go/platform/kcd/kythe/units.go
  kythe/go/platform/kcd/kythe/units_test.go
Due: buildifier, copyright, gofmt, golint

chore: rename method to address comments
  kythe/go/platform/kcd/kcd.go
  kythe/go/platform/kcd/kythe/units.go
  kythe/go/platform/kcd/kythe/units_test.go
Due: copyright, gofmt, golint

feat(go_serving): add ResolveVName to Unit interface (#5474)
  kythe/go/platform/kcd/BUILD
  kythe/go/platform/kcd/kcd.go
  kythe/go/platform/kcd/kythe/units.go
  kythe/go/platform/kcd/kythe/units_test.go
Due: buildifier, copyright, gofmt, golint

chore: use ProtoDiff for test comparisons
  kythe/go/platform/kcd/kythe/BUILD
  kythe/go/platform/kcd/kythe/units_test.go
Due: buildifier, copyright, gofmt, golint

chore: use ProtoDiff for test comparisons (#5475)
  kythe/go/platform/kcd/kythe/BUILD
  kythe/go/platform/kcd/kythe/units_test.go
Due: buildifier, copyright, gofmt, golint
