Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

chore: fix for a clang warning about a missing override
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

fix: address comments
  kythe/rust/extractor/src/vname_util.rs
Due: copyright, rustfmt

feat(rust_extractor): add support for processing vname configuration (#5053)
  kythe/extractors/BUILD
  kythe/rust/cargo/BUILD.bazel
  kythe/rust/cargo/Cargo.lock
  kythe/rust/cargo/Cargo.raze.lock
  kythe/rust/cargo/Cargo.toml
  kythe/rust/cargo/crates.bzl
  kythe/rust/cargo/remote/BUILD.rls-analysis-0.18.1.bazel
  kythe/rust/cargo/remote/BUILD.rls-data-0.19.1.bazel
  kythe/rust/cargo/remote/BUILD.rls-span-0.5.4.bazel
  kythe/rust/cargo/remote/BUILD.serde-1.0.129.bazel
  kythe/rust/cargo/remote/BUILD.serde_derive-1.0.129.bazel
  kythe/rust/cargo/remote/BUILD.serde_json-1.0.66.bazel
  kythe/rust/extractor/BUILD
  kythe/rust/extractor/extractor_test.bzl
  kythe/rust/extractor/src/bin/cli.rs
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/src/lib.rs
  kythe/rust/extractor/src/vname_util.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/extractor/tests/test.rs
  tools/build_rules/verifier_test/rust_indexer_test.bzl
  tools/rust/runfiles/BUILD
  tools/rust/runfiles/lib.rs
  tools/rust/runfiles/testfile.txt
Due: buildifier, copyright, rustfmt

feat(rust_common): prepare for Kythe release
  kythe/release/BUILD
  kythe/release/README.md
  kythe/release/release.BUILD
Due: buildifier

chore: fix for a clang warning about a missing override (#5054)
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

feat(rust_common): prepare for Kythe release (#5055)
  kythe/release/BUILD
  kythe/release/README.md
  kythe/release/release.BUILD
Due: buildifier

chore: fix ycm_extra_conf for Python3
  .ycm_extra_conf.py
Due: none

chore: fix ycm_extra_conf for Python3 (#5056)
  .ycm_extra_conf.py
Due: none

release: v0.0.53
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

release: v0.0.53 (#5057)
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

feat: add rust extraction support to bazel docker image
  kythe/extractors/bazel/README.md
  kythe/extractors/bazel/extractors.bazelrc
Due: none

feat: add rust extraction support to bazel docker image (#5058)
  kythe/extractors/bazel/README.md
  kythe/extractors/bazel/extractors.bazelrc
Due: none

Remove unused binary `kzip_validator`
  kythe/go/platform/tools/kzip_validator/BUILD
  kythe/go/platform/tools/kzip_validator/kzip_validator.go
  kythe/release/BUILD
Due: buildifier, copyright, gofmt, golint

Remove unused binary `kzip_validator` (#5059)
  kythe/go/platform/tools/kzip_validator/BUILD
  kythe/go/platform/tools/kzip_validator/kzip_validator.go
  kythe/release/BUILD
Due: buildifier, copyright, gofmt, golint

Remove dep on mholt/archiver
  external.bzl
  go.mod
  go.sum
  kythe/go/extractors/validation/BUILD
  kythe/go/extractors/validation/validation.go
  third_party/go/BUILD
Due: buildifier, copyright, gofmt, golint

Remove dep on mholt/archiver (#5060)
  external.bzl
  go.mod
  go.sum
  kythe/go/extractors/validation/BUILD
  kythe/go/extractors/validation/validation.go
  third_party/go/BUILD
Due: buildifier, copyright, gofmt, golint

fix(rust_indexer): don't try to canonicalize tmp_directory
  kythe/rust/indexer/src/bin/proxy/main.rs
Due: copyright, rustfmt

fix(rust_indexer): don't try to canonicalize tmp_directory (#5061)
  kythe/rust/indexer/src/bin/proxy/main.rs
Due: copyright, rustfmt

chore(rust_common): bump Rust dependencies
  kythe/rust/cargo/BUILD.bazel
  kythe/rust/cargo/Cargo.raze.lock
  kythe/rust/cargo/Cargo.toml
  kythe/rust/cargo/crates.bzl
  kythe/rust/cargo/remote/BUILD.atty-0.2.14.bazel
  kythe/rust/cargo/remote/BUILD.bzip2-0.4.3.bazel
  kythe/rust/cargo/remote/BUILD.bzip2-sys-0.1.11+1.0.8.bazel
  kythe/rust/cargo/remote/BUILD.cc-1.0.70.bazel
  kythe/rust/cargo/remote/BUILD.cpufeatures-0.2.1.bazel
  kythe/rust/cargo/remote/BUILD.derive-new-0.5.9.bazel
  kythe/rust/cargo/remote/BUILD.flate2-1.0.21.bazel
  kythe/rust/cargo/remote/BUILD.fst-0.4.7.bazel
  kythe/rust/cargo/remote/BUILD.generic-array-0.14.4.bazel
  kythe/rust/cargo/remote/BUILD.hermit-abi-0.1.19.bazel
  kythe/rust/cargo/remote/BUILD.itertools-0.9.0.bazel
  kythe/rust/cargo/remote/BUILD.json-0.12.4.bazel
  kythe/rust/cargo/remote/BUILD.libc-0.2.101.bazel
  kythe/rust/cargo/remote/BUILD.num_cpus-1.13.0.bazel
  kythe/rust/cargo/remote/BUILD.parking_lot_core-0.7.2.bazel
  kythe/rust/cargo/remote/BUILD.proc-macro2-1.0.29.bazel
  kythe/rust/cargo/remote/BUILD.quote-1.0.9.bazel
  kythe/rust/cargo/remote/BUILD.rand-0.4.6.bazel
  kythe/rust/cargo/remote/BUILD.rls-analysis-0.18.2.bazel
  kythe/rust/cargo/remote/BUILD.rls-data-0.19.1.bazel
  kythe/rust/cargo/remote/BUILD.rls-span-0.5.4.bazel
  kythe/rust/cargo/remote/BUILD.serde-1.0.130.bazel
  kythe/rust/cargo/remote/BUILD.serde_derive-1.0.130.bazel
  kythe/rust/cargo/remote/BUILD.serde_json-1.0.67.bazel
  kythe/rust/cargo/remote/BUILD.serial_test_derive-0.4.0.bazel
  kythe/rust/cargo/remote/BUILD.sha2-0.9.6.bazel
  kythe/rust/cargo/remote/BUILD.syn-1.0.75.bazel
  kythe/rust/cargo/remote/BUILD.thiserror-1.0.28.bazel
  kythe/rust/cargo/remote/BUILD.thiserror-impl-1.0.28.bazel
  kythe/rust/cargo/remote/BUILD.time-0.1.44.bazel
  kythe/rust/cargo/remote/BUILD.typenum-1.14.0.bazel
  kythe/rust/cargo/remote/BUILD.zip-0.5.13.bazel
Due: buildifier, copyright

fix(bazel extractor): update path to extracted kzips
  kythe/extractors/bazel/extract.sh
Due: copyright

chore(rust_common): bump Rust dependencies (#5062)
  kythe/rust/cargo/BUILD.bazel
  kythe/rust/cargo/Cargo.raze.lock
  kythe/rust/cargo/Cargo.toml
  kythe/rust/cargo/crates.bzl
  kythe/rust/cargo/remote/BUILD.atty-0.2.14.bazel
  kythe/rust/cargo/remote/BUILD.bzip2-0.4.3.bazel
  kythe/rust/cargo/remote/BUILD.bzip2-sys-0.1.11+1.0.8.bazel
  kythe/rust/cargo/remote/BUILD.cc-1.0.70.bazel
  kythe/rust/cargo/remote/BUILD.cpufeatures-0.2.1.bazel
  kythe/rust/cargo/remote/BUILD.derive-new-0.5.9.bazel
  kythe/rust/cargo/remote/BUILD.flate2-1.0.21.bazel
  kythe/rust/cargo/remote/BUILD.fst-0.4.7.bazel
  kythe/rust/cargo/remote/BUILD.generic-array-0.14.4.bazel
  kythe/rust/cargo/remote/BUILD.hermit-abi-0.1.19.bazel
  kythe/rust/cargo/remote/BUILD.itertools-0.9.0.bazel
  kythe/rust/cargo/remote/BUILD.json-0.12.4.bazel
  kythe/rust/cargo/remote/BUILD.libc-0.2.101.bazel
  kythe/rust/cargo/remote/BUILD.num_cpus-1.13.0.bazel
  kythe/rust/cargo/remote/BUILD.parking_lot_core-0.7.2.bazel
  kythe/rust/cargo/remote/BUILD.proc-macro2-1.0.29.bazel
  kythe/rust/cargo/remote/BUILD.quote-1.0.9.bazel
  kythe/rust/cargo/remote/BUILD.rand-0.4.6.bazel
  kythe/rust/cargo/remote/BUILD.rls-analysis-0.18.2.bazel
  kythe/rust/cargo/remote/BUILD.rls-data-0.19.1.bazel
  kythe/rust/cargo/remote/BUILD.rls-span-0.5.4.bazel
  kythe/rust/cargo/remote/BUILD.serde-1.0.130.bazel
  kythe/rust/cargo/remote/BUILD.serde_derive-1.0.130.bazel
  kythe/rust/cargo/remote/BUILD.serde_json-1.0.67.bazel
  kythe/rust/cargo/remote/BUILD.serial_test_derive-0.4.0.bazel
  kythe/rust/cargo/remote/BUILD.sha2-0.9.6.bazel
  kythe/rust/cargo/remote/BUILD.syn-1.0.75.bazel
  kythe/rust/cargo/remote/BUILD.thiserror-1.0.28.bazel
  kythe/rust/cargo/remote/BUILD.thiserror-impl-1.0.28.bazel
  kythe/rust/cargo/remote/BUILD.time-0.1.44.bazel
  kythe/rust/cargo/remote/BUILD.typenum-1.14.0.bazel
  kythe/rust/cargo/remote/BUILD.zip-0.5.13.bazel
Due: buildifier, copyright

fix(bazel extractor): update path to extracted kzips (#5063)
  kythe/extractors/bazel/extract.sh
Due: copyright

fix(rust_extractor): set the environment variables from SpawnInfo
  kythe/rust/extractor/src/bin/extractor.rs
Due: copyright, rustfmt

fix(rust_extractor): set the environment variables from SpawnInfo (#5064)
  kythe/rust/extractor/src/bin/extractor.rs
Due: copyright, rustfmt

fix(rust_indexer): don't throw error when parent vname can't be found
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix(rust_indexer): print file path because the previous variable was empty
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix: address comments
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix: address comments again
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/entries.rs
Due: copyright, rustfmt

fix: comments
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

fix: address comments and fix linter errors
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/entries.rs
Due: buildifier, copyright, rustfmt

fix: address newest comments
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/entries.rs
  kythe/rust/indexer/tests/indexer_entries.rs
Due: copyright, rustfmt

fix(rust_indexer): don't throw error when parent vname can't be found (#5065)
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/entries.rs
  kythe/rust/indexer/tests/indexer_entries.rs
Due: buildifier, copyright, rustfmt

Add inline metadata parsing functionality to the Java indexer.
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexer.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/platform/shared/BUILD
  kythe/java/com/google/devtools/kythe/platform/shared/KytheInlineMetadataLoader.java
  kythe/java/com/google/devtools/kythe/platform/shared/Metadata.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/InlineMetadata.java
Due: buildifier, copyright, google-java-format

Set java_package option in metadata proto
  kythe/cxx/verifier/verifier_main.cc
  kythe/proto/metadata.proto
Due: copyright, clang-format

fix(rust_indexer): handle ending offsets for files without ending newline
  kythe/rust/indexer/src/indexer/offset.rs
Due: copyright, rustfmt

fix: create test
  kythe/rust/indexer/testdata/anchors.rs
Due: none

fix(rust_indexer): handle ending offsets for files without ending newline (#5066)
  kythe/rust/indexer/src/indexer/offset.rs
  kythe/rust/indexer/testdata/anchors.rs
Due: copyright, rustfmt

fix(rust_extractor): use post-processed file paths for source file field
  kythe/rust/extractor/src/bin/extractor.rs
Due: copyright, rustfmt

fix(rust_indexer): use processed file paths
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

Revert "fix(rust_indexer): use processed file paths"
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt
