Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

fix: narrow types from stmt to expr
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format

feat(cxx_indexer): add alias-taking semantic (#5540)
  kythe/cxx/common/kythe_metadata_file.cc
  kythe/cxx/common/kythe_metadata_file.h
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/proto/metadata.proto
  kythe/proto/metadata_go_proto/metadata.pb.go
Due: copyright, clang-format, gofmt

fix: narrow types from stmt to expr
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/clang_utils.cc
  kythe/cxx/indexer/cxx/clang_utils.h
Due: copyright, clang-format

fix: bad edit
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

feat(cxx_indexer): support simple aliases to declrefexprs
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/clang_utils.cc
  kythe/cxx/indexer/cxx/clang_utils.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/df/df_ta_var.cc
Due: copyright, clang-format

fix: use IgnoreParens and remove Unparen
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/clang_utils.cc
  kythe/cxx/indexer/cxx/clang_utils.h
Due: copyright, clang-format

feat(cxx_indexer): support simple aliases to declrefexprs (#5538)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/clang_utils.cc
  kythe/cxx/indexer/cxx/clang_utils.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/df/df_ta_var.cc
Due: copyright, clang-format

feat(cxx_indexer): support kTakeAlias semantics in simple alias exprs
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/testdata/proto/proto_semantic.cc
Due: copyright, clang-format

fix: switch to structs with named members
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format

feat(cxx_indexer): support kTakeAlias semantics in simple alias exprs (#5541)
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/testdata/proto/proto_semantic.cc
Due: copyright, clang-format

chore(textproto_indexer): add recordio textformat support
  CONTRIBUTORS
  kythe/cxx/extractor/textproto/textproto_extractor.cc
  kythe/cxx/indexer/textproto/BUILD
  kythe/cxx/indexer/textproto/analyzer.cc
  kythe/cxx/indexer/textproto/recordio_textparser.cc
  kythe/cxx/indexer/textproto/recordio_textparser.h
  kythe/cxx/indexer/textproto/recordio_textparser_test.cc
  kythe/cxx/indexer/textproto/testdata/BUILD
  kythe/cxx/indexer/textproto/testdata/recordio_basics.recordiotxt
  kythe/cxx/indexer/textproto/testdata/recordio_emptyline_delimiter.recordiotxt
  kythe/cxx/indexer/textproto/testdata/textproto_verifier_test.bzl
Due: buildifier, copyright, clang-format

chore(textproto_indexer): add recordio textformat support
  kythe/cxx/extractor/textproto/textproto_extractor.cc
Due: copyright, clang-format

fix(cxx_indexer): emit proper marked source for macro-renamed functions
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/clang_range_finder.cc
  kythe/cxx/indexer/cxx/clang_range_finder_test.cc
  kythe/cxx/indexer/cxx/marked_source.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/marked_source/ms_macro_fn.cc
Due: buildifier, copyright, clang-format

fix(cxx_indexer): emit proper marked source for macro-renamed functions (#5542)
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/clang_range_finder.cc
  kythe/cxx/indexer/cxx/clang_range_finder_test.cc
  kythe/cxx/indexer/cxx/marked_source.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/marked_source/ms_macro_fn.cc
Due: buildifier, copyright, clang-format

chore: remove uses of map_util.h
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/proto_analyzer.cc
  kythe/cxx/indexer/proto/source_tree.cc
Due: copyright, clang-format

chore: remove unused proto aliases and conversion routines
  kythe/cxx/common/kythe_metadata_file.cc
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/testdata/claim_pragma_test.cc
  kythe/cxx/extractor/testlib.cc
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/KytheIndexerUnitTest.cc
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/cxx/ProtoLibrarySupport.cc
  kythe/cxx/indexer/cxx/frontend.cc
  kythe/cxx/indexer/cxx/proto_conversions.h
  kythe/cxx/tools/fyi/fyi.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_unit_test.cc
  kythe/examples/proto/proto_indexer.cc
Due: buildifier, copyright, clang-format

chore: remove uses of map_util.h (#5544)
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/proto_analyzer.cc
  kythe/cxx/indexer/proto/source_tree.cc
Due: copyright, clang-format

chore: remove unused proto aliases and conversion routines (#5545)
  kythe/cxx/common/kythe_metadata_file.cc
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/testdata/claim_pragma_test.cc
  kythe/cxx/extractor/testlib.cc
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/KytheIndexerUnitTest.cc
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/cxx/ProtoLibrarySupport.cc
  kythe/cxx/indexer/cxx/frontend.cc
  kythe/cxx/indexer/cxx/proto_conversions.h
  kythe/cxx/tools/fyi/fyi.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_unit_test.cc
  kythe/examples/proto/proto_indexer.cc
Due: buildifier, copyright, clang-format

chore: update Bazel java-related rules
  .bazelversion
  Cargo.Bazel.lock
  cargo-bazel-lock.json
  external.bzl
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
  kythe/java/com/google/devtools/kythe/extractors/java/UsageAsInputReportingFileManager.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Javac9Wrapper.java
  kythe/java/com/google/devtools/kythe/extractors/shared/IndexInfoUtils.java
  kythe/java/com/google/devtools/kythe/platform/java/JavaCompilationDetails.java
  kythe/java/com/google/devtools/kythe/platform/java/JavacOptionsUtils.java
  kythe/java/com/google/devtools/kythe/platform/shared/filesystem/CompilationUnitFileSystem.java
  kythe/java/com/google/devtools/kythe/platform/shared/filesystem/CompilationUnitPath.java
  kythe/javatests/com/google/devtools/kythe/doc/MarkedSourceRendererTest.java
  kythe/javatests/com/google/devtools/kythe/extractors/java/JavaExtractorTest.java
  kythe/javatests/com/google/devtools/kythe/extractors/shared/ExtractorUtilsTest.java
  kythe/javatests/com/google/devtools/kythe/platform/java/filemanager/CompilationUnitFileTreeTest.java
  maven_install.json
  setup.bzl
  version.bzl
Due: buildifier, copyright, google-java-format

chore: a few more cleanups and bump bazelminversion
  .bazelminversion
  WORKSPACE
  buildenv/java/BUILD
  external.bzl
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/aspect.bzl
  kythe/testdata/BUILD
  setup.bzl
  tools/build_rules/verifier_test/java_verifier_test.bzl
  version.bzl
Due: buildifier

chore: update Bazel java-related rules (#5546)
  .bazelminversion
  .bazelversion
  Cargo.Bazel.lock
  WORKSPACE
  buildenv/java/BUILD
  cargo-bazel-lock.json
  external.bzl
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
  kythe/java/com/google/devtools/kythe/extractors/java/UsageAsInputReportingFileManager.java
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/aspect.bzl
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Javac9Wrapper.java
  kythe/java/com/google/devtools/kythe/extractors/shared/IndexInfoUtils.java
  kythe/java/com/google/devtools/kythe/platform/java/JavaCompilationDetails.java
  kythe/java/com/google/devtools/kythe/platform/java/JavacOptionsUtils.java
  kythe/java/com/google/devtools/kythe/platform/shared/filesystem/CompilationUnitFileSystem.java
  kythe/java/com/google/devtools/kythe/platform/shared/filesystem/CompilationUnitPath.java
  kythe/javatests/com/google/devtools/kythe/doc/MarkedSourceRendererTest.java
  kythe/javatests/com/google/devtools/kythe/extractors/java/JavaExtractorTest.java
  kythe/javatests/com/google/devtools/kythe/extractors/shared/ExtractorUtilsTest.java
  kythe/javatests/com/google/devtools/kythe/platform/java/filemanager/CompilationUnitFileTreeTest.java
  kythe/testdata/BUILD
  maven_install.json
  setup.bzl
  tools/build_rules/verifier_test/java_verifier_test.bzl
  version.bzl
Due: buildifier, copyright, google-java-format

chore: update another few minor dependencies
  Cargo.Bazel.lock
  cargo-bazel-lock.json
  external.bzl
  maven_install.json
  setup.bzl
Due: buildifier

chore(textproto_indexer): add recordio textformat support
  kythe/cxx/indexer/textproto/BUILD
  kythe/cxx/indexer/textproto/analyzer.cc
  kythe/cxx/indexer/textproto/recordio_textparser.cc
  kythe/cxx/indexer/textproto/recordio_textparser.h
  kythe/cxx/indexer/textproto/recordio_textparser_test.cc
Due: buildifier, copyright, clang-format

chore: update another few minor dependencies (#5547)
  Cargo.Bazel.lock
  cargo-bazel-lock.json
  external.bzl
  maven_install.json
  setup.bzl
Due: buildifier

chore(textproto_indexer): add recordio textformat support
  kythe/cxx/indexer/textproto/analyzer.cc
  kythe/cxx/indexer/textproto/recordio_textparser.cc
  kythe/cxx/indexer/textproto/recordio_textparser.h
  kythe/cxx/indexer/textproto/recordio_textparser_test.cc
Due: copyright, clang-format

fix(typescript_indexer): fix import xref from .ts to .tsx file
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
  kythe/typescript/testdata/tsx_group/main.tsx
  kythe/typescript/testdata/tsx_group/usage.ts
Due: copyright

Fix
  kythe/typescript/testdata/tsx_group/main.tsx
  kythe/typescript/testdata/tsx_group/usage.ts
Due: none

feat(typescript_indexer): add ref/id from constructor calls to class nodes (#5534)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/class.ts
Due: copyright

fix(typescript_indexer): fix import xref from .ts to .tsx file (#5549)
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
  kythe/typescript/testdata/tsx_group/main.tsx
  kythe/typescript/testdata/tsx_group/usage.ts
Due: copyright

chore: fix double-hash comments
  kythe/cxx/common/BUILD
  kythe/cxx/common/indexing/BUILD
  kythe/cxx/doc/BUILD
  kythe/cxx/extractor/BUILD
  kythe/cxx/extractor/proto/BUILD
  kythe/cxx/extractor/testdata/BUILD
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/proto/BUILD
  kythe/cxx/indexer/textproto/BUILD
  kythe/cxx/tools/BUILD
  kythe/cxx/tools/fyi/BUILD
  kythe/cxx/verifier/BUILD
Due: buildifier

feat(typescript_indexer): clean up unused options and rename allFiles to rootFiles for clarity (#5533)
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
Due: copyright

chore: remove and fix a few stragglers from the proto update
  kythe/cxx/extractor/BUILD
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/proto/BUILD
  kythe/cxx/indexer/proto/source_tree.cc
Due: buildifier, copyright, clang-format

chore: remove and fix a few stragglers from the proto update (#5551)
  kythe/cxx/extractor/BUILD
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/proto/BUILD
  kythe/cxx/indexer/proto/source_tree.cc
Due: buildifier, copyright, clang-format

chore: make it easier to transition Riegeli proto APIs
  kythe/go/util/riegeli/riegeli_test.go
  kythe/go/util/riegeli/writer.go
Due: copyright, gofmt, golint

chore: restore accidentally removed TODO
  kythe/go/util/riegeli/writer.go
Due: copyright, gofmt, golint

chore: make it easier to transition Riegeli proto APIs (#5552)
  kythe/go/util/riegeli/riegeli_test.go
  kythe/go/util/riegeli/writer.go
Due: copyright, gofmt, golint

chore: include a list of aarch64 builtins
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

chore: include a list of aarch64 builtins (#5553)
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
