Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

feat(verifier): add a flag to elide nodes not bound as goals (#5269)
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

fix(cxx): be quiet about things that no one cares about
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/marked_source.cc
Due: copyright, clang-format

delint
  kythe/cxx/indexer/cxx/marked_source.cc
Due: copyright, clang-format

enable logging during indexing for tests
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

capture common setting in a "constant"
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

fix(cxx): turn logging down for things that are rarely cared about (#5270)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/marked_source.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

feat(tooling): treat absolute kzips as a set
  kythe/go/platform/kzip/info/info.go
Due: copyright, gofmt, golint

feat(tooling): treat absolute kzips as a set (#5271)
  kythe/go/platform/kzip/info/info.go
Due: copyright, gofmt, golint

build: upgrade JCommander to 1.82
  external.bzl
Due: buildifier

build: upgrade JCommander to 1.82 (#5272)
  external.bzl
Due: buildifier

fix(typescript): don't emit absvar nodes
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/generic.ts
  kythe/typescript/testdata/schema.ts
Due: copyright

fix(typescript): don't emit absvar nodes (#5273)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/generic.ts
  kythe/typescript/testdata/schema.ts
Due: copyright

feat(api): add resolved path filters for xrefs
  kythe/go/services/cli/commands_xrefs.go
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_filter.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, clang-format, gofmt, golint

feat(api): add resolved path filters for xrefs (#5274)
  kythe/go/services/cli/commands_xrefs.go
  kythe/go/serving/xrefs/xrefs.go
  kythe/go/serving/xrefs/xrefs_filter.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, clang-format, gofmt, golint

chore: clean up some iteration logic in DumpAsDot
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
Due: copyright, clang-format

chore: clean up some iteration logic in DumpAsDot (#5275)
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
Due: copyright, clang-format

fix: address clippy lint in newer Rust version
  kythe/rust/extractor/src/bin/save_analysis.rs
Due: copyright, rustfmt

fix: address clippy lint in newer Rust version (#5276)
  kythe/rust/extractor/src/bin/save_analysis.rs
Due: copyright, rustfmt

feat(typescript_indexer): merge nodes where define and ref belong to same anchor
  kythe/typescript/BUILD
  kythe/typescript/indexer.ts
  kythe/typescript/kythe.ts
  kythe/typescript/post_processing.ts
  kythe/typescript/testdata/binding_pattern.ts
  kythe/typescript/testdata/interface.ts
  kythe/typescript/testdata/marked_source/variable.ts
Due: buildifier, copyright

Update metadata.proto
  kythe/proto/metadata.proto
Due: copyright, clang-format

fix(rust_indexer): clean relative paths in indexer to match vname paths
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/testdata/relative/relative_module/mod.rs
  kythe/rust/indexer/testdata/relative/src/main.rs
Due: buildifier, copyright, rustfmt

fix: newlines
  kythe/rust/indexer/testdata/relative/relative_module/mod.rs
  kythe/rust/indexer/testdata/relative/src/main.rs
Due: none

feat(java_indexer): use ref/id in annotation utterance contexts
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Annotations.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Interfaces.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/package-info.java
Due: copyright, google-java-format

fix: hoist with my own petard (checked schema examples)
  kythe/docs/schema/schema.txt
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

feat(java_indexer): use ref/id in annotation utterance contexts (#5281)
  kythe/docs/schema/schema.txt
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Annotations.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Interfaces.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/package-info.java
Due: copyright, google-java-format

test(java): small clean up to GenericMethod verififer test
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericMethod.java
Due: none

fix(java_indexer): assert that annotation invocations aren't refs
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Annotations.java
Due: none

fix(java_indexer): assert that annotation invocations aren't refs (#5284)
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Annotations.java
Due: none

test(java): small clean up to GenericMethod verififer test (#5283)
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericMethod.java
Due: none

feat(verifier): allow simplifying graph output data
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/pretty_printer.cc
  kythe/cxx/verifier/pretty_printer.h
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_main.cc
Due: buildifier, copyright, clang-format

feat(verifier): allow simplifying graph output data (#5286)
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/pretty_printer.cc
  kythe/cxx/verifier/pretty_printer.h
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_main.cc
Due: buildifier, copyright, clang-format

fix(build): remove use of managed_directories (issue #5287)
  WORKSPACE
Due: buildifier

fix(build): remove use of managed_directories (issue #5287) (#5288)
  WORKSPACE
Due: buildifier

chore: include coverage for verifier tests
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier

fix(cxx_indexer): emit non-implicit refs to explicit template specializations
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/template/template_class_inst_explicit.cc
  kythe/cxx/indexer/cxx/testdata/tvar_template/template_class_inst_explicit.cc
Due: copyright, clang-format

fix(cxx_indexer): ensure ref'd node is the same as child context
  kythe/cxx/indexer/cxx/testdata/template/template_class_inst_explicit.cc
Due: none

fix(verifier): include @ in anchor labels and support EVars
  kythe/cxx/verifier/assertions.cc
  kythe/cxx/verifier/verifier.cc
Due: copyright, clang-format

feat(typescript_indexer): use ref/id for destructuring variables
  kythe/typescript/indexer.ts
  kythe/typescript/kythe.ts
  kythe/typescript/testdata/interface.ts
Due: copyright
