Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

chore: don't emit the check profile from the wrapper
  tools/cpp/run_clang_tidy.sh.in
Due: none

fix(verifier_test): ensure tools use the same configuration as indexer (#6113)
  tools/build_rules/verifier_test/java_verifier_test.bzl
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier

chore: fix clang-tidy-from-source build config and apply some fixes (#6114)
  .bazelrc
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/indexed_parent_map.cc
  kythe/cxx/indexer/cxx/indexer_worklist.cc
  tools/cpp/BUILD
  tools/cpp/run_clang_tidy.sh.in
Due: buildifier, copyright, clang-format

feat(java_indexer): add names for native methods (#6108)
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/analyzers/jvm/JvmGraph.java
  kythe/java/com/google/devtools/kythe/analyzers/jvm/KytheClassVisitor.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/NativeMethods.java
Due: copyright, google-java-format

chore: update Go dependencies via //:gazelle_update_repos
  external.bzl
  kythe/go/extractors/govname/BUILD
  kythe/go/languageserver/BUILD
  kythe/go/util/vnameutil/BUILD
  kythe/go/util/vnameutil/test/BUILD
  kythe/proto/BUILD
  kythe/proto/vnames_config_go_proto/vnames_config.pb.go
Due: buildifier, gofmt

chore: update Go dependencies via //:gazelle_update_repos (#6115)
  external.bzl
  kythe/go/extractors/govname/BUILD
  kythe/go/languageserver/BUILD
  kythe/go/util/vnameutil/BUILD
  kythe/go/util/vnameutil/test/BUILD
  kythe/proto/BUILD
  kythe/proto/vnames_config_go_proto/vnames_config.pb.go
Due: buildifier, gofmt

feat(cxx_extractor): better error when opening KzipWriter
  kythe/cxx/extractor/cxx_extractor.cc
Due: copyright, clang-format

Add FlushAndAlign method to Writer.
  kythe/go/util/riegeli/riegeli.go
Due: copyright, gofmt, golint

Add a pebble storage backend
  external.bzl
  go.mod
  go.sum
  kythe/go/storage/pebble/BUILD
  kythe/go/storage/pebble/pebble.go
  kythe/go/storage/pebble/pebble_test.go
Due: buildifier, copyright, gofmt, golint

Fix some comments and tiny bugs
  kythe/go/storage/pebble/pebble.go
  kythe/go/storage/tools/write_entries/BUILD
  kythe/go/storage/tools/write_entries/write_entries.go
Due: buildifier, copyright, gofmt, golint

Let it breathe
  kythe/go/storage/pebble/pebble.go
Due: copyright, gofmt, golint

Gofmt
  kythe/go/storage/pebble/pebble.go
Due: copyright, gofmt, golint

Allow creating pebble format serving tables
  kythe/go/serving/tools/http_server/BUILD
  kythe/go/serving/tools/http_server/http_server.go
  kythe/go/serving/tools/write_tables/BUILD
  kythe/go/serving/tools/write_tables/write_tables.go
  kythe/go/storage/keyvalue/keyvalue.go
  kythe/go/storage/kvutil/BUILD
  kythe/go/storage/kvutil/kvutil.go
  kythe/go/storage/leveldb/BUILD
  kythe/go/storage/leveldb/leveldb.go
  kythe/go/storage/pebble/BUILD
  kythe/go/storage/pebble/pebble.go
Due: buildifier, copyright, gofmt, golint

Print a log too
  kythe/go/serving/tools/write_tables/write_tables.go
Due: copyright, gofmt, golint

Use last key really
  kythe/go/storage/pebble/pebble.go
Due: copyright, gofmt, golint

Change package name to allow importing
  go.mod
Due: none

Revert "Change package name to allow importing"
  go.mod
Due: none

Increase visibility
  kythe/go/services/cli/BUILD
  kythe/go/services/explore/BUILD
  kythe/go/services/filetree/BUILD
  kythe/go/services/graph/BUILD
  kythe/go/services/graphstore/BUILD
  kythe/go/services/link/BUILD
  kythe/go/services/web/BUILD
  kythe/go/services/xrefs/BUILD
  kythe/go/serving/api/BUILD
  kythe/go/serving/explore/BUILD
  kythe/go/serving/filetree/BUILD
  kythe/go/serving/graph/BUILD
  kythe/go/serving/identifiers/BUILD
  kythe/go/serving/pipeline/BUILD
  kythe/go/serving/tools/BUILD
  kythe/go/serving/xrefs/BUILD
  kythe/proto/BUILD
Due: buildifier

Remove more stuff
  WORKSPACE
  kythe/go/util/schema/BUILD
  kythe/proto/BUILD
  kythe/proto/genproto.bzl
  third_party/bazel/BUILD
  tools/cpp/BUILD
Due: buildifier

Revert "kythepatch"
  WORKSPACE
  kythe/go/services/cli/BUILD
  kythe/go/services/explore/BUILD
  kythe/go/services/filetree/BUILD
  kythe/go/services/graph/BUILD
  kythe/go/services/graphstore/BUILD
  kythe/go/services/link/BUILD
  kythe/go/services/web/BUILD
  kythe/go/services/xrefs/BUILD
  kythe/go/serving/api/BUILD
  kythe/go/serving/explore/BUILD
  kythe/go/serving/filetree/BUILD
  kythe/go/serving/graph/BUILD
  kythe/go/serving/identifiers/BUILD
  kythe/go/serving/pipeline/BUILD
  kythe/go/serving/tools/BUILD
  kythe/go/serving/xrefs/BUILD
  kythe/go/util/schema/BUILD
  kythe/proto/BUILD
  kythe/proto/genproto.bzl
  third_party/bazel/BUILD
  tools/cpp/BUILD
Due: buildifier

Use iter last value
  kythe/go/storage/pebble/pebble.go
Due: copyright, gofmt, golint

Implement
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/interface.ts
Due: copyright

Implement
  kythe/typescript/BUILD
  kythe/typescript/testdata/interface.ts
Due: buildifier

Update "Extracting projects built with `make`" in examples.md
  kythe/web/site/examples.md
Due: none

feat(typescript_indexer): support xrefs in nested object literals (#6125)
  kythe/typescript/BUILD
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/interface.ts
Due: buildifier, copyright

Update "Extracting projects built with `make`" in examples.md (#6126)
  kythe/web/site/examples.md
Due: none

Clarify documentation about Cross reference service and node merging
  kythe/go/serving/xrefs/xrefs.go
  kythe/proto/xref.proto
Due: copyright, clang-format, gofmt, golint

Clarify documentation about Cross reference service and node merging (#6127)
  kythe/go/serving/xrefs/xrefs.go
  kythe/proto/xref.proto
Due: copyright, clang-format, gofmt, golint

update llvm to "45726c1a3a3d89ff9f6ebe657c3cb7bcd59b88db"
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

Update textproto plugin to offer some more overloads of CreateAndAddAnchorNode
  kythe/cxx/indexer/textproto/analyzer.cc
  kythe/cxx/indexer/textproto/plugin.h
Due: copyright, clang-format

Connect cross-references on object fields through a type wrapper.
  kythe/typescript/indexer.ts
  kythe/typescript/plugin_api.ts
  kythe/typescript/test.ts
  kythe/typescript/testdata/interface.ts
Due: copyright

Upstreaming changes (#6128)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/textproto/analyzer.cc
  kythe/cxx/indexer/textproto/plugin.h
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

chore(go): update go from 1.21 to 1.23 in extractor image
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

chore(go): update go from 1.21 to 1.23 in extractor image (#6130)
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

fix: try to have this build under nix
  .bazelrc
  .github/workflows/build.yml
  README.adoc
  WORKSPACE
  buildenv/java/BUILD
  external.bzl
  flake.lock
  flake.nix
  setup.bzl
  shell.nix
  third_party/BUILD
  tools/bazel
  user.bazelrc
Due: buildifier, copyright

Adapt Go extractor to new `-goroot` flag
  kythe/go/extractors/cmd/bazel/bazel_go_extractor/bazel_go_extractor.go
Due: copyright, gofmt, golint

Enable building remotely with BuildBuddy
  .bazelrc
  tools/docker/Dockerfile
  tools/platforms/configs/rbe_default/cc/BUILD
  tools/platforms/configs/rbe_default/config/BUILD
  tools/platforms/configs/rbe_default/java/BUILD
Due: buildifier

Adapt Go extractor to new -goroot flag
  kythe/go/extractors/cmd/bazel/bazel_go_extractor/bazel_go_extractor.go
Due: copyright, gofmt, golint

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
