Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

revert buildifier change
  kythe/go/indexer/BUILD
Due: buildifier

Bump release version to 0.0.75-buildbuddy
  kythe/release/BUILD
Due: buildifier

fix(cxx_extractor): preserve upward relative paths in args (#6182)
  kythe/cxx/common/path_utils.cc
  kythe/cxx/common/path_utils_test.cc
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/cxx_extractor.h
  kythe/cxx/extractor/cxx_extractor_test.cc
Due: copyright, clang-format

release: v0.0.72
  RELEASES.md
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
Due: buildifier, copyright

release: v0.0.72 (#6183)
  RELEASES.md
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
Due: buildifier, copyright

feat: add provides edge
  kythe/go/services/xrefs/xrefs.go
  kythe/go/util/schema/edges/edges.go
  kythe/go/util/schema/edges/edges_test.go
Due: copyright, gofmt, golint

bug: fixed typo in test
  kythe/go/util/schema/edges/edges_test.go
Due: copyright, gofmt, golint

feat: add provides edge (#6184)
  kythe/go/services/xrefs/xrefs.go
  kythe/go/util/schema/edges/edges.go
  kythe/go/util/schema/edges/edges_test.go
Due: copyright, gofmt, golint

Fix go vnames and bump version
  kythe/data/vnames.go.json
  kythe/release/BUILD
Due: buildifier

Create buildbuddy.yaml
  buildbuddy.yaml
Due: none

Include system dependencies
  buildbuddy.yaml
Due: none

Update buildbuddy.yaml
  buildbuddy.yaml
Due: none

feat(rust_extractor): add flag to set build config
  kythe/go/extractors/cmd/rust/BUILD
  kythe/go/extractors/cmd/rust/rust_project_to_kzip.go
  kythe/go/extractors/cmd/rust/rust_project_to_kzip_test.go
Due: buildifier, copyright, gofmt, golint

Requires an update to Go v1.24
  external.bzl
  go.mod
  kythe/go/extractors/cmd/gotool/Dockerfile
  kythe/release/cloudbuild/go-builder/Dockerfile
Due: buildifier, copyright

Update external.bzl
  external.bzl
Due: buildifier

add java vnames rule to make generated code nodes match up
  kythe/data/vnames.java.json
Due: none

Use consistent corpus for all vnames, to support file browsing when multiple repos are indexed together (#31)
  kythe/data/vnames.go.json
  kythe/data/vnames.java.json
  kythe/data/vnames.json
  kythe/data/vnames.proto.json
Due: none

Bump version to 0.0.77
  kythe/release/BUILD
Due: buildifier

Update Dockerfile
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

Update go from 1.23.0 to 1.24.4 in extractor image (#6190)
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

Remove some warning options that Clang now supports from the unsupported_args_re.
  kythe/cxx/extractor/CommandLineUtils.cc
  kythe/cxx/extractor/CommandLineUtilsTest.cc
Due: copyright, clang-format

Remove some warning options that Clang now supports from the unsupported_args_re. (#6191)
  kythe/cxx/extractor/CommandLineUtils.cc
  kythe/cxx/extractor/CommandLineUtilsTest.cc
Due: copyright, clang-format

chore(go): update go from 1.24.4 to 1.24.6
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

chore(go): update go from 1.24.4 to 1.24.6 (#6194)
  kythe/go/extractors/cmd/gotool/Dockerfile
Due: copyright

Buildifier
  kythe/go/extractors/cmd/rust/BUILD
Due: buildifier

feat(rust_extractor): add flag to set build config (#6186)
  kythe/go/extractors/cmd/rust/BUILD
  kythe/go/extractors/cmd/rust/rust_project_to_kzip.go
  kythe/go/extractors/cmd/rust/rust_project_to_kzip_test.go
Due: buildifier, copyright, gofmt, golint

release: v0.0.73
  RELEASES.md
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
Due: buildifier, copyright

release: v0.0.73 (#6195)
  RELEASES.md
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
Due: buildifier, copyright

chore: Bump libffi and zlib
  external.bzl
Due: buildifier

docs: update JDK installation notes for Apple Silicon
  kythe/web/site/getting-started-macos.md
Due: none

docs: update JDK installation notes for Apple Silicon (#6197)
  kythe/web/site/getting-started-macos.md
Due: none

chore: Bump libffi and zlib (#6196)
  external.bzl
Due: buildifier

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
