Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

more robust paths to binaries
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/empty_corpus_test.sh
Due: none

chore(rust_indexer): improve indexer test (#5005)
  kythe/rust/extractor/src/bin/extractor.rs
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier, copyright, rustfmt

options struct
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

rm comment
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

chore: fix linter warnings (#5006)
  kythe/go/serving/xrefs/columnar.go
  kythe/rust/extractor/extractor_test.bzl
Due: buildifier, copyright, gofmt, golint

feat(cxx_indexer): use default corpus for meta, builtin nodes (#5008)
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/empty_corpus_test.sh
  kythe/go/test/tools/BUILD
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_checker.go
Due: buildifier, copyright, clang-format, gofmt, golint

WIP - Squash this. First pass at adding metadata support.
  kythe/cxx/common/kythe_metadata_file.cc
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/proto/indexer_frontend.cc
  kythe/cxx/indexer/proto/indexer_frontend.h
  kythe/cxx/indexer/proto/kythe_indexer_main.cc
  kythe/cxx/indexer/proto/proto_analyzer.cc
  kythe/cxx/indexer/proto/proto_analyzer.h
  kythe/cxx/indexer/proto/proto_graph_builder.cc
  kythe/cxx/indexer/proto/proto_graph_builder.h
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/proto/testdata/gen_proto/dest.proto
  kythe/cxx/indexer/proto/testdata/gen_proto/dest2.proto
  kythe/cxx/indexer/proto/testdata/gen_proto/encode-textproto.sh
  kythe/cxx/indexer/proto/testdata/gen_proto/generated_code_info.pb
  kythe/cxx/indexer/proto/testdata/gen_proto/generated_code_info.textproto
  kythe/cxx/indexer/proto/testdata/gen_proto/generated_code_info.textproto.pb
  kythe/cxx/indexer/proto/testdata/gen_proto/source.proto
  kythe/testdata/indexers/proto/BUILD
  kythe/testdata/indexers/proto/testdata6.proto
Due: copyright, clang-format

fix(build): move BUILD rules next to go code
  kythe/cxx/common/testdata/BUILD
  kythe/cxx/common/testdata/start_http_service.sh
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/tools/fyi/testdata/BUILD
  kythe/go/serving/tools/testdata/BUILD
  kythe/go/test/tools/BUILD
  kythe/go/test/tools/empty_corpus_checker/BUILD
  kythe/go/test/tools/http_server/BUILD
  kythe/go/test/tools/xrefs_atomizer/BUILD
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier

fix: set the vname root for a .gen.proto file if the vname lookup fails
  kythe/cxx/common/protobuf_metadata_file.cc
Due: copyright, clang-format

fix(build): move BUILD rules next to go code (#5009)
  kythe/cxx/common/testdata/BUILD
  kythe/cxx/common/testdata/start_http_service.sh
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/tools/fyi/testdata/BUILD
  kythe/go/serving/tools/testdata/BUILD
  kythe/go/test/tools/BUILD
  kythe/go/test/tools/empty_corpus_checker/BUILD
  kythe/go/test/tools/http_server/BUILD
  kythe/go/test/tools/xrefs_atomizer/BUILD
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier

chore(go): use ++ operator to fix lint error
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_checker.go
Due: copyright, gofmt, golint

chore(go): use ++ operator to fix lint error (#5010)
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_checker.go
Due: copyright, gofmt, golint

fix(rust_extractor): fix running the Rust extractor on macOS
  kythe/rust/extractor/BUILD
  kythe/rust/extractor/extractor_script.sh
  kythe/rust/extractor/extractor_test.bzl
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier, copyright

fix(rust_extractor): fix running the Rust extractor on macOS (#5013)
  kythe/rust/extractor/BUILD
  kythe/rust/extractor/extractor_script.sh
  kythe/rust/extractor/extractor_test.bzl
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier, copyright

fix(rust_extractor): process env vars and compiler args passed to wrapper
  kythe/rust/extractor/src/bin/save_analysis.rs
Due: copyright, rustfmt

chore: fix typo
  kythe/rust/extractor/src/bin/save_analysis.rs
Due: copyright, rustfmt

fix: optimize functions
  kythe/rust/extractor/src/bin/save_analysis.rs
Due: copyright, rustfmt

fix: simplify further
  kythe/rust/extractor/src/bin/save_analysis.rs
Due: copyright, rustfmt

test: fix flaky test
  kythe/go/serving/pipeline/beam.go
  kythe/go/serving/pipeline/beam_test.go
Due: copyright, gofmt, golint

test: fix flaky test (#5015)
  kythe/go/serving/pipeline/beam.go
  kythe/go/serving/pipeline/beam_test.go
Due: copyright, gofmt, golint

fix(rust_extractor): process env vars and compiler args passed to wrapper (#5014)
  kythe/rust/extractor/src/bin/save_analysis.rs
Due: copyright, rustfmt

chore: upgrade quick_error to v2
  kythe/rust/cargo/BUILD.bazel
  kythe/rust/cargo/Cargo.toml
  kythe/rust/cargo/crates.bzl
  kythe/rust/cargo/remote/BUILD.quick-error-1.2.3.bazel
Due: buildifier, copyright

fix: add missing file
  kythe/rust/cargo/remote/BUILD.quick-error-2.0.1.bazel
Due: none

feat(testing): refactor empty corpus test and add one for golang
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/go/indexer/BUILD
  kythe/go/test/tools/empty_corpus_checker/BUILD
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_checker.go
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_test.bzl
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_test.sh
Due: buildifier, copyright, gofmt, golint

feat(testing): refactor empty corpus test and add one for golang (#5017)
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/go/indexer/BUILD
  kythe/go/test/tools/empty_corpus_checker/BUILD
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_checker.go
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_test.bzl
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_test.sh
Due: buildifier, copyright, gofmt, golint

chore: upgrade quick_error to v2 (#5016)
  kythe/rust/cargo/BUILD.bazel
  kythe/rust/cargo/Cargo.toml
  kythe/rust/cargo/crates.bzl
  kythe/rust/cargo/remote/BUILD.quick-error-2.0.1.bazel
Due: buildifier, copyright

fix(rust_common): remove reference to PROTO_COMPILE_DEPS
  tools/rust/extra_action/BUILD
Due: buildifier

feat(indexing): add metadata support to proto indexing
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/indexer/proto/BUILD
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/file_descriptor_walker.h
  kythe/cxx/indexer/proto/kythe_indexer_main.cc
  kythe/cxx/indexer/proto/proto_analyzer.cc
  kythe/cxx/indexer/proto/proto_graph_builder.cc
  kythe/cxx/indexer/proto/proto_graph_builder.h
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/proto/testdata/gen_proto/dest.proto
  kythe/cxx/indexer/proto/testdata/gen_proto/dest2.proto
  kythe/cxx/indexer/proto/testdata/gen_proto/encode-textproto.sh
  kythe/cxx/indexer/proto/testdata/gen_proto/generated_code_info.pb
  kythe/cxx/indexer/proto/testdata/gen_proto/generated_code_info.textproto
  kythe/cxx/indexer/proto/testdata/gen_proto/generated_code_info.textproto.pb
  kythe/cxx/indexer/proto/testdata/gen_proto/source.proto
  kythe/proto/BUILD
  kythe/proto/generated_proto_info.proto
  kythe/testdata/indexers/proto/BUILD
  kythe/testdata/indexers/proto/testdata6.proto
Due: buildifier, copyright, clang-format

chore(indexing): delete unnecessary changes for proto meta support
  kythe/cxx/common/kythe_metadata_file.cc
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/proto/indexer_frontend.cc
  kythe/cxx/indexer/proto/indexer_frontend.h
  kythe/cxx/indexer/proto/kythe_indexer_main.cc
  kythe/cxx/indexer/proto/proto_analyzer.cc
  kythe/cxx/indexer/proto/proto_analyzer.h
  kythe/cxx/indexer/proto/testdata/gen_proto/dest2.proto
  kythe/cxx/indexer/proto/testdata/gen_proto/encode-textproto.sh
  kythe/cxx/indexer/proto/testdata/gen_proto/generated_code_info.pb
  kythe/cxx/indexer/proto/testdata/gen_proto/generated_code_info.textproto
  kythe/cxx/indexer/proto/testdata/gen_proto/generated_code_info.textproto.pb
  kythe/testdata/indexers/proto/testdata5.proto
  kythe/testdata/indexers/proto/testdata6.proto
Due: copyright, clang-format

fix(rust_indexer): remove reference to go_verifier_test
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier

chore(indexing): more cleanup for proto meta support
  kythe/cxx/indexer/proto/proto_analyzer.cc
  kythe/cxx/indexer/proto/proto_graph_builder.h
Due: copyright, clang-format

chore(indexing): fix copyright date and delete unused build rules
  kythe/proto/generated_proto_info.proto
  kythe/testdata/indexers/proto/BUILD
Due: copyright, clang-format

fix(rust_common): remove reference to PROTO_COMPILE_DEPS (#5018)
  tools/rust/extra_action/BUILD
Due: buildifier

feat(kzip info): check for invalid absolute paths
  kythe/go/platform/kzip/info/info.go
  kythe/proto/analysis.proto
Due: copyright, clang-format, gofmt, golint

fix(rust_indexer): remove reference to go_verifier_test (#5020)
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier

regen protos
  kythe/proto/analysis_go_proto/analysis.pb.go
  kythe/proto/analysis_rust_proto/analysis.rs
Due: gofmt

feat(kzip info): check for invalid absolute paths (#5022)
  kythe/go/platform/kzip/info/info.go
  kythe/proto/analysis.proto
  kythe/proto/analysis_go_proto/analysis.pb.go
  kythe/proto/analysis_rust_proto/analysis.rs
Due: copyright, clang-format, gofmt, golint

fix(rust_indexer): allow extractor target to be set manually
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
