Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

Integrate from upstream at revision llvmorg-20-init-2951-gf9031f00f2.
  kythe/cxx/tools/fyi/BUILD
  kythe/cxx/tools/fyi/fyi.cc
Due: buildifier, copyright, clang-format

Fix BUILD
  kythe/cxx/tools/fyi/BUILD
Due: buildifier

Fix BUILD.
  kythe/cxx/tools/fyi/BUILD
Due: buildifier

Update kythe to pull in latest google llvm version.
  kythe/cxx/tools/fyi/BUILD
  setup.bzl
Due: buildifier

Fix lint errors.
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/marked_source.cc
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/textproto/analyzer.cc
  kythe/extractors/openjdk21/BUILD
  kythe/extractors/openjdk21/README.md
  kythe/extractors/openjdk21/extract/extract.go
  kythe/extractors/openjdk21/java_wrapper/BUILD
  kythe/extractors/openjdk21/vnames.json
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
Due: buildifier, copyright, clang-format, gofmt, golint

Fix a couple of lint errors that I missed earlier.
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/textproto/analyzer.cc
Due: copyright, clang-format

Update java toolchain versions for the cloud builder.
  kythe/release/cloudbuild/rbe/Dockerfile
Due: copyright

Update rules_jvm_external.
  setup.bzl
Due: buildifier

Update cloud build to use jdk21.
  kythe/release/cloudbuild/pre-commit/Dockerfile
Due: copyright

Update cloud build to use jdk21.
  kythe/release/cloudbuild/bazelisk-builder-client/Dockerfile
Due: copyright

Try fixing the build.
  kythe/release/cloudbuild/presubmit.yaml
Due: none

Fix tests and update comment.
  .bazelrc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/proto/generated_message_info_go_proto/generated_message_info.pb.go
  kythe/proto/vnames_config_go_proto/vnames_config.pb.go
Due: gofmt

Set local_java_runtime for rbe to jdk 21.
  kythe/release/cloudbuild/presubmit.yaml
  tools/platforms/configs/rbe_default/java/BUILD
Due: buildifier

Force cloudbuild to use java 21.
  kythe/release/cloudbuild/presubmit.yaml
  tools/platforms/configs/rbe_default/java/BUILD
Due: buildifier

Fix jdk related brekaage for //kythe/docs/schema:schema
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
Due: buildifier

Remove signature_generator from build deps.
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
Due: buildifier

Fix compile errors.
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/platform/java/helpers/BUILD
Due: buildifier, copyright, google-java-format

Fix incompatibility.
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
Due: buildifier

Fix the release test.
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
Due: buildifier

Rollback the last fix attempted.
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
Due: buildifier

Upstream changes for kythe/cxx/...
  kythe/cxx/common/kzip_writer_c_api_test.cc
  kythe/cxx/common/kzip_writer_test.cc
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/extractor/bazel_artifact_selector_test.cc
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/toolchain.bzl
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheIndexerUnitTest.cc
  kythe/cxx/indexer/cxx/marked_source.cc
  kythe/cxx/indexer/cxx/recursive_type_visitor.h
  kythe/cxx/indexer/cxx/semantic_hash.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/textproto/BUILD
  kythe/cxx/indexer/textproto/analyzer.cc
  kythe/cxx/indexer/textproto/plugin_registry.cc
  kythe/cxx/indexer/textproto/plugins/example/testdata/BUILD
  kythe/cxx/indexer/textproto/testdata/BUILD
  kythe/cxx/tools/fyi/fyi.cc
  kythe/cxx/tools/fyi/testdata/compile_commands.bzl
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

Upstream changes to kythe/proto/...
  kythe/proto/BUILD
  kythe/proto/generated_message_info.proto
  kythe/proto/generated_message_info_go_proto/generated_message_info.pb.go
  kythe/proto/vnames_config.proto
  kythe/proto/vnames_config_go_proto/vnames_config.pb.go
Due: buildifier, copyright, clang-format, gofmt

Upstream changes to kythe/typescript/...
  kythe/typescript/indexer.ts
Due: copyright

Upstream changes to java analyzers
  kythe/java/com/google/devtools/kythe/analyzers/base/EdgeKind.java
  kythe/java/com/google/devtools/kythe/analyzers/jvm/JvmGraph.java
Due: copyright, google-java-format

Upstream changes to build_rules/verifier_test
  tools/build_rules/verifier_test/BUILD
  tools/build_rules/verifier_test/cc_indexer_test.bzl
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier

Fix lint errors
  kythe/cxx/indexer/cxx/marked_source.cc
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/marked_source.cc
Due: copyright, clang-format

Revert unintended edit to verifier_test.bzl
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier

Upstreaming changes (#6159)
  kythe/cxx/common/kzip_writer_c_api_test.cc
  kythe/cxx/common/kzip_writer_test.cc
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/extractor/bazel_artifact_selector_test.cc
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/toolchain.bzl
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheIndexerUnitTest.cc
  kythe/cxx/indexer/cxx/marked_source.cc
  kythe/cxx/indexer/cxx/recursive_type_visitor.h
  kythe/cxx/indexer/cxx/semantic_hash.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/marked_source.cc
  kythe/cxx/indexer/proto/testdata/BUILD
  kythe/cxx/indexer/textproto/BUILD
  kythe/cxx/indexer/textproto/analyzer.cc
  kythe/cxx/indexer/textproto/plugin_registry.cc
  kythe/cxx/indexer/textproto/plugins/example/testdata/BUILD
  kythe/cxx/indexer/textproto/testdata/BUILD
  kythe/cxx/tools/fyi/fyi.cc
  kythe/cxx/tools/fyi/testdata/compile_commands.bzl
  kythe/java/com/google/devtools/kythe/analyzers/base/EdgeKind.java
  kythe/java/com/google/devtools/kythe/analyzers/jvm/JvmGraph.java
  kythe/proto/BUILD
  kythe/proto/generated_message_info.proto
  kythe/proto/generated_message_info_go_proto/generated_message_info.pb.go
  kythe/proto/vnames_config.proto
  kythe/proto/vnames_config_go_proto/vnames_config.pb.go
  kythe/typescript/indexer.ts
  setup.bzl
  third_party/llvm-bazel-glob.patch
  tools/build_rules/verifier_test/BUILD
  tools/build_rules/verifier_test/cc_indexer_test.bzl
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier, copyright, google-java-format, clang-format, gofmt

Add support for Bzlmod
  .pre-commit-config.yaml
  kythe/release/BUILD
  kythe/release/release.MODULE.bazel
  kythe/release/setup_release.sh
Due: buildifier, copyright

rbe: fix missing pkgs in container image
  tools/docker/Dockerfile
  tools/platforms/configs/rbe_default/config/BUILD
Due: buildifier

Set output path based on target platform
  .bazelrc
Due: none

go/indexer: fix not handling types.Alias
  kythe/go/indexer/emit.go
Due: copyright, gofmt, golint

go_indexer_test: use new rules_go providers
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: none

govname: remove local tag on test target
  kythe/go/extractors/govname/BUILD
Due: buildifier

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
