Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

feat(go_extractor): add option to assign default corpus to stdlib files
  kythe/go/extractors/cmd/gotool/gotool.go
  kythe/go/extractors/govname/govname.go
Due: copyright, gofmt, golint

fix: address new comments
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright, rustfmt

feat(rust_indexer): add support for Rust import xrefs (#5109)
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/entries.rs
  kythe/rust/indexer/src/indexer/mod.rs
  kythe/rust/indexer/testdata/xrefs/main.rs
Due: copyright, rustfmt

chore(rust_common): change instantiation of PathBuf from string
  kythe/rust/extractor/src/bin/cli.rs
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/tests/test.rs
  kythe/rust/indexer/src/bin/bazel/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/tests/indexer_save_analysis.rs
Due: copyright, rustfmt

chore: remove uses of incompatible_use_toolchain_transition
  tools/build_rules/verifier_test/cc_indexer_test.bzl
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier

Remove uses of `incompatible_use_toolchain_transition` now that it is enabled by default in Bazel 5.0.
  kythe/cxx/extractor/toolchain.bzl
  kythe/cxx/tools/fyi/testdata/compile_commands.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier

chore: remove uses of incompatible_use_toolchain_transition (#5117)
  tools/build_rules/verifier_test/cc_indexer_test.bzl
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier

chore(rust_common): change instantiation of PathBuf from string (#5116)
  kythe/rust/extractor/src/bin/cli.rs
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/tests/test.rs
  kythe/rust/indexer/src/bin/bazel/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/tests/indexer_save_analysis.rs
Due: copyright, rustfmt

Remove uses of `incompatible_use_toolchain_transition` now that it is enabled by (#5118)
  kythe/cxx/extractor/toolchain.bzl
  kythe/cxx/tools/fyi/testdata/compile_commands.bzl
Due: buildifier

fix(kzip_info): canonicalize paths before checking against source list
  kythe/go/platform/kzip/info/info.go
  kythe/go/platform/kzip/info/info_test.go
Due: copyright, gofmt, golint

canonicalize source file paths too
  kythe/go/platform/kzip/info/info.go
Due: copyright, gofmt, golint

fix(kzip_info): canonicalize paths before checking against source list (#5119)
  kythe/go/platform/kzip/info/info.go
  kythe/go/platform/kzip/info/info_test.go
Due: copyright, gofmt, golint

Revert "Remove uses of `incompatible_use_toolchain_transition` now that it is enabled by (#5118)"
  kythe/cxx/extractor/toolchain.bzl
  kythe/cxx/tools/fyi/testdata/compile_commands.bzl
Due: buildifier

Revert "Remove uses of `incompatible_use_toolchain_transition` now that it is enabled by (#5118)" (#5120)
  kythe/cxx/extractor/toolchain.bzl
  kythe/cxx/tools/fyi/testdata/compile_commands.bzl
Due: buildifier

add verifier test
  kythe/go/indexer/BUILD
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: buildifier

update comment
  kythe/go/extractors/govname/govname.go
Due: copyright, gofmt, golint

add file
  kythe/go/indexer/testdata/basic/stdlibimport.go
Due: none

feat(go_extractor): add option to assign default corpus to stdlib files (#5115)
  kythe/go/extractors/cmd/gotool/gotool.go
  kythe/go/extractors/govname/govname.go
  kythe/go/indexer/BUILD
  kythe/go/indexer/testdata/basic/stdlibimport.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: buildifier, copyright, gofmt, golint

chore: update Rust to 2021-10-16
  external.bzl
Due: buildifier

chore: update Rust to 2021-10-16 (#5121)
  external.bzl
Due: buildifier

feat(rust_common): ugrade to Rust 2021 edition
  kythe/rust/examples/hello_world/BUILD
  kythe/rust/extractor/BUILD
  kythe/rust/fuchsia_extractor/BUILD
  kythe/rust/indexer/BUILD
  tools/rust/extra_action/BUILD
  tools/rust/runfiles/BUILD
Due: buildifier

feat(rust_common): ugrade to Rust 2021 edition (#5122)
  kythe/rust/examples/hello_world/BUILD
  kythe/rust/extractor/BUILD
  kythe/rust/fuchsia_extractor/BUILD
  kythe/rust/indexer/BUILD
  tools/rust/extra_action/BUILD
  tools/rust/runfiles/BUILD
Due: buildifier

feat(schema): add tvar/tparam entries
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
  kythe/docs/schema/schema.txt
  kythe/go/util/schema/indexdata.go
  kythe/go/util/schema/update_data.sh
  kythe/java/com/google/devtools/kythe/analyzers/base/EdgeKind.java
  kythe/java/com/google/devtools/kythe/analyzers/base/NodeKind.java
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
Due: copyright, google-java-format, clang-format, gofmt, golint

deprecate abs/absvar nodes
  kythe/docs/schema/schema.txt
Due: copyright

feat(schema): add tvar/tparam entries (#5123)
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
  kythe/docs/schema/schema.txt
  kythe/go/util/schema/indexdata.go
  kythe/go/util/schema/update_data.sh
  kythe/java/com/google/devtools/kythe/analyzers/base/EdgeKind.java
  kythe/java/com/google/devtools/kythe/analyzers/base/NodeKind.java
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
Due: copyright, google-java-format, clang-format, gofmt, golint

feat(go_indexer): optionally put builtins and stdlib items in main corpus
  kythe/go/extractors/govname/govname.go
  kythe/go/extractors/govname/types.go
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/indexer.go
Due: buildifier, copyright, gofmt, golint

fix tests
  kythe/go/extractors/govname/govname_test.go
Due: copyright, gofmt, golint

fix more tests
  kythe/go/extractors/govname/govname_test.go
Due: copyright, gofmt, golint

feat: add tparam lookups to MarkedSource kinds
  kythe/proto/common.proto
Due: copyright, clang-format

rebuild generated files
  kythe/proto/common_go_proto/common.pb.go
Due: gofmt

add verifier support
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
Due: copyright, clang-format

feat: add tparam lookups to MarkedSource kinds (#5125)
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/proto/common.proto
  kythe/proto/common_go_proto/common.pb.go
Due: copyright, clang-format, gofmt

Revert "feat(cxx_indexer): emit ref edges along with ref/writes edges (#5091)"
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/testdata/df/df_unary.cc
Due: copyright, clang-format

Revert "feat(cxx_indexer): emit ref edges along with ref/writes edges (#5091)" (#5126)
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/testdata/df/df_unary.cc
Due: copyright, clang-format

feat(schema): add completedby and its implementation in C++
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/docs/schema/schema.txt
Due: copyright, clang-format

feat(serving): offer a callback to rewrite edge labels
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, gofmt, golint

feat(schema): add completedby and its implementation in C++ (#5127)
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/docs/schema/schema.txt
Due: copyright, clang-format

feat(java_indexer): add support for emitting tparam generics structure
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheDocTreeScanner.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericsAbs.java
Due: copyright, google-java-format

fix test position
  kythe/go/serving/tools/testdata/kwazthis_test.sh
Due: none

feat(java_indexer): add support for emitting tparam generics structure (#5129)
  kythe/go/serving/tools/testdata/kwazthis_test.sh
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheDocTreeScanner.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericsAbs.java
Due: copyright, google-java-format

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
