Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

Fix
  tools/build_rules/verifier_test/verifier_test_impl.bzl
Due: buildifier

feat(testing): provide ability to save logs from indexers in verifier_test (#6075)
  kythe/go/indexer/testdata/go_indexer_test.bzl
  tools/build_rules/verifier_test/verifier_test.sh.in
  tools/build_rules/verifier_test/verifier_test_impl.bzl
Due: buildifier

fix(java_indexer): emit node kinds for jvm nodes
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/CrossFile.java
Due: copyright, google-java-format

fix(java_indexer): emit node kinds for jvm nodes (#6077)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/CrossFile.java
Due: copyright, google-java-format

style: hide verbose verifier logging, by default
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

style: hide verbose verifier logging, by default (#6078)
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

Add option
  kythe/typescript/indexer.ts
  kythe/typescript/plugin_api.ts
Due: copyright

feat(cxx_indexer): experiment with variable initializer types
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

fix: add missing file
  kythe/cxx/indexer/cxx/testdata/marked_source/fs_var_init.cc
Due: none

fix: mysterious clang-format decisions
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format

fix: formatting
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format

fix: mark experimental labels with exp/
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/indexer/cxx/testdata/marked_source/fs_var_init.cc
Due: copyright, clang-format

fix: clang-format
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format

feat(cxx_indexer): experiment with variable initializer types (#6080)
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/marked_source/fs_var_init.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

feat(cxx_indexer): look through the obvious casts for init types
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
Due: copyright, clang-format

fix: missing file
  kythe/cxx/indexer/cxx/testdata/marked_source/fs_var_init_difftypes.cc
Due: none

feat(cxx_indexer): only emit flattened type representations once
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format

fix(cxx_indexer): use flat_hash_map, not unordered_map; fix rehashing
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/type_map.h
Due: buildifier, copyright, clang-format

fix: lint
  kythe/cxx/indexer/cxx/BUILD
Due: buildifier

fix(cxx_indexer): use flat_hash_map, not unordered_map; fix rehashing (#6083)
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/type_map.h
Due: buildifier, copyright, clang-format

feat(cxx_indexer): only emit flattened type representations once (#6082)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
Due: copyright, clang-format

feat(cxx_indexer): look through the obvious casts for init types (#6081)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/marked_source/fs_var_init_difftypes.cc
Due: copyright, clang-format

feat(go_indexer): ref/writes for flag.Set invocations
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/flags.go
Due: copyright, gofmt, golint

feat(go_indexer): ref/writes for flag.Set invocations (#6085)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/flags.go
Due: copyright, gofmt, golint

chore(cxx_indexer): use IgnoreImpCasts instead of single-step cast
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore(cxx_indexer): use IgnoreImpCasts instead of single-step cast (#6086)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

feat(typescript_indexer): add flag to fail analysis on plugin error (#6079)
  kythe/typescript/indexer.ts
  kythe/typescript/plugin_api.ts
Due: copyright

feat(tools): entrystream support for printing textproto
  kythe/go/platform/tools/entrystream/BUILD
  kythe/go/platform/tools/entrystream/entrystream.go
Due: buildifier, copyright, gofmt, golint

feat(tools): entrystream support for printing textproto (#6087)
  kythe/go/platform/tools/entrystream/BUILD
  kythe/go/platform/tools/entrystream/entrystream.go
Due: buildifier, copyright, gofmt, golint

chore(cxx_tests): extend extractor toolchain interface for internal use
  kythe/cxx/extractor/toolchain.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore(cxx_tests): extend extractor toolchain interface for internal use (#6089)
  kythe/cxx/extractor/toolchain.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore: update LLVM
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/recursive_type_visitor.h
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

Add `load()`s for the Bazel builtin java rules to `.bzl` files
  tools/build_rules/verifier_test/BUILD
  tools/build_rules/verifier_test/java_verifier_test.bzl
Due: buildifier

Add `load()`s for the Bazel builtin java rules to `.bzl` files (#6090)
  tools/build_rules/verifier_test/BUILD
  tools/build_rules/verifier_test/java_verifier_test.bzl
Due: buildifier

chore: update LLVM (#6091)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/recursive_type_visitor.h
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

fix(cxx_indexer): clarify the use of llvm::dyn_cast on ClaimTokens
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

fix(cxx_indexer): clarify the use of llvm::dyn_cast on ClaimTokens (#6093)
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

feat(cxx_indexer): emit name nodes for flags
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/GoogleFlagsLibrarySupport.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/libraries/flags_named.cc
Due: buildifier, copyright, clang-format

feat(cxx_indexer): emit name nodes for flags (#6094)
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/GoogleFlagsLibrarySupport.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/libraries/flags_named.cc
Due: buildifier, copyright, clang-format

chore: fix some comments
  kythe/cxx/indexer/cxx/GoogleFlagsLibrarySupport.cc
  kythe/cxx/indexer/cxx/GraphObserver.h
Due: copyright, clang-format

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
