Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

chore(cxx_indexer): remove another re-implementation of function
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

fix(schema): define anchors with [0,0) spans to refer to entire files (#5984)
  kythe/docs/schema/schema.txt
Due: copyright

chore(cxx_indexer): remove another re-implementation of function (#5985)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore(cxx_indexer): simplify another tapp creation site
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore(cxx_indexer): simplify another tapp creation site (#5986)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

chore(cxx_indexer): cleanup decl/defn mismatch and enable warning
  .bazelrc
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/testdata/BUILD
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/clang_utils.cc
  kythe/cxx/indexer/cxx/clang_utils.h
Due: buildifier, copyright, clang-format

chore(cxx_indexer): cleanup decl/defn mismatch and enable warning (#5987)
  .bazelrc
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/testdata/BUILD
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/indexer/cxx/KytheIndexerMain.cc
  kythe/cxx/indexer/cxx/clang_utils.cc
  kythe/cxx/indexer/cxx/clang_utils.h
Due: buildifier, copyright, clang-format

tools: add support for `simple_names` to markedsource
  kythe/go/util/tools/markedsource/markedsource.go
Due: copyright, gofmt, golint

chore: remove some uses of DebugString and ShortDebugString
  external.bzl
  kythe/cxx/extractor/bazel_artifact_selector_test.cc
  kythe/cxx/extractor/cxx_extractor.cc
  setup.bzl
Due: buildifier, copyright, clang-format

chore: fix sha256 sum
  setup.bzl
Due: buildifier

chore: fix more missing-prototypes warnings
  kythe/cxx/common/kythe_uri.h
  kythe/cxx/extractor/proto/proto_extractor_main.cc
  kythe/cxx/extractor/textproto/textproto_extractor.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

tools: add support for `simple_names` to markedsource (#5988)
  kythe/go/util/tools/markedsource/markedsource.go
Due: copyright, gofmt, golint

tools: markedsource defaults to rendering all when --rewrite is on
  kythe/go/util/tools/markedsource/markedsource.go
  tools/build_rules/verifier_test/verifier_test.sh.in
Due: copyright, gofmt, golint

chore: fix more missing-prototypes warnings (#5990)
  kythe/cxx/common/kythe_uri.h
  kythe/cxx/extractor/proto/proto_extractor_main.cc
  kythe/cxx/extractor/textproto/textproto_extractor.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, clang-format

test: ensure only indexer emits to stdout
  tools/build_rules/verifier_test/indexer.sh.in
Due: none

test: ensure only indexer emits to stdout (#5992)
  tools/build_rules/verifier_test/indexer.sh.in
Due: none

test: run Go indexer tests under target cfg
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: none

test: run Go indexer tests under target cfg (#5994)
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: none

test: run common indexer tests under target cfg
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  kythe/cxx/indexer/proto/testdata/proto_verifier_test.bzl
  kythe/cxx/indexer/textproto/testdata/textproto_verifier_test.bzl
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexer.java
  tools/build_rules/verifier_test/java_verifier_test.bzl
  tools/build_rules/verifier_test/jvm_verifier_test.bzl
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier, copyright, google-java-format

test: run common indexer tests under target cfg (#5995)
  kythe/cxx/indexer/cxx/testdata/proto/cc_proto_verifier_test.bzl
  kythe/cxx/indexer/proto/testdata/proto_verifier_test.bzl
  kythe/cxx/indexer/textproto/testdata/textproto_verifier_test.bzl
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexer.java
  tools/build_rules/verifier_test/java_verifier_test.bzl
  tools/build_rules/verifier_test/jvm_verifier_test.bzl
  tools/build_rules/verifier_test/verifier_test.bzl
Due: buildifier, copyright, google-java-format

chore: update LLVM and fix #5996
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/marked_source.cc
  kythe/cxx/indexer/cxx/semantic_hash.cc
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

chore: update LLVM and fix #5996 (#5997)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/marked_source.cc
  kythe/cxx/indexer/cxx/semantic_hash.cc
  setup.bzl
  third_party/llvm-bazel-glob.patch
Due: buildifier, copyright, clang-format

fix(build): disable layering check so textproto indexer compiles
  kythe/cxx/indexer/textproto/BUILD
Due: buildifier

fix(build): disable layering check so textproto indexer compiles (#5998)
  kythe/cxx/indexer/textproto/BUILD
Due: buildifier

fix(build): explicitly specify some deps to fix build
  kythe/cxx/indexer/cxx/BUILD
Due: buildifier

fix(build): explicitly specify some deps to fix the build (#5999)
  kythe/cxx/indexer/cxx/BUILD
Due: buildifier

release: v0.0.64
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

trim release notes
  RELEASES.md
Due: none

Release v0.0.64 (#6000)
  RELEASES.md
  kythe/release/BUILD
Due: buildifier

chore: export some internal changes
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/java/com/google/devtools/kythe/analyzers/base/NodeKind.java
Due: copyright, google-java-format, clang-format

fix(java_indexer): add kind=variable subkind=import to enum
  kythe/java/com/google/devtools/kythe/analyzers/base/NodeKind.java
Due: copyright, google-java-format

chore: export some internal changes (#6001)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/java/com/google/devtools/kythe/analyzers/base/NodeKind.java
Due: copyright, google-java-format, clang-format

chore: Update default gotool encoding to proto
  kythe/go/extractors/cmd/gotool/analyze_packages.sh
Due: copyright

chore: Update default gotool encoding to proto (#6003)
  kythe/go/extractors/cmd/gotool/analyze_packages.sh
Due: copyright

chore: remove encoding flag from merge command
  kythe/go/extractors/cmd/gotool/analyze_packages.sh
Due: copyright

chore: remove encoding flag from merge command (#6004)
  kythe/go/extractors/cmd/gotool/analyze_packages.sh
Due: copyright

chore: update LLVM
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/recursive_type_visitor.h
  setup.bzl
Due: buildifier, copyright, clang-format

chore: update LLVM (#6005)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/recursive_type_visitor.h
  setup.bzl
Due: buildifier, copyright, clang-format
