Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

fix(cxx): use correct definition anchor spans for lambdas (#5890)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/lambda.cc
Due: copyright, clang-format

chore(typescript_indexer): update TS version to 5
  package.json
  setup.bzl
Due: buildifier

chore(typescript_indexer): update deps
  kythe/typescript/README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  setup.bzl
Due: buildifier

chore(typescript_indexer): update deps
  kythe/typescript/README.md
Due: none

chore(typescript_indexer): update TS version to 5.1.6 (#5894)
  package.json
  setup.bzl
Due: buildifier

chore(typescript_indexer): update TS indexer deps to latest versions (#5895)
  kythe/typescript/README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  setup.bzl
Due: buildifier

chore(cxx): expose a few more verifier flags in cc_indexer_test
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore(cxx): expose a few more verifier flags in cc_indexer_test (#5896)
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

fix(java_indexer): add basic MarkedSource for wildcards
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/RenderedCode.java
Due: copyright, google-java-format

chore: remove defunct abs node cruft
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheDocTreeScanner.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

fix(java_indexer): add basic MarkedSource for wildcards (#5897)
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/RenderedCode.java
Due: copyright, google-java-format

chore: remove defunct abs node cruft (#5898)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheDocTreeScanner.java
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

build: mark return value as ignorable
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

build: mark return value as ignorable (#5899)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

fix(go_indexer): ignore unresolved C imports
  kythe/go/indexer/emit.go
Due: copyright, gofmt, golint

fix(go_indexer): ignore unresolved C imports (#5900)
  kythe/go/indexer/emit.go
Due: copyright, gofmt, golint

feat(cxx): add --emit_anchor_scopes and implement childof edges for lambda definitions
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/scopes.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

improvements
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

feat(cxx): add --emit_anchor_scopes and implement childof edges for lambdas (#5901)
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/scopes.cc
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier, copyright, clang-format

fix(cxx_indexer): avoid crashing in dependent specialization w/o written arguments
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/template/template_fn_dependent_spec_defn.cc
Due: copyright, clang-format

Change WarnOn to Allow
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_main.cc
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
Due: copyright, clang-format

Allow missing file VNames with --file_vnames on.
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_main.cc
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
Due: copyright, clang-format

Accidentally enabled the fast solver by default.
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, clang-format

fix(cxx_indexer): avoid crashing in dependent specialization w/o written arguments (#5903)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/testdata/template/template_fn_dependent_spec_defn.cc
Due: copyright, clang-format

Allow missing file VNames with --file_vnames on. (#5902)
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_main.cc
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
Due: copyright, clang-format

chore: fix typo
  kythe/examples/bazel/BUILD
Due: buildifier

chore: fix typo (#5904)
  kythe/examples/bazel/BUILD
Due: buildifier

chore: enable the fast solver on two slow tests
  kythe/cxx/indexer/cxx/testdata/BUILD
Due: none

chore: enable the fast solver on two slow tests (#5905)
  kythe/cxx/indexer/cxx/testdata/BUILD
Due: none

fix(go_indexer): fix nil pointer panic
  kythe/go/indexer/emit.go
Due: copyright, gofmt, golint

fix(go_indexer): fix nil pointer panic (#5906)
  kythe/go/indexer/emit.go
Due: copyright, gofmt, golint

test: add check that Units actually finds CU
  kythe/go/platform/kcd/testutil/testutil.go
Due: copyright, gofmt, golint

test: add check that Units actually finds CU (#5908)
  kythe/go/platform/kcd/testutil/testutil.go
Due: copyright, gofmt, golint

feat(cxx_extractor): add ability to canonicalize VName paths per-file
  kythe/cxx/common/BUILD
  kythe/cxx/common/path_utils.cc
  kythe/cxx/common/path_utils.h
  kythe/cxx/common/path_utils_test.cc
  kythe/cxx/common/regex.h
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/cxx_extractor.h
  kythe/cxx/extractor/cxx_extractor_bazel_main.cc
Due: buildifier, copyright, clang-format

feat(cxx_extractor): add ability to canonicalize VName paths per-file (#5909)
  kythe/cxx/common/BUILD
  kythe/cxx/common/path_utils.cc
  kythe/cxx/common/path_utils.h
  kythe/cxx/common/path_utils_test.cc
  kythe/cxx/common/regex.h
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/extractor/cxx_extractor.h
  kythe/cxx/extractor/cxx_extractor_bazel_main.cc
Due: buildifier, copyright, clang-format

chore(cxx_common): clean up some clang-tidy warnings
  kythe/cxx/common/BUILD
  kythe/cxx/common/path_utils.cc
  kythe/cxx/common/path_utils.h
  kythe/cxx/common/path_utils_test.cc
Due: buildifier, copyright, clang-format

chore(cxx_common): clean up some clang-tidy warnings (#5910)
  kythe/cxx/common/BUILD
  kythe/cxx/common/path_utils.cc
  kythe/cxx/common/path_utils.h
  kythe/cxx/common/path_utils_test.cc
Due: buildifier, copyright, clang-format

chore: disable bzlmod
  .bazelrc
Due: none
