Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,txt']
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: local
    hooks:
    -   id: buildifier
        name: Format w/ buildifier
        description: Runs `buildifier` on Bazel files
        entry: buildifier --mode=fix
        language: system
        files: '^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$'
    -   id: copyright
        name: Check for Kythe Copyright Header
        language: pygrep
        entry: 'Copyright 20[12][0-9] The Kythe Authors. All rights reserved.'
        args: [--negate]
        files: '^.*$'
        # Use a verbose Python regex and YAML single-quoted string to make this more legible.
        exclude: '(?x)
            ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$
            |(^|/)BUILD([^/*]*\.bazel)?$
            |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$
            |(^|/)(\.[^/]*|go\.mod|go\.sum)$
            |^tools/|^third_party/|^kythe/web/site/
            |worker/info/(admin|host)$
            |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$
            |^kythe/proto/.*_rust_proto/'
    -   id: shellcheck
        name: shellcheck
        description: Runs `shellcheck` on shell files
        language: system
        entry: shellcheck
        args: [-e, SC2064] # Silence the trap argument quotation warnings
        types: [shell]
        exclude: 'kythe/extractors/openjdk8/extract\.sh'
    -   id: google-java-format
        name: Format w/ google-java-format
        description: Runs `google-java-format` on Java files
        language: system
        entry: google-java-format -i
        types: [java]
    -   id: clang-format
        name: Format w/ clang-format
        description: Formats files using clang-format
        language: system
        entry: clang-format-11 --style=file -i
        files: '\.(c|cc|h|i|m|js|proto)$'
    -   id: gofmt
        name: Format w/ gofmt
        description: Runs `gofmt` on Go files
        language: system
        entry: gofmt -w
        types: [go]
    -   id: golint
        name: golint
        description: Runs `golint` on Go files
        language: system
        entry: golint
        types: [go]
        exclude: '^kythe/proto/.*'
    -   id: staticcheck
        name: staticcheck
        description: Runs `staticcheck` on Go files
        language: script
        entry: tools/git/run-staticcheck.sh
        types: [go]
        stages: [manual]
    -   id: bazel-test
        name: Bazel Tests
        description: Runs affected Bazel tests
        language: script
        entry: tools/git/test-affected-targets.sh
        stages: [push]
    -   id: rustfmt
        name: Format w/ rustfmt
        description: Runs `rustfmt` on Rust files
        language: system
        entry: rustfmt
        args: [--config-path, tools/rust/rustfmt.toml, --check]
        types: [rust]
        exclude: '^(kythe/proto/.*|third_party/.*)'
exclude: '(.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)'

feat(java extractor): use default value if corpus is ambiguous (#5305)
  kythe/java/com/google/devtools/kythe/extractors/java/JavaCompilationUnitExtractor.java
  kythe/java/com/google/devtools/kythe/extractors/shared/FileVNames.java
  kythe/javatests/com/google/devtools/kythe/extractors/java/JavaExtractorTest.java
Due: copyright, google-java-format

fix(rust_extractor): find the analysis file based on crate name
  kythe/rust/extractor/src/bin/extractor.rs
Due: copyright, rustfmt

fix(rust_extractor): find the analysis file based on crate name (#5306)
  kythe/rust/extractor/src/bin/extractor.rs
Due: copyright, rustfmt

fix(textproto): workaround upstream proto path bug
  kythe/cxx/indexer/proto/testdata/proto_verifier_test.bzl
  kythe/cxx/indexer/textproto/testdata/BUILD
  kythe/cxx/indexer/textproto/testdata/generated_imports.pbtxt
  kythe/cxx/indexer/textproto/testdata/imports_generated.proto
Due: none

chore: resolve comments
  kythe/cxx/indexer/textproto/testdata/imports_generated.proto
Due: none

fix(textproto): workaround upstream proto path bug (#5307)
  kythe/cxx/indexer/proto/testdata/proto_verifier_test.bzl
  kythe/cxx/indexer/textproto/testdata/BUILD
  kythe/cxx/indexer/textproto/testdata/generated_imports.pbtxt
  kythe/cxx/indexer/textproto/testdata/imports_generated.proto
Due: none

feat(proto): add a proto field to signify whether a file is protected
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: copyright, clang-format, gofmt

fix: add comment
  kythe/proto/serving.proto
Due: copyright, clang-format

feat(proto): add a proto field to signify whether a file is protected (#5308)
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: copyright, clang-format, gofmt

fix(proto): fix problematic field name
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: copyright, clang-format, gofmt

fix(proto): fix problematic field name (#5309)
  kythe/proto/serving.proto
  kythe/proto/serving_go_proto/serving.pb.go
Due: copyright, clang-format, gofmt

fix(java_indexer): guard against NPE in ImmutableList
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

fix(java_indexer): guard against NPE in ImmutableList (#5310)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, google-java-format

feat(typescript_indexer): emit `field` subkind fact for class/interface/ojbect literal properties (#5293)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/class.ts
  kythe/typescript/testdata/object.ts
Due: copyright

chore: add toolchain_util.bzl to facilitate imports
  kythe/cxx/extractor/toolchain.bzl
  kythe/cxx/tools/fyi/testdata/compile_commands.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
  tools/build_rules/verifier_test/rust_indexer_test.bzl
  tools/cpp/toolchain_utils.bzl
Due: buildifier

chore: add toolchain_util.bzl to facilitate imports (#5311)
  kythe/cxx/extractor/toolchain.bzl
  kythe/cxx/tools/fyi/testdata/compile_commands.bzl
  tools/build_rules/verifier_test/cc_indexer_test.bzl
  tools/build_rules/verifier_test/rust_indexer_test.bzl
  tools/cpp/toolchain_utils.bzl
Due: buildifier

chore(rust_common): sync rustfmt.toml with internal version
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/indexer/tests/providers.rs
  tools/rust/rustfmt.toml
Due: copyright, rustfmt

feat(tooling): add --workspace_uri to kythe decor cmd
  kythe/go/services/cli/command_decor.go
Due: copyright, gofmt, golint

feat(tooling): add --workspace_uri to kythe decor cmd (#5313)
  kythe/go/services/cli/command_decor.go
Due: copyright, gofmt, golint

chore(rust_common): sync rustfmt.toml with internal version (#5312)
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/indexer/tests/providers.rs
  tools/rust/rustfmt.toml
Due: copyright, rustfmt

feat(go_indexer): add --override_stdlib_corpus flag
  kythe/go/extractors/govname/govname.go
  kythe/go/extractors/govname/govname_test.go
  kythe/go/extractors/govname/types.go
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
Due: copyright, gofmt, golint

rename function
  kythe/go/indexer/emit.go
Due: copyright, gofmt, golint

Generate compilation database for workspace
  tools/cpp/generate_compilation_database.sh
Due: none

Use bash arrays to hold the queried targets
  tools/cpp/generate_compilation_database.sh
Due: none

Use mapfile to fix Lint check
  tools/cpp/generate_compilation_database.sh
Due: none

Generate compilation database for workspace (#5315)
  tools/cpp/generate_compilation_database.sh
Due: none

add test and fix copy-paste error
  kythe/go/indexer/BUILD
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/stdliboverride.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: buildifier, copyright, gofmt, golint

feat(go_indexer): add --override_stdlib_corpus flag (#5314)
  kythe/go/extractors/govname/govname.go
  kythe/go/extractors/govname/govname_test.go
  kythe/go/extractors/govname/types.go
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/stdliboverride.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: buildifier, copyright, gofmt, golint

chore(go): add doc comment for `GolangCorpus`
  kythe/go/extractors/govname/govname.go
Due: copyright, gofmt, golint

gofmt
  kythe/go/extractors/govname/govname.go
Due: copyright, gofmt, golint

chore(go): adjust verifier goal regex to be compatible with latest gofmt
  kythe/go/indexer/testdata/basic/anchors.go
  kythe/go/indexer/testdata/basic/anonref.go
  kythe/go/indexer/testdata/basic/anonymous.go
  kythe/go/indexer/testdata/basic/filenode.go
  kythe/go/indexer/testdata/basic/funcall.go
  kythe/go/indexer/testdata/basic/functions.go
  kythe/go/indexer/testdata/basic/imports.go
  kythe/go/indexer/testdata/basic/locals.go
  kythe/go/indexer/testdata/basic/packageinit.go
  kythe/go/indexer/testdata/basic/packages.go
  kythe/go/indexer/testdata/basic/satisfies.go
  kythe/go/indexer/testdata/basic/scopes.go
  kythe/go/indexer/testdata/basic/stdliboverride.go
  kythe/go/indexer/testdata/basic/structref.go
  kythe/go/indexer/testdata/basic/tappcorpus.go
  kythe/go/indexer/testdata/basic/typespec.go
  kythe/go/indexer/testdata/basic/vardef.go
  kythe/go/indexer/testdata/code/funcdecl.go
  kythe/go/indexer/testdata/code/interface.go
  kythe/go/indexer/testdata/code/methdecl.go
  kythe/go/indexer/testdata/code/pkgvar.go
  kythe/go/indexer/testdata/code/structtype.go
  kythe/go/indexer/testdata/generics/genericdep.go
  kythe/go/indexer/testdata/generics/genericfunc.go
  kythe/go/indexer/testdata/generics/genericinterface.go
  kythe/go/indexer/testdata/generics/genericmethod.go
  kythe/go/indexer/testdata/generics/genericstruct.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
  kythe/go/indexer/testdata/initcall.go
  kythe/go/indexer/testdata/integration/marked_source.go
  kythe/go/indexer/testdata/override.go
  kythe/go/indexer/testdata/structinit.go
  kythe/go/indexer/testdata/types.go
  kythe/go/indexer/testdata/unsafe.go
Due: none

chore(go): add doc comment for `GolangCorpus` (#5317)
  kythe/go/extractors/govname/govname.go
Due: copyright, gofmt, golint

chore(go): adjust verifier goal regex to be compatible with latest gofmt (#5318)
  kythe/go/indexer/testdata/basic/anchors.go
  kythe/go/indexer/testdata/basic/anonref.go
  kythe/go/indexer/testdata/basic/anonymous.go
  kythe/go/indexer/testdata/basic/filenode.go
  kythe/go/indexer/testdata/basic/funcall.go
  kythe/go/indexer/testdata/basic/functions.go
  kythe/go/indexer/testdata/basic/imports.go
  kythe/go/indexer/testdata/basic/locals.go
  kythe/go/indexer/testdata/basic/packageinit.go
  kythe/go/indexer/testdata/basic/packages.go
  kythe/go/indexer/testdata/basic/satisfies.go
  kythe/go/indexer/testdata/basic/scopes.go
  kythe/go/indexer/testdata/basic/stdliboverride.go
  kythe/go/indexer/testdata/basic/structref.go
  kythe/go/indexer/testdata/basic/tappcorpus.go
  kythe/go/indexer/testdata/basic/typespec.go
  kythe/go/indexer/testdata/basic/vardef.go
  kythe/go/indexer/testdata/code/funcdecl.go
  kythe/go/indexer/testdata/code/interface.go
  kythe/go/indexer/testdata/code/methdecl.go
  kythe/go/indexer/testdata/code/pkgvar.go
  kythe/go/indexer/testdata/code/structtype.go
  kythe/go/indexer/testdata/generics/genericdep.go
  kythe/go/indexer/testdata/generics/genericfunc.go
  kythe/go/indexer/testdata/generics/genericinterface.go
  kythe/go/indexer/testdata/generics/genericmethod.go
  kythe/go/indexer/testdata/generics/genericstruct.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
  kythe/go/indexer/testdata/initcall.go
  kythe/go/indexer/testdata/integration/marked_source.go
  kythe/go/indexer/testdata/override.go
  kythe/go/indexer/testdata/structinit.go
  kythe/go/indexer/testdata/types.go
  kythe/go/indexer/testdata/unsafe.go
Due: none

chore(java_indexer): delete deprecated getMethodVName() method
  kythe/java/com/google/devtools/kythe/analyzers/jvm/JvmGraph.java
Due: copyright, google-java-format

feat(jvm_extractor: assign a corpus to compilation units
  kythe/java/com/google/devtools/kythe/extractors/jvm/JvmExtractor.java
Due: copyright, google-java-format

feat(jvm_extractor): assign a corpus to compilation units (#5320)
  kythe/java/com/google/devtools/kythe/extractors/jvm/JvmExtractor.java
Due: copyright, google-java-format

chore(rust_common): upgrade rules_rust to v0.7.0
  kythe/rust/indexer/BUILD
  setup.bzl
Due: buildifier

chore(rust_common): upgrade rules_rust to v0.7.0 (#5321)
  kythe/rust/indexer/BUILD
  setup.bzl
Due: buildifier
