Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, copyright, google-java-format, clang-format, gofmt, golint, rustfmt

buildifier:
  name: Format w/ buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier --mode=fix
  language: system

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

google-java-format:
  name: Format w/ google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format -i

clang-format:
  name: Format w/ clang-format
  description: Formats files using clang-format
  language: system
  entry: clang-format-11 --style=file -i

gofmt:
  name: Format w/ gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt -w

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint

rustfmt:
  name: Format w/ rustfmt
  description: Runs `rustfmt` on Rust files
  language: system
  entry: rustfmt
  args:
  - --config-path
  - tools/rust/rustfmt.toml
  - --check

fix(typescript_indexer): emit edges for methods that are 2+ levels away
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/class.ts
Due: copyright

feat(cxx_indexer): provide InspectDeclRef access to Expr
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerLibrarySupport.h
Due: copyright, clang-format

wording
  kythe/cxx/indexer/cxx/IndexerLibrarySupport.h
Due: copyright, clang-format

fix(typescript_indexer): improve childof coverage
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/class.ts
  kythe/typescript/testdata/enum.ts
Due: copyright

feat(cxx_indexer): provide InspectDeclRef access to Expr (#5726)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerLibrarySupport.h
Due: copyright, clang-format

fix(typescript_indexer): improve childof coverage (#5727)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/class.ts
  kythe/typescript/testdata/enum.ts
Due: copyright

fix(typescript_indexer): emit edges for methods that are 2+ levels away (#5725)
  kythe/typescript/indexer.ts
  kythe/typescript/testdata/class.ts
Due: copyright

chore(cxx_common): update to abseil logging
  kythe/cxx/extractor/testdata/BUILD
  kythe/cxx/indexer/cxx/KytheVFS.cc
  kythe/cxx/indexer/proto/source_tree.cc
  kythe/cxx/indexer/textproto/BUILD
  kythe/cxx/indexer/textproto/recordio_textparser.cc
  kythe/cxx/verifier/verifier.cc
  kythe/examples/proto/proto_indexer.cc
Due: buildifier, copyright, clang-format

chore: migrate stragglers post rebase
  kythe/cxx/extractor/bazel_artifact_selector.cc
  kythe/cxx/indexer/cxx/KytheVFS.cc
Due: copyright, clang-format

chore: final cleanups for migrating to abseil logging
  kythe/cxx/extractor/BUILD
  kythe/cxx/indexer/proto/source_tree.cc
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/verifier.cc
Due: buildifier, copyright, clang-format

chore: fix targets outside of //kythe/cxx/
  kythe/examples/proto/BUILD
  kythe/examples/proto/proto_indexer.cc
Due: buildifier, copyright, clang-format

chore: remove extraneous uses of proto.DebugString
  kythe/cxx/common/net_client_test.cc
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/indexer/textproto/plugins/example/plugin.cc
  kythe/cxx/tools/static_claim_main.cc
  kythe/cxx/verifier/verifier.cc
Due: copyright, clang-format

chore: remove extraneous uses of proto.DebugString (#5729)
  kythe/cxx/common/net_client_test.cc
  kythe/cxx/extractor/cxx_extractor.cc
  kythe/cxx/indexer/textproto/plugins/example/plugin.cc
  kythe/cxx/tools/static_claim_main.cc
  kythe/cxx/verifier/verifier.cc
Due: copyright, clang-format

feat(cxx_indexer): add GraphObserver.recordDiagnostic()
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

fix typo
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

fix
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

reformat
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, clang-format

chore: update Bazel Go dependencies
  external.bzl
Due: buildifier

chore: update Bazel Go dependencies (#5732)
  external.bzl
Due: buildifier

chore(cxx_indexer): pull out and simplify complicated loop
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/indexed_parent_iterator.h
Due: copyright, clang-format

fix(go_indexer): visit anon members in struct type
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/structinit.go
Due: copyright, gofmt, golint

fix(go_indexer): visit anon members in struct type (#5734)
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/structinit.go
Due: copyright, gofmt, golint

fix(serving): scan all identifier matches for reply
  kythe/go/serving/explore/explore_test.go
  kythe/go/serving/graph/graph_test.go
  kythe/go/serving/identifiers/identifiers.go
  kythe/go/serving/identifiers/identifiers_test.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/go/storage/keyvalue/keyvalue.go
  kythe/go/storage/keyvalue/keyvalue_test.go
  kythe/go/storage/table/table.go
Due: copyright, gofmt, golint

fix(serving): scan all identifier matches for reply (#5735)
  kythe/go/serving/explore/explore_test.go
  kythe/go/serving/graph/graph_test.go
  kythe/go/serving/identifiers/identifiers.go
  kythe/go/serving/identifiers/identifiers_test.go
  kythe/go/serving/xrefs/xrefs_test.go
  kythe/go/storage/keyvalue/keyvalue.go
  kythe/go/storage/keyvalue/keyvalue_test.go
  kythe/go/storage/table/table.go
Due: copyright, gofmt, golint

chore(cxx_indexer): pull out and simplify complicated loop (#5733)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/indexed_parent_iterator.h
Due: copyright, clang-format

feat(typescript): add semantic/generated fact name
  kythe/typescript/kythe.ts
Due: copyright

feat(typescript): add semantic/generated fact name (#5736)
  kythe/typescript/kythe.ts
Due: copyright

chore: remove obsolete grep_includes attribute
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

chore: remove obsolete grep_includes attribute (#5737)
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: buildifier

Update analyzer to support integer Fields.
  kythe/cxx/indexer/textproto/analyzer.cc
Due: copyright, clang-format

Add AnalyzeIntegerField for plugin.h
  kythe/cxx/indexer/textproto/plugin.h
Due: copyright, clang-format

Update namespace for field field.
  kythe/cxx/indexer/textproto/plugin.h
Due: copyright, clang-format

Update plugin.h
  kythe/cxx/indexer/textproto/plugin.h
Due: copyright, clang-format

Update analyzer.cc
  kythe/cxx/indexer/textproto/analyzer.cc
Due: copyright, clang-format

Add plugin entry point for integer fields. (#5738)
  kythe/cxx/indexer/textproto/analyzer.cc
  kythe/cxx/indexer/textproto/plugin.h
Due: copyright, clang-format

s/std::string_view/llvm::StringRef
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

address comments
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

feat(cxx_indexer): add GraphObserver.recordDiagnostic() (#5730)
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
Due: copyright, clang-format

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$ |^kythe/proto/.*_rust_proto/) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  rustfmt: any of: \.rs$ and not (^(kythe/proto/.*|third_party/.*)) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
